<main id="main" class="main">
  <section class="section">


    <div class="card custom-card mb-3">
      <div class="card-body d-flex justify-content-start mt-3" style="overflow-x: auto">
        <p-splitButton label="İşlemler" [model]="items" appendTo="body" />

      </div>
    </div>
    <div class="card">
      <p-table [value]="countList" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '25rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="description">
              Açıklama
              <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="innerProcessCode">
              İşlem Tipi
              <p-sortIcon field="innerProcessCode"></p-sortIcon>
            </th>

            <th pSortableColumn="warehouseCode">
              Depo Kodu
              <p-sortIcon field="warehouseCode"></p-sortIcon>
            </th>
            <th pSortableColumn="toWarehouseCode">
              Hedef Depo Kodu
              <p-sortIcon field="toWarehouseCode"></p-sortIcon>
            </th>
            <th pSortableColumn="createdDate">
              Oluşturulma Tarihi
              <p-sortIcon field="createdDate"></p-sortIcon>
            </th>
            <th pSortableColumn="isCompleted">
              Tamamlandı Mı
              <p-sortIcon field="isCompleted"></p-sortIcon>
            </th>
            <th pSortableColumn="isApproved">
              Onay
              <p-sortIcon field="isApproved"></p-sortIcon>
            </th>
            <th pSortableColumn="isReturn">
              İade Mı
              <p-sortIcon field="isReturn"></p-sortIcon>
            </th>
            <th pSortableColumn="innerNumber">
              İşlem Numarası
              <p-sortIcon field="innerNumber"></p-sortIcon>
            </th>
            <th>İşlemler</th>
          </tr>
          <tr>
            <th>
              <p-columnFilter type="text" field="description" [showClearButton]="true"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="innerProcessCode" [showClearButton]="true"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="warehouseCode" [showClearButton]="true"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="toWarehouseCode" [showClearButton]="true"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="date" field="createdDate" [showClearButton]="true"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="boolean" field="isCompleted" [showClearButton]="true"></p-columnFilter>
            </th>

            <th>
              <p-columnFilter type="boolean" field="isApproved" [showClearButton]="true"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="boolean" field="isReturn" [showClearButton]="true"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="innerNumber" [showClearButton]="true"></p-columnFilter>
            </th>
            <th></th>
          </tr>
        </ng-template>



        <ng-template pTemplate="body" let-count>
          <tr>
            <td>{{ count.description }}</td>
            <td>{{ count.innerProcessCode }}</td>
            <td>{{ count.warehouseCode }}</td>
            <td>{{ count.toWarehouseCode }}</td>

            <td>{{ count.createdDate | date:'dd/MM/yyyy' }}</td>
            <td *ngIf=" count.isCompleted "><i class="fa fa-check" aria-hidden="true"></i></td>
            <td *ngIf=" !count.isCompleted "><i class="fa fa-ban" aria-hidden="true"></i></td>

            <td *ngIf=" count.isApproved "><i class="fa fa-check" aria-hidden="true"></i></td>
            <td *ngIf=" !count.isApproved "><i class="fa fa-ban" aria-hidden="true"></i></td>

            <td *ngIf=" count.isReturn "><i class="fa fa-check" aria-hidden="true"></i></td>
            <td *ngIf=" !count.isReturn "><i class="fa fa-ban" aria-hidden="true"></i></td>
            <td>{{ count.innerNumber }}</td>
            <td>
              <div class="btn-group">
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-bs-toggle="dropdown" aria-expanded="false">

                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li>
                      <button class="dropdown-item"
                        [routerLink]="['/add-product-to-shelf', count.innerProcessCode, count.isCompleted, count.id]">
                        <i class="fas fa-sliders-h"></i> Detay
                      </button>
                    </li>
                    <li>
                      <button class="dropdown-item" (click)="transferBetweenStoreWarehouses(count)">
                        <i class="fas fa-check"></i> Transferi Onayla
                      </button>
                    </li>
                  </ul>
                </div>



              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </section>
</main>
