<main id="main" class="main">
  <section class="section">
    <div class="card" *ngIf="!pageDescription">
      <div class="card-body">
        <!-- Filtreleme Alanı (Başlangıç) -->
        <div class="btn-group mb-3 mt-4">
          <div class="input-group">
            <button
              class="btn btn-primary"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#filterCollapse"
              aria-expanded="false"
              aria-controls="filterCollapse"
            >
              <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <input
              type="text"
              class="form-control"
              placeholder="Ara..."
              [(ngModel)]="searchedOrder"
              (keydown.enter)="goToPage()"
            />
            <button class="btn btn-primary" type="button" (click)="goToPage()">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>

        <div class="collapse" id="filterCollapse">
          <form
            [formGroup]="filterForm"
            (ngSubmit)="onSubmit(filterForm.value)"
          >
            <div class="row mb-3">
              <div class="col-md-4 mb-3">
                <div class="form-group">
                  <input
                    pInputText
                    placeholder="Sipariş Numarası"
                    type="text"
                    id="orderNo"
                    class="form-control"
                    formControlName="orderNo"
                  />
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="form-group">
                  <input
                    pInputText
                    placeholder="Müşteri Kodu"
                    type="text"
                    id="currAccCode"
                    class="form-control"
                    formControlName="currAccCode"
                  />
                </div>
              </div>

              <div class="col-md-4 mb-3">
                <div class="form-group">
                  <input
                    pInputText
                    placeholder="Müşteri Adı"
                    type="text"
                    id="customerName"
                    class="form-control"
                    formControlName="customerName"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-4 mb-3">
                <div class="form-group">
                  <input
                    pInputText
                    placeholder="Satıcı Kodu"
                    type="text"
                    id="sellerCode"
                    class="form-control"
                    formControlName="sellerCode"
                  />
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="form-group">
                  <input
                    pInputText
                    placeholder="İşlem Başlangıç Tarihi"
                    type="date"
                    id="startDate"
                    class="form-control"
                    formControlName="startDate"
                  />
                </div>
              </div>
              <div class="col-md-4 mb-3">
                <div class="form-group">
                  <input
                    pInputText
                    placeholder="İşlem Bitiş Tarihi"
                    type="date"
                    id="endDate"
                    class="form-control"
                    formControlName="endDate"
                  />
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-4 mb-3">
                <button class="btn btn-primary">Filtrele</button>
              </div>
            </div>
            <!-- <div class="card custom-card mt-3">
              <div class="card-body">
                <button
                  type="button"
                  class="btn custom-btn-primary mt-3"
                  (click)="getOrders(1, 1)"
                >
                  <i class="fas fa-file-invoice-dollar"></i> Faturalandırılan
                  Siparişler
                </button>
                <button
                  type="button"
                  class="btn custom-btn-primary mt-3"
                  (click)="getOrders(1, 2)"
                >
                  <i class="fas fa-file-excel"></i> Faturalandırılmayan
                  Siparişler
                </button>
                <button
                  type="button"
                  class="btn custom-btn-primary mt-3"
                  (click)="getOrders(0, 3)"
                >
                  <i class="fas fa-file-invoice"></i> Kısmi Faturalaştırılan
                  Siparişler
                </button>
              </div>
            </div> -->
          </form>
        </div>
        <!-- Filtreleme Alanı (Bitiş) -->
      </div>
    </div>

    <!-- <div class="card custom-card mb-3">
      <div
        class="p-4 card-body d-flex justify-content-start"
        style="overflow-x: auto"
      >
        <button
          type="button"
          class="btn custom-btn-primary"
          (click)="getOrders(1, 2)"
        >
          <i class="fas fa-check"></i> Toplanabilir Siparişler
        </button>
        <button
          type="button"
          class="btn custom-btn-primary"
          (click)="getOrders(0, 2)"
        >
          <i class="fas fa-times-circle"></i> Toplanamaz Siparişler
        </button>
        <button
          type="button"
          class="btn custom-btn-primary"
          (click)="getMissingOrders()"
        >
          <i class="fas fa-exclamation-triangle"></i> Eksik Ürünlü Siparişler
        </button>
      </div>
    </div> -->
    <!-- <div class="card mb-3">
      <div class="card-body">
        <div class="row mt-4 mb-3">
          <div class="col-md-2">
            <button
              type="button"
              class="btn btn-primary ml-3"
              (click)="createCargoBulk(this.selectedOrders)"
            >
              Seçilenleri Kargoya Yolla
            </button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="card">
      <div class="p-4 card-body">
        <!-- <div class="btn-group mb-3" *ngIf="!pageDescription">
        <button type="button" class="btn btn-primary" (click)="routeToCPP()">
            Ürün Topla
          </button>

          <button type="button" class="btn btn-dark">Ürün Paketle</button>

          <label for="numberOfList" style="margin-left: 20px"
            >Toplancak Sipariş Miktarı</label
          >
          <select
            id="numberOfList"
            class="form-control"
            formControlName="numberOfList"
            style="width: 50px; margin-left: 20px"
          >
            <option *ngFor="let number of numberOfList" [value]="number">
              {{ number }}
            </option>
          </select>
        </div> -->

        <p-table
          #dt2
          [value]="saleOrderModels"
          [(selection)]="selectedOrders"
          dataKey="orderNumber"
          [paginator]="true"
          [rowsPerPageOptions]="[5, 10, 20]"
          [resizableColumns]="true"
          expandableRows="true"
          columnResizeMode="expand"
          styleClass="p-datatable-gridlines"
          [rows]="50"
          [tableStyle]="{ 'min-width': '50rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        >
          <ng-template pTemplate="caption">
            <div
              class="p-4 card-body d-flex justify-content-start"
              style="overflow-x: auto"
            >
              <div style="text-align: left">
                <p-button
                  icon="pi pi-external-link"
                  label="Excel"
                  (click)="exportCsv()"
                />
              </div>

              <div style="text-align: left">
                <p-button
                  icon="pi pi-truck"
                  label="Kargola"
                  (click)="createCargoBulk(this.selectedOrders)"
                />
              </div>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Seç</th>

              <th pSortableColumn="orderDate" style="width: 10%">
                Sipariş Tarihi
                <p-sortIcon field="orderDate"></p-sortIcon>
              </th>
              <th pSortableColumn="orderNumber" style="width: 10%">
                Sipariş Numarası
                <p-sortIcon field="orderNumber"></p-sortIcon>
              </th>
              <th pSortableColumn="currAccCode" style="width: 10%">
                Müşteri Kodu
                <p-sortIcon field="currAccCode"></p-sortIcon>
              </th>
              <th pSortableColumn="currAccDescription" style="width: 10%">
                Müşteri Adı
                <p-sortIcon field="currAccDescription"></p-sortIcon>
              </th>
              <th pSortableColumn="salespersonCode" style="width: 10%">
                Satıcı Kodu
                <p-sortIcon field="salespersonCode"></p-sortIcon>
              </th>
              <th pSortableColumn="description" style="width: 10%">
                Açıklama
                <p-sortIcon field="description"></p-sortIcon>
              </th>
              <th pSortableColumn="qty1" style="width: 10%">
                Miktar
                <p-sortIcon field="qty1"></p-sortIcon>
              </th>
              <th pSortableColumn="price" style="width: 10%">
                Tutar
                <p-sortIcon field="price"></p-sortIcon>
              </th>
              <th pSortableColumn="collectedQty" style="width: 10%">
                Toplanan Miktar
                <p-sortIcon field="collectedQty"></p-sortIcon>
              </th>
              <th pSortableColumn="remainingQty" style="width: 10%">
                Toplanalabilir Miktar
                <p-sortIcon field="remainingQty"></p-sortIcon>
              </th>
              <th pSortableColumn="warehouseCode" style="width: 10%">
                Depo
                <p-sortIcon field="warehouseCode"></p-sortIcon>
              </th>
              <th>Kargo</th>
              <th>Fatura</th>
              <th>İşlemler</th>
            </tr>
            <tr>
              <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
              <th>
                <p-columnFilter
                  type="date"
                  field="orderDate"
                  [showClearButton]="false"
                ></p-columnFilter>
              </th>
              <th>
                <p-columnFilter
                  type="text"
                  field="orderNumber"
                  [showClearButton]="false"
                ></p-columnFilter>
              </th>
              <th>
                <p-columnFilter
                  type="text"
                  field="currAccCode"
                  [showClearButton]="false"
                ></p-columnFilter>
              </th>
              <th>
                <p-columnFilter
                  type="text"
                  field="currAccDescription"
                  [showClearButton]="false"
                ></p-columnFilter>
              </th>
              <th>
                <p-columnFilter
                  type="text"
                  field="salespersonCode"
                  [showClearButton]="false"
                ></p-columnFilter>
              </th>
              <th>
                <p-columnFilter
                  type="text"
                  field="description"
                  [showClearButton]="false"
                ></p-columnFilter>
              </th>
              <th>
                <p-columnFilter
                  type="numeric"
                  field="qty1"
                  [showClearButton]="false"
                ></p-columnFilter>
              </th>
              <th>
                <p-columnFilter
                  type="numeric"
                  field="price"
                  [showClearButton]="false"
                ></p-columnFilter>
              </th>
              <th>
                <p-columnFilter
                  type="numeric"
                  field="collectedQty"
                  [showClearButton]="false"
                ></p-columnFilter>
              </th>
              <th>
                <p-columnFilter
                  type="numeric"
                  field="remainingQty"
                  [showClearButton]="false"
                ></p-columnFilter>
              </th>
              <th>
                <p-columnFilter
                  type="text"
                  field="warehouseCode"
                  [showClearButton]="false"
                ></p-columnFilter>
              </th>
              <th>
                <p-columnFilter
                  type="boolean"
                  field="isShipped"
                  [showClearButton]="false"
                ></p-columnFilter>
              </th>
              <th></th>
              <th></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-order>
            <tr>
              <td>
                <p-tableCheckbox [value]="order" />
              </td>
              <td>{{ order.orderDate | date : "MM.dd HH:mm" }}</td>
              <td>{{ order.orderNumber }}</td>
              <td>{{ order.currAccCode }}</td>
              <td>{{ order.currAccDescription }}</td>
              <td>{{ order.salespersonCode }}</td>
              <td>{{ order.description }}</td>
              <td>{{ order.qty1 }}</td>
              <td>{{ order.price.toString() | currency : "₺" }}</td>
              <td>{{ order.collectedQty }}</td>
              <td>{{ order.remainingQty }}</td>
              <td>{{ order.warehouseCode }}</td>
              <td>
                <button
                  class="btn"
                  [ngClass]="{
                    'btn-success': order.isShipped,
                    'btn-danger': !order.isShipped
                  }"
                >
                  <i
                    *ngIf="order.isShipped"
                    class="fa fa-check"
                    aria-hidden="true"
                  ></i>
                  <i
                    *ngIf="!order.isShipped"
                    class="fa-solid fa-ban"
                    aria-hidden="true"
                  ></i>
                </button>
              </td>
              <td>
                <button
                  class="btn"
                  [ngClass]="{
                    'btn-success': order.invoiceStatus === 1,
                    'btn-danger': order.invoiceStatus !== 1
                  }"
                >
                  <i
                    *ngIf="order.invoiceStatus === 1"
                    class="fa fa-check"
                    aria-hidden="true"
                  ></i>
                  <i
                    *ngIf="order.invoiceStatus !== 1"
                    class="fa-solid fa-ban"
                    aria-hidden="true"
                  ></i>
                  <i
                    *ngIf="order.invoiceStatus === 3"
                    class="fa fa-exclamation-triangle"
                    aria-hidden="true"
                  ></i>
                </button>
              </td>
              <td>
                <div class="btn-group">
                  <div
                    *ngIf="!pageDescription"
                    class="btn btn-success"
                    data-text="Varyasyonlar"
                    [routerLink]="
                      order.invoiceStatus === 1
                        ? '/order-operation/' +
                          order.orderNumber +
                          '/true/' +
                          order.warehouseCode
                        : '/order-operation/' +
                          order.orderNumber +
                          '/false/' +
                          order.warehouseCode
                    "
                  >
                    <i class="fas fa-sliders-h"></i>
                  </div>
                  <div
                    class="btn btn-success"
                    data-text="Kargo"
                    [routerLink]="'/create-cargo/' + order.orderNumber"
                  >
                    <i class="fa fa-truck" aria-hidden="true"></i>
                  </div>
                  <div
                    class="btn btn-success"
                    (click)="createMarketplaceCargoBarcode(order.orderNumber)"
                  >
                    <i class="fa-solid fa-barcode"></i>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>

    <p-dialog
      header="Barkod Türü Seçiniz - {{ this.selectedOrderNo }}"
      [(visible)]="visible"
      [modal]="true"
      styleClass="p-datatable-striped"
      [style]="{ width: '50vw' }"
      [draggable]="false"
      [resizable]="false"
    >
      <button
        type="button"
        class="btn custom-btn-primary mt-3"
        (click)="this.sendBarcodesToNebim(true)"
      >
        Koli
      </button>
      <button
        type="button"
        class="btn custom-btn-primary mt-3"
        (click)="this.sendBarcodesToNebim(false)"
      >
        Barkod
      </button>
    </p-dialog>
  </section>
</main>
