<main id="main" class="main">
  <section class="section">
    <div class="card" *ngIf="!pageDescription">
      <div class="card-body">
        <!-- Filtreleme Alanı (Başlangıç) -->
        <div class="btn-group mb-3 mt-4">
          <button
            class="btn btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#filterCollapse"
            aria-expanded="false"
            aria-controls="filterCollapse"
          >
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
        </div>

        <div class="collapse" id="filterCollapse">
          <form
            [formGroup]="filterForm"
            (ngSubmit)="onSubmit(filterForm.value)"
          >
            <div class="row mb-3">
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    pInputText
                    placeholder="Sipariş Numarası"
                    type="text"
                    id="orderNo"
                    class="form-control"
                    formControlName="orderNo"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    pInputText
                    placeholder="Müşteri Kodu"
                    type="text"
                    id="currAccCode"
                    class="form-control"
                    formControlName="currAccCode"
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <input
                    pInputText
                    placeholder="Müşteri Adı"
                    type="text"
                    id="customerName"
                    class="form-control"
                    formControlName="customerName"
                  />
                </div>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    pInputText
                    placeholder="Satıcı Kodu"
                    type="text"
                    id="sellerCode"
                    class="form-control"
                    formControlName="sellerCode"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    pInputText
                    placeholder="İşlem Başlangıç Tarihi"
                    type="date"
                    id="startDate"
                    class="form-control"
                    formControlName="startDate"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    pInputText
                    placeholder="İşlem Bitiş Tarihi"
                    type="date"
                    id="endDate"
                    class="form-control"
                    formControlName="endDate"
                  />
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-4">
                <button class="btn btn-primary">Filtrele</button>
              </div>
            </div>
            <div class="card custom-card mt-3">
              <div class="card-body">
                <button
                  type="button"
                  class="btn custom-btn-primary mt-3"
                  (click)="getOrders(1, 1)"
                >
                  <i class="fas fa-file-invoice-dollar"></i> Faturalandırılan
                  Siparişler
                </button>
                <button
                  type="button"
                  class="btn custom-btn-primary mt-3"
                  (click)="getOrders(1, 2)"
                >
                  <i class="fas fa-file-excel"></i> Faturalandırılmayan
                  Siparişler
                </button>
                <button
                  type="button"
                  class="btn custom-btn-primary mt-3"
                  (click)="getOrders(0, 3)"
                >
                  <i class="fas fa-file-invoice"></i> Kısmi Faturalaştırılan
                  Siparişler
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- Filtreleme Alanı (Bitiş) -->
      </div>
    </div>

    <div class="card custom-card mb-3">
      <div
        class="p-4 card-body d-flex justify-content-start"
        style="overflow-x: auto"
      >
        <button
          type="button"
          class="btn custom-btn-primary"
          (click)="getOrders(1, 2)"
        >
          <i class="fas fa-check"></i> Toplanabilir Siparişler
        </button>
        <button
          type="button"
          class="btn custom-btn-primary"
          (click)="getOrders(0, 2)"
        >
          <i class="fas fa-times-circle"></i> Toplanamaz Siparişler
        </button>
        <button
          type="button"
          class="btn custom-btn-primary"
          (click)="getMissingOrders()"
        >
          <i class="fas fa-exclamation-triangle"></i> Eksik Ürünlü Siparişler
        </button>
      </div>
    </div>

    <div class="card">
      <div class="p-4 card-body">
        <h5 class="card-title">Ürünler</h5>

        <div class="btn-group mb-3" *ngIf="!pageDescription">
          <!-- <button type="button" class="btn btn-primary" (click)="routeToCPP()">
            Ürün Topla
          </button>

          <button type="button" class="btn btn-dark">Ürün Paketle</button>

          <label for="numberOfList" style="margin-left: 20px"
            >Toplancak Sipariş Miktarı</label
          >
          <select
            id="numberOfList"
            class="form-control"
            formControlName="numberOfList"
            style="width: 50px; margin-left: 20px"
          >
            <option *ngFor="let number of numberOfList" [value]="number">
              {{ number }}
            </option>
          </select> -->
        </div>

        <div style="overflow-x: auto">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Sipariş Tarihi</th>
                <th scope="col">Sipariş Numarası</th>
                <th scope="col">Müşteri Kodu</th>
                <th scope="col">Müşteri Adı</th>
                <th scope="col">Satıcı Kodu</th>
                <th scope="col">Açıklama</th>

                <th scope="col">Miktar</th>
                <th scope="col">Tutar</th>
                <th scope="col">Toplanan Miktar</th>
                <th scope="col">Toplanalabilir Miktar</th>
                <!-- <th scope="col">Durum</th> -->
                <th scope="col">Depo</th>

                <th scope="col">Kargo</th>
                <th scope="col">Fatura</th>
                <!-- <th scope="col">Sip. Top. Tut.</th> -->
                <th scope="col">İşlemler</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let order of saleOrderModels
                    | paginate : { itemsPerPage: 50, currentPage: currentPage }
                "
              >
                <td>{{ order.orderDate | date : "dd.MM.yyyy HH:mm" }}</td>
                <td>{{ order.orderNumber }}</td>
                <td>{{ order.currAccCode }}</td>
                <td>{{ order.currAccDescription }}</td>
                <td>{{ order.salespersonCode }}</td>
                <td>{{ order.description }}</td>

                <td>{{ order.qty1 }}</td>
                <td>{{ order.price.toString() | currency : "₺" }}</td>
                <td>{{ order.collectedQty }}</td>
                <td>{{ order.remainingQty }}</td>
                <!-- <td>
                  <button
                    class="btn"
                    [ngClass]="{
                      'btn-success': order.status === 1,
                      'btn-danger': order.status === 2
                    }"
                  >
                    {{ order.status === 2 ? "Toplanamaz" : "Toplanabilir" }}
                  </button>
                </td> -->
                <td>{{ order.warehouseCode }}</td>

                <td>
                  <button
                    class="btn"
                    [ngClass]="{
                      'btn-success': order.isShipped === true,
                      'btn-danger': order.isShipped === false
                    }"
                  >
                    <i
                      *ngIf="order.isShipped"
                      class="fa fa-check"
                      aria-hidden="true"
                    ></i>
                    <i
                      *ngIf="!order.isShipped"
                      class="fa-solid fa-ban"
                      aria-hidden="true"
                    ></i>
                  </button>
                </td>
                <td>
                  <button
                    class="btn"
                    [ngClass]="{
                      'btn-success': order.invoiceStatus === 1,
                      'btn-danger':
                        order.invoiceStatus === 2 || order.invoiceStatus === 3
                    }"
                  >
                    <i
                      *ngIf="order.invoiceStatus === 1"
                      class="fa fa-check"
                      aria-hidden="true"
                    ></i>
                    <i
                      *ngIf="order.invoiceStatus === 2"
                      class="fa-solid fa-ban"
                      aria-hidden="true"
                    ></i>
                    <i
                      *ngIf="order.invoiceStatus === 3"
                      class="fa fa-exclamation-triangle"
                      aria-hidden="true"
                    ></i>
                  </button>
                </td>

                <!-- <td>{{ order.price }}</td> -->
                <td>
                  <div class="btn-group">
                    <div
                      *ngIf="!pageDescription"
                      class="btn btn-success"
                      data-text="Varyasyonlar"
                      [routerLink]="
                        order.invoiceStatus === 1
                          ? '/order-operation/' +
                            order.orderNumber +
                            '/true' +
                            '/' +
                            order.warehouseCode
                          : '/order-operation/' +
                            order.orderNumber +
                            '/false' +
                            '/' +
                            order.warehouseCode
                      "
                    >
                      <i class="fas fa-sliders-h"></i>
                    </div>
                    <!-- <div
                      class="btn btn-dark"
                      data-text="Fatura Yazdır"
                      *ngIf="!pageDescription"
                    >
                      <i
                        (click)="
                          printPicture(
                            'https://marketplace.canva.com/EAFEOwL2BQo/2/0/1131w/canva-white-simple-invoice-S_aHY7Zi14A.jpg'
                          )
                        "
                        class="fa fa-print"
                      ></i>
                    </div> -->
                    <div
                      *ngIf="!pageDescription"
                      class="btn btn-success"
                      data-text="Sil"
                      (click)="deleteInvoiceProducts(order.orderNumber)"
                    >
                      <i class="fas fa-trash"></i>
                    </div>
                    <!-- <div
                      *ngIf="!_pageDescription"
                      class="btn btn-success"
                      data-text="Eksik Ürünler"
                      (click)="routeNewPage3(order.orderNumber)"
                    >
                      <i class="fas fa-arrow-right"></i>
                    </div> -->

                    <div
                      class="btn btn-success"
                      data-text="Kargo"
                      routerLink="/create-cargo/{{ order.orderNumber }}"
                    >
                      <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                    <div
                      class="btn btn-success"
                      data-text="Barkod Etiketi Oluştur"
                      (click)="showModal(order.orderNumber)"
                    >
                      <i class="fa fa-barcode" aria-hidden="true"></i>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls
            (pageChange)="currentPage = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>

    <p-dialog
      header="Barkod Türü Seçiniz - {{ this.selectedOrderNo }}"
      [(visible)]="visible"
      [modal]="true"
      [style]="{ width: '50vw' }"
      [draggable]="false"
      [resizable]="false"
    >
      <button
        type="button"
        class="btn custom-btn-primary mt-3"
        (click)="this.sendBarcodesToNebim(true)"
      >
        Koli
      </button>
      <button
        type="button"
        class="btn custom-btn-primary mt-3"
        (click)="this.sendBarcodesToNebim(false)"
      >
        Barkod
      </button>
    </p-dialog>
  </section>
</main>
