<main id="main" class="main">
  <section class="section">
    <img [src]="url" alt="" style="object-fit: cover" />
    <div class="card">
      <p-table #dt2 [value]="saleOrderModels" [(selection)]="selectedOrders" dataKey="orderNumber" [paginator]="true"
        [rowsPerPageOptions]="[5, 10, 20]" [rows]="50" [tableStyle]="{ 'min-width': '70rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <ng-template pTemplate="caption">
          <div class="p-4 card-body d-flex justify-content-start" style="overflow-x: auto">
            <p-splitButton label="İşlemler" [model]="items" appendTo="body" />


          </div>
          <h5 *ngIf="selectedOrders.length > 0" style="text-align: left">
            {{ selectedOrders.length }}/{{ saleOrderModels.length }} Adet
            Sipariş Seçildi
          </h5>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th>Seç</th>

            <th pSortableColumn="orderDate">
              Sipariş Tarihi
              <p-sortIcon field="orderDate"></p-sortIcon>
            </th>
            <th pSortableColumn="orderNumber">
              Sipariş Numarası
              <p-sortIcon field="orderNumber"></p-sortIcon>
            </th>

            <th pSortableColumn="invoiceNumber" *ngIf="invoiceStatus==1">
              Fatura Numarası
              <p-sortIcon field="invoiceNumber"></p-sortIcon>
            </th>
            <!-- <th pSortableColumn="currAccCode" style="width: 10%">
                Müşteri Kodu
                <p-sortIcon field="currAccCode"></p-sortIcon>
              </th> -->

            <th pSortableColumn="currAccDescription">
              Müşteri Adı
              <p-sortIcon field="currAccDescription"></p-sortIcon>
            </th>
            <th pSortableColumn="currAccCode">
              Müşteri Kodu
              <p-sortIcon field="currAccCode"></p-sortIcon>
            </th>
            <!-- <th pSortableColumn="salespersonCode" style="width: 10%">
                Satıcı Kodu
                <p-sortIcon field="salespersonCode"></p-sortIcon>
              </th> -->
            <th pSortableColumn="description">
              Açıklama
              <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="qty1">
              Miktar
              <p-sortIcon field="qty1"></p-sortIcon>
            </th>
            <th pSortableColumn="price">
              Tutar
              <p-sortIcon field="price"></p-sortIcon>
            </th>
            <!-- <th pSortableColumn="collectedQty" style="width: 10%">
                Toplanan Miktar
                <p-sortIcon field="collectedQty"></p-sortIcon>
              </th> -->
            <!-- <th pSortableColumn="remainingQty" style="width: 10%">
                Toplanalabilir Miktar
                <p-sortIcon field="remainingQty"></p-sortIcon>
              </th> -->
            <th pSortableColumn="warehouseCode" style="width: 10%">
              Depo
              <p-sortIcon field="warehouseCode"></p-sortIcon>
            </th>
            <th>Kargo</th>
            <th *ngIf="invoiceStatus==1">Fatura</th>
            <th>İşlemler</th>
          </tr>
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox />
            </th>
            <th>
              <p-columnFilter type="date" field="orderDate" display="menu" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="orderNumber" [showClearButton]="false"></p-columnFilter>
            </th>
            <th *ngIf="invoiceStatus==1">
              <p-columnFilter type="text" field="invoiceNumber" [showClearButton]="false"></p-columnFilter>
            </th>
            <!-- <th>
                <p-columnFilter
                  type="text"
                  field="currAccCode"
                  [showClearButton]="false"
                ></p-columnFilter>
              </th> -->
            <th>
              <p-columnFilter type="text" field="currAccDescription" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="currAccCode" [showClearButton]="false"></p-columnFilter>
            </th>
            <!-- <th>
                <p-columnFilter
                  type="text"
                  field="salespersonCode"
                  [showClearButton]="false"
                ></p-columnFilter>
              </th> -->
            <th>
              <p-columnFilter type="text" field="description" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="qty1" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="price" [showClearButton]="false"></p-columnFilter>
            </th>
            <!-- <th>
                <p-columnFilter
                  type="numeric"
                  field="collectedQty"
                  [showClearButton]="false"
                ></p-columnFilter>
              </th>
              <th>
                <p-columnFilter
                  type="numeric"
                  field="remainingQty"
                  [showClearButton]="false"
                ></p-columnFilter>
              </th> -->
            <th>
              <p-columnFilter type="text" field="warehouseCode" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="boolean" field="isShipped" [showClearButton]="false"></p-columnFilter>
            </th>
            <th *ngIf="invoiceStatus==1">
              <p-columnFilter type="boolean" field="eInvoiceStatusCode" [showClearButton]="false"></p-columnFilter>
            </th>
            <th></th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-order>
          <tr>
            <td>
              <p-tableCheckbox [value]="order" />
            </td>
            <td>{{ order.orderDate | date : "MM.dd HH:mm" }}</td>
            <td>{{ order.orderNumber }}</td>
            <td *ngIf="invoiceStatus==1">{{ order.invoiceNumber }}</td>

            <td>{{ order.currAccDescription }}</td>
            <td>{{ order.currAccCode }}</td>
            <!-- <td>{{ order.salespersonCode }}</td> -->
            <td>{{ order.description }}</td>
            <td>{{ order.qty1 }}</td>
            <td>{{ order.price.toString() | currency : "₺" }}</td>
            <!-- <td>{{ order.collectedQty }}</td>
              <td>{{ order.remainingQty }}</td> -->
            <td>{{ order.warehouseCode }}</td>
            <td>
              <button class="btn" [ngClass]="{
                    'btn-success': order.isShipped,
                    'btn-danger': !order.isShipped
                  }">
                <i *ngIf="order.isShipped" class="fa fa-check" aria-hidden="true"></i>
                <i *ngIf="!order.isShipped" class="fa-solid fa-ban" aria-hidden="true"></i>
              </button>
            </td>
            <td *ngIf="invoiceStatus==1">
              <button class="btn" [ngClass]="{
                    'btn-success': order.eInvoiceStatusCode,
                    'btn-danger': !order.eInvoiceStatusCode
                  }">
                <i *ngIf="order.eInvoiceStatusCode" class="fa fa-check" aria-hidden="true"></i>
                <i *ngIf="!order.eInvoiceStatusCode" class="fa-solid fa-ban" aria-hidden="true"></i>
              </button>
            </td>
            <td>
              <div class="btn-group">
                <div *ngIf="!pageDescription" class="btn btn-success" data-text="Varyasyonlar" [routerLink]="
                      order.invoiceStatus === 1
                        ? '/order-operation/' +
                          order.orderNumber +
                          '/true/' +
                          order.warehouseCode
                        : '/order-operation/' +
                          order.orderNumber +
                          '/false/' +
                          order.warehouseCode
                    ">
                  <i class="fas fa-sliders-h"></i>
                </div>
                <div class="btn btn-success" data-text="Kargo" [routerLink]="'/create-cargo/' + order.orderNumber">
                  <i class="fa fa-truck" aria-hidden="true"></i>
                </div>



                <!-- <div *ngIf="!pageDescription" class="btn btn-success" data-text="Sil" (click)="deleteNebimOrder()">
                    <i class="fa-solid fa-trash"></i>
                  </div> -->

                <!-- <div
                    class="btn btn-success"
                    (click)="createMarketplaceCargoBarcode(order.description)"
                  >
                    <i class="fa-solid fa-barcode"></i>
                  </div> -->
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <p-dialog header="Kargo Seç" [(visible)]="cargoSelectVisible" [modal]="true" [style]="{ 'max-width': '800px' }"
      [draggable]="false" [resizable]="false">
      <div class="container mt-3">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 col-12 mb-3" *ngFor="let cargo of cargoFirms">
            <div class="card h-100" style="cursor: pointer" (click)="selectCargo(cargo)">
              <img class="card-img-top" [src]="getCargoImage(cargo.name)" alt="{{ cargo.name }} Image"
                style="object-fit: cover" />
              <div class="card-body d-flex align-items-center justify-content-center">
                <h5 class="card-title m-0">{{ cargo.name }}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </p-dialog>
    <p-dialog header="Barkod Türü Seçiniz - {{ this.selectedOrderNo }}" [(visible)]="visible" [modal]="true"
      styleClass="p-datatable-striped" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
      <button type="button" class="btn custom-btn-primary mt-3" (click)="this.sendBarcodesToNebim(true)">
        Koli
      </button>
      <button type="button" class="btn custom-btn-primary mt-3" (click)="this.sendBarcodesToNebim(false)">
        Barkod
      </button>
    </p-dialog>
  </section>
</main>
