<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div style="width: 100%">
        <div class="card" *ngIf="_productsToCollect.length > 0">
          <p-table [value]="_productsToCollect" [paginator]="true" [rows]="10" [tableStyle]="{'min-width': '50rem'}"
            [responsiveLayout]="'scroll'" [filterDelay]="500">
            <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-between">
                Toplanacak Ürünler
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>
                  Resim

                </th>
                <th pSortableColumn="setStatus">
                  Set Durumu
                  <p-sortIcon field="setStatus"></p-sortIcon>
                </th>
                <th pSortableColumn="shelfNo">
                  Raf
                  <p-sortIcon field="shelfNo"></p-sortIcon>
                </th>
                <th pSortableColumn="itemCode">
                  Kod
                  <p-sortIcon field="itemCode"></p-sortIcon>
                </th>
                <th pSortableColumn="quantity">
                  Sipariş
                  <p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th pSortableColumn="countedQty">
                  Sayılan
                  <p-sortIcon field="countedQty"></p-sortIcon>
                </th>
                <th pSortableColumn="colorDescription">
                  Ud raf
                  <p-sortIcon field="colorDescription"></p-sortIcon>
                </th>
                <th pSortableColumn="itemDim1Code">
                  Ud stok
                  <p-sortIcon field="itemDim1Code"></p-sortIcon>
                </th>
                <th pSortableColumn="currentQty">
                  Md stok
                  <p-sortIcon field="currentQty"></p-sortIcon>
                </th>
                <th>
                  Fotoğraf
                </th>
                <th pSortableColumn="barcode">
                  Barkod
                  <p-sortIcon field="barcode"></p-sortIcon>
                </th>

                <th>
                  Değiştir
                </th>
              </tr>

            </ng-template>
            <ng-template pTemplate="body" let-product let-i="rowIndex">
              <tr>
                <td>
                  <p-image src="{{ product.photoUrl }}" previewImageSrc="{{ product.photoUrl }}" alt="Image" width="30"
                    [preview]="true" />
                </td>
                <td>{{ product.setStatus }}</td>
                <td>{{ product.shelfNo }}</td>
                <td>{{ product.itemCode }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.countedQty }}</td>
                <td>{{ product.colorDescription }}</td>
                <td>{{ product.itemDim1Code }}</td>
                <td>{{ product.currentQty }}</td>
                <td>
                  <img src="{{ product.photoUrl }}" alt="Resim" width="30" height="30"
                    (click)="openImageModal(product.photoUrl)" />
                </td>
                <td>{{ product.barcode }}</td>

                <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button class="btn btn-primary" type="submit"
                      (click)="goDown2(product.barcode, product.shelfNo, product.itemCode)">
                      <i class="fa fa-angle-down"></i>
                    </button>
                    <button data-toggle="tooltip" data-placement="right" title="Raflar" class="btn btn-primary"
                      type="submit" (click)="getShelves(product.barcode)">
                      <i class="fa-solid fa-bars"></i>
                    </button>
                    <button class="btn btn-primary" type="submit" (click)="stickToTop(product, false)"
                      *ngIf="stickedProduct && (stickedProduct.barcode == product.barcode && stickedProduct.shelfNo == product.shelfNo)">
                      <i class="fa fa-thumbtack-slash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>

        </div>
        <div div class="card text-center" *ngIf="productsToCollect.length <= 0">
          <div class="card-body">
            <h5 class="card-title">TÜM ÜRÜNLER TOPLANMIŞTIR</h5>

            <h1 class="display-1">
              <i class="fa fa-check" aria-hidden="true"></i>
            </h1>
            <p class="card-text" *ngIf="isInvoice">
              Bu Sipariş Faturalaştırılmıştır
            </p>
            <p style="cursor: pointer" class="card-title" routerLink="/create-cargo/{{ this.orderNo }}">
              Siparişi Kargolayabilirsiniz
            </p>
          </div>
        </div>

        <div class="card mobile" *ngIf="productsToCollect.length > 0">
          <div class="card-body">
            <h5 class="card-title">
              {{ pageDescription
              }}{{ customerName != undefined ? "-" + customerName : "" }}
            </h5>

            <form class="mt-3" [formGroup]="checkForm" (ngSubmit)="onSubmit(checkForm.value)">
              <div class="row mb-3">
                <div class="form-group">
                  <div class="input-group">
                    <input pInputText placeholder="{{ shelfNumbers }}" type="text" id="shelfNo" class="form-control"
                      formControlName="shelfNo" (keydown.enter)="focusNextInput('barcode')" />
                    <div class="input-group-append">
                      <button type="button" style="height: 100%" (click)="clearShelfNumbers()" class="btn btn-primary">
                        <i class="fa fa-eraser" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group">
                  <label *ngIf="qrBarcodeUrl !== null" for="qrBarcode">{{
                    qrBarcodeUrl
                  }}</label>
                  <input placeholder="Barkod" pInputText type="text" id="barcode" class="form-control"
                    formControlName="barcode" (keydown.enter)="onSubmit(checkForm.value)" />
                  <div class="input-group-append">
                    <!-- <button type="button" class="btn btn-primary">Camera</button> -->
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <div class="form-group">
                    <input pInputText type="number" placeholder="Miktar" id="quantity" class="form-control"
                      formControlName="quantity" />
                  </div>
                </div>

                <div class="form-group col">
                  <div class="form-group">
                    <input placeholder="Parti" pInputText type="text" id="batchCode" class="form-control"
                      formControlName="batchCode" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card" *ngIf="productsToCollect.length > 0">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-md-12">
                <button type="button" class="btn btn-primary" style="width: 100%; margin-top: 1%"
                  (click)="onSubmit(checkForm.value)" [disabled]="this.cancelStatus">
                  Ekle
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body" *ngIf="isInvoice === false">
            <div class="row mt-3 mb-3">
              <div class="col-md-12">
                <button type="button" class="btn btn-primary" (click)="collectAndPack(this.collectedProducts)"
                  [disabled]="this.cancelStatus" style="width: 100%">
                  {{ operation }}
                </button>
              </div>
            </div>

            <div class="row mb-3" *ngIf="this.currentOrderNo.includes('BP')">
              <div class="col-md-12">
                <button type="button" class="btn btn-primary" (click)="showDialog2()" style="width: 100%">
                  Fatura Bul
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </div>

            <div class="form-group col" *ngIf="infoProducts.length > 0">
              <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%">
                <button type="button" class="btn btn-primary" (click)="showCountPage()" style="width: 100%">
                  {{ addedProductCount }}
                </button>
                <button type="button" class="btn btn-primary" (click)="showModal2()">
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="productsToCollect.length > 0">
          <p-table [value]="productsToCollect" [rows]="5" [tableStyle]="{'min-width': '50rem'}"
            columnResizeMode="expand" [resizableColumns]="true" [expandedRowKeys]="expandedRows" dataKey="lineId">
            <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-between">
                Toplanacak Ürünler

              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>

                <th pSortableColumn="photoUrl">Fotoğraf</th>
                <th pSortableColumn="setStatus">Set</th>
                <th pSortableColumn="shelfNo">Raf</th>
                <th pSortableColumn="itemCode">Kod</th>
                <th pSortableColumn="quantity">Sipariş</th>
                <th pSortableColumn="description"
                  *ngIf="!this.currentOrderNo.includes('WT') && !this.currentOrderNo.includes('BP')">Sayılan</th>
                <th pSortableColumn="colorDescription"
                  *ngIf="!this.currentOrderNo.includes('WT') && !this.currentOrderNo.includes('BP')">Ud Raf</th>
                <th pSortableColumn="itemDim1Code"
                  *ngIf="!this.currentOrderNo.includes('WT') && !this.currentOrderNo.includes('BP')">Ud Stok</th>
                <th pSortableColumn="currentQty"
                  *ngIf="!this.currentOrderNo.includes('WT') && !this.currentOrderNo.includes('BP')">Md Stok</th>
                <th pSortableColumn="totalStock"
                  *ngIf="!this.currentOrderNo.includes('WT') && !this.currentOrderNo.includes('BP')">Toplam Stok</th>
                <th pSortableColumn="barcode">Barkod</th>

                <th>İşlemler</th>
              </tr>
              <tr>

                <th>
                  <!-- Fotoğraf sütunu için filtre eklemiyoruz -->
                </th>
                <th>

                </th>
                <th>
                  <p-columnFilter type="text" field="shelfNo" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="itemCode" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="numeric" field="quantity" [showClearButton]="false"></p-columnFilter>
                </th>
                <th *ngIf="!this.currentOrderNo.includes('WT') && !this.currentOrderNo.includes('BP')">
                  <p-columnFilter type="text" field="description" [showClearButton]="false"></p-columnFilter>
                </th>
                <th *ngIf="!this.currentOrderNo.includes('WT') && !this.currentOrderNo.includes('BP')">
                  <p-columnFilter type="text" field="colorDescription" [showClearButton]="false"></p-columnFilter>
                </th>
                <th *ngIf="!this.currentOrderNo.includes('WT') && !this.currentOrderNo.includes('BP')">
                  <p-columnFilter type="numeric" field="itemDim1Code" [showClearButton]="false"></p-columnFilter>
                </th>
                <th *ngIf="!this.currentOrderNo.includes('WT') && !this.currentOrderNo.includes('BP')">
                  <p-columnFilter type="numeric" field="currentQty" [showClearButton]="false"></p-columnFilter>
                </th>
                <th *ngIf="!this.currentOrderNo.includes('WT') && !this.currentOrderNo.includes('BP')">
                  <p-columnFilter type="numeric" field="totalStock" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="barcode" [showClearButton]="false"></p-columnFilter>
                </th>

                <th>
                  <!-- Sil sütunu için filtre eklemiyoruz -->
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-product let-expanded="expanded">
              <tr>

                <td>
                  <p-image src="{{ product.photoUrl }}" previewImageSrc="{{ product.photoUrl }}" alt="Image" width="30"
                    [preview]="true" />
                </td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic example">

                    @if(product.setStatus === 'HAZIR SET'){
                    <button [pRowToggler]="product" (click)="lockSetProduct(product)" *ngIf="(product.setStatus === 'HAZIR SET' || product.setStatus === 'SET TOPLA') &&
                      !this.lockedSetProduct" class="btn btn-success"> {{product.setStatus }}
                    </button>

                    }@else if(product.setStatus === 'SET TOPLA'){
                    <button [pRowToggler]="product" (click)="lockSetProduct(product)" *ngIf="(product.setStatus === 'HAZIR SET' || product.setStatus === 'SET TOPLA') &&
                      !this.lockedSetProduct" class="btn btn-danger"> {{product.setStatus }}
                    </button>
                    }

                    <button [pRowToggler]="product"
                      *ngIf="this.isLocked && this.lockedSetProduct?.lineId == product.lineId" type="button"
                      (click)="unlockSetProduct()" class="btn btn-warning"><i class="fa fa-lock-open"
                        aria-hidden="true"></i></button>
                  </div>

                </td>
                <td>{{ product.shelfNo }}</td>
                <td>{{ product.itemCode }}</td>
                <td>{{ product.quantity }}</td>
                <td *ngIf="!this.currentOrderNo.includes('WT') && !this.currentOrderNo.includes('BP')">
                  {{ product.description }}
                </td>
                <td *ngIf="!this.currentOrderNo.includes('WT') && !this.currentOrderNo.includes('BP')">
                  {{ product.colorDescription }}
                </td>
                <td *ngIf="!this.currentOrderNo.includes('WT') && !this.currentOrderNo.includes('BP')">
                  {{ product.itemDim1Code }}
                </td>
                <td *ngIf="!this.currentOrderNo.includes('WT') && !this.currentOrderNo.includes('BP')">
                  {{ product.currentQty }}
                </td>
                <td *ngIf="!this.currentOrderNo.includes('WT') && !this.currentOrderNo.includes('BP')">
                  {{ +product.itemDim1Code + +product.currentQty }}
                </td>
                <td>{{ product.barcode }}</td>

                <td>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" *ngIf="this.currentOrderNo.includes('WS') && !_pageDescription"
                        (click)="addMissingProduct([product])">
                        <i class="fa-solid fa-minus"></i> Eksik Ürün
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="getShelves(product.barcode)">
                        <i class="fa-solid fa-bars"></i> Raflar
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="change(product.barcode, product.quantity)">
                        <i class="fas fa-print"></i> Yazdır
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="stickToTop(product, true)">
                        <i class="fa fa-thumb-tack" aria-hidden="true"></i> Üste Sabitle
                      </a>
                    </li>
                  </ul>
                </td>


              </tr>
            </ng-template>

            <ng-template pTemplate="rowexpansion" let-product>
              <tr>
                <td colspan="13">
                  <div class="p-3">
                    <p-table [value]="product.setProducts" dataKey="lineId">
                      <ng-template pTemplate="header">
              <tr>
                <th>
                  Resim
                </th>

                <th pSortableColumn="barcode">Barkod
                  <p-sortIcon field="barcode" />
                </th>
                <th pSortableColumn="itemCode">Kod
                  <p-sortIcon field="itemCode" />
                </th>
                <th pSortableColumn="quantity">Adet
                  <p-sortIcon field="quantity" />
                </th>
                <th pSortableColumn="shelfNo">Raf No
                  <p-sortIcon field="shelfNo" />
                </th>
                <th>
                  Durum
                </th>
                <th>
                  Parti
                </th>
                <th>
                  Md Stok
                </th>
                <th>
                  Ud Stok
                </th>
                <th>
                  İşlemler
                </th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-setProduct>
              <tr>
                <td>

                  <p-image src="{{ setProduct.photoUrl }}" previewImageSrc="{{ setProduct.photoUrl }}" alt="Image"
                    width="30" [preview]="true" />
                </td>
                <td>{{ setProduct.barcode }}</td>
                <td>{{ setProduct.itemCode }}</td>
                <td>{{ setProduct.quantity }}</td>
                <td>{{ setProduct.shelfNo }}</td>
                <td>

                  @if(setProduct.quantity==0){
                  <button class="btn btn-success"> <i class="fa fa-check" aria-hidden="true"></i></button>
                  }@else{
                  <button class="btn btn-danger"> <i class="fa fa-ban" aria-hidden="true"></i></button>
                  }

                </td>
                <td>{{ setProduct.batchCode }}</td>
                <td>{{ setProduct.currentQty }}</td>
                <td>{{ setProduct.itemDim1Code }}</td>

                <td>
                  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                    *ngIf="setProduct.quantity==0" aria-expanded="false">
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" *ngIf="this.currentOrderNo.includes('WS')"
                        (click)="deleteSetProduct(setProduct)">
                        <i class="fa-solid fa-minus"></i> Sil
                      </a>
                    </li>

                  </ul>
                </td>

              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="4">Bu set için ürün bulunmamaktadır.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        </td>
        </tr>
        </ng-template>
        </p-table>

      </div>

      <div class="card" *ngIf="lastCollectedProducts.length > 0">
        <p-table [expandedRowKeys]="expandedRows" [value]="lastCollectedProducts" [paginator]="true" [rows]="10"
          [tableStyle]="{'min-width': '50rem'}" [responsiveLayout]="'scroll'" [filterDelay]="500" dataKey="lineId">
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
              Toplanan Ürünler
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>

              <th>Fotoğraf</th>
              <th>Set Durumu</th>
              <th pSortableColumn="shelfNo">Raf</th>
              <th pSortableColumn="itemCode">Ürün Kodu</th>
              <th pSortableColumn="quantity">Rafa Giren Miktar</th>
              <th pSortableColumn="barcode">Barkod</th>
              <th pSortableColumn="batchCode">Parti Kodu</th>
              <th>İşlemler</th>
            </tr>
            <tr>

              <th>
                <!-- Fotoğraf sütunu için filtre eklemiyoruz -->
              </th>
              <th>
                <!-- Fotoğraf sütunu için filtre eklemiyoruz -->
              </th>
              <th>
                <p-columnFilter type="text" field="shelfNo" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="itemCode" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="numeric" field="quantity" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="barcode" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="batchCode" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <!-- İşlemler sütunu için filtre eklemiyoruz -->
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-expanded="expanded" let-product let-i="rowIndex">
            <tr>

              <td>
                <p-image src="{{ product.photoUrl }}" previewImageSrc="{{ product.photoUrl }}" alt="Image" width="30"
                  [preview]="true" />


              </td>
              <td> <button *ngIf="product.setProducts?.length>0" [pRowToggler]="product" (click)=" logger()"
                  class="btn btn-danger"><i class="fa fa-database" aria-hidden="true"></i>
                </button></td>

              <td>



              </td>
              <td>{{ product.shelfNo }}</td>
              <td>{{ product.itemCode }}</td>
              <td>{{ product.quantity }}</td>
              <td>{{ product.barcode }}</td>
              <td>{{ product.batchCode }}</td>
              <td>
                <div class="btn-group">

                  <button pButton type="button" icon="pi pi-trash" class="p-button-danger"
                    (click)="deleteOrderProduct(orderNo, product)">
                  </button>
                  <button pButton type="button" icon="pi pi-bars" class="p-button-primary"
                    (click)="getShelves(product.barcode)">
                  </button>
                  <button pButton type="button" icon="pi pi-print" class="p-button-primary"
                    (click)="change(product.barcode, product.quantity)">
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="rowexpansion" let-product>
            <tr>
              <td colspan="13">
                <div class="p-3">
                  <p-table [value]="product.setProducts" dataKey="lineId">
                    <ng-template pTemplate="header">
            <tr>
              <th>
                Resim
              </th>

              <th pSortableColumn="barcode">Barkod
                <p-sortIcon field="barcode" />
              </th>
              <th pSortableColumn="itemCode">Kod
                <p-sortIcon field="itemCode" />
              </th>
              <th pSortableColumn="quantity">Adet
                <p-sortIcon field="quantity" />
              </th>
              <th pSortableColumn="shelfNo">Raf No
                <p-sortIcon field="shelfNo" />
              </th>
              <th>
                Durum
              </th>
              <th>
                Parti
              </th>
              <th>
                Md Stok
              </th>
              <th>
                Ud Stok
              </th>
              <th>
                İşlemler
              </th>

            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-setProduct>
            <tr>
              <td>

                <p-image src="{{ setProduct.photoUrl }}" previewImageSrc="{{ setProduct.photoUrl }}" alt="Image"
                  width="30" [preview]="true" />
              </td>
              <td>{{ setProduct.barcode }}</td>
              <td>{{ setProduct.itemCode }}</td>
              <td>{{ setProduct.quantity }}</td>
              <td>{{ setProduct.shelfNo }}</td>
              <td>

                @if(setProduct.quantity==0){
                <button class="btn btn-success"> <i class="fa fa-check" aria-hidden="true"></i></button>
                }@else{
                <button class="btn btn-danger"> <i class="fa fa-ban" aria-hidden="true"></i></button>
                }

              </td>
              <td>{{ setProduct.batchCode }}</td>
              <td>{{ setProduct.currentQty }}</td>
              <td>{{ setProduct.itemDim1Code }}</td>

              <td>
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false">
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" *ngIf="this.currentOrderNo.includes('WS')"
                      (click)="deleteSetProduct(product)">
                      <i class="fa-solid fa-minus"></i> Sil
                    </a>
                  </li>

                </ul>
              </td>

            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4">Bu set için ürün bulunmamaktadır.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
      </td>
      </tr>
      </ng-template>
      </p-table>
    </div>

    <!-- Yeni kart: Toplanan Ürünler -->
    <div div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">Toplanan Ürünler</h5>
        <h1 class="display-1">{{ totalCount }}</h1>
        <!--eklenen ürün miktarı yazcak! -->

        <p class="card-text">Adet Ürün Toplandı</p>
      </div>
    </div>
    </div>
    </div>
    <!-- Yeni -->
    <qrcode style="display: none" (qrCodeURL)="onChangeURL($event)" [qrdata]="qrCodeValue" [width]="256"
      [errorCorrectionLevel]="'M'"></qrcode>

    <app-image-modal [imageUrl]="modalImageUrl" [title]="'Ürün Detay'"></app-image-modal>

    <p-dialog header="Onay Formu" [(visible)]="_visible" [style]="{ width: '50vw' }">
      <div class="card flex justify-content-center">
        <div *ngFor="let invoice of invoiceTypes" class="field-checkbox mb-3">
          <p-radioButton [inputId]="invoice.key" [value]="invoice" [(ngModel)]="selectedInvoiceType"></p-radioButton>
          <label [for]="invoice.key" class="ml-2">{{ invoice.name }}</label>
        </div>

        <button class="btn btn-primary mt-3" type="submit" (click)="collectAndPack_WS(this.collectedProducts)">
          Toplananları Faturalaştır
        </button>
      </div>
    </p-dialog>

    <p-dialog header="Fatura Bul" [(visible)]="_visible2" [style]="{ width: '50vw' }">
      <div class="card">
        <p-table [value]="invoicesOfCustomer" [paginator]="true" [rows]="10" [tableStyle]="{'min-width': '50rem'}"
          [responsiveLayout]="'scroll'" [filterDelay]="500">
          <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
              Müşteri Faturaları
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="eInvoiceNumber">
                Fatura Numarası
                <p-sortIcon field="eInvoiceNumber"></p-sortIcon>
              </th>
              <th pSortableColumn="invoiceDate">
                Fatura Tarihi
                <p-sortIcon field="invoiceDate"></p-sortIcon>
              </th>
              <th>
                Seç
              </th>
            </tr>
            <tr>
              <th>
                <p-columnFilter type="text" field="eInvoiceNumber" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="date" field="invoiceDate" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <!-- Seç sütunu için filtre eklemiyoruz -->
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-invoice let-i="rowIndex">
            <tr>
              <td>{{ invoice.eInvoiceNumber }}</td>
              <td>{{ invoice.invoiceDate | date }}</td>
              <td>
                <button class="btn btn-primary" type="submit" (click)="selectInvoice(invoice)">
                  <i class="fa fa-check" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>

      </div>
    </p-dialog>

    <p-dialog header="Raflar" [(visible)]="productShelvesDialog">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button *ngFor="let shelve of productShelves; let i = index" (click)="setShelveToForm(shelve)" type="button"
          [ngClass]="i % 2 === 0 ? 'btn btn-primary' : 'btn btn-secondary'" style="height: 10rem">
          {{ shelve }}
        </button>
      </div>
    </p-dialog>
    <p-dialog header="Sayım Paneli" [(visible)]="visible" [style]="{ width: '90vw' }">
      <p>
        <app-warehosue-shelf-count [infoProducts]="this.infoProducts"></app-warehosue-shelf-count>
      </p>
    </p-dialog>
    <p-dialog header="Header" [(visible)]="barcodeDialog" [style]="{ width: '100vw' }">
      <app-create-qr [barcode]="barcode" [quantity]="quantity"></app-create-qr>
    </p-dialog>
  </section>
</main>
