.green-row {
  background-color: orange;
  color: white;
  /* Opsiyonel olarak metin rengini beyaz yapabilirsiniz */
}

@media (max-width: 767px) {
  .mobile {
    max-height: 50%;
    overflow-y: auto;
  }
}

.success-row {
  background-color: rgba(0, 211, 0, 0.712);
  /* Set the background color for successful rows */
  color: black;
  /* Set the text color */
}

.default-row {
  background-color: rgba(206, 0, 0, 0.712);
  /* Set the background color for successful rows */
  color: black;
  /* Set the text color */
}

::ng-deep .p-multiselect {
  max-width: 200px !important;
}