<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div style="width: 100%">
        <div class="card" *ngIf="_productsToCollect.length > 0">
          <div class="card-body">
            <!-- <h5 class="card-title">Sıradaki Toplanacak Ürün</h5> -->
            <div class="table-responsive">
              <table class="table" #bilgilendirmeAlanı>
                <thead>
                  <tr>
                    <!-- <th scope="col">Seç</th> -->
                    <th scope="col">RAF</th>
                    <th scope="col">KOD</th>
                    <th scope="col">SİPARİŞ</th>
                    <th scope="col">SAYILAN</th>
                    <th scope="col">UD RAF</th>
                    <th scope="col">UD STOK</th>
                    <th scope="col">MD STOK</th>
                    <th scope="col">Fotoğraf</th>
                    <th scope="col">Barkod</th>
                    <th scope="col">Değiştir</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let product of _productsToCollect; let i = index"
                    [ngClass]="{ 'green-row': product.colorDescription == '1' }"
                    [ngClass]="{ 'success-row': product.quantity === 0 }"
                  >
                    <!-- <td>
                      <input      pInputText
                        class="form-check-input"
                        type="checkbox"
                        id="pi{{ product.packageNo }}"
                        (change)="addProductToList(product.packageNo)"
                      />
                    </td> -->

                    <td>{{ product.shelfNo }}</td>
                    <td>{{ product.itemCode }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.countedQty }}</td>
                    <td>{{ product.colorDescription }}</td>
                    <td>{{ product.itemDim1Code }}</td>
                    <td>{{ product.currentQty }}</td>

                    <td>
                      <img
                        src="{{ product.photoUrl }}"
                        alt="Resim"
                        width="50"
                        height="50"
                        (click)="openImageModal(product.photoUrl)"
                      />
                    </td>
                    <td>{{ product.barcode }}</td>
                    <!-- <td>{{ product.packageNo }}</td> -->
                    <!-- <td>{{ product.colorCode }}</td> -->
                    <td>
                      <div
                        class="btn-group"
                        role="group"
                        aria-label="Basic example"
                      >
                        <!-- <button class="btn btn-primary" type="submit" (click)="
                            deleteOrderProduct(orderNo, product.itemCode)
                          ">
                          <i class="fa fa-trash"></i>
                        </button> -->
                        <button
                          class="btn btn-primary"
                          type="submit"
                          (click)="
                            goDown2(
                              product.barcode,
                              product.shelfNo,
                              product.itemCode
                            )
                          "
                        >
                          <i class="fa fa-angle-down"> </i>
                        </button>
                        <!-- <button
                          data-toggle="tooltip"
                          data-placement="right"
                          title="Eksik Ürün"
                          *ngIf="
                            this.currentOrderNo.includes('WS') &&
                            !_pageDescription
                          "
                          class="btn btn-primary"
                          type="submit"
                          (click)="addMissingProduct(product)"
                        >
                          <i class="fa-solid fa-minus"></i>
                        </button> -->
                        <button
                          data-toggle="tooltip"
                          data-placement="right"
                          title="Raflar"
                          class="btn btn-primary"
                          type="submit"
                          (click)="getShelves(product.barcode)"
                        >
                          <i class="fa-solid fa-bars"></i>
                        </button>
                        <!-- <button
                          class="btn btn-primary"
                          type="submit"
                          (click)="change(product.barcode, product.quantity)"
                        >
                          <i class="fas fa-print"></i>
                        </button> -->
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div div class="card text-center" *ngIf="productsToCollect.length <= 0">
          <div class="card-body">
            <h5 class="card-title">TÜM ÜRÜNLER TOPLANMIŞTIR</h5>

            <h1 class="display-1">
              <i class="fa fa-check" aria-hidden="true"></i>
            </h1>
            <p class="card-text" *ngIf="isInvoice">
              Bu Sipariş Faturalaştırılmıştır
            </p>
            <p
              style="cursor: pointer"
              class="card-title"
              routerLink="/create-cargo/{{ this.orderNo }}"
            >
              Siparişi Kargolayabilirsiniz
            </p>
          </div>
        </div>

        <div class="card mobile" *ngIf="productsToCollect.length > 0">
          <div class="card-body">
            <h5 class="card-title">
              {{ pageDescription
              }}{{ customerName != undefined ? "-" + customerName : "" }}
            </h5>

            <form
              class="mt-3"
              [formGroup]="checkForm"
              (ngSubmit)="onSubmit(checkForm.value)"
            >
              <div class="row mb-3">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      pInputText
                      placeholder="{{
                        shelfNumbers != 'RAFLAR:' ? shelfNumbers : 'Raf No'
                      }}"
                      type="text"
                      id="shelfNo"
                      class="form-control"
                      formControlName="shelfNo"
                      (keydown.enter)="focusNextInput('barcode')"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        style="height: 100%"
                        (click)="clearShelfNumbers()"
                        class="btn btn-primary"
                      >
                        Formu Temizle
                      </button>
                    </div>
                  </div>
                </div>
                <!-- <label *ngIf="shelfNumbers !== 'RAFLAR:'" for="shelfNo">{{
                  shelfNumbers
                }}</label> -->
              </div>

              <div class="row mb-3">
                <div class="form-group">
                  <label *ngIf="qrBarcodeUrl !== null" for="qrBarcode">{{
                    qrBarcodeUrl
                  }}</label>
                  <input
                    placeholder="Barkod"
                    pInputText
                    type="text"
                    id="barcode"
                    class="form-control"
                    formControlName="barcode"
                    (keydown.enter)="onSubmit(checkForm.value)"
                  />
                  <div class="input-group-append">
                    <!-- <button type="button" class="btn btn-primary">Camera</button> -->
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <div class="form-group">
                    <input
                      pInputText
                      type="number"
                      placeholder="Miktar"
                      id="quantity"
                      class="form-control"
                      formControlName="quantity"
                    />
                  </div>
                </div>

                <div class="form-group col">
                  <div class="form-group">
                    <input
                      placeholder="Parti"
                      pInputText
                      type="text"
                      id="batchCode"
                      class="form-control"
                      formControlName="batchCode"
                    />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="card" *ngIf="productsToCollect.length > 0">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-md-12">
                <button
                  type="button"
                  class="btn btn-primary"
                  style="width: 100%; margin-top: 1%"
                  (click)="onSubmit(checkForm.value)"
                >
                  Ekle
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body" *ngIf="isInvoice === false">
            <div class="row mt-3 mb-3">
              <div class="col-md-12">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="collectAndPack(this.collectedProducts)"
                  style="width: 100%"
                >
                  {{ operation }}
                </button>
              </div>
            </div>

            <div class="row mb-3" *ngIf="this.currentOrderNo.includes('BP')">
              <div class="col-md-12">
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="showDialog2()"
                  style="width: 100%"
                >
                  Fatura Bul
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </div>

            <div class="form-group col" *ngIf="infoProducts.length > 0">
              <div
                class="btn-group"
                role="group"
                aria-label="Basic example"
                style="width: 100%"
              >
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="showCountPage()"
                  style="width: 100%"
                >
                  {{ addedProductCount }}
                </button>
                <button
                  type="button"
                  class="btn btn-primary"
                  (click)="showModal2()"
                >
                  <i class="fa fa-angle-down" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="productsToCollect.length > 0">
          <div class="card-body">
            <h5 class="card-title">Toplanacak Ürünler</h5>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <!-- <th scope="col">Seç</th> -->
                    <th scope="col">RAF</th>
                    <th scope="col">KOD</th>
                    <th scope="col">SİPARİŞ</th>
                    <th scope="col">SAYILAN</th>
                    <th scope="col">UD RAF</th>
                    <th scope="col">UD STOK</th>
                    <th scope="col">MD STOK</th>
                    <th scope="col">TOPLAM STOK</th>

                    <th scope="col">Fotoğraf</th>
                    <th scope="col">Barkod</th>

                    <!-- <th scope="col">Paket No</th> -->
                    <!-- <th scope="col">Renk Kodu</th> -->

                    <th scope="col">Sil</th>

                    <!-- <th scope="col">LineId</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let product of productsToCollect
                        | paginate
                          : { itemsPerPage: 50, currentPage: currentPage };
                      let i = index
                    "
                    [ngClass]="{ 'green-row': product.colorDescription == '1' }"
                    [ngClass]="{ 'success-row': product.quantity === 0 }"
                  >
                    <!-- <td>
                      <input      pInputText
                        class="form-check-input"
                        type="checkbox"
                        id="pi{{ product.packageNo }}"
                        (change)="addProductToList(product.packageNo)"
                      />
                    </td> -->

                    <td>{{ product.shelfNo }}</td>
                    <td>{{ product.itemCode }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.colorDescription }}</td>
                    <td>{{ product.itemDim1Code }}</td>
                    <td>{{ product.currentQty }}</td>
                    <td>{{ +product.itemDim1Code + +product.currentQty }}</td>
                    <td>
                      <img
                        src="{{ product.photoUrl }}"
                        alt="Resim"
                        width="50"
                        height="50"
                        (click)="openImageModal(product.photoUrl)"
                      />
                    </td>
                    <td>{{ product.barcode }}</td>
                    <!-- <td>{{ product.packageNo }}</td> -->
                    <!-- <td>{{ product.colorCode }}</td> -->
                    <td>
                      <div
                        class="btn-group"
                        role="group"
                        aria-label="Basic example"
                      >
                        <button
                          class="btn btn-primary"
                          type="submit"
                          (click)="deleteOrderProduct(orderNo, product)"
                        >
                          <i class="fa fa-trash"></i>
                        </button>
                        <button
                          class="btn btn-primary"
                          type="submit"
                          (click)="goDown(product.packageNo)"
                        >
                          <i class="fa fa-angle-down"> </i>
                        </button>

                        <button
                          data-toggle="tooltip"
                          data-placement="right"
                          title="Eksik Ürün"
                          *ngIf="
                            this.currentOrderNo.includes('WS') &&
                            !_pageDescription
                          "
                          class="btn btn-primary"
                          type="submit"
                          (click)="addMissingProduct([product])"
                        >
                          <i class="fa-solid fa-minus"></i>
                        </button>
                        <button
                          data-toggle="tooltip"
                          data-placement="right"
                          title="Raflar"
                          class="btn btn-primary"
                          type="submit"
                          (click)="getShelves(product.barcode)"
                        >
                          <i class="fa-solid fa-bars"></i>
                        </button>
                        <button
                          class="btn btn-primary"
                          type="submit"
                          (click)="change(product.barcode, product.quantity)"
                        >
                          <i class="fas fa-print"></i>
                        </button>
                      </div>
                    </td>
                    <!-- <td>{{ product.lineId }}</td> -->
                  </tr>
                </tbody>
              </table>
              <pagination-controls
                #id1
                (pageChange)="currentPage = $event"
              ></pagination-controls>
            </div>
          </div>
        </div>

        <div class="card" *ngIf="lastCollectedProducts.length > 0">
          <div class="card-body">
            <h5 class="card-title">Toplanan Ürünler</h5>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Fotoğraf</th>
                    <th scope="col">Raf</th>
                    <th scope="col">Ürün Kodu</th>
                    <th scope="col">Rafa Giren Miktar</th>
                    <th scope="col">Barkod</th>
                    <th scope="col">Parti Kodu</th>
                    <th scope="col">Durum</th>

                    <th scope="col">İşlemler</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let product of lastCollectedProducts; let i = index"
                  >
                    <td>
                      {{ i + 1 }}
                    </td>

                    <td>
                      <img
                        src="{{ product.photoUrl }}"
                        alt="Resim"
                        width="50"
                        height="50"
                        (click)="openImageModal(product.photoUrl)"
                      />
                    </td>
                    <td>{{ product.shelfNo }}</td>
                    <td>{{ product.itemCode }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.barcode }}</td>
                    <td>{{ product.batchCode }}</td>
                    <td>
                      <span
                        [ngClass]="
                          product.availableQty >= product.quantity
                            ? 'btn btn-success'
                            : 'btn btn-primary'
                        "
                      >
                        {{
                          product.availableQty >= product.quantity
                            ? "Başarılı"
                            : "Başarısız"
                        }}
                      </span>
                    </td>
                    <td>
                      <div class="btn-group">
                        <button
                          class="btn btn-primary"
                          type="submit"
                          (click)="deleteOrderProduct(orderNo, product)"
                        >
                          <i class="fas fa-trash"> </i>
                        </button>
                        <!-- <button
                          class="btn btn-primary"
                          type="submit"
                          (click)="
                            createJson(
                              product.barcode,
                              product.shelfNo,
                              product.itemCode
                            )
                          "
                        >
                          <i class="fas fa-print"> </i>
                        </button> -->
                        <button
                          class="btn btn-primary"
                          type="submit"
                          (click)="getShelves(product.barcode)"
                        >
                          <i class="fa-solid fa-bars"></i>
                        </button>
                        <button
                          class="btn btn-primary"
                          type="submit"
                          (click)="change(product.barcode, product.quantity)"
                        >
                          <i class="fas fa-print"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Yeni kart: Toplanan Ürünler -->
        <div div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Toplanan Ürünler</h5>
            <h1 class="display-1">{{ totalCount }}</h1>
            <!--eklenen ürün miktarı yazcak! -->

            <p class="card-text">Adet Ürün Toplandı</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Yeni -->
    <qrcode
      style="display: none"
      (qrCodeURL)="onChangeURL($event)"
      [qrdata]="qrCodeValue"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>

    <app-image-modal
      [imageUrl]="modalImageUrl"
      [title]="'Ürün Detay'"
    ></app-image-modal>

    <p-dialog
      header="Onay Formu"
      [(visible)]="_visible"
      [style]="{ width: '50vw' }"
    >
      <div class="card flex justify-content-center">
        <div *ngFor="let invoice of invoiceTypes" class="field-checkbox mb-3">
          <p-radioButton
            [inputId]="invoice.key"
            [value]="invoice"
            [(ngModel)]="selectedInvoiceType"
          ></p-radioButton>
          <label [for]="invoice.key" class="ml-2">{{ invoice.name }}</label>
        </div>

        <button
          class="btn btn-primary mt-3"
          type="submit"
          (click)="collectAndPack_WS(this.collectedProducts)"
        >
          Toplananları Faturalaştır
        </button>
      </div>
    </p-dialog>

    <p-dialog
      header="Fatura Bul"
      [(visible)]="_visible2"
      [style]="{ width: '50vw' }"
    >
      <div class="card">
        <div class="card-body">
          <div style="overflow-x: auto">
            <table class="table">
              <thead>
                <tr>
                  <!-- <th scope="col">Seç</th> -->
                  <th scope="col">Fatura Numarası</th>
                  <th scope="col">Fatura Tarihi</th>
                  <th scope="col">Seç</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let invoice of invoicesOfCustomer">
                  <td>{{ invoice.eInvoiceNumber }}</td>
                  <td>{{ invoice.invoiceDate | date }}</td>
                  <td>
                    <button
                      class="btn btn-primary"
                      type="submit"
                      (click)="selectInvoice(invoice)"
                    >
                      <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </p-dialog>

    <p-dialog header="Raflar" [(visible)]="productShelvesDialog">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button
          *ngFor="let shelve of productShelves; let i = index"
          (click)="setShelveToForm(shelve)"
          type="button"
          [ngClass]="i % 2 === 0 ? 'btn btn-primary' : 'btn btn-secondary'"
          style="height: 10rem"
        >
          {{ shelve }}
        </button>
      </div>
    </p-dialog>
    <p-dialog
      header="Sayım Paneli"
      [(visible)]="visible"
      [style]="{ width: '90vw' }"
    >
      <p>
        <app-warehosue-shelf-count
          [infoProducts]="this.infoProducts"
        ></app-warehosue-shelf-count>
      </p>
    </p-dialog>
    <p-dialog
      header="Header"
      [(visible)]="barcodeDialog"
      [style]="{ width: '100vw' }"
    >
      <app-create-qr [barcode]="barcode" [quantity]="quantity"></app-create-qr>
    </p-dialog>
  </section>
</main>
