<main id="main" class="main">
  <section class="section">
    <div class="card border-0 shadow-lg text-center mt-4 p-2" *ngIf="this.debitHeader?.isCompleted ==true">
      <div class="card-body">
        <div class="d-flex justify-content-center align-items-center mb-3 p-2">
          <i class="fas fa-exclamation-circle fa-3x text-danger"></i>
        </div>
        <h5 class="card-title text-uppercase font-weight-bold">Önemli</h5>
        <p class="card-text text-muted">Bu İşlem Tamamlanmıştır.
          Değişiklik Yapılamaz.</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <p-tabView [activeIndex]="activeIndex" (onChange)="trackChanges($event)">
          <p-tabPanel header="Başlık">

            <form [formGroup]="headerForm">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="officeCode">Ofis</label>
                    <select id="officeCode" class="form-control" formControlName="officeCode">
                      <option value="" selected>Seçin</option>
                      <option *ngFor="let g of warehouseModels" [value]="g.officeCode">
                        {{ g.officeCode }}
                      </option>
                    </select>
                    <div *ngIf="headerForm.get('officeCode')?.touched && headerForm.get('officeCode')?.invalid"
                      class="text-danger">
                      Ofis alanı zorunludur.
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="currAccCode">Müşteri</label>
                    <p-dropdown placeholder="Müşteri" formControlName="currAccCode" [options]="customerList2"
                      virtualScroll="true" virtualScrollItemSize="50" optionLabel="name" [filter]="true">
                    </p-dropdown>

                    <div *ngIf="lineForm.get('currAccCode')?.touched &&
                              lineForm.get('currAccCode')?.invalid" class="text-danger">
                      Müşteri alanı zorunludur.
                    </div>
                  </div>
                </div>



                <div class="row mb-3">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="description">Açıklama</label>
                      <input type="text" id="description" class="form-control" formControlName="description">
                      <div *ngIf="headerForm.get('description')?.touched && headerForm.get('description')?.invalid"
                        class="text-danger">
                        Açıklama alanı zorunludur.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-primary" (click)="updateHeader()"
                      [disabled]="!this.headerForm.valid || this.debitHeader?.isCompleted ==true"
                      style="width: 100%;">Kaydet</button>
                  </div>
                </div>
              </div>
            </form>

          </p-tabPanel>
          <p-tabPanel header="Satırlar" *ngIf="this.debitLines?.length>=0">
            <form [formGroup]="lineForm" class="mb-3">
              <div class="row mb-3">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="creditAmount">Kredi Tutarı</label>
                    <input type="number" id="creditAmount" class="form-control" formControlName="creditAmount"
                      placeholder="Kredi Tutarı">
                    <div *ngIf="lineForm.get('creditAmount')?.touched && lineForm.get('creditAmount')?.invalid"
                      class="text-danger">
                      Kredi Tutarı zorunludur.
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="debitAmount">Borç Tutarı</label>
                    <input type="number" id="debitAmount" class="form-control" formControlName="debitAmount"
                      placeholder="Borç Tutarı">
                    <div *ngIf="lineForm.get('debitAmount')?.touched && lineForm.get('debitAmount')?.invalid"
                      class="text-danger">
                      Borç Tutarı zorunludur.
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="dueDate">Vade Tarihi</label>
                    <input type="date" id="dueDate" class="form-control" formControlName="dueDate">
                    <div *ngIf="lineForm.get('dueDate')?.touched && lineForm.get('dueDate')?.invalid"
                      class="text-danger">
                      Vade Tarihi zorunludur.
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="debitReasonCode">Borç Sebep Kodu</label>
                    <select id="debitReasonCode" class="form-control" formControlName="debitReasonCode">
                      <option value="" selected>Seçin</option>
                      <option *ngFor="let g of cdDebitReasonDescs" [value]="g.debitReasonCode">
                        {{ g.debitReasonDescription }}
                      </option>
                    </select>
                    <div *ngIf="lineForm.get('debitReasonCode')?.touched && lineForm.get('debitReasonCode')?.invalid"
                      class="text-danger">
                      Borç Sebep Kodu zorunludur.
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="lineDescription">Açıklama</label>
                    <input type="text" id="lineDescription" class="form-control" formControlName="lineDescription"
                      placeholder="Açıklama">
                    <div *ngIf="lineForm.get('lineDescription')?.touched && lineForm.get('lineDescription')?.invalid"
                      class="text-danger">
                      Açıklama alanı zorunludur.
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md-6">
                  <button type="button" class="btn btn-primary" (click)="addLine()" style="width: 100%;"
                    [disabled]="!lineForm.valid">Ekle</button>
                </div>
                <div class="col-md-6">
                  <button type="button" class="btn btn-primary" (click)="completeDebitPayment()"
                    [disabled]="this.debitHeader?.isCompleted" style="width: 100%;">
                    Tamamla</button>
                </div>
              </div>
            </form>

            <p-dialog header="Satır güncelle" [(visible)]="displayDialog" [modal]="true" [responsive]="true">
              <form [formGroup]="updateLineForm" class="mb-3">
                <div class="row mb-3">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="creditAmount">Alacak</label>
                      <input type="number" id="creditAmount" class="form-control" formControlName="creditAmount"
                        placeholder="Kredi Tutarı">
                      <div
                        *ngIf="updateLineForm.get('creditAmount')?.touched && updateLineForm.get('creditAmount')?.invalid"
                        class="text-danger">
                        Kredi Tutarı zorunludur.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="debitAmount">Borç</label>
                      <input type="number" id="debitAmount" class="form-control" formControlName="debitAmount"
                        placeholder="Borç Tutarı">
                      <div
                        *ngIf="updateLineForm.get('debitAmount')?.touched && updateLineForm.get('debitAmount')?.invalid"
                        class="text-danger">
                        Borç Tutarı zorunludur.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="dueDate">Vade Tarihi</label>
                      <input type="date" id="dueDate" class="form-control" formControlName="dueDate">
                      <div *ngIf="updateLineForm.get('dueDate')?.touched && updateLineForm.get('dueDate')?.invalid"
                        class="text-danger">
                        Vade Tarihi zorunludur.
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="debitReasonCode">Borç Sebep Kodu</label>
                      <select id="debitReasonCode" class="form-control" formControlName="debitReasonCode">
                        <option value="" selected>Seçin</option>
                        <option *ngFor="let g of cdDebitReasonDescs" [value]="g.debitReasonCode">
                          {{ g.debitReasonDescription }}
                        </option>
                      </select>
                      <div
                        *ngIf="updateLineForm.get('debitReasonCode')?.touched && updateLineForm.get('debitReasonCode')?.invalid"
                        class="text-danger">
                        Borç Sebep Kodu zorunludur.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="lineDescription">Açıklama</label>
                      <input type="text" id="lineDescription" class="form-control" formControlName="lineDescription"
                        placeholder="Açıklama">
                      <div
                        *ngIf="updateLineForm.get('lineDescription')?.touched && updateLineForm.get('lineDescription')?.invalid"
                        class="text-danger">
                        Açıklama alanı zorunludur.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-3">
                  <div class="col-md-6">
                    <button type="button" class="btn btn-primary" (click)="updateLine()"
                      [disabled]="!updateLineForm.valid">Güncelle</button>
                  </div>
                  <div class="col-md-6">
                    <button type="button" class="btn btn-danger" (click)="this.displayDialog=false">Kapat</button>
                  </div>
                </div>
              </form>

            </p-dialog>
            <div>


            </div>

          </p-tabPanel>

        </p-tabView>
      </div>
    </div>

    <div class="card mt-3" *ngIf="this.activeIndex==1">
      <p-table [value]="debitLines" [paginator]="true" [rows]="10" [tableStyle]="{'min-width': '50rem'}"
        [responsiveLayout]="'scroll'">

        <!-- Table Headers with Sorting -->
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="lineDescription">
              Satır Açıklaması
              <p-sortIcon field="lineDescription"></p-sortIcon>
            </th>
            <th pSortableColumn="creditAmount">
              Kredi Tutarı
              <p-sortIcon field="creditAmount"></p-sortIcon>
            </th>
            <th pSortableColumn="debitAmount">
              Borç Tutarı
              <p-sortIcon field="debitAmount"></p-sortIcon>
            </th>
            <th pSortableColumn="dueDate">
              Vade Tarihi
              <p-sortIcon field="dueDate"></p-sortIcon>
            </th>
            <th pSortableColumn="debitReasonCode">
              Borç Sebebi
              <p-sortIcon field="debitReasonCode"></p-sortIcon>
            </th>
            <th>
              İşlemler
            </th>
          </tr>
          <tr>
            <th>
              <p-columnFilter type="text" field="lineDescription" [showClearButton]="true"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="creditAmount" [showClearButton]="true"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="debitAmount" [showClearButton]="true"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="date" field="dueDate" [showClearButton]="true"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="debitReasonCode" [showClearButton]="true"></p-columnFilter>
            </th>
            <th>
              <!-- Boş bırakıldı, eklemek istediğiniz bir filtre varsa buraya ekleyebilirsiniz -->
            </th>
          </tr>
        </ng-template>

        <!-- Table Body -->
        <ng-template pTemplate="body" let-debitLine>
          <tr>
            <td>{{ debitLine.lineDescription }}</td>
            <td>{{ debitLine.creditAmount | currency }}</td>
            <td>{{ debitLine.debitAmount | currency }}</td>
            <td>{{ debitLine.dueDate | date }}</td>
            <td>{{ getDebitReasonDesc(debitLine.debitReasonCode)   }}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" (click)="openUpdateDialog(debitLine)"
                  [disabled]="this.debitHeader?.isCompleted ==true">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-danger" (click)="deleteLine(debitLine.id)"
                  [disabled]="this.debitHeader?.isCompleted ==true">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </section>
</main>
