<main id="main" class="main">
  <section class="section">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sipariş Kontrol</h5>
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <div class="form-row">
            <div class="form-group col-md-6 mb-3">
              <label for="startDate">Başlangıç Tarihi</label>
              <div class="input-group">
                <input
                  type="date"
                  id="startDate"
                  class="form-control"
                  formControlName="startDate"
                />
              </div>
            </div>
            <div class="form-group col-md-6 mb-3">
              <label for="endDate">Bitiş Tarihi</label>
              <div class="input-group">
                <input
                  type="date"
                  id="endDate"
                  class="form-control"
                  formControlName="endDate"
                />
              </div>
            </div>
            <div class="form-group col-md-6 mb-3">
              <label for="warehouseCode">Depo Kodu</label>
              <div class="input-group">
                <input
                  type="text"
                  id="warehouseCode"
                  class="form-control"
                  formControlName="warehouseCode"
                />
              </div>
            </div>
            <div class="form-group col-md-6 mb-3">
              <label for="shipmentStatus">Sevkiyat Durumu</label>
              <div class="input-group">
                <select
                  id="shipmentStatus"
                  class="form-control"
                  formControlName="shipmentStatus"
                >
                  <option
                    *ngFor="let status of shipmentStatus"
                    [value]="status.value"
                  >
                    {{ status.label }}
                  </option>
                </select>
              </div>
            </div>

            <div class="form-group col-md-6 mb-3">
              <label for="itemcode">Madde Kodu</label>
              <div class="input-group">
                <input
                  type="search"
                  id="itemcode"
                  class="form-control"
                  formControlName="itemCode"
                />
              </div>
            </div>
            <div class="form-group col-md-12">
              <button class="btn btn-primary btn-block">Sorgula</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card" *ngIf="this.orders.length > 0">
      <div class="card-body">
        <h5 class="card-title">Siparişler</h5>

        <div class="table-responsive">
          <table class="table table-striped table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">Şirket Adı</th>
                <th scope="col">Stok Kodu</th>
                <th scope="col">Renk</th>
                <th scope="col">Kalan Sipariş Miktarı</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <td>{{ order.companyName }}</td>
                <td>{{ order.itemCode }}</td>
                <td>{{ order.colorDescription }}</td>
                <td>{{ order.remainingOrderQuantity }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>
