<main id="main" class="main">
  <div class="pagetitle">
    <h1>Faturalar</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active">Faturalar</li>
      </ol>
    </nav>
  </div>

  <section class="section">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Fatura Filtreleme</h5>
        <!-- Filtreleme Alanı (Başlangıç) -->
        <div class="btn-group mb-3">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse"
            aria-expanded="false" aria-controls="filterCollapse">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
        </div>

        <div class="collapse" id="filterCollapse">
          <form [formGroup]="filterForm"  (ngSubmit)="onSubmit(filterForm.value)">

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="orderNo">Sipariş Numarası</label>
                  <input type="text" id="orderNo" class="form-control" formControlName="orderNo" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="invoiceType">Fatura Tipi</label>
                  <select id="invoiceType" class="form-control" formControlName="invoiceType">
                    <option>Alış</option>
                    <option>Satış</option>
                  </select>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="startDate">İşlem Başlangıç Tarihi:</label>
                  <input type="date" id="startDate" class="form-control" formControlName="startDate" />
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <label for="endDate">İşlem Bitiş Tarihi:</label>
                  <input type="date" id="endDate" class="form-control" formControlName="endDate" />
                </div>
              </div>

            </div>

            <div class="row mt-2">
              <div class="col-md-4">
                <button class="btn btn-primary">Filtrele</button>
              </div>
            </div>
          </form>
        </div>
        <!-- Filtreleme Alanı (Bitiş) -->

      </div>


    </div>



    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Faturalar</h5>
        <!-- <a class="btn btn-success" data-bs-toggle="dropdown">+Opertions </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li><a class="dropdown-item">Add New Product</a></li>
            <li><a class="dropdown-item">Export To The Excel</a></li>
            <li><a class="dropdown-item">Delete All Selected</a></li>
          </ul> -->
        <!-- 
          <div class="btn-group mb-3">
            <button type="button" class="btn btn-success mr-2" >Ürün Topla</button>
  
            <button type="button" class="btn btn-primary mr-2">Ürün Paketle</button>
  
          </div>
           -->
        <div class="btn-group mb-3">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse"
            (click)="newPurchaseInvoice()" aria-expanded="false" aria-controls="filterCollapse">
            Alış Faturası Oluştur
          </button>
          <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse"
            (click)="newSaleInvoice()" aria-expanded="false" aria-controls="filterCollapse">
            Satış Faturası Oluştur
          </button>


        </div>
        <div style="overflow-x: auto">
          <table class="table">
            <thead>
              <tr>
                <!-- <th scope="col">Seç</th> -->
                <th scope="col">İşlemler</th>
                <th scope="col">İşlem Tarihi</th>
                <th scope="col">Toplam Sayılan Ürün Sayısı</th>
                <th scope="col">Sipariş Numarası</th>
                <th scope="col">Fatura Tipi</th>
                <th scope="col">Müşteri</th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let count of countList | paginate: { itemsPerPage: 10, currentPage: currentPage }">
                <!-- <td><input class="form-check-input" type="checkbox" value=""
                    (click)="addInnerNumberToList(count.orderNo)"></td> -->
                    <td>
                      <div class="btn-group">
                        <button class="btn btn-primary" data-text="İşlemler" (click)="routeToPage(count.orderNo)">
                          <i class="fas fa-sliders-h"></i>
                        </button>
                        
                        <button class="btn btn-danger" data-text="Sil"
                        (click)="deleteInvoiceProducts(count.orderNo)">
                        <i class="fas fa-trash"></i>
                    </button>

                      </div>
                    </td>
                <td>{{ count.lastUpdateDate | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                <td>{{ count.totalProduct }}</td>
                <td>{{ count.orderNo}}</td>
                <td>{{ count.orderNo.includes("WS") ? "Satış " : "Alış "}}{{count.isReturn==true ? "İade" : ""}}</td>
                <td>{{count.salesPersonCode}}</td>
               
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>

        </div>
      </div>
    </div>
  </section>
</main>