<main id="main" class="main">
  <section class="section">


    <div class="card custom-card mb-3">
      <div class="card-body">
        <div class="btn-group mt-4">

          <!-- <button class="btn btn-primary" type="button" (click)="routeNewPage(null)">
            Ofis Depoları Arası Transfer
          </button>  açılcak-->
          <button class="btn btn-primary" type="button" (click)="routeNewPage(null)">
            Mağaza Transfer İrsaliyesi
          </button>
          <!-- <button class="btn btn-primary" type="button" (click)="routeNewPage2()">
            Depolar Arası İstek
          </button> -->
          <button class="btn btn-primary" type="button" (click)="routeNewPage3()">
            Mağaza Depolar Arası Transfer
          </button>
          <button class="btn btn-primary" type="button" (click)="routeNewPage4()">
            Merkeze İade
          </button>
        </div>
      </div>
    </div>

    <!-- Filtreleme Alanı (Bitiş) -->

    <div class="card">
      <div class="card-body p-4">
        <p-table [value]="warehouseTransferListModels" [paginator]="true" [rows]="10"
          [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="createdDate">
                İşlem Tarihi
                <p-sortIcon field="createdDate"></p-sortIcon>
                <p-columnFilter type="date" field="createdDate"></p-columnFilter>
              </th>
              <th pSortableColumn="warehouseCode">
                Gönderen Depo Kodu
                <p-sortIcon field="warehouseCode"></p-sortIcon>
                <p-columnFilter type="text" field="warehouseCode"></p-columnFilter>
              </th>
              <th pSortableColumn="toWarehouseCode">
                Hedef Depo Kodu
                <p-sortIcon field="toWarehouseCode"></p-sortIcon>
                <p-columnFilter type="text" field="toWarehouseCode"></p-columnFilter>
              </th>
              <th pSortableColumn="quantity">
                Miktar
                <p-sortIcon field="quantity"></p-sortIcon>
                <p-columnFilter type="numeric" field="quantity"></p-columnFilter>
              </th>
              <th>İşlemler</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-operation>
            <tr>
              <td>{{ operation.createdDate | date : 'dd.MM.yyyy HH:mm' }}</td>
              <td>{{ operation.warehouseCode }}</td>
              <td>{{ operation.toWarehouseCode }}</td>
              <td>{{ operation.quantity }}</td>
              <td>
                <div class="btn-group">
                  <button class="btn btn-success" (click)="routeNewPage(operation.operationId)">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </button>
                  <button class="btn btn-danger" (click)=" deleteTransfer(operation.operationId)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                  <!--
          <button pButton type="button" icon="pi pi-barcode" class="p-button-warning"
                  (click)="showModal(operation.operationId)">
          </button>
          -->
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>

      </div>
    </div>

    <p-dialog header="Barkod Türü Seçiniz - {{ this.selectedOrderNo }}" [(visible)]="visible" [modal]="true"
      [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
      <button type="button" class="btn custom-btn-primary mt-3" (click)="this.sendBarcodesToNebim(true)">
        Koli
      </button>
      <button type="button" class="btn custom-btn-primary mt-3" (click)="this.sendBarcodesToNebim(false)">
        Barkod
      </button>
    </p-dialog>
  </section>
</main>
