<main id="main" class="main">
  <section class="section">
    <div class="card">
      <div class="card-body">
        <!-- Filtreleme Alanı (Başlangıç) -->
        <div class="btn-group mb-3 mt-4">
          <button
            class="btn btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#filterCollapse"
            aria-expanded="false"
            aria-controls="filterCollapse"
          >
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
        </div>

        <div class="collapse" id="filterCollapse">
          <form
            [formGroup]="filterForm"
            (ngSubmit)="onSubmit(filterForm.value)"
          >
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="orderNo">Sipariş Numarası:</label>
                  <input
                    type="text"
                    id="orderNo"
                    class="form-control"
                    formControlName="orderNo"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="totalProduct">Toplam Sayılan Ürün Sayısı:</label>
                  <input
                    type="number"
                    id="totalProduct"
                    class="form-control"
                    formControlName="totalProduct"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="startDate">İşlem Başlangıç Tarihi:</label>
                  <input
                    type="date"
                    id="startDate"
                    class="form-control"
                    formControlName="startDate"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="endDate">İşlem Bitiş Tarihi:</label>
                  <input
                    type="date"
                    id="endDate"
                    class="form-control"
                    formControlName="endDate"
                  />
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-4">
                <button class="btn btn-primary">Filtrele</button>
              </div>
            </div>
          </form>
        </div>
        <!-- Filtreleme Alanı (Bitiş) -->
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="btn-group mb-3 mt-4">
          <button
            class="btn btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#filterCollapse"
            (click)="newCount()"
            aria-expanded="false"
            aria-controls="filterCollapse"
          >
            Yeni Sayım Yap
          </button>
        </div>
        <div style="overflow-x: auto">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Seç</th>
                <th scope="col">İşlem Tarihi</th>
                <th scope="col">Toplam Sayılan Ürün Sayısı</th>
                <th scope="col">Sipariş Numarası</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let count of countList
                    | paginate : { itemsPerPage: 10, currentPage: currentPage }
                "
              >
                <td>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    (click)="addInnerNumberToList(count.orderNo)"
                  />
                </td>

                <td>
                  {{ count.lastUpdateDate | date : "dd.MM.yyyy HH:mm:ss" }}
                </td>
                <td>{{ count.totalProduct }}</td>
                <td>{{ count.orderNo }}</td>

                <td>
                  <div class="btn-group">
                    <div
                      class="btn btn-success mr -2"
                      data-text="İşlemler"
                      routerLink="/warehouse-shelf-count/{{ count.orderNo }}"
                    >
                      <i class="fas fa-sliders-h"></i>
                    </div>
                    <button
                      class="btn btn-success"
                      data-text="Sil"
                      (click)="deleteCountFromId(count.orderNo)"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls
            (pageChange)="currentPage = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>
  </section>
</main>
