<main id="main" class="main">
  <!-- <div class="pagetitle"><h1>Sayım Paneli</h1><nav><ol class="breadcrumb"><li class="breadcrumb-item"><a routerLink="/">Home</a></li><li class="breadcrumb-item">Tables</li><li class="breadcrumb-item active">Sayım Paneli</li></ol></nav></div> -->
  <section class="section">
    <div class="row">
      <div style="width: 100%">

        <div class="card" *ngIf="!blocked">
          <div class="card-body">
            <form [formGroup]="checkForm" (ngSubmit)="onSubmit(checkForm.value)">
              <div class="row mb-3 mt-3">
                <div class="form-group col-md-6 mt-3">
                  <p-dropdown formControlName="officeCode" [options]="offices" [showClear]="true" placeholder="Ofis">
                  </p-dropdown>
                </div>

                <div class="form-group col-md-6 mt-3">
                  <p-dropdown formControlName="warehouse" [options]="warehouses" [showClear]="true" placeholder="Depo"
                    optionLabel="name" formControlName="warehouseCode" className="mobile-spacing"></p-dropdown>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group">
                  <div class="input-group">
                    <input pInputText placeholder="{{
                        shelfNumbers != 'RAFLAR:' ? shelfNumbers : 'Raf No'
                      }}" type="text" id="shelfNo" class="form-control" formControlName="shelfNo"
                      (keydown.enter)="focusNextInput('countPageBarcode')" />
                    <div class="input-group-append">
                      <button type="button" style="height: 100%" (click)="clearShelfNumbers()" class="btn btn-primary">
                        <i class="fa-solid fa-broom"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group">
                  <input pInputText type="search" placeholder="Barkod" id="countPageBarcode" class="form-control"
                    formControlName="barcode" [disabled]="checkForm.disabled" [(ngModel)]="currentbarcode"
                    (keydown.enter)="onSubmit(checkForm.value)" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col">
                  <div class="form-group">
                    <input pInputText placeholder="Miktar" type="number" id="quantity" class="form-control"
                      formControlName="quantity" [disabled]="checkForm.disabled" />
                  </div>
                </div>
                <div class="form-group col">
                  <div class="form-group">
                    <input placeholder="Parti" pInputText input type="text" id="batchCode" class="form-control"
                      formControlName="batchCode" (keydown.enter)="onSubmit(checkForm.value)"
                      [disabled]="checkForm.disabled" />
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-6">
                  <label for="isShelfBased" class="col-form-label">Raf Bazında Sayım</label>
                </div>
                <div class="col-6">
                  <div class="form-check">
                    <p-inputSwitch id="isShelfBased" formControlName="isShelfBased"></p-inputSwitch>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-6">
                  <label for="isShelfBased2" class="col-form-label">Raf Bazında Ürün Sayım</label>
                </div>
                <div class="col-6">
                  <div class="form-check">
                    <p-inputSwitch id="isShelfBased2" formControlName="isShelfBased2"></p-inputSwitch>
                  </div>
                </div>
              </div>

              <div class="row mb-1">
                <div class="form-group col">
                  <button type="button" class="btn btn-primary" (click)="check()" style="width: 100%">
                    Ekle
                  </button>
                </div>
                <div class="form-group col">
                  <button type="button" class="btn btn-primary" style="margin-left: 10px; color: white"
                    (click)="completeCountFromService(currentOrderNo)" style="width: 100%">
                    Sayımı Bitir
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="card" *ngIf="infoProducts.length > 0">
          <div class="card-body">
            <h5 class="card-title">Bilgilendirme Alanı</h5>
            <p-table [value]="infoProducts" class="table table-striped" [paginator]="true" [rows]="10"
              [responsiveLayout]="'scroll'">
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let header of tableHeaders" class="text-center">
                    {{ header }}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product let-i="index">
                <tr>
                  <td class="text-center">
                    <p-image src="{{ product.photoUrl }}" previewImageSrc="{{ product.photoUrl }}" alt="Resim"
                      width="50" height="50" [preview]="true"></p-image>
                  </td>
                  <td class="text-center">{{ product.shelfNo }}</td>
                  <td class="text-center">{{ product.itemCode }}</td>
                  <td class="text-center">{{ product.quantity }}</td>
                  <td class="text-center">{{ product.batchCode }}</td>
                  <td class="text-center">{{ product.barcode }}</td>
                  <td class="text-center">{{ product.currAccCode }}</td>
                  <td class="text-center">{{ product.warehouseCode }}</td>
                  <td class="text-center">{{ product.officeCode }}</td>
                </tr>
              </ng-template>
            </p-table>


          </div>
        </div>

        <div class="card" *ngIf="lastCollectedProducts.length > 0">
          <div class="card-body">
            <h5 class="card-title">Sayılan Ürünler</h5>
            <p-table #dt2 [value]="lastCollectedProducts" dataKey="itemCode" [paginator]="true"
              [rowsPerPageOptions]="[5, 10, 20]" [rows]="10" [tableStyle]="{ 'min-width': '70rem' }"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

              <ng-template pTemplate="header">
                <tr>


                  <th pSortableColumn="photo">
                    Fotoğraf
                  </th>
                  <th pSortableColumn="shelfNo">
                    Raf No
                    <p-sortIcon field="shelfNo"></p-sortIcon>
                  </th>
                  <th pSortableColumn="itemCode">
                    Ürün Kodu
                    <p-sortIcon field="itemCode"></p-sortIcon>
                  </th>
                  <th pSortableColumn="quantity">
                    Miktar
                    <p-sortIcon field="quantity"></p-sortIcon>
                  </th>
                  <th pSortableColumn="batchCode">
                    Parti Kodu
                    <p-sortIcon field="batchCode"></p-sortIcon>
                  </th>
                  <th pSortableColumn="barcode">
                    Barkod
                    <p-sortIcon field="barcode"></p-sortIcon>
                  </th>
                  <th>İşlemler</th>
                </tr>
                <tr>

                  <th></th>
                  <th>
                    <p-columnFilter type="text" field="shelfNo" [showClearButton]="true"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="itemCode" [showClearButton]="true"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="numeric" field="quantity" [showClearButton]="true"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="batchCode" [showClearButton]="true"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="barcode" [showClearButton]="true"></p-columnFilter>
                  </th>
                  <th></th>
                </tr>
              </ng-template>

              <ng-template pTemplate="body" let-product>
                <tr>

                  <td>
                    <p-image src="{{ photoUrl + product.itemCode + '.jpg' }}"
                      previewImageSrc="{{ photoUrl + product.itemCode + '.jpg' }}" alt="Image" width="30"
                      [preview]="true">
                    </p-image>
                  </td>
                  <td>{{ product.shelfNo }}</td>
                  <td>{{ product.itemCode }}</td>
                  <td>{{ product.quantity }}</td>
                  <td>{{ product.batchCode }}</td>
                  <td>{{ product.barcode }}</td>
                  <td>
                    <div class="btn-group">
                      <button class="btn btn-danger" type="submit" (click)="deleteOrderProduct(orderNo, product)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>

          </div>
        </div>

        <!-- Yeni kart: Toplanan Ürünler -->
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Toplanan Ürünler</h5>
            <h1 class="display-1">{{ totalCount }}</h1>
            <p class="card-text">Adet Ürün Toplandı</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Yeni -->
    <!-- <qrcode
      style="display: none"
      (qrCodeURL)="onChangeURL($event)"
      [qrdata]="qrCodeValue"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode> -->

    <app-image-modal [imageUrl]="modalImageUrl" [title]="'Ürün Detay'"></app-image-modal>

    <!-- <p-dialog header="Header" [(visible)]="visible" [style]="{ width: '100vw' }"
      >a
      <app-create-qr
        upPageDescription="Sayım"
        [barcode]="barcode"
        [quantity]="quantity"
        [batchCode]="batchCode"
      ></app-create-qr>
    </p-dialog> -->

    <p-dialog header="Kontrol" [(visible)]="_visible" [modal]="true" [style]="{ width: '90vw', padding: '0' }"
      [draggable]="false" [resizable]="false">
      <div class="mb-3">
        <strong>{{ controlMessage }}</strong>
      </div>
      <div class="card" *ngIf="countedProductControl.length > 0">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" *ngFor="let header of _tableHeaders2">
                    {{ header }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                    let product of countedProductControl
                      | paginate
                        : { itemsPerPage: 10, currentPage: currentPage };
                    let i = index
                  ">
                  <td>{{ product.itemCode }}</td>
                  <td>
                    {{ product.state === true ? "BAŞARILI" : "BAŞARISIZ" }}
                  </td>
                </tr>
              </tbody>
            </table>
            <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </p-dialog>
  </section>
</main>
