<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div style="width: 100%">
        <div class="card" *ngIf="_productsToCollect.length > 0">
          <div class="card-body">
            <div class="table-responsive">
              <p-table [value]="_productsToCollect" class="table" #bilgilendirmeAlanı [paginator]="true" [rows]="10"
                [responsiveLayout]="'scroll'">
                <ng-template pTemplate="header">
                  <tr>
                    <th *ngFor="let header of tableHeaders">
                      {{ header }}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-i="index">
                  <tr
                    [ngClass]="{ 'green-row': product.colorDescription == '1', 'success-row': product.quantity === 0 }">
                    <td>
                      <p-image src="{{ product.photoUrl }}" previewImageSrc="{{ product.photoUrl }}" alt="Image"
                        width="30" [preview]="true"></p-image>
                    </td>
                    <td>{{ product.shelfNo }}</td>
                    <td>{{ product.itemCode }}</td>
                    <td>{{ product.itemDescription.substring(0, 30) }}</td>
                    <td>{{ product.barcode }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.countedQty }}</td>
                    <td>{{ product.colorDescription }}</td>
                    <td>{{ product.itemDim1Code }}</td>
                    <td>{{ product.currentQty }}</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-primary" type="submit"
                          (click)="goDown2(product.barcode, product.shelfNo, product.itemCode)">
                          <i class="fa fa-angle-down"></i>
                        </button>

                        <button class="btn btn-primary" type="submit" data-toggle="tooltip" data-placement="right"
                          title="Raflar" (click)="getShelves(product.barcode)">
                          <i class="fa-solid fa-bars"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>

            </div>
          </div>
        </div>

        <div class="card mobile">
          <div class="card-body">
            <h5 class="card-title">
              {{ pageDescription
              }}
            </h5>

            <form class="mt-3" [formGroup]="checkForm" (ngSubmit)="onSubmit(checkForm.value)">
              <div class="row mb-3">
                <div class="form-group">
                  <div class="input-group">
                    <input pInputText placeholder="{{ shelfNumbers }}" type="text" id="shelfNo" class="form-control"
                      formControlName="shelfNo" (keydown.enter)="focusNextInput('barcode')" />
                    <div class="input-group-append">
                      <button type="button" style="height: 100%" (click)="clearShelfNumbers()" class="btn btn-primary">
                        <i class="fa-solid fa-broom"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <!-- <label *ngIf="shelfNumbers !== 'RAFLAR:'" for="shelfNo">{{
                  shelfNumbers
                }}</label> -->
              </div>

              <div class="row mb-3">
                <div class="form-group">
                  <input placeholder="Barkod" pInputText type="text" id="barcode" class="form-control"
                    formControlName="barcode" (keydown.enter)="onSubmit(checkForm.value)" />
                  <div class="input-group-append">
                    <!-- <button type="button" class="btn btn-primary">Camera</button> -->
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <div class="form-group">
                    <input pInputText type="number" placeholder="Miktar" id="quantity" class="form-control"
                      formControlName="quantity" />
                  </div>
                </div>

                <div class="form-group col">
                  <div class="form-group">
                    <input placeholder="Parti" pInputText type="text" id="batchCode" class="form-control"
                      formControlName="batchCode" />
                  </div>
                </div>
              </div>
            </form>

            <div class="row mb-3">
              <div class="col-md-6">
                <button type="button" class="btn btn-primary" style="width: 100%" (click)="onSubmit(checkForm.value)">
                  Ekle
                </button>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-primary" style="width: 100%"
                  (click)="refundToCenter(this.currentOrderNo)">
                  Gönder
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="card" *ngIf="productsToCollect.length > 0">
          <div class="card-body">
            <h5 class="card-title">Toplanacak Ürünler</h5>
            <div class="table-responsive">
              <p-table [value]="productsToCollect" class="table" [paginator]="true" [rows]="5"
                [responsiveLayout]="'scroll'">
                <ng-template pTemplate="header">
                  <tr>
                    <th *ngFor="let header of tableHeaders">
                      {{ header }}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-i="index">
                  <tr
                    [ngClass]="{ 'green-row': product.colorDescription == '1', 'success-row': product.quantity === 0 }">
                    <td>
                      <p-image src="{{ product.photoUrl }}" previewImageSrc="{{ product.photoUrl }}" alt="Image"
                        width="30" [preview]="true"></p-image>
                    </td>
                    <td>{{ product.shelfNo }}</td>
                    <td>{{ product.itemCode }}</td>
                    <td>{{ product.itemDescription.substring(0, 30) }}</td>
                    <td>{{ product.barcode }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.countedQty }}</td>
                    <td>{{ product.itemDim1Code }}</td>
                    <td>{{ product.colorDescription }}</td>
                    <td>{{ product.currentQty }}</td>
                    <td>
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <!-- Burada işlem butonları yer alabilir -->
                        <!-- Örnek:
          <button class="btn btn-primary" type="submit" (click)="deleteOrderProduct(orderNo, product)">
            <i class="fa fa-trash"></i>
          </button>
          -->
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>

            </div>
          </div>
        </div>

        <div class="card" *ngIf="lastCollectedProducts.length > 0">
          <div class="card-body">
            <h5 class="card-title">Toplanan Ürünler</h5>
            <div class="table-responsive">
              <p-table [value]="lastCollectedProducts" class="table" [paginator]="true" [rows]="10"
                [responsiveLayout]="'scroll'">
                <ng-template pTemplate="header">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Fotoğraf</th>
                    <th scope="col">Raf</th>
                    <th scope="col">Ürün Kodu</th>
                    <th scope="col">Rafa Giren Miktar</th>
                    <th scope="col">Barkod</th>
                    <th scope="col">İşlemler</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-i="index">
                  <tr>
                    <td>{{ i + 1 }}</td>
                    <td>
                      <p-image src="{{ product.photoUrl }}" previewImageSrc="{{ product.photoUrl }}" alt="Image"
                        width="30" [preview]="true"></p-image>
                    </td>
                    <td>{{ product.shelfNo }}</td>
                    <td>{{ product.itemCode }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.barcode }}</td>
                    <td>
                      <div class="btn-group">
                        <button class="btn btn-primary" type="submit"
                          (click)="deleteOrderProduct(this.currentOrderNo, product)">
                          <i class="fas fa-trash"></i>
                        </button>
                        <!-- İsteğe bağlı ek işlemler için butonlar buraya eklenebilir -->
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>

            </div>
          </div>
        </div>

        <!-- Yeni kart: Toplanan Ürünler -->
        <div div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Toplanan Ürünler</h5>
            <h1 class="display-1">{{ totalCount }}</h1>
            <!--eklenen ürün miktarı yazcak! -->

            <p class="card-text">Adet Ürün Toplandı</p>
          </div>
        </div>
      </div>
    </div>




    <p-dialog header="Raflar" [(visible)]="productShelvesDialog">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button *ngFor="let shelve of productShelves; let i = index" (click)="setShelveToForm(shelve)" type="button"
          [ngClass]="i % 2 === 0 ? 'btn btn-primary' : 'btn btn-secondary'" style="height: 10rem">
          {{ shelve }}
        </button>
      </div>
    </p-dialog>

  </section>
</main>
