 ::ng-deep .p-dropdown {
   width: 100% !important;
 }


 .thin-column {
   width: 100px;
   /* Veya istediğiniz genişlik */
 }

 .payment-options {
   text-align: center;
   padding: 20px 0;
 }


 .btn-primary {
   background-color: #007bff;
   border-color: #007bff;
 }

 .btn-primary:hover {
   background-color: #0069d9;
   border-color: #0062cc;
 }

 .btn-block {
   display: block;
   width: 100%;
 }

 /* CSS dosyanızda bu medya sorgusunu kullanarak sadece mobil cihazlarda uygulanacak stil kurallarını belirleyebilirsiniz */
 @media (max-width: 600px) {

   ::ng-deep .p-datatable .p-datatable-tbody td,
   /* ::ng-deep .p-datatable .p-datatable-thead th {
    font-size: 13px;
  } */

   td {
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;

     overflow-x: auto;

   }

   /* .mobilebutton {
    height: 40px;
    width: 40px;
  } */
 }

 .table-wrapper {
   margin-bottom: 2rem;
   border: 1px solid #dee2e6;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   border-radius: 0.25rem;
 }

 .selected-products-table {
   background-color: #f8f9fa;
   /* Hafif gri arkaplan rengi */
 }

 .table-header {
   background-color: #007bff;
   /* Bootstrap mavi rengi */
   color: #ffffff;
   padding: 0.75rem 1.25rem;
   border-bottom: 2px solid #dee2e6;
 }

 .table-header h5 {
   margin: 0;
 }

 .fileUpload {
   background: #00bcbe;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   color: #fff;
   font-size: 1em;
   font-weight: bold;
   margin: 1.25em auto;
   /*20px/16px 0*/
   overflow: hidden;
   padding: 0.875em;
   /*14px/16px*/
   position: relative;
   text-align: center;
   width: 120px;
   cursor: pointer;
 }

 .fileUpload:hover,
 .fileUpload:active,
 .fileUpload:focus {
   background: #00a2a4;
   cursor: pointer;
 }

 .fileUpload input.upload {
   position: absolute;
   top: 0;
   right: 0;
   margin: 0;
   padding: 0;
   font-size: 20px;
   cursor: pointer;
   opacity: 0;
   filter: alpha(opacity=0);
   width: 148px;
   height: 46px;
   cursor: pointer;
 }

 input[type="file"] {
   position: fixed;
   right: 100%;
   bottom: 100%;
 }

 .custom-file-upload {
   border: 1px solid #ccc;
   display: inline-block;
   padding: 6px 12px;
   cursor: pointer;
 }

 .fileUpload {
   background: #007bff;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   color: #fff;
   font-size: 1em;
   font-weight: bold;
   margin: 1.25em auto;
   /*20px/16px 0*/
   overflow: hidden;
   padding: 0.875em;
   /*14px/16px*/
   position: relative;
   text-align: center;
   width: 120px;
   cursor: pointer;
 }

 .fileUpload:hover,
 .fileUpload:active,
 .fileUpload:focus {
   background: #007bff;
   cursor: pointer;
 }

 .fileUpload input.upload {
   position: absolute;
   top: 0;
   right: 0;
   margin: 0;
   padding: 0;
   font-size: 20px;
   cursor: pointer;
   opacity: 0;
   filter: alpha(opacity=0);
   width: 148px;

   cursor: pointer;
 }

 input[type="file"] {
   position: fixed;
   right: 100%;
   bottom: 100%;
 }

 .custom-file-upload {
   border: 1px solid #ccc;
   display: inline-block;
   padding: 6px 12px;
   cursor: pointer;
 }

 .card-hover {
   cursor: pointer;
 }

 .card-hover:hover {
   transform: scale(1.05);
   /* Kartı büyüt */
   transition: transform 0.3s ease-in-out;
   /* Animasyon için geçiş süresi */
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
   /* Gölgelendirme efekti */
 }