<main id="main" class="main">
  <section class="section">
    <!-- Kupon Ekleme Dialog -->
    <p-dialog header="İndirim Kuponu Tanımla" [(visible)]="couponDialog" [modal]="true" [style]="{width: '50vh'}">
      <div class="form-group">
        <label for="type">Yüzde İndirim Mi?</label>

        <p-inputSwitch id="type" type="text" class="form-control" [(ngModel)]="couponType"
          placeholder="Yüzdelik için true, sabit için false" />
      </div>
      <div class="form-group">
        <label for="value">İndirim Değeri</label>
        <input id="value" type="number" class="form-control" [(ngModel)]="couponValue"
          placeholder="İndirim Değerini Girin">
      </div>
      <div class="form-group">
        <label for="response">Gelen Yanıt</label>
        <input id="response" type="text" class="form-control" [(ngModel)]="couponResponse" readonly>
      </div>
      <p-footer>
        <button class="btn btn-success" (click)="createCoupon(couponType, couponValue)">Oluştur</button>
      </p-footer>
    </p-dialog>

    <div class="card">
      <div class="card-body p-4">

        <div class="btn-group" role="group" aria-label="Basic example">
          <button class="btn btn-success" (click)="this.couponDialog =true"> Kupon Tanımla</button>
          <button class="btn btn-success" (click)="runOfferService()"> Servisi Çalıştır</button>
        </div>

      </div>
    </div>

    <div class="card">
      <div class="card-body p-4">
        <p-table #dt2 [value]="offers" [(selection)]="selectedOffers" dataKey="orderNo" [paginator]="true"
          [rowsPerPageOptions]="[5, 10, 20]" [rows]="10" [tableStyle]="{ 'min-width': '45rem' }">

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="orderNo">Sipariş Numarası<p-sortIcon field="orderNo"></p-sortIcon>
              </th>
              <th pSortableColumn="customerName">Müşteri Adı<p-sortIcon field="customerName"></p-sortIcon>
              </th>
              <th pSortableColumn="customerSurname">Müşteri Soyadı<p-sortIcon field="customerSurname"></p-sortIcon>
              </th>
              <th pSortableColumn="childName">Çocuk Adı<p-sortIcon field="childName"></p-sortIcon>
              </th>
              <th pSortableColumn="childSurname">Çocuk Soyadı<p-sortIcon field="childSurname"></p-sortIcon>
              </th>
              <th pSortableColumn="childBornDate">Doğum Tarihi<p-sortIcon field="childBornDate"></p-sortIcon>
              </th>
              <th>İşlemler</th>
            </tr>
            <tr>
              <th>
                <p-columnFilter type="text" field="orderNo" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="customerName" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="customerSurname" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="childName" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="childSurname" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="date" field="childBornDate" [showClearButton]="false"></p-columnFilter>
              </th>
              <th></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-offer>
            <tr>
              <td>{{ offer.orderNo }}</td>
              <td>{{ offer.customerName }}</td>
              <td>{{ offer.customerSurname }}</td>
              <td>{{ offer.childName }}</td>
              <td>{{ offer.childSurname }}</td>
              <td>{{ offer.childBornDate | date: 'dd/MM/yyyy' }}</td>
              <td>

                <div class="btn-group" role="group" aria-label="Basic example">
                  <button class="btn btn-primary" (click)="viewDetails(offer)"
                    [disabled]="offer.ideasoftOfferDetails.length < 1"> <i class="fa fa-pencil"
                      aria-hidden="true"></i></button>
                  <button class="btn btn-danger" (click)="deleteOffer(offer.id)"><i class="fa fa-trash"
                      aria-hidden="true"></i></button>
                </div>

              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">Hiçbir sipariş bulunamadı.</td>
            </tr>
          </ng-template>
        </p-table>

      </div>
    </div>

    <!-- Kuponları Gösteren Dialog -->
    <p-dialog header="Kupon Detayları" [(visible)]="dialog" [modal]="true" [style]="{width: '80vh'}">
      <p-table [value]="selectedCoupons">
        <ng-template pTemplate="header">
          <tr>
            <th>Kupon Kodu</th>
            <th>Oluşturulma Tarihi</th>
            <th>Bitiş Tarihi</th>
            <th>Değer</th>
            <th>İndirim Türü</th>
            <th>İşlemler</th> <!-- İşlemler sütunu eklendi -->
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-coupon>
          <tr>
            <td>{{ coupon.coupon }}</td>
            <td>{{ coupon.couponCreatedDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ coupon.couponEndDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ coupon.couponValue }}</td>
            <td>{{ coupon.isPercentageDiscount ? 'Yüzdelik' : 'Sabit' }}</td>
            <td>
              <button class="btn btn-primary" (click)="deleteOfferDetail(coupon.id)"></button>
              <!-- Silme butonu eklendi -->
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-dialog>


  </section>
</main>
