<main id="main" class="main">
    <!-- <div class="pagetitle">
    <h1>Sayım Paneli</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Tables</li>  
        <li class="breadcrumb-item active">Sayım Paneli</li>
      </ol>
    </nav>
  </div> -->

    <section class="section">
        <div class="row">
            <div style="width: 100%">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Etiket Oluştur</h5>



                        <div class="tab-content" id="ex2-content">
                            <div class="tab-pane fade show" [class.active]="activeTab === 1" id="ex3-tabs-1"
                                role="tabpanel" aria-labelledby="ex3-tab-1">
                                <form [formGroup]="checkForm" (ngSubmit)="onSubmit(checkForm.value)">


                                    <div class="row mb-3">
                                        <div class="form-group">
                                            <label for="barcode">Barkod</label>
                                            <input type="text" id="barcode" class="form-control"
                                                formControlName="barcode" [disabled]="checkForm.disabled"
                                                (keydown.enter)="onSubmit(checkForm.value)" />
                                        </div>
                                    </div>
                                    <div class="form-group col">
                                        <div class="form-group">
                                            <label for="itemCode">Ürün Kodu</label>

                                            <input type="text" id="itemCode" class="form-control"
                                                formControlName="itemCode" (keydown.enter)="onSubmit(checkForm.value)"
                                                [disabled]="checkForm.disabled" />
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <div class="form-group">
                                            <label for="shelfNo">Raf No:</label>
                                            <div class="input-group">
                                                <input type="text" id="shelfNo" class="form-control"
                                                    formControlName="shelfNo" />
                                                <div class="input-group-append">
                                                    <button type="button" (click)="clearShelfNumbers()"
                                                        class="btn btn-dark">
                                                        Formu Temizle
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <label *ngIf="shelfNumbers !== 'RAFLAR:'" for="shelfNo">{{
                                            shelfNumbers
                                            }}</label>
                                    </div>

                                    <div class="row mb-3">



                                        <div class="form-group col">
                                            <div class="form-group">
                                                <label for="quantity">Miktar</label>

                                                <input type="number" id="quantity" class="form-control"
                                                    formControlName="quantity" [disabled]="checkForm.disabled" />
                                            </div>
                                        </div>


                                        <div class="form-group col">
                                            <div class="form-group">
                                                <label for="batchCode">Parti</label>

                                                <input type="text" id="batchCode" class="form-control"
                                                    formControlName="batchCode"
                                                    (keydown.enter)="onSubmit(checkForm.value)"
                                                    [disabled]="checkForm.disabled" />
                                            </div>
                                        </div>



                                    </div>
                                    <div class="row mb-3">
                                        <div class="form-group col">
                                            <div class="form-group">
                                                <label for="boxArea">Kutu</label>

                                                <input type="text" id="boxArea" class="form-control"
                                                    formControlName="boxArea"
                                                    (keydown.enter)="onSubmit(checkForm.value)"
                                                    [disabled]="checkForm.disabled" />
                                            </div>
                                        </div>

                                        <div class="form-group col">
                                            <div class="form-group">
                                                <label for="itemDesc">Ürün Adı</label>

                                                <input type="text" id="itemDesc" class="form-control"
                                                    formControlName="itemDesc"
                                                    (keydown.enter)="onSubmit(checkForm.value)"
                                                    [disabled]="checkForm.disabled" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mb-3">

                                        <div class="row mb-3">
                                            <div class="form-group col">
                                                <div class="form-group">
                                                    <label for="address">Adress</label>

                                                    <input type="text" id="address" class="form-control"
                                                        formControlName="address"
                                                        (keydown.enter)="onSubmit(checkForm.value)"
                                                        [disabled]="checkForm.disabled" />
                                                </div>
                                            </div>

                                            <div class="form-group col">
                                                <div class="form-group">
                                                    <label for="brand">Marka</label>

                                                    <input type="text" id="brand" class="form-control"
                                                        formControlName="brand"
                                                        (keydown.enter)="onSubmit(checkForm.value)"
                                                        [disabled]="checkForm.disabled" />
                                                </div>
                                            </div>


                                        </div>

                                        <div class="form-group col">
                                            <button type="button" class="btn btn-dark"
                                                style="margin-left: 10px; color: white"
                                                (click)="onSubmit(checkForm.value)" style="width: 100%;">
                                                Etiket Oluştur
                                            </button>

                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="tab-pane fade show" [class.active]="activeTab === 2" id="ex3-tabs-2"
                                role="tabpanel-2" aria-labelledby="ex3-tab-2"></div>
                            <div class="tab-pane fade show" [class.active]="activeTab === 3" id="ex3-tabs-3"
                                role="tabpanel-3" aria-labelledby="ex3-tab-3">
                                Prices
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" *ngIf="qrCodeValue!=''" style="max-width:450px">

                    <div class="card-body" >
                        <h5 class="card-title">Etiket</h5>
                        <div class="qr-container">
                            <div class="container border">
                                <div #captureElement>

                                    <div class="row" > 

                                        <div class="col-4" style=""> 
                                            <div class="row">
                                                <qrcode (qrCodeURL)="onChangeURL($event)" [qrdata]="qrCodeValue"
                                                [width]="125" [errorCorrectionLevel]="'M'"></qrcode>
                                            </div>
                                            <div class="row" style="font-size:12px ;margin-left: 2px;" >
                                                <p>www.davye.com</p>
                                            </div>
                                        </div>
                                 
                              

                                        <div class="col-4" style="font-size:10px;color:black;font-weight: bold; ;">
                                            <div style=" max-width:300px;padding: 5px;" >
                                                
                                                <p >
                                                    <span class="boldChar">REF</span> {{ this.products[0].itemCode }}
                                                </p>
                                                   
                                                <p >
                                                    <span class="boldChar">LOT</span> {{ this.products[0].batchCode }}
                                                </p>

                                                <p >
                                                    <span class="boldChar">DATE</span> {{ this.date }}
                                                </p>

                                                <p >
                                                    {{ "Boğaziçi Diş Deposu \n 0212 523 3518" }}
                                                </p>
                                                
                                                <p >
                                                    {{"0554 551 95 34" }}
                                                </p>
                                                
                                              


                                              


                                            </div>

                                        </div>
                                        <div class="col-4" style="font-size:10px;color:black;font-weight: bold;">
                                            <div style=" max-width:100px;padding: 5px;" >
                                                <p  >
                                                    {{ this.products[0].description
                                                      }}
                                                  </p>
                                                <p >
                                                     {{ this.brand == null ? "Melih Günal Dental Medikal
                                                    SAN.TİC.LTD.ŞTİ" :
                                                    this.brand }}
                                                </p>
                                               


                                            </div>


                                        </div>
                                     
                                    </div>
                                </div>
                            </div>



                            <div style="clear: both;"></div>



                        </div>

                        
                        <div class="form-group col">


                            <button type="button" class="btn btn-dark" style="margin-left: 10px; color: white"
                                (click)="saveQr(this.checkForm.value)" style="width: 100%;">
                                <i class="fa fa-print"></i> Etiket Yazdır
                            </button>

                            <!-- >Download -->


                        </div>
                    </div>


                </div>

            </div>
        </div>

    </section>
</main>