<main id="main" class="main">
    <!-- <div class="pagetitle">
      <h1>Sayım Paneli</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item">Tables</li>  
          <li class="breadcrumb-item active">Sayım Paneli</li>
        </ol>
      </nav>
    </div> -->

    <section class="section">
        <div class="row">
            <div style="width: 100%">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Etiket Oluştur</h5>



                        <div class="tab-content" id="ex2-content">
                            <div class="tab-pane fade show" [class.active]="activeTab === 1" id="ex3-tabs-1"
                                role="tabpanel" aria-labelledby="ex3-tab-1">
                                <form [formGroup]="checkForm" (ngSubmit)="onSubmit(checkForm.value)">


                                  <div class="row mb-3">
                                    <div class="form-group">
                                      <label for="barcode">Barkod:</label>
                                      <input type="text" id="barcode" class="form-control"
                                        formControlName="barcode" />
                                    </div>
                                  </div>



                                  <div class="row mb-3">
                                    <div class="form-group">
                                      <label for="itemCode">Ürün Kodu:</label>
                                      <input type="text" id="itemCode" class="form-control"
                                        formControlName="itemCode" />
                                    </div>
                                  </div>



                                    <div class="row mb-3">
                                        <div class="form-group">
                                          <label for="lotArea">Parti Alanı:</label>
                                          <input type="text" id="lotArea" class="form-control"
                                            formControlName="lotArea" />
                                        </div>
                                      </div>


                                    <div class="row mb-3">
                                      <div class="form-group">
                                        <label for="boxArea">Kutu Alanı:</label>
                                        <input type="text" id="boxArea" class="form-control"
                                          formControlName="boxArea" />
                                      </div>
                                    </div>
                                  
                                    <div class="row mb-3">
                                      <div class="form-group">
                                        <label for="itemArea">Ürün Alanı:</label>
                                        <input type="text" id="itemArea" class="form-control"
                                          formControlName="itemArea" />
                                      </div>
                                    </div>
                                  
                                    <!-- <div class="row mb-3">
                                      <div class="form-group">
                                        <label for="productBarcodeJSON">Ürün Barkod JSON:</label>
                                        <input type="text" id="productBarcodeJSON" class="form-control"
                                          formControlName="productBarcodeJSON" />
                                      </div>
                                    </div>
                                   -->
                                    <div class="row mb-3">
                                      <div class="form-group">
                                        <label for="qtyArea">Miktar Alanı:</label>
                                        <input type="number" id="qtyArea" class="form-control"
                                          formControlName="qtyArea" />
                                      </div>
                                    </div>
                                  
                                    <!-- <div class="row mb-3">
                                      <div class="form-group">
                                        <label for="topBarcodeJSON">Üst Barkod JSON:</label>
                                        <input type="text" id="topBarcodeJSON" class="form-control"
                                          formControlName="topBarcodeJSON" />
                                      </div>
                                    </div>
                                   -->
                                    <div class="row mb-3">
                                      <div class="form-group">
                                        <label for="refArea">Referans Alanı:</label>
                                        <input type="text" id="refArea" class="form-control"
                                          formControlName="refArea" />
                                      </div>
                                    </div>
                                  
                                    <div class="row mb-3">
                                      <div class="form-group">
                                        <label for="dateArea">Tarih Alanı:</label>
                                        <input type="date" id="dateArea" class="form-control"
                                          formControlName="dateArea" />
                                      </div>
                                    </div>
                                  
                                    <div class="row mb-3">
                                      <div class="form-group">
                                        <label for="addressArea">Adres Alanı:</label>
                                        <input type="text" id="addressArea" class="form-control"
                                          formControlName="addressArea" />
                                      </div>
                                    </div>
                                  
                                    <div class="row mb-3">
                                      <div class="form-group col">
                                        <button type="submit" class="btn btn-dark" style="width: 100%;">
                                          Gönder
                                        </button>
                                      </div>
                                    </div>
                                  
                                  </form>
                                  
                            </div>
                            <div class="tab-pane fade show" [class.active]="activeTab === 2" id="ex3-tabs-2"
                                role="tabpanel-2" aria-labelledby="ex3-tab-2"></div>
                            <div class="tab-pane fade show" [class.active]="activeTab === 3" id="ex3-tabs-3"
                                role="tabpanel-3" aria-labelledby="ex3-tab-3">
                                Prices
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" *ngIf="qrCodeValue!=''">

                    <div class="card-body">
                        <h5 class="card-title">Etiket</h5>
                        <div class="qr-container">
                            <qrcode style="display:none ;" (qrCodeURL)="onChangeURL($event)" [qrdata]="qrCodeValue"
                                [width]="200" [errorCorrectionLevel]="'M'"></qrcode>
                            <div id="print-section">

                                <img [src]="qrCodeDownloadLink" alt="">
                               <p style="font-size: 10 px;">{{qrCodeValue2}}</p>
                               <p style="font-size: 10 px;">{{qrCodeValue3}}</p>
                            </div>  

                        </div>
                        <div class="row mb-3">

                        </div>

                        <div class="form-group col">


                            <button type="button" class="btn btn-dark" style="margin-left: 10px; color: white"
                              (click)="saveQr(this.checkForm.value)"  style="width: 100%;">
                                <i class="fa fa-print"></i> Etiket Yazdır
                            </button>

                            <!-- >Download -->


                        </div>
                    </div>


                </div>

            </div>
        </div>

    </section>
</main>