<main id="main" class="main">
  <section class="section">
    <div class="card" *ngIf="this.raportID ==1 || this.raportID==0 ">
      <div class="card-body p-4">
        <div class="form-row">
          <div class="form-group col-md-12 mb-3">
            <div class="input-group">
              <input pInputText placeholder="Stok Kodu" type="search" id="itemCode" class="form-control"
                [(ngModel)]="search" />
              <div class="input-group-append">
                <button (click)="handleOnSubmit()" class="btn btn-primary" type="submit" style="height: 100%">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="card" *ngIf="productInventoryRaports.length > 0 && this.raportID == 0 ">
      <p-table #dt (onFilter)="onFilter($event,0)" [value]="productInventoryRaports" dataKey="itemCode" [rows]="10"
        [paginator]="true" [globalFilterFields]="['itemDescription', 'itemCode', 'warehouseCode']">
        <ng-template pTemplate="caption">
          <div class="p-4 card-body d-flex justify-content-start" style="overflow-x: auto">
            <p-splitButton label="İşlemler" [model]="items_0" appendTo="body" />
          </div>

        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th>Resim</th>
            <th pSortableColumn="itemDescription">
              Marka
              <p-sortIcon field="itemDescription"></p-sortIcon>
            </th>
            <th pSortableColumn="itemDescription">
              Ürün Açıklaması
              <p-sortIcon field="itemDescription"></p-sortIcon>
            </th>
            <th pSortableColumn="itemCode">
              Ürün Kodu
              <p-sortIcon field="itemCode"></p-sortIcon>
            </th>
            <th pSortableColumn="warehouseCode">
              Depo
              <p-sortIcon field="warehouseCode"></p-sortIcon>
            </th>
            <th pSortableColumn="qty">
              Miktar
              <p-sortIcon field="qty"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th>
              <!-- Optional: Placeholder for image filter if needed -->
            </th>
            <th>
              <p-columnFilter type="text" field="brand" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="itemDescription" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="itemCode" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="warehouseCode" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="qty" [showClearButton]="false"></p-columnFilter>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-product>
          <tr>
            <td class="image-icon-td">
              <p-image src="data:image/jpeg;base64,{{ product.photo }}" alt="Image" width="50" [preview]="true">
              </p-image>
            </td>
            <td>{{ product.brand }}</td>
            <td>{{ product.itemDescription }}</td>
            <td>{{ product.itemCode }}</td>
            <td>{{ product.warehouseCode }}</td>
            <td>{{ product.qty }}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">No products found.</td>
          </tr>
        </ng-template>
      </p-table>


    </div>
    <div class="card" *ngIf="productExtractRaports.length > 0 && this.raportID == 1">
      <p-table #dt (onFilter)="onFilter($event,1)" [value]="productExtractRaports" dataKey="productCode" [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
        [globalFilterFields]="['productCode', 'operationDate', 'processCode', 'processDescription']"
        [tableStyle]="{ 'min-width': '75rem' }">

        <ng-template pTemplate="caption">
          <div class="p-4 card-body d-flex justify-content-start" style="overflow-x: auto">
            <p-splitButton label="İşlemler" [model]="items_1" appendTo="body" />
          </div>

        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="productCode">
              Ürün Kodu
              <p-sortIcon field="productCode"></p-sortIcon>
            </th>
            <th pSortableColumn="operationDate">
              İşlem Tarihi
              <p-sortIcon field="operationDate"></p-sortIcon>
            </th>
            <th pSortableColumn="processDescription">
              İşlem Açıklaması
              <p-sortIcon field="processDescription"></p-sortIcon>
            </th>
            <th pSortableColumn="transTypeDescription">
              İşlem Türü Açıklaması
              <p-sortIcon field="transTypeDescription"></p-sortIcon>
            </th>

            <th pSortableColumn="in_Qty1">
              Giriş Miktarı
              <p-sortIcon field="in_Qty1"></p-sortIcon>
            </th>
            <th pSortableColumn="out_Qty1">
              Çıkış Miktarı
              <p-sortIcon field="out_Qty1"></p-sortIcon>
            </th>
            <th pSortableColumn="inventoryQty1">
              Stok Miktarı
              <p-sortIcon field="inventoryQty1"></p-sortIcon>
            </th>

            <th pSortableColumn="warehouseCode">
              Depo Kodu
              <p-sortIcon field="warehouseCode"></p-sortIcon>
            </th>
            <th pSortableColumn="warehouseDescription">
              Depo Açıklaması
              <p-sortIcon field="warehouseDescription"></p-sortIcon>
            </th>

          </tr>
          <tr>

            <th>
              <p-columnFilter type="text" field="productCode" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="date" field="operationDate" [showClearButton]="false"></p-columnFilter>
            </th>

            <th>
              <p-columnFilter type="text" field="processDescription" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="transTypeDescription" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="in_Qty1" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="out_Qty1" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="inventoryQty1" [showClearButton]="false"></p-columnFilter>
            </th>

            <th>
              <p-columnFilter type="text" field="warehouseCode" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="warehouseDescription" [showClearButton]="false"></p-columnFilter>
            </th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td>{{ product.productCode }}</td>
            <td>{{ product.operationDate }}</td>
            <td>{{ product.processDescription }}</td>
            <td>{{ product.transTypeDescription }}</td>
            <td>{{ product.in_Qty1 }}</td>
            <td>{{ product.out_Qty1 }}</td>
            <td>{{ product.inventoryQty1 }}</td>
            <td>{{ product.warehouseCode }}</td>
            <td>{{ product.warehouseDescription }}</td>

          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="30">No products found.</td>
          </tr>
        </ng-template>
      </p-table>

    </div>

    <div class="card" *ngIf="bestSellers.length > 0 && this.raportID == 2">
      <p-table #dt (onFilter)="onFilter($event,2)" [value]="bestSellers" dataKey="productCode" [rows]="50"
        [paginator]="true" [globalFilterFields]="['productCode', 'productDescription']">
        <ng-template pTemplate="caption">
          <div class="p-4 card-body d-flex justify-content-start" style="overflow-x: auto">
            <p-splitButton label="İşlemler" [model]="items_2" appendTo="body" />
          </div>

        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th>Resim</th>
            <th pSortableColumn="productCode">
              Ürün Kodu
              <p-sortIcon field="productCode"></p-sortIcon>
            </th>
            <th pSortableColumn="productDescription">
              Ürün Açıklaması
              <p-sortIcon field="productDescription"></p-sortIcon>
            </th>
            <th pSortableColumn="totalSalesQty1">
              Toplam Satış Miktarı
              <p-sortIcon field="totalSalesQty1"></p-sortIcon>
            </th>
            <th pSortableColumn="salesWithoutTax">
              Vergisiz Satış
              <p-sortIcon field="salesWithoutTax"></p-sortIcon>
            </th>
            <th pSortableColumn="salesWithTax">
              Vergili Satış
              <p-sortIcon field="salesWithTax"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th>
              <!-- Optional: Placeholder for image filter -->
            </th>
            <th>
              <p-columnFilter type="text" field="productCode" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="productDescription" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="totalSalesQty1" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="salesWithoutTax" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="salesWithTax" [showClearButton]="false"></p-columnFilter>
            </th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-report>
          <tr>
            <td class="image-icon-td">
              <p-image src="{{ report.photo }}" alt="Image" width="50" [preview]="true">
              </p-image>
            </td>
            <td>{{ report.productCode }}</td>
            <td>{{ report.productDescription }}</td>
            <td>{{ report.totalSalesQty1 }}</td>
            <td>{{ report.salesWithoutTax | currency:'₺'}}</td>
            <td>{{ report.salesWithTax | currency:'₺' }}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">No best seller reports found.</td>
          </tr>
        </ng-template>
      </p-table>

    </div>
    <div class="card" *ngIf=" this.raportID == 3">
      <p-table [value]="bsQueryMasterVms" [paginator]="true" [rows]="50" [rowsPerPageOptions]="[50, 75, 100]"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="queryId">
              Rapor ID
              <p-sortIcon field="queryId"></p-sortIcon>
            </th>
            <th pSortableColumn="description">
              Açıklama
              <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th>İşlemler</th>
          </tr>
          <tr>
            <th>
              <p-columnFilter type="text" field="queryID" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="description" [showClearButton]="false"></p-columnFilter>
            </th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-query>
          <tr>
            <td>{{ query.queryID }}</td>
            <td>{{ query.description }}</td>
            <td>
              <button class="btn btn-primary" (click)="onSelectReport(query)">
                <i class="fa fa-eye" aria-hidden="true"></i> Görüntüle
              </button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="footer">
          <tr>
            <td colspan="3">
              Toplam: {{ filteredBsQueryMasterVms.length }} Rapor
            </td>
          </tr>
        </ng-template>
      </p-table>
      <!-- Dinamik Form -->
      <!-- Dinamik Form -->
      <p-dialog header="Rapor Parametreleri" [(visible)]="displayForm" [modal]="true" [closable]="false"
        [responsive]="true" [style]="{width: '500px'}">
        <form (ngSubmit)="onSubmitFinalQuery()">
          <div *ngFor="let param of selectedQueryParams" class="form-group">
            <label>{{ columnTranslations[param.description] || param.description }}</label>
            <ng-container [ngSwitch]="param.type">
              <!-- String Input -->
              <input *ngSwitchCase="'string'" type="text" class="form-control" [(ngModel)]="param.value"
                [name]="param.description" />

              <!-- Number Input -->
              <input *ngSwitchCase="'number'" type="number" class="form-control" [(ngModel)]="param.value"
                [name]="param.description" />

              <!-- Date Input -->
              <input *ngSwitchCase="'date'" type="date" class="form-control" [(ngModel)]="param.value"
                [name]="param.description" />

              <!-- Boolean Input (Checkbox) -->
              <div *ngSwitchCase="'boolean'" class="form-check">
                <input type="checkbox" class="form-check-input" [(ngModel)]="param.value" [name]="param.description" />
                <label class="form-check-label">{{ param.description }}</label>
              </div>

              <!-- Default Input (String as fallback) -->
              <input *ngSwitchDefault type="text" class="form-control" [(ngModel)]="param.value"
                [name]="param.description" />
            </ng-container>
          </div>
          <div class="mt-3 text-right">
            <button type="button" class="btn btn-secondary mr-2" (click)="onCancelDialog()">İptal</button>
            <button type="submit" class="btn btn-success">Çalıştır</button>
          </div>
        </form>
      </p-dialog>
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th *ngFor="let column of displayedColumns"> {{ columnTranslations[column] || (column | titlecase) }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let element of dataSource">
              <td *ngFor="let column of displayedColumns">{{ element[column] }}</td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>

    <div *ngIf="this.raportID == 4 && this.assurSaleReport != null">
      <div class="card mb-3">
        <div class="card-body p-3">
          <button class="btn btn-success" style="width: 100%;" (click)="filterDialog=true">Filtreyi Aç</button>
        </div>
      </div>
      <p-tabView>
        <p-tabPanel header="Satış Raporu">
          <div>
            <p-table (onFilter)="onFilter($event,4.1)" [value]="this.assurSaleReport.saleReports" [paginator]="true"
              [rows]="10" [globalFilterFields]="['invoice_No', 'customer_Name']">
              <ng-template pTemplate="caption">
                <div class="p-4 card-body d-flex justify-content-start" style="overflow-x: auto">
                  <p-splitButton label="İşlemler" [model]="items_4_1" appendTo="body" />
                </div>

              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>Fatura No <p-sortIcon field="invoice_No"></p-sortIcon>
                  </th>
                  <th>Tarih <p-sortIcon field="date"></p-sortIcon>
                  </th>
                  <th>Fatura Türü <p-sortIcon field="invoice_Type"></p-sortIcon>
                  </th>
                  <th>Genel Toplam <p-sortIcon field="total_Amount"></p-sortIcon>
                  </th>
                  <th>Toplam KDV <p-sortIcon field="total_VAT"></p-sortIcon>
                  </th>
                  <th>Cari Kodu <p-sortIcon field="customer_Code"></p-sortIcon>
                  </th>
                  <th>Cari Unvanı <p-sortIcon field="customer_Name"></p-sortIcon>
                  </th>
                </tr>
                <tr>
                  <th>
                    <p-columnFilter type="text" field="invoice_No" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="date" field="date" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="invoice_Type" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="numeric" field="total_Amount" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="numeric" field="total_VAT" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="customer_Code" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="customer_Name" [showClearButton]="false"></p-columnFilter>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-report>
                <tr>
                  <td>{{ report.invoice_No }}</td>
                  <td>{{ report.date | date }}</td>
                  <td>{{ report.invoice_Type }}</td>
                  <td>{{ report.total_Amount | currency }}</td>
                  <td>{{ report.total_VAT | currency }}</td>
                  <td>{{ report.customer_Code }}</td>
                  <td>{{ report.customer_Name }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Stok Raporu">
          <div *ngIf="this.assurSaleReport != null">
            <p-table (onFilter)="onFilter($event,4.2)" [value]="this.assurSaleReport.stockReports" [paginator]="true"
              [rows]="10" [globalFilterFields]="['stock_Code', 'stock_Name']">
              <ng-template pTemplate="caption">
                <div class="p-4 card-body d-flex justify-content-start" style="overflow-x: auto">
                  <p-splitButton label="İşlemler" [model]="items_4_2" appendTo="body" />
                </div>

              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>Stok Kodu <p-sortIcon field="stock_Code"></p-sortIcon>
                  </th>
                  <th>Stok Adı <p-sortIcon field="stock_Name"></p-sortIcon>
                  </th>
                  <th>Birimi <p-sortIcon field="unit"></p-sortIcon>
                  </th>
                  <th>Miktarı <p-sortIcon field="quantity"></p-sortIcon>
                  </th>
                  <th>Fiyati <p-sortIcon field="price"></p-sortIcon>
                  </th>
                  <th>Ara Tutar <p-sortIcon field="subtotal"></p-sortIcon>
                  </th>
                  <th>KDVli Toplam <p-sortIcon field="total_With_VAT"></p-sortIcon>
                  </th>
                </tr>
                <tr>
                  <th>
                    <p-columnFilter type="text" field="stock_Code" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="stock_Name" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="unit" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="numeric" field="quantity" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="numeric" field="price" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="numeric" field="subtotal" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="numeric" field="total_With_VAT" [showClearButton]="false"></p-columnFilter>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-report>
                <tr>
                  <td>{{ report.stock_Code }}</td>
                  <td>{{ report.stock_Name }}</td>
                  <td>{{ report.unit }}</td>
                  <td>{{ report.quantity }}</td>
                  <td>{{ report.price | currency }}</td>
                  <td>{{ report.subtotal | currency }}</td>
                  <td>{{ report.total_With_VAT | currency }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Mali Rapor">
          <div *ngIf="this.assurSaleReport != null">
            <p-table (onFilter)="onFilter($event,4.3)" [value]="this.assurSaleReport.financialReports" [paginator]="
              true" [rows]="10" [globalFilterFields]="['process']">
              <ng-template pTemplate="caption">
                <div class="p-4 card-body d-flex justify-content-start" style="overflow-x: auto">
                  <p-splitButton label="İşlemler" [model]="items_4_3" appendTo="body" />
                </div>

              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>Süreç <p-sortIcon field="process"></p-sortIcon>
                  </th>
                  <th>Genel Toplam <p-sortIcon field="totalAmount"></p-sortIcon>
                  </th>
                  <th>Toplam KDV <p-sortIcon field="total_VAT"></p-sortIcon>
                  </th>
                  <th>Toplam İskonto <p-sortIcon field="total_Discount"></p-sortIcon>
                  </th>
                </tr>
                <tr>
                  <th>
                    <p-columnFilter type="text" field="process" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="numeric" field="totalAmount" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="numeric" field="total_VAT" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="numeric" field="total_Discount" [showClearButton]="false"></p-columnFilter>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-report>
                <tr>
                  <td>{{ report.process }}</td>
                  <td>{{ report.totalAmount | currency }}</td>
                  <td>{{ report.total_VAT | currency }}</td>
                  <td>{{ report.total_Discount | currency }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Hesap Raporu">
          <div *ngIf="this.assurSaleReport != null">
            <p-table (onFilter)="onFilter($event,4.4)" [value]="this.assurSaleReport.accountReports" [paginator]="true"
              [rows]="10" [globalFilterFields]="['responsible']">
              <ng-template pTemplate="caption">
                <div class="p-4 card-body d-flex justify-content-start" style="overflow-x: auto">
                  <p-splitButton label="İşlemler" [model]="items_4_4" appendTo="body" />
                </div>

              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>Yetkilisi <p-sortIcon field="responsible"></p-sortIcon>
                  </th>
                  <th>Borç Tutarı <p-sortIcon field="debit_Amount"></p-sortIcon>
                  </th>
                  <th>Alacak Tutarı <p-sortIcon field="credit_Amount"></p-sortIcon>
                  </th>
                </tr>
                <tr>
                  <th>
                    <p-columnFilter type="text" field="responsible" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="numeric" field="debit_Amount" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="numeric" field="credit_Amount" [showClearButton]="false"></p-columnFilter>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-report>
                <tr>
                  <td>{{ report.responsible }}</td>
                  <td>{{ report.debit_Amount | currency }}</td>
                  <td>{{ report.credit_Amount | currency }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Envanter Raporu">
          <div *ngIf="this.assurSaleReport != null">
            <p-table [value]="this.assurSaleReport.inventoryReports" (onFilter)="onFilter($event,4.5)"
              [paginator]="true" [rows]="10" [globalFilterFields]="['stock_Code', 'stock_Name']">
              <ng-template pTemplate="caption">
                <div class="p-4 card-body d-flex justify-content-start" style="overflow-x: auto">
                  <p-splitButton label="İşlemler" [model]="items_4_5" appendTo="body" />
                </div>

              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>Stok Kodu <p-sortIcon field="stock_Code"></p-sortIcon>
                  </th>
                  <th>Stok Adı <p-sortIcon field="stock_Name"></p-sortIcon>
                  </th>
                  <th>Miktar Giren <p-sortIcon field="incoming_Quantity"></p-sortIcon>
                  </th>
                  <th>Miktar Çıkan <p-sortIcon field="outgoing_Quantity"></p-sortIcon>
                  </th>
                  <th>Miktar Kalan <p-sortIcon field="remaining_Quantity"></p-sortIcon>
                  </th>
                </tr>
                <tr>
                  <th>
                    <p-columnFilter type="text" field="stock_Code" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="stock_Name" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="numeric" field="incoming_Quantity" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="numeric" field="outgoing_Quantity" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="numeric" field="remaining_Quantity" [showClearButton]="false">
                    </p-columnFilter>
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-report>
                <tr>
                  <td>{{ report.stock_Code }}</td>
                  <td>{{ report.stock_Name }}</td>
                  <td>{{ report.incoming_Quantity }}</td>
                  <td>{{ report.outgoing_Quantity }}</td>
                  <td>{{ report.remaining_Quantity }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div *ngIf="this.raportID == 4 ">
      <p-dialog header="Rapor Parametreleri" [visible]="filterDialog" [modal]="true" [closable]="false"
        [position]="'top'" [responsive]="true" [style]="{width: '500px',height:'500px'}">
        <div>
          <label for="startDate">Başlangıç Tarihi:</label>
          <p-calendar appendTo="body" id="startDate" [(ngModel)]="startDate" dateFormat="mm/dd/yy"
            placeholder="Tarih Seç" required>
          </p-calendar>

          <label for="endDate">Bitiş Tarihi:</label>
          <p-calendar appendTo="body" id="endDate" [(ngModel)]="endDate" dateFormat="mm/dd/yy" placeholder="Tarih Seç"
            required>
          </p-calendar>

          <div class="footer">
            <button pButton label="Raporu Getir" (click)="getAssurSaleReport()"></button>
            <button pButton label="İptal" (click)="filterDialog = false"></button>
          </div>
        </div>
      </p-dialog>

    </div>

    <div *ngIf="this.raportID == 5">
      <div class="card mb-3">
        <div class="card-body p-3">
          <button class="btn btn-success" style="width: 100%;" (click)="filterDialog2=true">Filtreyi Aç</button>
        </div>
      </div>
      <p-table (onFilter)="onFilter($event,5)" [value]="tillReports" [paginator]="true" [rows]="10"
        [globalFilterFields]="['cashCode', 'cashName', 'documentNumber', 'description', 'accountCode', 'tradeTitle']">
        <ng-template pTemplate="caption">
          <div class="p-4 card-body d-flex justify-content-start" style="overflow-x: auto">
            <p-splitButton label="İşlemler" [model]="items_5" appendTo="body" />
          </div>

        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="cashCode">Kasa Kodu <p-sortIcon field="cashCode"></p-sortIcon>
            </th>
            <th pSortableColumn="cashName">Kasa Adı <p-sortIcon field="cashName"></p-sortIcon>
            </th>
            <th pSortableColumn="documentNumber">Evrak No <p-sortIcon field="documentNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="description">Açıklama <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="income">Gelir <p-sortIcon field="income"></p-sortIcon>
            </th>
            <th pSortableColumn="expense">Gider <p-sortIcon field="expense"></p-sortIcon>
            </th>
            <th pSortableColumn="accountCode">Cari Kodu <p-sortIcon field="accountCode"></p-sortIcon>
            </th>
            <th pSortableColumn="tradeTitle">Ticari Ünvan <p-sortIcon field="tradeTitle"></p-sortIcon>
            </th>
          </tr>
          <tr>
            <th>
              <p-columnFilter type="text" field="cashCode" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="cashName" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="documentNumber" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="description" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="income" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="expense" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="accountCode" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="tradeTitle" [showClearButton]="false"></p-columnFilter>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-report>
          <tr>
            <td>{{ report.cashCode }}</td>
            <td>{{ report.cashName }}</td>
            <td>{{ report.documentNumber }}</td>
            <td>{{ report.description }}</td>
            <td>{{ report.income | currency }}</td>
            <td>{{ report.expense | currency }}</td>
            <td>{{ report.accountCode }}</td>
            <td>{{ report.tradeTitle }}</td>
          </tr>
        </ng-template>
      </p-table>

    </div>
    <div *ngIf="this.raportID == 5 ">
      <p-dialog header="Rapor Parametreleri" [visible]="filterDialog2" [modal]="true" [closable]="false"
        [position]="'top'" [responsive]="true" [style]="{width: '500px',height:'500px'}">
        <div>
          <div class="form-group mb-3">
            <label for="startDate">Başlangıç Tarihi:</label>
            <p-calendar appendTo="body" id="startDate" [(ngModel)]="startDate" dateFormat="mm/dd/yy"
              placeholder="Tarih Seç" required>
            </p-calendar>
          </div>

          <div class="form-group mb-3">
            <label for="endDate">Bitiş Tarihi:</label>
            <br>
            <p-calendar appendTo="body" id="endDate" [(ngModel)]="endDate" dateFormat="mm/dd/yy" placeholder="Tarih Seç"
              required>
            </p-calendar>
          </div>

          <div class="form-group mb-3">
            <label for="cashCurrAccCode">Nakit Hesap Kodu</label>
            <select id="cashCurrAccCode" class="form-control" [(ngModel)]="currAccCode">
              <option value="" selected>Seçin</option>
              <option *ngFor="let g of cashAccounts" [value]="g.cashAccountCode">
                {{ g.cashAccountDescription }}
              </option>
            </select>


          </div>
          <div class="footer">
            <button pButton label="Raporu Getir" (click)="getTillReport()"></button>
            <button pButton label="İptal" (click)="filterDialog2= false"></button>
          </div>
        </div>
      </p-dialog>

    </div>
    <div *ngIf="this.raportID == 6">
      <div class="card mb-3">
        <div class="card-body p-3">
          <button class="btn btn-success" style="width: 100%;" (click)="filterDialog3=true">Filtreyi Aç</button>
        </div>
      </div>
      <!-- Assuming raportID for Bank Report is 6 -->
      <p-table (onFilter)="onFilter($event,6)" [value]="bankReports" [paginator]="true" [rows]="10"
        [globalFilterFields]="['cashCode', 'cashName', 'accountType', 'totalDebit', 'totalCredit', 'totalBalance', 'pendingPosPayments', 'availableBalance']">

        <ng-template pTemplate="caption">
          <div class="p-4 card-body d-flex justify-content-start" style="overflow-x: auto">
            <p-splitButton label="İşlemler" [model]="items_6" appendTo="body" />
          </div>

        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="cashCode">Kasa Kodu <p-sortIcon field="cashCode"></p-sortIcon>
            </th>
            <th pSortableColumn="cashName">Kasa Adı <p-sortIcon field="cashName"></p-sortIcon>
            </th>
            <th pSortableColumn="accountType">Hesap Türü <p-sortIcon field="accountType"></p-sortIcon>
            </th>
            <th pSortableColumn="totalDebit">Toplam Borç <p-sortIcon field="totalDebit"></p-sortIcon>
            </th>
            <th pSortableColumn="totalCredit">Toplam Alacak <p-sortIcon field="totalCredit"></p-sortIcon>
            </th>
            <th pSortableColumn="totalBalance">Toplam B/A/S <p-sortIcon field="totalBalance"></p-sortIcon>
            </th>
            <th pSortableColumn="pendingPosPayments">Bekleyen POS Ödemeleri <p-sortIcon field="pendingPosPayments">
              </p-sortIcon>
            </th>
            <th pSortableColumn="availableBalance">Kullanılabilir Bakiye <p-sortIcon field="availableBalance">
              </p-sortIcon>
            </th>
          </tr>
          <tr>
            <th>
              <p-columnFilter type="text" field="cashCode" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="cashName" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="accountType" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="totalDebit" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="totalCredit" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="totalBalance" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="pendingPosPayments" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="availableBalance" [showClearButton]="false"></p-columnFilter>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-report>
          <tr>
            <td>{{ report.cashCode }}</td>
            <td>{{ report.cashName }}</td>
            <td>{{ report.accountType }}</td>
            <td>{{ report.totalDebit | currency }}</td>
            <td>{{ report.totalCredit | currency }}</td>
            <td>{{ report.totalBalance }}</td>
            <td>{{ report.pendingPosPayments }}</td>
            <td>{{ report.availableBalance | currency }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div *ngIf="this.raportID == 6">
      <p-dialog header="Rapor Parametreleri" [visible]="filterDialog3" [modal]="true" [closable]="false"
        [position]="'top'" [responsive]="true" [style]="{width: '500px',height:'500px'}">
        <div>

          <div class="form-group mb-3">
            <label for="startDate">Başlangıç Tarihi:</label>
            <br>
            <p-calendar appendTo="body" id="startDate" [(ngModel)]="startDate" dateFormat="mm/dd/yy"
              placeholder="Tarih Seç" required>
            </p-calendar>
          </div>

          <div class="form-group mb-3">
            <label for="endDate">Bitiş Tarihi:</label>
            <br>
            <p-calendar appendTo="body" id="endDate" [(ngModel)]="endDate" dateFormat="mm/dd/yy" placeholder="Tarih Seç"
              required>
            </p-calendar>
          </div>

          <div class="form-group mb-3">
            <label for="bankCurrAccCode">Banka Hesap Kodu</label>
            <select id="bankCurrAccCode" class="form-control" [(ngModel)]="currAccCode">
              <option value="" selected>Seçin</option>
              <option *ngFor="let g of bankAccounts" [value]="g.bankAccountCode">
                {{ g.bankAccountDescription }}
              </option>
            </select>

          </div>

          <div class="footer">
            <button pButton label="Raporu Getir" (click)="getBankReports()"></button>
            <button pButton label="İptal" (click)="filterDialog3= false"></button>
          </div>
        </div>
      </p-dialog>

    </div>

  </section>
</main>
