<main id="main" class="main">
  <section class="section">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="qrForm" (ngSubmit)="onSubmit(qrForm.value)" class="mt-4">
          <div class="form-row">
            <div class="form-group col-md-12 mb-3">
              <div class="input-group">
                <input pInputText placeholder="Barkod" type="search" id="barcode" class="form-control"
                  formControlName="barcode" />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit" style="height: 100%">
                    Sorgula
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card" *ngIf="qrCodes.length > 0">
      <p-table [value]="qrCodes" [paginator]="true" [rows]="10" [tableStyle]="{'min-width': '50rem'}"
        [responsiveLayout]="'scroll'" [filterDelay]="500">
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            Ürünler
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">
              Id
              <p-sortIcon field="id"></p-sortIcon>
            </th>
            <th>Resim</th>
            <th pSortableColumn="itemCode">
              Ürün Kodu
              <p-sortIcon field="itemCode"></p-sortIcon>
            </th>
            <th>
              Depo

            </th>
            <th pSortableColumn="shelfNo">
              Raf No
              <p-sortIcon field="shelfNo"></p-sortIcon>
            </th>
            <th pSortableColumn="warehouseCode">
              Depo
              <p-sortIcon field="warehouseCode"></p-sortIcon>
            </th>
            <th pSortableColumn="quantity">
              Miktar
              <p-sortIcon field="quantity"></p-sortIcon>
            </th>
            <th pSortableColumn="barcode">
              Barkod
              <p-sortIcon field="barcode"></p-sortIcon>
            </th>
            <th pSortableColumn="batchCode">
              Parti
              <p-sortIcon field="batchCode"></p-sortIcon>
            </th>
            <th pSortableColumn="price">
              Satış Fiyatı
              <p-sortIcon field="price"></p-sortIcon>
            </th>
            <th pSortableColumn="description">
              Ürün Adı
              <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th>Yazdır</th>
          </tr>
          <tr>
            <th>
              <p-columnFilter type="numeric" field="id" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <!-- Resim sütunu için filtre eklemiyoruz -->
            </th>
            <th>
              <p-columnFilter type="text" field="itemCode" [showClearButton]="false"></p-columnFilter>
            </th>

            <th>

            </th>
            <th>
              <p-columnFilter type="text" field="shelfNo" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="warehouseCode" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="quantity" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="barcode" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="batchCode" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="price" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="description" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <!-- Yazdır sütunu için filtre eklemiyoruz -->
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-qr let-i="rowIndex">
          <tr>
            <td>{{ qr.id }}</td>
            <td class="image-icon-td">
              <p-image src="data:image/jpeg;base64,{{ qr.barcodeBase64 }}" alt="Image" width="50" [preview]="true">
              </p-image>
            </td>
            <td>{{ qr.itemCode }}</td>
            <td>{{ qr.shelfNo.startsWith('H') ? 'UD' : 'MD' }}</td>
            <td>{{ qr.shelfNo }}</td>
            <td>{{ qr.warehouseCode }}</td>
            <td>{{ qr.quantity }}</td>
            <td>{{ qr.barcode }}</td>
            <td>{{ qr.batchCode }}</td>
            <td>{{ qr.price }}</td>
            <td>{{ qr.description }}</td>
            <td>
              <button class="btn btn-primary" type="submit" (click)="print(qr.barcodeBase64)">
                <i class="fas fa-print"></i>
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>
    <div class="card" *ngIf="_products.length > 0">
      <p-table [value]="groupedProducts" [paginator]="true" [rows]="10" [tableStyle]="{'min-width': '50rem'}"
        [responsiveLayout]="'scroll'" [filterDelay]="500">
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            Ürün Listesi
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Resim</th>
            <th pSortableColumn="itemCode">Ürün Kodu<p-sortIcon field="itemCode"></p-sortIcon>
            </th>
            <th pSortableColumn="description">Ürün Adı<p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="warehouseCode">Depo<p-sortIcon field="warehouseCode"></p-sortIcon>
            </th>
            <th pSortableColumn="shelfNo">Raf No<p-sortIcon field="shelfNo"></p-sortIcon>
            </th>
            <th pSortableColumn="quantity">Raf Stok<p-sortIcon field="quantity"></p-sortIcon>
            </th>
            <th pSortableColumn="shelfQuantity">Toplam Stok<p-sortIcon field="shelfQuantity"></p-sortIcon>
            </th>
            <th pSortableColumn="barcode">Barkod<p-sortIcon field="barcode"></p-sortIcon>
            </th>
            <th pSortableColumn="batchCode">Parti<p-sortIcon field="batchCode"></p-sortIcon>
            </th>
            <th pSortableColumn="price">Satış Fiyatı<p-sortIcon field="price"></p-sortIcon>
            </th>
            <th>İşlemler</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-group let-groupIndex="rowIndex">

          <ng-container *ngFor="let product of group.products">
            <tr>
              <td>{{ product.itemCode }}</td>
              <td class="image-icon-td">
                <p-image src="{{ product.photoUrl }}" alt="Image" width="30" [preview]="true"></p-image>
              </td>
              <td>{{ product.description }}</td>
              <td>{{ product.warehouseCode }}</td>
              <td>{{ product.shelfNo }}</td>
              <td>{{ product.quantity }}</td>
              <td>{{ product.shelfQuantity }}</td>
              <td>{{ product.barcode }}</td>
              <td>{{ product.batchCode }}</td>
              <td>{{ product.price }}</td>
              <td>
                <button class="btn btn-primary" type="submit" (click)="createJson(product.barcode, product.shelfNo)">
                  <i class="fas fa-print"></i>
                </button>
              </td>
            </tr>
          </ng-container>
          <tr class="group-row" style="font-weight: bold;">
            <td colspan="5">Toplam </td>

            <td colspan="0">{{ calculateTotalStock(group.products)}} Adet</td>
            <td colspan="5"> </td>
          </tr>
          <!-- Footer for each warehouse group -->
          <ng-template pTemplate="footer">
            <tr>
              <td colspan="5" class="text-right">{{ calculateTotalStock(group.products)}} Adet</td>
              <td colspan="2" class="text-right">{{calculateTotalShelfStock(group.products) }}</td>

            </tr>
          </ng-template>
        </ng-template>
      </p-table>


    </div>



    <div class="card" *ngIf="allProducts.length>0">
      <p-table #dt2 [styleClass]="'p-datatable-striped'" [value]="allProducts" [paginator]="true" [rows]="25"
        (onFilter)="logFilteredData($event)" [tableStyle]="{ 'min-width': '50rem' }" [modal]="true"
        [globalFilterFields]="['description', 'itemCode']">
        <ng-template pTemplate="caption">
          <div class="flex">
            <p-iconField iconPosition="left" class="ml-auto">
              <input pInputText type="text" (input)="dt2.filterGlobal($any($event).target.value, 'contains')"
                placeholder="Ürün Adı / Stok Kodu" />
            </p-iconField>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>

            <th pSortableColumn="brand">
              Marka
              <p-sortIcon field="brand"></p-sortIcon>
            </th>
            <th pSortableColumn="itemCode">
              Ürün Kodu
              <p-sortIcon field="itemCode"></p-sortIcon>
            </th>
            <th pSortableColumn="description">
              Ürün Adı
              <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="productHierarchyLevel01">
              Ürün Hiyerarşisi 1
              <p-sortIcon field="productHierarchyLevel01"></p-sortIcon>
            </th>
            <th pSortableColumn="productHierarchyLevel02">
              Ürün Hiyerarşisi 2
              <p-sortIcon field="productHierarchyLevel02"></p-sortIcon>
            </th>
            <th pSortableColumn="productHierarchyLevel03">
              Ürün Hiyerarşisi 3
              <p-sortIcon field="productHierarchyLevel03"></p-sortIcon>
            </th>
            <th pSortableColumn="speed">
              Hız
              <p-sortIcon field="speed"></p-sortIcon>
            </th>
            <th pSortableColumn="inventory">
              Envanter
              <p-sortIcon field="inventory"></p-sortIcon>
            </th>
            <th pSortableColumn="price">
              Fiyat
              <p-sortIcon field="price"></p-sortIcon>
            </th>

          </tr>
          <tr>

            <th>
              <p-columnFilter field="brand" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [overlayOptions]="overlayOptions" virtualScroll="true" virtualScrollItemSize="50"
                    [options]="brands" (onChange)="filter($event.value)" placeholder="Seçiniz" [showClear]="true"
                    filter="true" filterBy="label">
                    <ng-template let-option pTemplate="item">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="itemCode" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [overlayOptions]="overlayOptions" virtualScroll="true" virtualScrollItemSize="50"
                    [options]="itemCodes" (onChange)="filter($event.value)" placeholder="Seçiniz" [showClear]="true"
                    filter="true" filterBy="label">
                    <ng-template let-option pTemplate="item">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="description" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-multiSelect [overlayOptions]="overlayOptions" virtualScroll="true" virtualScrollItemSize="50"
                    [options]="descriptions" (onChange)="filter($event.value)" placeholder="Seçiniz" [showClear]="true"
                    filter="true" filterBy="label">
                    <ng-template let-option pTemplate="item">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </ng-template>
                  </p-multiSelect>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="productHierarchyLevel01" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [overlayOptions]="overlayOptions" [options]="productHierarchyLevel01s"
                    (onChange)="filter($event.value)" placeholder="Seçiniz" [showClear]="true" filter="true"
                    filterBy="label">
                    <ng-template let-option pTemplate="item">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="productHierarchyLevel02" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [overlayOptions]="overlayOptions" virtualScroll="true" virtualScrollItemSize="50"
                    [options]="productHierarchyLevel02s" (onChange)="filter($event.value)" placeholder="Seçiniz"
                    [showClear]="true" filter="true" filterBy="label">
                    <ng-template let-option pTemplate="item">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="productHierarchyLevel03" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [overlayOptions]="overlayOptions" virtualScroll="true" virtualScrollItemSize="50"
                    [options]="productHierarchyLevel03s" (onChange)="filter($event.value)" placeholder="Seçiniz"
                    [showClear]="true" filter="true" filterBy="label">
                    <ng-template let-option pTemplate="item">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="speed" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="inventory" [showClearButton]="false"></p-columnFilter>
            </th>
            <!-- a
            sdasdasd -->
            <th>
              <p-columnFilter type="numeric" field="price" [showClearButton]="false"></p-columnFilter>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td colspan="9">
              <div class="product-card">
                <div class="product-image">
                  <img [src]="product.photoUrl" alt="Ürün Fotoğrafı" width="150">
                </div>
                <div class="product-details">
                  <h3>{{ product.brand }} - {{ product.itemCode }}</h3>
                  <p>{{ product.description }}</p>
                  <p><strong>Hiyerarşi 1:</strong> {{ product.productHierarchyLevel01 }}</p>
                  <p><strong>Hiyerarşi 2:</strong> {{ product.productHierarchyLevel02 }}</p>
                  <p><strong>Hiyerarşi 3:</strong> {{ product.productHierarchyLevel03 }}</p>
                  <p><strong>Hız:</strong> {{ product.speed }}</p>
                  <p><strong>Envanter:</strong> {{ product.inventory }}</p>
                  <p><strong>Fiyat:</strong> {{ product.price }} {{ product.currencyCode }}</p>
                </div>
                <div class="product-actions">
                  <button type="button" class="btn btn-success">
                    <i class="fa fa-plus" aria-hidden="true"></i> Ekle
                  </button>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>


    </div>
  </section>
</main>
