<main id="main" class="main">
  <section class="section">
    <div class="card custom-card mb-3">
      <div class="card-body d-flex justify-content-start mt-3" style="overflow-x: auto">
        <button type="button" class="btn custom-btn-primary" routerLink="/register">
          <i class="fas fa-plus"></i> Kullanıcı Ekle
        </button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="table-responsive-lg">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Ad</th>
                <th scope="col">Soy Ad</th>
                <th scope="col">Satış Elemanı Kodu</th>
                <th scope="col">Email</th>
                <th scope="col">Şifre</th>
                <th scope="col">Telefon Numarası</th>
                <th scope="col">Rol Ata</th>

                <th scope="col">İşlemler</th>
                <!-- <th scope="col">Bildirim Açık</th> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; let i = index">
                <!-- <td>
              <p-image
              src="{{ personal.photoUrl }}"
              previewImageSrc="{{ personal.photoUrl }}"
              alt="Image"
              width="40"
              [preview]="true"
              ></p-image>
            </td> -->
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.salesPersonCode }}</td>
                <td>{{ user.email }}</td>
                <td>****</td>
                <td>{{ user.phoneNumber }}</td>
                <td> <button pButton pRipple class="p-button-success" label="Rol Ata" (click)="openModalForUser(user)">

                  </button></td>
                <!-- <td>{{ user.SubscribeToPromotions }}</td> -->
                <!--  -->
                <td>
                  <button class="btn btn-primary" status="primary" routerLink="/user-update/{{ user.id }}">
                    <i class="fa-solid fa-pencil"></i>
                  </button>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button class="btn btn-danger" status="danger" (click)="deleteUser(user.id)">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <p-dialog header="{{ listHeader }} Kullanıcısına Rol Ata" [(visible)]="visible2" [style]="{ width: '50vw' }">
      <div class="dialog-content">
        <div class="card flex justify-content-center">
          <p-listbox #ms [options]="listItems" [(ngModel)]="selectedItems" optionLabel="label" [style]="{}"
            [virtualScroll]="true" [filter]="true" [virtualScrollItemSize]="50" [multiple]="true" [checkbox]="true"
            [showToggleAll]="false" [metaKeySelection]="false" [showToggleAll]="true"
            [listStyle]="{ 'max-height': '220px' }"></p-listbox>
        </div>
        <nb-card>
          <nb-card-body>
            <button pButton pRipple label="Seçili Rolleri Kaydet" class="p-button-success"
              (click)="assignRoleToUser()"></button>
          </nb-card-body>
        </nb-card>
      </div>
    </p-dialog>

  </section>
</main>
