<main id="main" class="main">
  <section class="section">
    <div class="card custom-card mb-3">
      <div class="card-body d-flex justify-content-start mt-3" style="overflow-x: auto">
        <button type="button" class="btn btn-success" routerLink="/register">
          <i class="fas fa-plus"></i> Kullanıcı Ekle
        </button>
      </div>
    </div>

    <div class="card">
      <p-table [value]="users" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '80rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="id">
              Id
              <p-sortIcon field="id"></p-sortIcon>
              <p-columnFilter type="numeric" field="id"></p-columnFilter>
            </th>
            <th pSortableColumn="firstName">
              Ad
              <p-sortIcon field="firstName"></p-sortIcon>
              <p-columnFilter type="text" field="firstName"></p-columnFilter>
            </th>
            <th pSortableColumn="lastName">
              Soy Ad
              <p-sortIcon field="lastName"></p-sortIcon>
              <p-columnFilter type="text" field="lastName"></p-columnFilter>
            </th>
            <th pSortableColumn="salesPersonCode">
              Satış Elemanı Kodu
              <p-sortIcon field="salesPersonCode"></p-sortIcon>
              <p-columnFilter type="text" field="salesPersonCode"></p-columnFilter>
            </th>
            <th pSortableColumn="email">
              Email
              <p-sortIcon field="email"></p-sortIcon>
              <p-columnFilter type="text" field="email"></p-columnFilter>
            </th>
            <th>Şifre</th>
            <th pSortableColumn="phoneNumber">
              Telefon Numarası
              <p-sortIcon field="phoneNumber"></p-sortIcon>
              <p-columnFilter type="text" field="phoneNumber"></p-columnFilter>
            </th>
            <!-- <th>Rol Ata</th> -->
            <th>İşlemler</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-i="index">
          <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.salesPersonCode }}</td>
            <td>{{ user.email }}</td>
            <td>****</td>
            <td>{{ user.phoneNumber }}</td>
            <!-- <td>
              <button class="btn btn-primary" (click)="openModalForUser(user)">
                <i class="fas fa-user"></i>
              </button>
            </td> -->
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-primary" [routerLink]="['/user-update', user.id]">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteUser(user.id)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
              </div>

            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>

    <!-- <p-dialog header="{{ listHeader }} Kullanıcısına Rol Ata" [(visible)]="visible2" [style]="{ width: '50vw' }">
      <div class="dialog-content">
        <div class="card flex justify-content-center">
          <p-listbox #ms [options]="listItems" [(ngModel)]="selectedItems" optionLabel="label" [style]="{}"
            [virtualScroll]="true" [filter]="true" [virtualScrollItemSize]="50" [multiple]="true" [checkbox]="true"
            [showToggleAll]="false" [metaKeySelection]="false" [showToggleAll]="true"
            [listStyle]="{ 'max-height': '220px' }"></p-listbox>
        </div>
        <nb-card>
          <nb-card-body>
            <button class="btn btn-primary" (click)="assignRoleToUser()">Kaydet</button>
          </nb-card-body>
        </nb-card>
      </div>
    </p-dialog> -->

  </section>
</main>
