<div class="BlokFooter bg footerHidden">
  <div class="BlokFooterContent">
    <div class="padArea">
      <div class="socialMediaArea">
        <ul>
          <li>
            <a href="https://www.instagram.com/outfittman/"
              ><i class="fab fa-facebook-f"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/outfittman/"
              ><i class="fab fa-instagram"></i
            ></a>
          </li>
          <li>
            <a href="https://www.instagram.com/outfittman/"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a
              href="https://play.google.com/store/apps/details?id=com.outfitman.mobil"
              ><i class="fab fa-google"></i
            ></a>
          </li>
          <li>
            <a
              href="https://play.google.com/store/apps/details?id=com.outfitman.mobil"
              ><i class="fab fa-apple"></i
            ></a>
          </li>
        </ul>
      </div>

      <div class="FooterEbulten">
        <div class="FooterEbultenWrap">
          <div class="Ebulten-Title">HABER BÜLTENİMİZE ABONE OL</div>

          <div class="ebultenGelecek">&nbsp;</div>
        </div>
      </div>

      <div class="footerMiddle">
        <div class="linkler">
          <div class="FooterMenu">
            <span>Bize Ulaşın</span>

            <ul>
              <li>
                <a href="tel:5336144959"
                  ><img
                    alt=""
                    class="lazyImage"
                    data-original="https://static.ticimax.cloud/40038/customcss/images/ph.svg"
                    src="https://cdn.ticimax.com/Uploads/Images/blank.png"
                  />5336144959</a
                >
              </li>
              <li>
                <a href="https://goo.gl/maps/Rqjw7dvzwaVuVEwg"
                  ><img
                    alt=""
                    class="lazyImage"
                    data-original="https://static.ticimax.cloud/40038/customcss/images/pin.svg"
                    src="https://cdn.ticimax.com/Uploads/Images/blank.png"
                  />
                  Konum</a
                >
              </li>
              <li>
                <a href="info@outfit-man.com"
                  ><img
                    alt=""
                    class="lazyImage"
                    data-original="https://static.ticimax.cloud/40038/customcss/images/msg.svg"
                    src="https://cdn.ticimax.com/Uploads/Images/blank.png"
                  />info@outfit-man.com</a
                >
              </li>
            </ul>
          </div>

          <div class="blink">
            <ul>
              <li>
                <span>Kurumsal</span>

                <ul>
                  <li class="Item">
                    <a class="Link" href="https://www.outfit-man.com/hakkimizda"
                      >Hakkımızda</a
                    >
                  </li>
                  <li class="Item">
                    <a class="Link" href="https://www.outfit-man.com/blog"
                      >Blog</a
                    >
                  </li>
                  <li class="Item">
                    <a
                      class="Link"
                      href="https://www.outfit-man.com/musteri-hizmetleri"
                      >İletişim</a
                    >
                  </li>
                  <li class="Item">
                    <a
                      class="Link"
                      href="https://www.outfit-man.com/musteri-hizmetleri"
                      >Sıkça Sorulan Sorular</a
                    >
                  </li>
                  <li class="Item">
                    <a
                      class="Link"
                      href="https://www.outfit-man.com/siparistakip.aspx#/Hesabim-Anasayfa"
                      >Kargo Takibi</a
                    >
                  </li>
                </ul>
              </li>
              <li>
                <span>Önemli Bilgiler</span>
                <ul>
                  <li><a href="#">Üyelik Sipariş</a></li>
                  <li>
                    <a href="#">Kişisel Verilere İlişkin Aydınlatma Metni</a>
                  </li>
                  <li class="Item">
                    <a class="Link" href="https://www.outfit-man.com/Hesabim"
                      >Üyelik</a
                    >
                  </li>
                  <li class="Item">
                    <a class="Link" href="https://www.outfit-man.com/Sepetim"
                      >Alışveriş</a
                    >
                  </li>
                  <li class="Item">
                    <a
                      class="Link"
                      href="https://www.outfit-man.com/Hesabim#/Siparislerim"
                      >Kargo Teslimat</a
                    >
                  </li>
                  <li class="Item"><a class="Link" href="/kvkk">KVKK</a></li>
                </ul>
              </li>
              <li>
                <span>Hızlı Erişim</span>
                <ul>
                  <li class="Item">
                    <a class="Link" href="https://www.outfit-man.com/pantolon"
                      >Boyfriend Pantolon</a
                    >
                  </li>
                  <li class="Item">
                    <a
                      class="Link"
                      href="https://www.outfit-man.com/boyfriend-jean"
                      >Boyfriend Jean</a
                    >
                  </li>
                  <li class="Item">
                    <a class="Link" href="https://www.outfit-man.com/gomlek"
                      >Oversize Gömlek</a
                    >
                  </li>
                  <li class="Item">
                    <a
                      class="Link"
                      href="https://www.outfit-man.com/oduncu-gomlek"
                      >Oduncu Gömlek</a
                    >
                  </li>
                  <li class="Item">
                    <a
                      class="Link"
                      href="https://www.outfit-man.com/oversize-tshirt"
                      >Oversize Tişört</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <style type="text/css">
      .resim-alani {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .resim-alani img {
        max-height: 100%;
        max-width: 100%;
      }

      .FooterCopy {
        margin-top: 10px !important;
      }
    </style>
    <div class="FooterCopy">
      <div class="resim-alani">
        <img
          alt="resim açıklaması"
          src="https://cdn.ticimax.com/Uploads/hazirSablonResimleri/footerImg/bankimg.png"
        />
      </div>
    </div>

    <div class="FooterCopy">
      2023 Copyright Outfit-Man - Tüm Haklar Saklıdır
    </div>

    <div
      align="center"
      id="divTicimaxCopyrightContent"
      style="display: block !important"
    >
      <!-- <a
              class="mobilTicimaxLogo"
              href="https://www.ticimax.com"
              target="_blank"
              title="Ticimax E-Ticaret Sistemleri"
              ><img
                alt="Ticimax E-Ticaret Sistemleri"
                src="/Scripts/images/logo-60x20px.svg"
                style="width: 70px"
              />
            </a> --><!-- 
            <p
              class="ticimax_link_main"
              id="ticimaxCopyright"
              style="color: #000; margin: 15px 0; display: block !important"
            >
              Bu site Ticimax<sup>®</sup> Gelişmiş
              <a
                class="ticimax_link"
                href="https://www.ticimax.com"
                style="color: #0066cc"
                target="_blank"
                title="E Ticaret Sistemleri Ticimax"
              >
                E-Ticaret
              </a>
              sistemleri ile hazırlanmıştır.
            </p> -->
    </div>
  </div>
</div>
