<div class="C-carousel">
  <div class="C-slide"><h1 class="C-slide-title C-slide-title--h1">Vertical carousel</h1><div class="credit">Made with <span style="color:tomato">❤</span> by <a href="https://www.learningrobo.com/">Learning Robo</a></div></div>
  <div class="C-slide"><div class="C-slide-title">Slide 2</div><div class="credit">Made with <span style="color:tomato">❤</span> by <a href="https://www.learningrobo.com/">Learning Robo</a></div></div>
  <div class="C-slide"><div class="C-slide-title">Slide 3</div><div class="credit">Made with <span style="color:tomato">❤</span> by <a href="https://www.learningrobo.com/">Learning Robo</a></div></div>
  <div class="C-slide"><div class="C-slide-title">Slide 4</div><div class="credit">Made with <span style="color:tomato">❤</span> by <a href="https://www.learningrobo.com/">Learning Robo</a></div></div>
  <div class="C-slide"><div class="C-slide-title">Slide 5</div><div class="credit">Made with <span style="color:tomato">❤</span> by <a href="https://www.learningrobo.com/">Learning Robo</a></div></div>
</div>
