

 .C-carousel {
   background: #212121;
   height: 100vh;
   width: 100vw;
   overflow: hidden;
   position: relative;
}
 .C-track {
   opacity: 1;
   transition: all 400ms ease;
}
 .C-track--reinit {
   opacity: 0;
   transition: all 0ms linear;
}
 .C-slide {
   height: 100vh;
   width: 100vw;
   display: flex;
   flex: 1 1 auto;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #fff;
   background: no-repeat center / cover;
   background-blend-mode: overlay;
   font-weight: bold;
   font-size: 22px;
   letter-spacing: 2px;
   text-transform: uppercase;
   overflow: hidden;
}
 .C-slide:nth-child(1) {
   background-image: url(https://cdn.pixabay.com/photo/2021/12/11/15/06/northern-lights-6862969__340.jpg);
}
 .C-slide:nth-child(2) {
   background-image: url(https://cdn.pixabay.com/photo/2017/01/19/23/46/church-1993645__340.jpg);
}
 .C-slide:nth-child(3) {
   background-image: url(https://cdn.pixabay.com/photo/2017/06/07/10/47/elephant-2380009__340.jpg);
}
 .C-slide:nth-child(4) {
   background-image: url(https://cdn.pixabay.com/photo/2014/08/01/00/08/pier-407252__340.jpg);
}
 .C-slide:nth-child(5) {
   background-image: url(https://cdn.pixabay.com/photo/2016/10/14/19/21/canyon-1740973__340.jpg);
}
 .C-navigation {
   position: absolute;
   bottom: 5px;
   left: 50%;
   transform: translateX(-50%);
   z-index: 2;
}
 .C-carousel--vertical .C-navigation {
   bottom: auto;
   left: auto;
   right: 20px;
   top: 50%;
   transform: translateY(-50%);
   width: 20px;
}
 @media (max-width: 480px) {
   .C-navigation {
     bottom: 50px;
  }
}
 .C-navigation__dot {
   width: 12px;
   height: 12px;
   background: #fff;
   display: inline-block;
   margin: 4px;
   cursor: pointer;
   border-radius: 50%;
}
 .C-navigation__dot.active {
   background: #33f;
   transform: scale(1.3);
}

 .C-slide-title {
   padding: 1rem 2rem;
   font-size: 1.5rem;
   position: relative;
   transform: translateY(100%);
   opacity: 0;
   transition: all 300ms ease;
   transition-delay: 500ms;
}
 @media (min-width: 480px) {
   .C-slide-title {
     font-size: 2rem;
  }
}
 @media (min-width: 768px) {
   .C-slide-title {
     font-size: 42px;
  }
}
 .active .C-slide-title {
   transform: translateY(0) translateX(0);
   opacity: 1;
}
.credit{
    text-align: center;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.credit a{
    text-decoration: none;
    color:#fff;
    font-weight: bold;
}

