<div class="demo-wrapper">
  <div class="backgrounds">
    <div
      class="bg-1 bg"
      onclick="redirectTo('https://www.outfit-man.com/yeni-sezon')"
      onmouseover="changeCursor(this)"
    >
      <div class="HomeImageText">&nbsp;</div>
    </div>

    <div
      class="bg-2 bg"
      onclick="redirectTo('https://www.outfit-man.com/ust-giyim')"
      onmouseover="changeCursor(this)"
    >
      <div class="HomeImageText">&nbsp;</div>
    </div>

    <div
      class="bg-3 bg"
      onclick="redirectTo('https://www.outfit-man.com/alt-giyim')"
      onmouseover="changeCursor(this)"
    >
      <div class="HomeImageText">&nbsp;</div>
    </div>
    <script>
      function changeCursor(element) {
        element.style.cursor = "pointer";
      }

      function redirectTo(url) {
        window.location.href = url;
      }
    </script>
    <!-- <div class="bg-4 bg">
          <div class="HomeImageText">
            <div class="bg-first-a">
              <div class="doubleBanner">
                <div class="bannerArea dbg-1">
                  <a href="#"
                    ><img
                      alt=""
                      src="https://static.ticimax.cloud/40038/customcss/images/bg4.jpg"
                    />
                    <div class="bannerDesc">Triko</div>
                  </a>
                </div>

                <div class="bannerArea dbg-2">
                  <a href="#"
                    ><img
                      alt=""
                      src="https://static.ticimax.cloud/40038/customcss/images/bg5.jpg"
                    />
                    <div class="bannerDesc">Ceket</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="bg-5 bg">
          <div class="HomeImageText">
            <div class="bg-first-a">
              <div class="doubleBanner">
                <div class="bannerArea dbg-3">
                  <a href="#">
                    <div class="bannerDesc">Pantolon</div>
                  </a>
                </div>

                <div class="bannerArea dbg-4">
                  <a href="#">
                    <div class="bannerDesc">Gömlek</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div> -->

    <div class="BlokFooter bg footerHidden">
      <div class="BlokFooterContent">
        <div class="padArea">
          <div class="socialMediaArea">
            <ul>
              <li>
                <a href="https://www.instagram.com/outfittman/"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a href="https://www.instagram.com/outfittman/"
                  ><i class="fab fa-instagram"></i
                ></a>
              </li>
              <li>
                <a href="https://www.instagram.com/outfittman/"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://play.google.com/store/apps/details?id=com.outfitman.mobil"
                  ><i class="fab fa-google"></i
                ></a>
              </li>
              <li>
                <a
                  href="https://play.google.com/store/apps/details?id=com.outfitman.mobil"
                  ><i class="fab fa-apple"></i
                ></a>
              </li>
            </ul>
          </div>

          <div class="FooterEbulten">
            <div class="FooterEbultenWrap">
              <div class="Ebulten-Title">HABER BÜLTENİMİZE ABONE OL</div>

              <div class="ebultenGelecek">&nbsp;</div>
            </div>
          </div>

          <div class="footerMiddle">
            <div class="linkler">
              <div class="FooterMenu">
                <span>Bize Ulaşın</span>

                <ul>
                  <li>
                    <a href="tel:5336144959"
                      ><img
                        alt=""
                        class="lazyImage"
                        data-original="https://static.ticimax.cloud/40038/customcss/images/ph.svg"
                        src="https://cdn.ticimax.com/Uploads/Images/blank.png"
                      />5336144959</a
                    >
                  </li>
                  <li>
                    <a href="https://goo.gl/maps/Rqjw7dvzwaVuVEwg"
                      ><img
                        alt=""
                        class="lazyImage"
                        data-original="https://static.ticimax.cloud/40038/customcss/images/pin.svg"
                        src="https://cdn.ticimax.com/Uploads/Images/blank.png"
                      />
                      Konum</a
                    >
                  </li>
                  <li>
                    <a href="info@outfit-man.com"
                      ><img
                        alt=""
                        class="lazyImage"
                        data-original="https://static.ticimax.cloud/40038/customcss/images/msg.svg"
                        src="https://cdn.ticimax.com/Uploads/Images/blank.png"
                      />info@outfit-man.com</a
                    >
                  </li>
                </ul>
              </div>

              <div class="blink">
                <ul>
                  <li>
                    <span>Kurumsal</span>

                    <ul>
                      <li class="Item">
                        <a
                          class="Link"
                          href="https://www.outfit-man.com/hakkimizda"
                          >Hakkımızda</a
                        >
                      </li>
                      <li class="Item">
                        <a class="Link" href="https://www.outfit-man.com/blog"
                          >Blog</a
                        >
                      </li>
                      <li class="Item">
                        <a
                          class="Link"
                          href="https://www.outfit-man.com/musteri-hizmetleri"
                          >İletişim</a
                        >
                      </li>
                      <li class="Item">
                        <a
                          class="Link"
                          href="https://www.outfit-man.com/musteri-hizmetleri"
                          >Sıkça Sorulan Sorular</a
                        >
                      </li>
                      <li class="Item">
                        <a
                          class="Link"
                          href="https://www.outfit-man.com/siparistakip.aspx#/Hesabim-Anasayfa"
                          >Kargo Takibi</a
                        >
                      </li>
                      <li class="Item">
                        <a
                          class="Link"
                          href="https://www.outfit-man.com/cayma-hakki"
                          >Cayma Hakkı</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li>
                    <span>Önemli Bilgiler</span>
                    <ul>
                      <li><a href="https://www.outfit-man.com/Hesabim/Siparislerim">Üyelik Sipariş</a></li>
                      <li>
                        <a href="https://www.outfit-man.com/kisisel-verileri-koruma-hakki"
                          >Kişisel Verilere İlişkin Aydınlatma Metni</a
                        >
                      </li>
                      <li>
                        <a href="https://www.outfit-man.com/mesafeli-satis--sozlesmesi"
                          >Mesafeli Satış Sözleşmesi</a
                        >
                      </li>
                      <li class="Item">
                        <a
                          class="Link"
                          href="https://www.outfit-man.com/uyelik"
                          >Üyelik</a
                        >
                      </li>
                      <li class="Item">
                        <a
                          class="Link"
                          href="https://www.outfit-man.com/Sepetim"
                          >Alışveriş</a
                        >
                      </li>
                      <li class="Item">
                        <a
                          class="Link"
                          href="https://www.outfit-man.com/kargo--teslimat"
                          >Kargo Teslimat</a
                        >
                      </li>
                      <li class="Item">
                        <a class="Link" href="/kvkk">KVKK</a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <span>Hızlı Erişim</span>
                    <ul>
                      <li class="Item">
                        <a
                          class="Link"
                          href="https://www.outfit-man.com/pantolon"
                          >Boyfriend Pantolon</a
                        >
                      </li>
                      <li class="Item">
                        <a
                          class="Link"
                          href="https://www.outfit-man.com/boyfriend-jean"
                          >Boyfriend Jean</a
                        >
                      </li>
                      <li class="Item">
                        <a class="Link" href="https://www.outfit-man.com/gomlek"
                          >Oversize Gömlek</a
                        >
                      </li>
                      <li class="Item">
                        <a
                          class="Link"
                          href="https://www.outfit-man.com/oduncu-gomlek"
                          >Oduncu Gömlek</a
                        >
                      </li>
                      <li class="Item">
                        <a
                          class="Link"
                          href="https://www.outfit-man.com/oversize-tshirt"
                          >Oversize Tişört</a
                        >
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <style type="text/css">
          .resim-alani {
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .resim-alani img {
            max-height: 100%;
            max-width: 100%;
          }

          .FooterCopy {
            margin-top: 10px !important;
          }
        </style>
        <div class="FooterCopy">
          <div class="resim-alani">
            <img
              alt="resim açıklaması"
              src="https://cdn.ticimax.com/Uploads/hazirSablonResimleri/footerImg/bankimg.png"
            />
          </div>
        </div>

        <div class="FooterCopy">
          2023 Copyright Outfit-Man - Tüm Haklar Saklıdır
        </div>

        <div
          align="center"
          id="divTicimaxCopyrightContent"
          style="display: block !important"
        >
          <!-- <a
                class="mobilTicimaxLogo"
                href="https://www.ticimax.com"
                target="_blank"
                title="Ticimax E-Ticaret Sistemleri"
                ><img
                  alt="Ticimax E-Ticaret Sistemleri"
                  src="/Scripts/images/logo-60x20px.svg"
                  style="width: 70px"
                />
              </a> -->
          <!-- <p
            class="ticimax_link_main"
            id="ticimaxCopyright"
            style="color: #000; margin: 15px 0; display: block !important"
          >
            Bu site Ticimax<sup>®</sup> Gelişmiş
            <a
              class="ticimax_link"
              href="https://www.ticimax.com"
              style="color: #0066cc"
              target="_blank"
              title="E Ticaret Sistemleri Ticimax"
            >
              E-Ticaret
            </a>
            sistemleri ile hazırlanmıştır.
          </p> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div align="center" id="divTicimaxCopyrightContent">
  <a
    class="mobilTicimaxLogo"
    href="https://www.ticimax.com"
    target="_blank"
    title="Ticimax E-Ticaret Sistemleri"
    ><img
      alt="Ticimax E-Ticaret Sistemleri"
      src="/Scripts/images/logo-60x20px.svg"
      style="width: 70px"
    />
  </a>

  <p
    class="ticimax_link_main"
    id="ticimaxCopyright"
    style="color: #000; margin: 15px 0; display: block !important"
  >
    Bu site Ticimax<sup>®</sup> Gelişmiş
    <a
      class="ticimax_link"
      href="https://www.ticimax.com"
      style="color: #0066cc"
      target="_blank"
      title="E Ticaret Sistemleri Ticimax"
    >
      E-Ticaret
    </a>
    sistemleri ile hazırlanmıştır.
  </p>
</div>
<style type="text/css">
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .demo-wrapper {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }

  .backgrounds {
    width: 100vw;
    height: 100vh;
    transition: transform ease 0.8s;
  }

  .backgrounds > div {
    padding-top: 39px;
  }

  .bg {
    width: 100%;
    height: 100%;
    padding: 1px;
    position: relative;
    float: left;
  }

  .bg-1 {
    background: url("Uploads/Images/12.05-1w.jpg");
    background-size: cover;
    background-position: top;
  }

  .bg-2 {
    background: url("Uploads/Images/27.02-2.jpg");
    background-size: cover;
    background-position: top;
  }

  .bg-3 {
    background: url("Uploads/Images/27.02-3.jpg");
    background-size: cover;
    background-position: top;
  }

  .dbg-1 {
    background: url("customcss/images/bg4.jpg");
    background-size: cover;
    background-position: top;
    flex: 2;
  }

  .dbg-2 {
    background: url("customcss/images/bg5.jpg");
    background-size: cover;
    background-position: top;
    flex: 1;
  }

  .dbg-3 {
    background: url("customcss/images/bg6.jpg");
    background-size: cover;
    background-position: top;
    flex: 1;
  }

  .dbg-4 {
    background: url("customcss/images/bg7.jpg");
    background-size: cover;
    background-position: top;
    flex: 2;
  }

  @media screen and (max-width: 767px) {
    .bg-1 {
      background: url("Uploads/Images/12.05-1m.jpg");
      background-size: cover;
      background-position: center;
    }

    .bg-2 {
      background: url("Uploads/Images/27.02-2m.jpg");
      background-size: cover;
      background-position: center;
    }

    .bg-3 {
      background: url("Uploads/Images/27.02-3m.jpg");
      background-size: cover;
      background-position: center;
    }
  }

  h1 {
    color: white;
    line-height: 100vh;
    font-size: 3rem;
    text-align: center;
  }

  #footer,
  #divTicimaxCopyrightContent {
    display: none;
  }
</style>
<script type="text/javascript">
  $(function () {
    var element,
      stY,
      curBot = 0,
      scrollable = true,
      scrollPlus = 100,
      divCount = $(".backgrounds >div").length * scrollPlus - scrollPlus;

    LogoControl();

    function navDown() {
      curBot += scrollPlus;
      scrollable = false;
      LogoControl();
      $(".backgrounds").css("transform", "translateY(-" + curBot + "vh)");
      setTimeout(function () {
        scrollable = true;
      }, 1000);
    }

    function navUp() {
      curBot -= scrollPlus;
      scrollable = false;
      LogoControl();
      $(".backgrounds").css("transform", "translateY(-" + curBot + "vh)");
      setTimeout(function () {
        scrollable = true;
      }, 1000);
    }

    function LogoControl() {
      element = curBot / scrollPlus;
      if ($(".bg").eq(element).hasClass("Beyaz") == true) {
        $("#header").addClass("WhiteLogo");
      } else {
        $("#header").removeClass("WhiteLogo");
      }
      if ($(".bg").eq(element).hasClass("footerHidden") == true) {
        $("#header").addClass("footerHide");
      } else {
        $("#header").removeClass("footerHide");
      }
    }

    $(".demo-wrapper").on("touchstart", function (event) {
      stY = event.originalEvent.touches[0].screenY;
    });

    $(".demo-wrapper").on("touchmove", function (event) {
      event.preventDefault();
      var curY = event.originalEvent.touches[0].screenY;
      if (stY - curY > 50 && curBot < divCount && scrollable) navDown();
      else if (curY - stY > 50 && curBot > 0 && scrollable) navUp();
    });

    $(".demo-wrapper").on("keydown", function (event) {
      if (event.keyCode == 40 && curBot < divCount && scrollable) navDown();
      else if (event.keyCode == 38 && curBot > 0 && scrollable) navUp();
    });

    $(".demo-wrapper").on("mousewheel DOMMouseScroll", function (event) {
      event.preventDefault();
      if (
        (event.originalEvent.wheelDelta < 0 ||
          event.originalEvent.detail > 0) &&
        curBot < divCount &&
        scrollable
      )
        navDown();
      else if (
        (event.originalEvent.wheelDelta > 0 ||
          event.originalEvent.detail < 0) &&
        curBot > 0 &&
        scrollable
      )
        navUp();
    });
  });
</script>

