<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between">
    <a routerLink="/dashboard" class="logo d-flex align-items-center">
      <!-- <img src="assets/img/1024LOGO.jpg" alt="" /> -->
      <span>ASSUR <span style="font-size: 14px"> {{ currentPageTitle }}</span>
      </span>
    </a>
    <i (click)="sidebarToggle()" class="bi bi-list toggle-sidebar-btn"></i>
    <!-- Sadece xs (çok küçük), sm (küçük) ve md (orta) ekranlarda göster, lg (büyük) ve xl (çok büyük) ekranlarda gizle -->
    <a class="logo d-flex align-items-center">
      <!-- <img src="assets/img/1024LOGO.jpg" alt="" /> -->
    </a>
  </div>

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item dropdown pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <!-- <img
            src="assets/img/melih.jpeg"
            alt="Profil"
            class="rounded-circle"
          /> -->
          <h4 class="dropdown-toggle ps-2">
            {{
              userName.split(" ")[0].substring(0, 1) +
                userName.split(" ")[1].substring(0, 1)
            }}
          </h4>
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>Polar</h6>
            <span>Şirket Sahibi</span>
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" (click)="logOut()" routerLink="/pages-login ">
              <i class="bi bi-box-arrow-right"></i> <span>Çıkış Yap</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
