<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="d-flex align-items-center justify-content-between"> <a routerLink="/dashboard"
      class="logo d-flex align-items-center"> <img src="assets/img/1024LOGO.jpg" alt=""> <span
        class="d-none d-lg-block">MISIGO</span> </a> <i (click)="sidebarToggle()"
      class="bi bi-list toggle-sidebar-btn"></i></div>
  <!-- <div class="search-bar">
    <form class="search-form d-flex align-items-center" method="POST" action="#"> <input type="text" name="query"
        placeholder="Ara" title="Arama kelimesini girin"> <button type="submit" title="Ara"><i
          class="bi bi-search"></i></button></form>
  </div> -->
  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
      <li class="nav-item d-block d-lg-none"> <a class="nav-link nav-icon search-bar-toggle " href="#"> <i
            class="bi bi-search"></i> </a></li>
      <li class="nav-item dropdown">
        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown"> <i class="bi bi-bell"></i> <span
            class="badge bg-primary badge-number">4</span> </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
          <li class="dropdown-header"> 4 yeni bildiriminiz var <a href="#"><span
                class="badge rounded-pill bg-primary p-2 ms-2">Tümünü Gör</span></a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="notification-item">
            <i class="bi bi-exclamation-circle text-warning"></i>
            <div>
              <h4>Lorem Ipsum</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>30 dak. önce</p>
            </div>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="notification-item">
            <i class="bi bi-x-circle text-danger"></i>
            <div>
              <h4>Atque rerum nesciunt</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>1 saat önce</p>
            </div>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="notification-item">
            <i class="bi bi-check-circle text-success"></i>
            <div>
              <h4>Sit rerum fuga</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>2 saat önce</p>
            </div>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="notification-item">
            <i class="bi bi-info-circle text-primary"></i>
            <div>
              <h4>Dicta reprehenderit</h4>
              <p>Quae dolorem earum veritatis oditseno</p>
              <p>4 saat önce</p>
            </div>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
         

 <li class="dropdown-footer"> <a href="#">Tüm bildirimleri göster</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown"> <i class="bi bi-chat-left-text"></i> <span
            class="badge bg-success badge-number">3</span> </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
          <li class="dropdown-header"> 3 yeni mesajınız var <a href="#"><span
                class="badge rounded-pill bg-primary p-2 ms-2">Tümünü Gör</span></a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="message-item">
            <a href="#">
              <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
              <div>
                <h4>Kadir</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>4 saat önce</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="message-item">
            <a href="#">
              <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
              <div>
                <h4>Elif</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>6 saat önce</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="message-item">
            <a href="#">
              <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
              <div>
                <h4>Buse</h4>
                <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                <p>8 saat önce</p>
              </div>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li class="dropdown-footer"> <a href="#">Tüm mesajları göster</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown pe-3">
        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown"> <img
            src="assets/img/kadir.png" alt="Profil" class="rounded-circle"> <span
            class="d-none d-md-block dropdown-toggle ps-2">Kadir</span> </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>Burak</h6>
            <span>Yazılım Mühendisi

            </span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li> <a class="dropdown-item d-flex align-items-center" routerLink="/user-profile"> <i
                class="bi bi-person"></i> <span>Profilim</span> </a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li> <a class="dropdown-item d-flex align-items-center"

              routerLink="/user-profile"> <i class="bi bi-gear"></i>
              <span>Hesap Ayarları</span> </a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li> <a class="dropdown-item d-flex align-items-center" routerLink="/pages-faq"> <i
                class="bi bi-question-circle"></i> <span>Yardıma İhtiyacınız mı var?</span> </a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li> <a class="dropdown-item d-flex align-items-center"  (click)="logOut()" routerLink="/pages-login "> <i class="bi bi-box-arrow-right"></i>
              <span>Çıkış Yap</span> </a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>