<main id="main" class="main">

  <section class="section">
    <!-- HEADER----------------------------------------------------------------------------------------------------->

    <div class="card mb-3">
      <div class="card-body p-4">

        <div class="row mb-3">

          <p-inputGroup>
            <input pInputText type="search" id="barcode_product" placeholder="Barkod" [(ngModel)]="barcode"
              (keydown.enter)="addProductFromInput(barcode)" />
            <button pButton pRipple class="p-button-rounded p-button-primary" icon="pi pi-plus" label="Ekle"
              type="button" (click)="addProductFromInput(barcode)"></button>
            <button pButton pRipple class="p-button-rounded p-button-primary" icon="pi pi-search" label="Müşteri Ara"
              type="button" (click)="getAllCustomers()"></button>
            <button pButton pRipple class="p-button-rounded p-button-primary" icon="pi pi-search" label="Müşteri Ekle"
              type="button" (click)="createCustomerDialog =true"></button>
            <button *ngIf="addedProducts.length>0" pButton pRipple class="p-button-rounded p-button-danger"
              (click)="deleteAllPRoduct()" icon="pi pi-trash" label="Tüm Ürünleri Sil" type="button"></button>

            <button pButton pRipple class="p-button-rounded p-button-primary" icon="pi pi-search" label="Ürün Ara"
              type="button" (click)="getAllProducts(true)"></button>
            <button *ngIf="this.proposal" pButton pRipple class="p-button-rounded p-button-danger"
              (click)="deleteProposal(this.proposal.id)" icon="pi pi-trash" label="Teklifi Sil" type="button"></button>
          </p-inputGroup>


        </div>



      </div>
    </div>
    <div class="card" *ngIf="addedProducts.length>0">
      <div class="card-body">


        <!-- EKLENEN ÜRÜNLER----------------------------------------------------------------------------------------------------->
        <p-table id="EKLENEN ÜRÜNLER" [styleClass]="'p-datatable-striped mt-3'" [value]="addedProducts"
          [scrollable]="true" scrollHeight="600px" (onFilter)="logFilteredData($event)" [tableStyle]="{ 'min-width':
          '50rem'
            }">

          <ng-template pTemplate="header">

            <tr>
              <th>Fotoğraf</th>
              <th pSortableColumn="brand">
                Marka <p-sortIcon field="brand"></p-sortIcon>
              </th>
              <th pSortableColumn="barcode">
                Barkod <p-sortIcon field="barcode"></p-sortIcon>
              </th>

              <th pSortableColumn="itemCode">
                Ürün Kodu <p-sortIcon field="itemCode"></p-sortIcon>
              </th>

              <th pSortableColumn="description">
                Ürün <p-sortIcon field="description"></p-sortIcon>
              </th>


              <th pSortableColumn="quantity">
                Miktar <p-sortIcon field="quantity"></p-sortIcon>
              </th>
              <th pSortableColumn="price">
                Fiyat <p-sortIcon field="price"></p-sortIcon>
              </th>


              <th pSortableColumn="discountRate1">
                %İSK<p-sortIcon field="discountRate1"></p-sortIcon>
              </th>

              <th pSortableColumn="discountRate2">
                N.İSK <p-sortIcon field="discountRate2"></p-sortIcon>
              </th>
              <th pSortableColumn="discountedPrice">
                S.Fiyat <p-sortIcon field="discountedPrice"></p-sortIcon>
              </th>

              <th pSortableColumn="totalPrice">
                Total <p-sortIcon field="totalPrice"></p-sortIcon>
              </th>
              <th pSortableColumn="taxRate">
                KDV <p-sortIcon field="taxRate"></p-sortIcon>
              </th>
              <th>
                KDV (₺)
              </th>

              <th pSortableColumn="totalTaxedPrice">
                K.Total <p-sortIcon field="totalTaxedPrice"></p-sortIcon>
              </th>
              <th>
                İşlemler
              </th>
            </tr>

          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>

              <td>
                <p-image src="{{ product.photoUrl }}" alt="Image" width="50" [preview]="true">
                </p-image>
              </td>
              <td>{{ product.brand }}</td>
              <td>{{ product.barcode }}</td>

              <td>{{ product.itemCode }}</td>

              <td class="scrollable-td">{{ product.description.substring(0,15) }}</td>

              <td style="cursor: pointer;" (click)="openUpdateDialog(product)">{{ product.quantity }} </td>
              <td style="cursor: pointer;" (click)="openUpdateDialog(product)">{{ product.price }}</td>

              <td style="cursor: pointer;" (click)="openUpdateDialog(product)">{{ product.discountRate1 }}</td>
              <td style="cursor: pointer;" (click)="openUpdateDialog(product)">{{ product.discountRate2 }}</td>

              <td style="cursor: pointer;" (click)="openUpdateDialog(product)">{{ product.discountedPrice }}</td>
              <td style="cursor: pointer;" (click)="openUpdateDialog(product)">{{ product.totalPrice }}</td>
              <td style="cursor: pointer;" (click)="openUpdateDialog(product)">{{ product.taxRate }}</td>
              <td style="cursor: pointer;" (click)="openUpdateDialog(product)">
                {{ ((product.taxRate/100)* product.totalPrice).toFixed(2) }}
              </td>

              <td style="cursor: pointer;" (click)="openUpdateDialog(product)">{{ product.totalTaxedPrice }}</td>


              <td>
                <div class="p-inputgroup">
                  <button pButton pRipple icon="pi pi-trash" type="button" class="p-button-rounded p-button-danger"
                    (click)="deleteProposalProduct(product.id)"></button>
                  <button pButton pRipple icon="pi pi-pencil" type="button" class="p-button-rounded p-button-peimary"
                    (click)="openUpdateDialog(product)"></button>
                  <button pButton pRipple icon="pi pi-refresh" type="button" class="p-button-rounded p-button-text"
                    (click)="refreshProposalProduct(product)"></button>
                  <p-fileUpload mode="basic" chooseIcon="pi pi-upload" name="demo[]" accept="image/*"
                    (onSelect)="onUpload_2($event,product)" maxFileSize="1000000" />
                  <!-- <button pButton pRipple icon="pi pi-plus" type="button" class="p-button-rounded p-button-text"
                       (click)="uploadProductPhoto(product)"></button> -->
                </div>
              </td>

            </tr>
          </ng-template>

          <ng-template pTemplate="footer">
            <tr>
              <td colspan="5" class="text-right">Toplam</td>
              <td colspan="5" class="text-right">
                {{getTotalQuantity() }} Adet
              </td>

              <td colspan="2" class="text-right"> {{getTotal() }} </td>
              <td class="text-right"> {{getTotalTax_2().toFixed(2) }} </td>

              <td colspan="2" class="text-right"> {{getTotalTaxedPrice()}}</td>
            </tr>
          </ng-template>
        </p-table>

        <!-- Ürün Güncelle----------------------------------------------------------------------------------------------------->

        <p-dialog header="Ürün Güncelle" [(visible)]="updateProductDialog" [modal]="true" [closable]="false"
          [style]="{width: '300px'}" (ngSubmit)="updateProposalProduct(this.selectedProduct)">
          <form [formGroup]="updateProductForm">
            <div class="p-fluid">
              <div class="p-field">
                <label for="price">Ürün Adı</label>
                <input id="price" type="text" pInputText formControlName="description">
              </div>
              <div class="p-field">
                <label for="price">Fiyat</label>
                <input id="price" type="number" pInputText formControlName="price">
              </div>
              <div class="p-field mb-3">
                <label for="quantity">Adet</label>
                <input id="quantity" type="number" pInputText formControlName="quantity">
              </div>

              <div class="p-field mb-3">
                <label for="discountRate1">Yüzde İndirim</label>
                <input id="discountRate1" type="number" pInputText formControlName="discountRate1">
              </div>

              <div class="p-field mb-3">
                <label for="discountRate2">Nakit İndirim</label>
                <input id="discountRate2" type="number" pInputText formControlName="discountRate2">
              </div>
              <div class="p-field mb-3">
                <button type="submit" pButton label="Güncelle"
                  (click)="updateProposalProduct(this.selectedProduct)"></button>
              </div>

              <div class="p-field">
                <button type="button" pButton label="Kapat" (click)="this.updateProductDialog =false"></button>
              </div>
            </div>
          </form>
        </p-dialog>



      </div>
    </div>
    <!-- BULUNAN ÜRÜNLER----------------------------------------------------------------------------------------------------->
    <p-dialog header="Bulunan Ürünler" [(visible)]="findProductDialog" [style]="{ width: '100vw' ,minheight : '100vw'}"
      modal="true">
      <p-table [styleClass]="'p-datatable-striped'" [value]="allProducts" [paginator]="true" [rows]="10"
        (onFilter)="logFilteredData($event)" [tableStyle]="{ 'min-width': '50rem' , 'minheight' : '100vw' }">


        <ng-template pTemplate="header">

          <tr>
            <th>Fotoğraf</th>
            <th pSortableColumn="brand">
              Marka <p-sortIcon field="brand"></p-sortIcon>
            </th>

            <th pSortableColumn="itemCode">
              Ürün Kodu <p-sortIcon field="itemCode"></p-sortIcon>
            </th>

            <th pSortableColumn="description">
              Ürün <p-sortIcon field="description"></p-sortIcon>
            </th>
            <th pSortableColumn="productHierarchyLevel01">
              Ürün Hiyerarşisi 1 <p-sortIcon field="productHierarchyLevel01"></p-sortIcon>
            </th>
            <th pSortableColumn="productHierarchyLevel02">
              Ürün Hiyerarşisi 2 <p-sortIcon field="productHierarchyLevel02"></p-sortIcon>
            </th>
            <th pSortableColumn="productHierarchyLevel03">
              Ürün Hiyerarşisi 3 <p-sortIcon field="productHierarchyLevel03"></p-sortIcon>
            </th>
            <th pSortableColumn="speed">
              Hız <p-sortIcon field="speed"></p-sortIcon>
            </th>
            <th pSortableColumn="inventory">
              Envanter <p-sortIcon field="inventory"></p-sortIcon>
            </th>
            <th pSortableColumn="price">
              Fiyat <p-sortIcon field="price"></p-sortIcon>
            </th>
            <th>
              İşlemler
            </th>
          </tr>
          <tr>
            <th></th>

            <th>
              <p-columnFilter field="brand" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown virtualScroll="true" virtualScrollItemSize="50" [options]="brands"
                    (onChange)="filter($event.value)" placeholder="Seçiniz" [showClear]="true" filter="true"
                    filterBy="label">
                    <ng-template let-option pTemplate="item">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="itemCode" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown virtualScroll="true" virtualScrollItemSize="50" [options]="itemCodes"
                    (onChange)="filter($event.value)" placeholder="Seçiniz" [showClear]="true" filter="true"
                    filterBy="label">
                    <ng-template let-option pTemplate="item">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>

            <th>
              <p-columnFilter field="description" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown virtualScroll="true" virtualScrollItemSize="50" [options]="descriptions"
                    (onChange)="filter($event.value)" placeholder="Seçiniz" [showClear]="true" filter="true"
                    filterBy="label">
                    <ng-template let-option pTemplate="item">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="productHierarchyLevel01" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown [options]="productHierarchyLevel01s" (onChange)="filter($event.value)"
                    placeholder="Seçiniz" [showClear]="true" filter="true" filterBy="label">
                    <ng-template let-option pTemplate="item">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="productHierarchyLevel02" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown virtualScroll="true" virtualScrollItemSize="50" [options]="productHierarchyLevel02s"
                    (onChange)="filter($event.value)" placeholder="Seçiniz" [showClear]="true" filter="true"
                    filterBy="label">
                    <ng-template let-option pTemplate="item">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="productHierarchyLevel03" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown virtualScroll="true" virtualScrollItemSize="50" [options]="productHierarchyLevel03s"
                    (onChange)="filter($event.value)" placeholder="Seçiniz" [showClear]="true" filter="true"
                    filterBy="label">
                    <ng-template let-option pTemplate="item">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="speed" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="inventory" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="price" [showClearButton]="false"></p-columnFilter>
            </th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>

            <td>
              <p-image src="{{ product.photoUrl }}" alt="Image" width="50" [preview]="true"
                appReferrerPolicy="no-referrer">
              </p-image>
            </td>
            <td>{{ product.brand }}</td>

            <td>{{ product.itemCode }}</td>

            <td class="scrollable-td">{{ product.description }}</td>
            <td>{{ product.productHierarchyLevel01 }}</td>
            <td>{{ product.productHierarchyLevel02 }}</td>
            <td>{{ product.productHierarchyLevel03 }}</td>
            <td>{{ product.speed }}</td>
            <td>{{ product.inventory }}</td>
            <td>{{ product.price }}</td>
            <td>
              <button pButton pRipple icon="pi pi-plus" type="button" class="p-button-rounded p-button-text "
                (click)="addProduct(product)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-dialog>
    <!-- MÜŞTERİ EKLE----------------------------------------------------------------------------------------------------->

    <p-dialog header="Müşteri Ekle" [(visible)]="createCustomerDialog" [style]="{ width: '80vw' }">
      <form [formGroup]="createCustomerForm">
        <div class="row mb-3">
          <div class="col-md-12">

            <input pInputText type="text" class="form-control" id="currAccDescription" placeholder="Firma"
              formControlName="currAccDescription" />

          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12">
            <input maxlength="11" pInputText placeholder="Telefon Numarası *" type="text" class="form-control"
              id="phoneNumber" placeholder="(05XX XXX XX XX)" formControlName="phoneNumber" />
          </div>
        </div>
        <div>
          <div class="row mb-3" *ngIf="this.createCustomerForm.value.stampPhotoUrl">
            <p-image src="{{ this.createCustomerForm.value.stampPhotoUrl }}" alt="Image" width="350" [preview]="true" />
          </div>
          <div class="row mb-3">
            <div class="col-md-12">
              <div class="form-group">
                <input pInputText placeholder="Kaşe Fotoğraf Yolu" type="text" class="form-control" style="width: 100%"
                  id="stampPhotoUrl" formControlName="stampPhotoUrl" hidden />
              </div>
              <div class="input-group mb-3">
                <div class="fileUpload">
                  <input type="file" class="upload" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"
                    (change)="onUpload($event, 'stampPhotoUrl')" />
                  <span> <i class="fas fa-camera"></i></span>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <input type="text" pInputText placeholder="Kartvizit Fotoğraf Yolu" class="form-control"
                  id="bussinesCardPhotoUrl" formControlName="bussinesCardPhotoUrl" hidden />
              </div>
              <div class="input-group mb-3">
                <div class="fileUpload">
                  <input type="file" class="upload" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"
                    (change)="onUpload($event, 'bussinesCardPhotoUrl')" />
                  <span> <i class="fas fa-camera"></i></span>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-3" *ngIf="this.createCustomerForm.value.stampPhotoUrl">
            <div class="col-md-12">
              <div class="row mb-3">
                <p-image [appendTo]="'body'" src="{{ this.createCustomerForm.value.stampPhotoUrl }}" alt="Image"
                  width="100%" height="100%" [preview]="true" />
              </div>


            </div>

            <div class="col-md-12" *ngIf="this.createCustomerForm.value.bussinesCardPhotoUrl">
              <div class="row mb-3">
                <p-image [appendTo]="'body'" src="{{ this.createCustomerForm.value.bussinesCardPhotoUrl }}" alt="Image"
                  width="100%" height="100%" [preview]="true" />
              </div>
            </div>
          </div>


          <div class="row mb-3">
            <div class="col-md-12">
              <label for="exampleInputEmail1">Mail</label>
              <input type="text" class="form-control" id="mail" placeholder="Mail" formControlName="mail" />
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="address_country" class="label">Ülke</label>
                <select class="form-select" id="address_country" formControlName="address_country" class="form-control">
                  <!-- Üst Kategori Seçenekleri Buraya Gelecek  -->
                  <option *ngFor="let country of _countries" value="{{ country.code }}">
                    {{ country.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="address_region" class="label">Bölge</label>
                <select class="form-select" id="address_region" formControlName="address_region" class="form-control">
                  <!-- Üst Kategori Seçenekleri Buraya Gelecek  -->
                  <option *ngFor="let region of _regions" value="{{ region.code }}">
                    {{ region.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="address_province" class="label">il</label>
                <select class="form-select" id="address_province" formControlName="address_province">
                  <!-- Üst Kategori Seçenekleri Buraya Gelecek  -->
                  <option *ngFor="let province of _provinces" value="{{ province.code }}">
                    {{ province.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="address_district" class="label">Vergi Dairesi</label>
                <select class="form-select" id="address_taxOffice" formControlName="address_taxOffice">
                  <!-- Üst Kategori Seçenekleri Buraya Gelecek  -->
                  <option *ngFor="let taxOffice of _taxOffices" value="{{ taxOffice.code }}">
                    {{ taxOffice.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="address_district" class="label">ilçe</label>
                <select class="form-select" id="address_district" formControlName="address_district">
                  <!-- Üst Kategori Seçenekleri Buraya Gelecek  -->
                  <option *ngFor="let district of _districts" value="{{ district.code }}">
                    {{ district.name }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="address_description" class="label">Adres (ZORUNLUDUR)</label>
                <input type="text" class="form-control" id="address_description" name="address_description" fullWidth
                  formControlName="address_description" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group mb-3">
                <label for="address_postalCode" class="label">Posta Kodu</label>
                <input type="text" id="address_postalCode" name="address_postalCode" fullWidth
                  formControlName="address_postalCode" class="form-control" />
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-12">
            <div class="form-group">
              <button pButton pRipple class="p-button-rounded p-button-text" icon="pi pi-plus" type="submit"
                style="width: 100%" label="Müşteri Ekle" (click)="submitAddressForm(createCustomerForm.value)"></button>

            </div>
          </div>
        </div>
      </form>
    </p-dialog>
    <!-- BULUNAN MÜŞTERİLER----------------------------------------------------------------------------------------------------->

    <p-dialog header="Bulunan Müşteriler" [(visible)]="findCustomerDialog" [style]="{ width: '100vw' }" modal="true">
      <p-table [styleClass]="'p-datatable-striped'" [value]="_selectableCustomers" [paginator]="true" [rows]="10"
        (onFilter)="logFilteredData($event)" [tableStyle]="{ 'min-width': '50rem' , 'minheight' : '100vw' }">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="currAccCode">
              Müşteri Kodu <p-sortIcon field="currAccCode"></p-sortIcon>
            </th>
            <th pSortableColumn="currAccDescription">
              Açıklama <p-sortIcon field="currAccDescription"></p-sortIcon>
            </th>
            <th pSortableColumn="mail">
              E-posta <p-sortIcon field="mail"></p-sortIcon>
            </th>
            <th pSortableColumn="phone">
              Telefon <p-sortIcon field="phone"></p-sortIcon>
            </th>
            <th pSortableColumn="docCurrencyCode">
              Döviz Kodu <p-sortIcon field="docCurrencyCode"></p-sortIcon>
            </th>
            <th>
              İşlemler
            </th>
          </tr>
          <tr>
            <th>
              <p-columnFilter field="currAccCode" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown virtualScroll="true" virtualScrollItemSize="50" [options]="customerNames"
                    (onChange)="filter($event.value)" placeholder="Seçiniz" [showClear]="true" filter="true"
                    filterBy="label">
                    <ng-template let-option pTemplate="item">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="currAccDescription" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown virtualScroll="true" virtualScrollItemSize="50" [options]="_descriptions"
                    (onChange)="filter($event.value)" placeholder="Seçiniz" [showClear]="true" filter="true"
                    filterBy="label">
                    <ng-template let-option pTemplate="item">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="mail" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown virtualScroll="true" virtualScrollItemSize="50" [options]="emails"
                    (onChange)="filter($event.value)" placeholder="Seçiniz" [showClear]="true" filter="true"
                    filterBy="label">
                    <ng-template let-option pTemplate="item">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="phone" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown virtualScroll="true" virtualScrollItemSize="50" [options]="phones"
                    (onChange)="filter($event.value)" placeholder="Seçiniz" [showClear]="true" filter="true"
                    filterBy="label">
                    <ng-template let-option pTemplate="item">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
            <th>
              <p-columnFilter field="docCurrencyCode" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-dropdown virtualScroll="true" virtualScrollItemSize="50" [options]="docCurrencyCodes"
                    (onChange)="filter($event.value)" placeholder="Seçiniz" [showClear]="true" filter="true"
                    filterBy="label">
                    <ng-template let-option pTemplate="item">
                      <span class="ml-1 mt-1">{{ option.label }}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr>
            <td>{{ customer.currAccCode }}</td>
            <td>{{ customer.currAccDescription }}</td>
            <td>{{ customer.mail }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.docCurrencyCode }}</td>
            <td>
              <button pButton pRipple icon="pi pi-plus" type="button" class="p-button-rounded p-button-text"
                (click)="addCustomer(customer)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-dialog>

    <!-- TOPLAM------------------------------------------------------------------------------------------------------------>
    <div class="card mb-3" *ngIf="addedProducts.length>0">
      <div class="card-body">
        <div class="mt-3">
          <table class="table table-bordered">

            <tbody>
              <tr>
                <th scope="row">Sayın</th>
                <td style="font-weight: bold;">
                  {{ this.proposal.currAccDescription == null ? 'MÜŞTERİ SEÇİNİZ' : this.proposal.currAccDescription.substring(0,15)}}
                </td>
              </tr>

              <tr>
                <th scope="row">Ara Toplam <small class="text-muted">KDVSİZ</small>
                </th>
                <td>
                  {{getTotal() }}
                </td>
              </tr>
              <tr>
                <th scope="row">Dip İskonto (%)
                </th>
                <td>%{{ this.proposal.discountRate1}} <span style="color: red" *ngIf=" this.proposal.discountRate1">|
                    {{(getTotal()*this.proposal.discountRate1/100).toFixed(2)}}₺ </span></td>
              </tr>
              <tr>
                <th scope="row">Dip İskonto (₺)</th>
                <td>₺{{ this.proposal.discountRate2}}
                </td>
              </tr>
              <tr>
                <th scope="row">Toplam <small class="text-muted">KDVSİZ</small></th>
                <td>{{ getUnTaxedTotalAfterDiscount() | currency : "₺" }}</td>
              </tr>

              <tr *ngIf="findVatRate(10)">
                <th scope="row">%10 KDV</th>
                <td>{{calculateVatAmount(10)| currency : "₺"}}</td>
              </tr>
              <tr *ngIf="findVatRate(20)">
                <th scope="row">%20 KDV</th>
                <td>{{calculateVatAmount(20)| currency : "₺"}}</td>
              </tr>
              <tr>
                <th scope="row">KDV</th>
                <td>{{ ((getUnTaxedTotalAfterDiscount() /getTotal() )*getTotalTax_2() ).toFixed(2)| currency : "₺" }}
                </td>
              </tr>
              <tr>
                <th scope="row">Genel Toplam</th>
                <td>
                  {{ ((getUnTaxedTotalAfterDiscount() /getTotal() )*getTotalTax_2() ) +  getUnTaxedTotalAfterDiscount()   | currency : "₺" }}
                </td>
              </tr>
            </tbody>
          </table>

        </div>

        <!-- İNDİRİM FORMU----------------------------------------------------------------------------------------------------->

        <form [formGroup]="discountForm" *ngIf="addedProducts.length > 0" class="mb-3 ">
          <div class="row">
            <div class="col-md-4  mb-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-success" (click)="
                      discount(this.discountForm.value.percentDiscountRate)
                    " type="button"></button>
                </div>
                <input type="number" class="form-control" id="percentDiscountRate" placeholder="Yüzde İndirim Oranı"
                  formControlName="percentDiscountRate" (keydown.enter)="
                    discount(this.discountForm.value.percentDiscountRate)
                  " />
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="input-group ">
                <div class="input-group-append">
                  <button pButton pRipple class="p-button-rounded p-button-success" icon="pi pi-check" (click)="
                      cashDiscount(this.discountForm.value.cashDiscountRate)
                    " type="button"></button>
                </div>
                <input type="number" class="form-control" id="cashDiscountRate" placeholder="Nakit İndirim Tutarı"
                  formControlName="cashDiscountRate" (keydown.enter)="
                    cashDiscount(this.discountForm.value.cashDiscountRate)
                  " />
              </div>
            </div>
            <div class="col-md-4">
              <button pButton pRipple style="width: 100%" class="p-button p-button-danger" label="İndirimi Sıfırla"
                (click)="resetDiscount()" type="button"></button>
            </div>
          </div>


        </form>



        <div>
          <div class="row">
            <div class="col-md-12">
              <button pButton pRipple style="width: 100%" class="p-button p-button-success" label="Teklifi Oluştur"
                (click)="createProposalReport()" type="button" [disabled]="this.addedProducts.length<=0 ||
                !this.proposal.currAccDescription"></button>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="card" *ngIf="addedProducts.length<=0">
      <div class="card-body" style="text-align: center;">
        @if(!this.proposal.currAccDescription && this.addedProducts.length <= 0){ <h1 class="card-title"> Lütfen Ürün
          ve
          Müşteri Seçiniz</h1>
          }@else if (this.proposal.currAccDescription && this.addedProducts.length <= 0){ <h1 class="card-title">
            Lütfen
            Ürün Ekleyiniz</h1>

            }@else if (!this.proposal.currAccDescription && this.addedProducts.length > 0){ <h1 class="card-title">
              Lütfen
              Müşteri Seçiniz</h1>
            }
      </div>
    </div>
  </section>
</main>
