<main id="main" class="main">
    <!-- <div class="pagetitle">
      <h1>Toplanan Ürünlerin Listesi</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">General</li>
        </ol>
      </nav>
    </div>
   -->
    <section class="section">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Toplanan Paketler</h5>
          <!-- <a class="btn btn-success" data-bs-toggle="dropdown">+Opertions </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li><a class="dropdown-item">Add New Product</a></li>
            <li><a class="dropdown-item">Export To The Excel</a></li>
            <li><a class="dropdown-item">Delete All Selected</a></li>
          </ul> -->
  
          <!-- <div class="btn-group mb-3">
            <button type="button" class="btn btn-success" (click)="routeToCPP()"  >Ürün Topla</button>
  
            <button type="button" class="btn btn-primary">Ürün Paketle</button>
         
              <label for="numberOfList" style="margin-left: 20px;">Toplancak Sipariş Miktarı</label>
              <select id="numberOfList" class="form-control" formControlName="numberOfList" style="width: 50px;margin-left: 20px">
                <option *ngFor="let number of numberOfList" [value]="number">{{ number }}</option>
              </select>
          
          </div> -->
          
          
          <div style="overflow-x: auto">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Tarih</th>
                
  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let package of readyToShipmentPackageModels">
                  <td>{{ package.id }}</td>
                  <td>{{ package.date }}</td>
                 
                  <td>
                    <div class="btn-group">
  
                      <div class="btn  btn-success" data-text="Varyasyonlar"><i   routerLink="/collected-package-detail/{{package.id}}" class="fas fa-sliders-h"></i> </div>
  
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </main>
  