<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div style="width: 100%">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="checkForm" (ngSubmit)="onSubmit(checkForm.value)" class="mt-4">
              <!-- Alınacak Ürün -->
              <div class="row mb-3">
                <div class="col-md-12">
                  <h5>Alınacak Ürün</h5>
                  <hr />
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <p-dropdown placeholder="Ofis" formControlName="office" [options]="offices" [showClear]="true"
                    placeholder="Ofis"></p-dropdown>
                </div>

                <div class="form-group col">
                  <p-dropdown formControlName="warehosue" [options]="warehouses" [showClear]="true" placeholder="Depo"
                    formControlName="warehouseCode"></p-dropdown>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group">
                  <div class="input-group">
                    <input pInputText placeholder="Raf Numarası" type="text" id="shelfNo" class="form-control"
                      formControlName="shelfNo" (keydown.enter)="focusNextInput('barcode')" />
                    <div class="input-group-append">
                      <button style="height: 100%" type="button" (click)="clearShelfNumbers()" class="btn btn-primary">
                        <i class="fa fa-eraser"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <label *ngIf="shelfNumbers !== 'RAFLAR:'" for="shelfNo">{{
                  shelfNumbers
                }}</label>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <label *ngIf="qrBarcodeUrl !== null" for="qrBarcode">{{
                    qrBarcodeUrl
                  }}</label>
                  <input pInputText placeholder="Barkod" type="text" id="barcode" class="form-control"
                    formControlName="barcode" (keydown.enter)="onSubmit(checkForm.value)" />
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <div class="form-group">
                    <input pInputText placeholder="Miktar" type="number" id="quantity" class="form-control"
                      formControlName="quantity" />
                  </div>
                </div>

                <div class="form-group col">
                  <div class="form-group">
                    <input pInputText placeholder="Parti" type="text" id="batchCode" class="form-control"
                      formControlName="batchCode" />
                  </div>
                </div>
              </div>

              <!-- Gönderilecek Raf -->
              <div class="row mb-3">
                <div class="col-md-12">
                  <h5>Gönderilecek Raf</h5>
                  <hr />
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <label for="targetShelfNo">Raf:</label>
                  <div class="input-group">
                    <input type="search" id="targetShelfNo" class="form-control" formControlName="targetShelfNo"
                      (keydown.enter)="onSubmit(checkForm.value)" />
                    <!-- <div class="input-group-append">
                      <button
                        type="button"
                        (click)="clearTargetShelfNumber()"
                        class="btn btn-primary"
                      >
                        Hedef Rafı Temizle
                      </button>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col">
                  <div class="form-group">
                    <button type="button" class="btn btn-primary" style="width: 100%; margin-top: 1%"
                      (click)="onSubmit(checkForm.value)">
                      Ekle
                    </button>
                  </div>
                </div>

                <div class="form-group col">
                  <div class="form-group">
                    <button type="button" class="btn btn-primary" style="width: 100%; margin-top: 1%"
                      (click)="finishTransfer(checkForm.value)">
                      Transferi Tamamla
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="card" *ngIf="collectedFastTransferModels.length > 0">
          <p-table [value]="collectedFastTransferModels" [paginator]="true" [rows]="10"
            [tableStyle]="{'min-width': '50rem'}" [responsiveLayout]="'scroll'" [filterDelay]="500">
            <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-between">
                Toplanan Ürünler
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="id">
                  Id
                  <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th>Fotoğraf</th>
                <th pSortableColumn="description">
                  Ürün
                  <p-sortIcon field="description"></p-sortIcon>
                </th>
                <th pSortableColumn="itemCode">
                  Stok Kodu
                  <p-sortIcon field="itemCode"></p-sortIcon>
                </th>
                <th pSortableColumn="shelfNo">
                  Raf Numarası
                  <p-sortIcon field="shelfNo"></p-sortIcon>
                </th>
                <th pSortableColumn="barcode">
                  Barkod
                  <p-sortIcon field="barcode"></p-sortIcon>
                </th>
                <th pSortableColumn="quantity">
                  Miktar
                  <p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th pSortableColumn="batchCode">
                  Parti
                  <p-sortIcon field="batchCode"></p-sortIcon>
                </th>
                <th pSortableColumn="targetShelfNo">
                  Hedef Raf
                  <p-sortIcon field="targetShelfNo"></p-sortIcon>
                </th>
                <th>Sil</th>
              </tr>
              <tr>
                <th>
                  <p-columnFilter type="numeric" field="id" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <!-- Fotoğraf sütunu için filtre eklemiyoruz -->
                </th>
                <th>
                  <p-columnFilter type="text" field="description" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="itemCode" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="shelfNo" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="barcode" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="numeric" field="quantity" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="batchCode" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="targetShelfNo" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <!-- Sil sütunu için filtre eklemiyoruz -->
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-i="rowIndex">
              <tr>
                <td>{{ i + 1 }}</td>
                <td>
                  <img src="{{ product.photoUrl }}" alt="Resim" width="50" height="50"
                    (click)="openImageModal(product.photoUrl)" />
                </td>
                <td>{{ product.description }}</td>
                <td>{{ product.itemCode }}</td>
                <td>{{ product.shelfNo }}</td>
                <td>{{ product.barcode }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.batchCode }}</td>
                <td>{{ product.targetShelfNo }}</td>
                <td>
                  <button class="btn btn-danger" (click)="deleteFastTransfer(product)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </ng-template>
          </p-table>

        </div>

        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Toplanan Ürünler</h5>
            <h1 class="display-1">{{ totalCount }}</h1>
            <p class="card-text">Adet Ürün Toplandı</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
