<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div style="width: 100%">
        <div class="card">
          <div class="card-body">
            <form
              [formGroup]="checkForm"
              (ngSubmit)="onSubmit(checkForm.value)"
              class="mt-4"
            >
              <!-- Alınacak Ürün -->
              <div class="row mb-3">
                <div class="col-md-12">
                  <h5>Alınacak Ürün</h5>
                  <hr />
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <p-dropdown
                    placeholder="Ofis"
                    formControlName="office"
                    [options]="offices"
                    [showClear]="true"
                    placeholder="Ofis"
                  ></p-dropdown>
                </div>

                <div class="form-group col">
                  <p-dropdown
                    formControlName="warehosue"
                    [options]="warehouses"
                    [showClear]="true"
                    placeholder="Depo"
                    formControlName="warehouseCode"
                  ></p-dropdown>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      pInputText
                      placeholder="Raf Numarası"
                      type="text"
                      id="shelfNo"
                      class="form-control"
                      formControlName="shelfNo"
                      (keydown.enter)="focusNextInput('barcode')"
                    />
                    <div class="input-group-append">
                      <button
                        style="height: 100%"
                        type="button"
                        (click)="clearShelfNumbers()"
                        class="btn btn-primary"
                      >
                        Formu Temizle
                      </button>
                    </div>
                  </div>
                </div>
                <label *ngIf="shelfNumbers !== 'RAFLAR:'" for="shelfNo">{{
                  shelfNumbers
                }}</label>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <label *ngIf="qrBarcodeUrl !== null" for="qrBarcode">{{
                    qrBarcodeUrl
                  }}</label>
                  <input
                    pInputText
                    placeholder="Barkod"
                    type="text"
                    id="barcode"
                    class="form-control"
                    formControlName="barcode"
                    (keydown.enter)="onSubmit(checkForm.value)"
                  />
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <div class="form-group">
                    <input
                      pInputText
                      placeholder="Miktar"
                      type="number"
                      id="quantity"
                      class="form-control"
                      formControlName="quantity"
                    />
                  </div>
                </div>

                <div class="form-group col">
                  <div class="form-group">
                    <input
                      pInputText
                      placeholder="Parti"
                      type="text"
                      id="batchCode"
                      class="form-control"
                      formControlName="batchCode"
                    />
                  </div>
                </div>
              </div>

              <!-- Gönderilecek Raf -->
              <div class="row mb-3">
                <div class="col-md-12">
                  <h5>Gönderilecek Raf</h5>
                  <hr />
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <label for="targetShelfNo">Raf:</label>
                  <div class="input-group">
                    <input
                      type="search"
                      id="targetShelfNo"
                      class="form-control"
                      formControlName="targetShelfNo"
                      (keydown.enter)="onSubmit(checkForm.value)"
                    />
                    <!-- <div class="input-group-append">
                      <button
                        type="button"
                        (click)="clearTargetShelfNumber()"
                        class="btn btn-primary"
                      >
                        Hedef Rafı Temizle
                      </button>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col">
                  <div class="form-group">
                    <button
                      type="button"
                      class="btn btn-primary"
                      style="width: 100%; margin-top: 1%"
                      (click)="onSubmit(checkForm.value)"
                    >
                      Ekle
                    </button>
                  </div>
                </div>

                <div class="form-group col">
                  <div class="form-group">
                    <button
                      type="button"
                      class="btn btn-primary"
                      style="width: 100%; margin-top: 1%"
                      (click)="finishTransfer(checkForm.value)"
                    >
                      Transferi Tamamla
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Yeni kart: Toplanan Ürünler -->
        <div class="card text-center" *ngIf="totalCount > 0">
          <div class="card-body">
            <h5 class="card-title">Toplanan Ürünler</h5>
            <h1 class="display-1">{{ totalCount }}</h1>
            <!--eklenen ürün miktarı yazcak! -->

            <p class="card-text">Adet Ürün Toplandı</p>
          </div>
        </div>

        <div class="card" *ngIf="collectedFastTransferModels.length > 0">
          <div class="card-body">
            <h5 class="card-title">Toplanan Ürünler</h5>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Fotoğraf</th>
                    <th scope="col">Ürün</th>
                    <th scope="col">Stok Kodu</th>

                    <th scope="col">Raf Numarası</th>
                    <th scope="col">Barkod</th>
                    <th scope="col">Miktar</th>
                    <th scope="col">Parti</th>
                    <th scope="col">Hedef Raf</th>
                    <th scope="col">Sil</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let product of collectedFastTransferModels;
                      let i = index
                    "
                  >
                    <td>
                      {{ i + 1 }}
                    </td>
                    <td>
                      <img
                        src="{{ product.photoUrl }}"
                        alt="Resim"
                        width="50"
                        height="50"
                        (click)="openImageModal(product.photoUrl)"
                      />
                    </td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.itemCode }}</td>

                    <td>{{ product.shelfNo }}</td>
                    <td>{{ product.barcode }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.batchCode }}</td>
                    <td>{{ product.targetShelfNo }}</td>
                    <td>
                      <button
                        class="btn btn-danger"
                        (click)="deleteFastTransfer(product)"
                      >
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
