<main id="main" class="main">
    <!-- <div class="pagetitle">
      <h1>Sipariş Ürünlerini Toplama</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">General</li>
        </ol>
      </nav>
    </div> -->
  
    <section class="section">
  
      <div class="row">
        <div style="width: 100%">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Hızlı Transfer Paneli</h5>
              <ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
                <!-- <li class="nav-item" role="presentation">
                                    <a class="nav-link active" [class.active]="activeTab === 1" (click)="activeTab = 1">Raf
                                        Düzenleme</a>
                                </li> -->
              </ul>
  
            
  
  
              <div class="tab-content" id="ex2-content">
                <div class="tab-pane fade show" [class.active]="activeTab === 1" id="ex3-tabs-1" role="tabpanel"
                  aria-labelledby="ex3-tab-1">
                  <form [formGroup]="checkForm" (ngSubmit)="onSubmit(checkForm.value)">

                    <!-- Alınacak Ürün -->
                    <div class="row mb-3">
                      <div class="col-md-12">
                        <h5>Alınacak Ürün</h5>
                        <hr>
                      </div>
                    </div>
                  
                    <div class="row mb-3">
                      <div class="form-group">
                        <label for="shelfNo">Raf No:</label>
                        <div class="input-group">
                          <input type="text" id="shelfNo" class="form-control" formControlName="shelfNo"
                            (keydown.enter)="focusNextInput('barcode')" />
                          <div class="input-group-append">
                            <button type="button" (click)="clearShelfNumbers()" class="btn btn-dark">Rafı
                              Temizle</button>
                          </div>
                        </div>
                      </div>
                      <label *ngIf="shelfNumbers !== 'RAFLAR:'" for="shelfNo">{{ shelfNumbers }}</label>
        
                    </div>
        
                  
                    <div class="row mb-3">
                      <div class="form-group col">
                        <label for="barcode">Barkod:</label>
                        <input type="text" id="barcode" class="form-control" formControlName="barcode"
                          (keydown.enter)="onSubmit(checkForm.value)" />
                      </div>
                    </div>
                  
                    <div class="row mb-3">
                      <div class="form-group col">
                        <label for="quantity">Miktar:</label>
                        <input type="number" id="quantity" class="form-control" formControlName="quantity" />
                      </div>
                    </div>
                  
                    <div class="row mb-3">
                      <div class="form-group col">
                        <label for="batchCode">Parti:</label>
                        <input type="text" id="batchCode" class="form-control" formControlName="batchCode" />
                      </div>
                    </div>
                  
                  
                  
                    <!-- Gönderilecek Raf -->
                    <div class="row mb-3">
                      <div class="col-md-12">
                        <h5>Gönderilecek Raf</h5>
                        <hr>
                      </div>
                    </div>
                  
                    <div class="row mb-3">
                      <div class="form-group col">
                        <label for="targetShelfNo">Raf:</label>
                        <input type="text" id="targetShelfNo" class="form-control" formControlName="targetShelfNo" />
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-md-12">
                        <button type="button" class="btn btn-primary" style="width: 100%; margin-top: 1%;" (click)="onSubmit(checkForm.value)">Ekle</button>
                      </div>
                    </div>


                  
                    <!-- <div class="row mb-3">
                      <div class="col-md-12">
                        <button type="button" class="btn btn-dark" (click)="addAllSelectedProductsToList()" style="width: 100%;">Seçilenleri Ekle</button>
                      </div>
                    </div>
                  
                    <div class="row mb-3">
                      <div class="col-md-12">
                        <button type="button" class="btn btn-success" (click)="collectAndPack(this.collectedProducts)" style="width: 100%;">Toplananları Faturalaştır</button>
                      </div>
                    </div> -->
                  
                  </form>
                  
                  
                </div>
                <div class="tab-pane fade show" [class.active]="activeTab === 2" id="ex3-tabs-2" role="tabpanel-2"
                  aria-labelledby="ex3-tab-2"></div>
                <div class="tab-pane fade show" [class.active]="activeTab === 3" id="ex3-tabs-3" role="tabpanel-3"
                  aria-labelledby="ex3-tab-3">
                  Prices
                </div>
              </div>
            </div>
          </div>
  
          
  
          <!-- Yeni kart: Toplanan Ürünler -->
          <div class="card text-center" *ngIf="totalCount > 0">
            <div class="card-body">
              <h5 class="card-title">Toplanan Ürünler</h5>
              <h1 class="display-1">{{ totalCount}}</h1>
              <!--eklenen ürün miktarı yazcak! -->
  
              <p class="card-text">Adet Ürün Toplandı</p>
            </div>
          </div>
  
          <div class="card" *ngIf="collectedProducts.length > 0">
            <div class="card-body">
              <h5 class="card-title">Toplanan Ürünler</h5>
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Id</th>
                      <th scope="col">Fotoğraf</th>
                      <th scope="col">Raf Numarası</th>
                      <th scope="col">Barkod</th>                    
                      <th scope="col">Miktar</th>     
                      <th scope="col">Parti</th>
                      <th scope="col">Hedef Raf</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let product of collectedProducts; let i = index"
                     >
                      <td>
                       {{i+1}}
                      </td>
  
                      <td>
                        <img src="null" alt="Resim" width="50" height="50"
                          (click)="openImageModal(null)">
  
                      </td>
                      <td>{{ product.shelfNo }}</td>
                      <td>{{ product.barcode }}</td>
                      <td>{{ product.quantity }}</td>
                      <td>{{ product.batchCode }}</td>        
                      <td>{{ product.targetShelfNo }}</td>           
   
                      <td><button class="btn btn-danger" type="submit" (click)="deleteCountProduct(orderNo,product.barcode)">Sil </button></td>
                    </tr>
                  </tbody>
  
                </table>
  
  
  
              </div>
            </div>
          </div>
  
  
        </div>
      </div>
      <app-image-modal [imageUrl]="modalImageUrl" [title]="'Ürün Detay'"></app-image-modal>
  
  
    </section>
  
  </main>