.row {
  --bs-gutter-x: 0.5rem !important;
}

.card {
  margin-bottom: 10px;
}

::ng-deep .p-dropdown {
  width: 100% !important;
}

::ng-deep .p-toolbar {
  background-color: #ffffff;
}

::ng-deep .p-dropdown {
  width: 100% !important;
}

@media (max-width: 1200px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
    /* 2 items per row for medium screens */
  }
}

@media (max-width: 768px) {
  .products-container {
    grid-template-columns: 1fr;
    /* 1 item per row for small screens */
  }
}