<main id="main" class="main">
  <section class="section">
    <div class="row">

      <div class="card">
        <p-tabView [activeIndex]="activeIndex" (onChange)="logger($event)">
          <!-- FATURA BLİGİLERİ ------------------------------------------------------------------------------------------------>

          <p-tabPanel header="Fatura Bilgileri" *ngIf="this.processCode == 'R'">
            <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit(invoiceForm.value)">
              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <p-dropdown formControlName="officeCode" [options]="offices" [showClear]="true" placeholder="Ofis">
                  </p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <p-dropdown formControlName="warehouse" [options]="warehouses" [showClear]="true" placeholder="Depo"
                    optionLabel="name" formControlName="warehouseCode" className="mobile-spacing"></p-dropdown>
                </div>

              </div>
              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <p-dropdown placeholder="Müşteri" formControlName="currAccCode" [options]="customerList2"
                    virtualScroll="true" virtualScrollItemSize="50" optionLabel="name" [(ngModel)]="selectedCustomer"
                    [filter]="true"></p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <p-dropdown formControlName="taxTypeCode" [options]="taxTypeCodeList" [showClear]="true"
                    optionLabel="name" placeholder="Fatura Tipi"></p-dropdown>
                </div>



              </div>

              <div class="row mb-3">
                <p-dropdown placeholder="Satış Elemanı" formControlName="salesPersonCode"
                  [options]="salesPersonModelList" optionLabel="name" [filter]="true">
                </p-dropdown>
              </div>



              <div class="form-group col mb-3">
                <div class="form-group">
                  <label for="isReturn">İade Faturası</label>

                  <p-inputSwitch id="isReturn" class="form-control" formControlName="isReturn">
                  </p-inputSwitch>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <button type="button" class="btn btn-primary" style="width: 100%"
                    (click)="updateInvocieProcess(this.invoiceForm.value)">
                    Kaydet
                  </button>
                </div>
              </div>

            </form>
          </p-tabPanel>
          <p-tabPanel header="Fatura Bilgileri" *ngIf="this.processCode == 'BP'">
            <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit(invoiceForm.value)">
              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <p-dropdown formControlName="officeCode" [options]="offices" [showClear]="true" placeholder="Ofis">
                  </p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <p-dropdown formControlName="warehouse" [options]="warehouses" [showClear]="true" placeholder="Depo"
                    optionLabel="name" formControlName="warehouseCode" className="mobile-spacing"></p-dropdown>
                </div>

              </div>
              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <p-dropdown placeholder="Tedarikçi" formControlName="vendorCode" [options]="customerList2"
                    virtualScroll="true" virtualScrollItemSize="50" optionLabel="name" [(ngModel)]="selectedCustomer"
                    [filter]="true"></p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <p-dropdown formControlName="taxTypeCode" [options]="taxTypeCodeList" [showClear]="true"
                    optionLabel="name" placeholder="Fatura Tipi"></p-dropdown>
                </div>



              </div>

              <div class="row mb-3">
                <p-dropdown placeholder="Satış Elemanı" formControlName="salesPersonCode"
                  [options]="salesPersonModelList" optionLabel="name" [filter]="true">
                </p-dropdown>
              </div>



              <div class="form-group col mb-3">
                <div class="form-group">
                  <label for="isReturn">İade Faturası</label>

                  <p-inputSwitch id="isReturn" class="form-control" formControlName="isReturn">
                  </p-inputSwitch>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <button type="button" class="btn btn-primary" style="width: 100%"
                    (click)="updateInvocieProcess(this.invoiceForm.value)">
                    Kaydet
                  </button>
                </div>
              </div>

            </form>
          </p-tabPanel>
          <p-tabPanel header="Fatura Ürünleri" *ngIf="this.invoiceProcess">
            <!-- FATURA ÜRÜN FORMU------------------------------------------------------------------------------------------------>

            <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
              <div class="row mb-3">
                <div class="form-group">
                  <div class="input-group">
                    <input pInputText type="text" id="shelfNo" class="form-control" style="height: 100%"
                      formControlName="shelfNo" placeholder="{{
                            shelfNumbers != 'RAFLAR:' ? shelfNumbers : 'Raf No'
                          }}" (keydown.enter)="focusNextInput('barcode')" />
                    <div class="input-group-append">
                      <button pButton type="button" (click)="clearShelfNumbers()" class="btn btn-primary"
                        style="height:  100%;">
                        <i class="fa fa-eraser" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div *ngIf="shelfNumbers !== 'RAFLAR:'" class="text">
                    {{ shelfNumbers }}
                  </div> -->
              <div class="row mb-3">
                <div class="form-group">
                  <input pInputText placeholder="Barkod" type="text" id="barcode" class="form-control"
                    formControlName="barcode" (keydown.enter)="onSubmit(productForm.value)" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col">
                  <input pInputText placeholder="Miktar" type="number" id="quantity" class="form-control"
                    formControlName="quantity" (keydown.enter)="onSubmit(productForm.value)" />
                </div>
                <div class="form-group col">
                  <input pInputText placeholder="Parti" type="text" id="batchCode" class="form-control"
                    formControlName="batchCode" (keydown.enter)="focusNextInput('quantity')" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col">
                  <button type="button" class="btn btn-primary" (click)="onSubmit(productForm.value)"
                    style="width: 100%">
                    Ekle
                  </button>
                </div>



              </div>
            </form>


          </p-tabPanel>

          <!-- FATURA KONTROL  *ngIf="this.invoiceProcess && this.invoiceProducts.length>0"------------------------------------------------------------------------------------------------>
          <p-tabPanel header="Fatura Detay">

            <div class="card" *ngIf="invoiceProducts.length > 0 && activeIndex==2">
              <p-table [value]="invoiceProducts" [scrollable]="true" scrollHeight="600px"
                [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                  <tr>
                    <th scope="col">Fotoğraf</th>

                    <th pSortableColumn="itemCode">
                      Ürün Kodu
                      <p-sortIcon field="itemCode"></p-sortIcon>
                    </th>
                    <th pSortableColumn="quantity">
                      Miktar
                      <p-sortIcon field="quantity"></p-sortIcon>
                    </th>

                    <th pSortableColumn="barcode">
                      Barkod
                      <p-sortIcon field="barcode"></p-sortIcon>
                    </th>
                    <th pSortableColumn="price">
                      Fiyat
                      <p-sortIcon field="price"></p-sortIcon>
                    </th>
                    <th pSortableColumn="priceVI">
                      Fiyat (VD)
                      <p-sortIcon field="priceVI"></p-sortIcon>
                    </th>

                    <th pSortableColumn="taxRate">
                      Vergi Oranı
                      <p-sortIcon field="taxRate"></p-sortIcon>
                    </th>

                    <th scope="col">İşlemler</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-product let-i="index">
                  <tr>
                    <td>
                      <p-image src="{{ product.photoUrl }}" [preview]="true" alt="Image" width="50px">
                        <ng-template pTemplate="indicator">
                          <i class="pi pi-check"></i>
                        </ng-template>
                      </p-image>
                    </td>
                    <td>{{ product.itemCode }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.barcode }}</td>
                    <td>{{ product.price | currency }}</td>
                    <td>{{ product.priceVI | currency }}</td>
                    <!-- <td>{{ product.totalPrice | currency }}</td>
                    <td>{{ product.totalTaxedPrice | currency }}</td> -->
                    <td>{{ product.taxRate }}%</td>
                    <!-- <td>{{ product.discountRate1 }}%</td>
                    <td>{{ product.discountRate2 }}₺</td> -->
                    <td>

                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-danger" type="submit" (click)="deleteOrderProduct(product.id)">
                          <i class="fa fa-trash"></i>
                        </button>
                        <button class="btn btn-primary" type="button" (click)="openUpdateDialog(product)">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>

                      </div>



                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr>
                    <td colspan="2" class="text-right"><strong>Toplam:</strong></td>
                    <td>{{ getTotalQuantity() }}</td>
                    <td colspan="1"></td>
                    <td>{{  getTotal() | currency}}</td>
                    <td>{{ getTotalTaxedPrice() | currency }}
                    </td>
                    <td colspan="5"></td>
                  </tr>
                </ng-template>
              </p-table>
            </div>

            <table class="table table-bordered">
              <tbody>
                <tr *ngIf="this.processCode =='R' ">
                  <th scope="row" class="text-left">Müşteri:</th>
                  <td class="text-left">{{ invoiceForm.get('currAccCode').value?.name || 'Belirtilmemiş' }}</td>
                </tr>
                <tr *ngIf="this.processCode =='BP' ">
                  <th scope="row" class="text-left">Tedarikçi:</th>
                  <td class="text-left">{{ invoiceForm.get('vendorCode').value?.name || 'Belirtilmemiş' }}</td>
                </tr>
                <tr>
                  <th scope="row" class="text-left">Dip İskonto (%) :</th>
                  <td class="text-left">{{ this.invoiceProcess?.discountRate1 || 'Belirtilmemiş' }}</td>
                </tr>
                <tr>
                  <th scope="row" class="text-left">Dip İskonto (₺) :</th>
                  <td class="text-left">{{ this.invoiceProcess?.discountRate2 || 'Belirtilmemiş' }}</td>
                </tr>
                <tr>
                  <th scope="row">Toplam (KDV Hariç)</th>
                  <td>{{ getFinalTotalPrice() | currency : "₺" }}</td>
                </tr>
                <tr>
                  <th scope="row">Toplam KDV</th>
                  <td>{{ getTotalTax() | currency : "₺" }}</td>
                </tr>
                <tr>
                  <th scope="row">Genel Toplam (KDV Dahil)</th>
                  <td>{{ getFinalTotalPrice2() | currency : "₺" }}</td>
                </tr>

                <tr *ngIf="invoiceNumber">
                  <th scope="row" class="text-left">Fatura Numarası:</th>
                  <td class="text-left">{{ invoiceNumber }}</td>
                </tr>
                <!-- <tr>
                  <th scope="row" class="text-left">Ofis Kodu:</th>
                  <td class="text-left">{{ invoiceForm.get('officeCode').value || 'Belirtilmemiş' }}</td>
                </tr>
                <tr>
                  <th scope="row" class="text-left">Depo Kodu:</th>
                  <td class="text-left">{{ invoiceForm.get('warehouseCode').value?.name || 'Belirtilmemiş' }}</td>
                </tr>

                <tr>
                  <th scope="row" class="text-left">Satış Elemanı Kodu:</th>
                  <td class="text-left">{{ invoiceForm.get('salesPersonCode').value?.name || 'Belirtilmemiş' }}</td>
                </tr>
                <tr>
                  <th scope="row" class="text-left"> Vergi Tipi:</th>
                  <td class="text-left">{{ invoiceForm.get('taxTypeCode').value?.name || 'Belirtilmemiş' }}</td>
                </tr>
                <tr>
                  <th scope="row" class="text-left">İade Faturası:</th>
                  <td class="text-left">{{ invoiceForm.get('isReturn').value ? 'Evet' : 'Hayır' }}</td>
                </tr> -->
              </tbody>
            </table>

            <!-- İNDİRİM FORMU----------------------------------------------------------------------------------------------------->

            <form [formGroup]="discountForm" *ngIf="invoiceProducts.length > 0" class="mb-3 ">
              <div class="row">
                <div class="col-md-4  mb-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button class="btn btn-primary" (click)="
                      discount(this.discountForm.value.percentDiscountRate)
                    " type="button"><i class="fa fa-check" aria-hidden="true"></i></button>
                    </div>
                    <input type="number" class="form-control" id="percentDiscountRate" placeholder="Yüzde İndirim Oranı"
                      formControlName="percentDiscountRate" (keydown.enter)="
                    discount(this.discountForm.value.percentDiscountRate)
                  " />
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="input-group ">
                    <div class="input-group-append">
                      <button class="btn btn-primary" icon="pi pi-check" (click)="
                      cashDiscount(this.discountForm.value.cashDiscountRate)
                    " type="button"> <i class="fa fa-check" aria-hidden="true"></i></button>
                    </div>
                    <input type="number" class="form-control" id="cashDiscountRate" placeholder="Nakit İndirim Tutarı"
                      formControlName="cashDiscountRate" (keydown.enter)="
                    cashDiscount(this.discountForm.value.cashDiscountRate)
                  " />
                  </div>
                </div>
                <div class="col-md-4">
                  <button style="width: 100%" class="btn btn-danger" (click)="resetDiscount()" type="button"> İndirimi
                    Sıfırla</button>
                </div>
              </div>


            </form>

            <button type="button" class="btn btn-primary" (click)="createSaleInvoice()" style="width: 100%;">
              Faturayı Kes
            </button>
          </p-tabPanel>


        </p-tabView>
      </div>
      <!-- ÜRÜN LİSTESİ ------------------------------------------------------------------------------------------------>

      <div class="card" *ngIf="invoiceProducts.length > 0 && activeIndex==1">
        <p-table [value]="invoiceProducts" class="table" [paginator]="true" [rows]="10"
          [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">Fotoğraf</th>
              <th pSortableColumn="shelfNo">
                Raf
                <p-sortIcon field="shelfNo"></p-sortIcon>
                <p-columnFilter type="text" field="shelfNo" [showClearButton]="true"></p-columnFilter>
              </th>
              <th pSortableColumn="itemCode">
                Ürün Kodu
                <p-sortIcon field="itemCode"></p-sortIcon>
                <p-columnFilter type="text" field="itemCode" [showClearButton]="true"></p-columnFilter>
              </th>
              <th pSortableColumn="quantity">
                Miktar
                <p-sortIcon field="quantity"></p-sortIcon>
                <p-columnFilter type="numeric" field="quantity" [showClearButton]="true"></p-columnFilter>
              </th>
              <th pSortableColumn="batchCode">
                Parti
                <p-sortIcon field="batchCode"></p-sortIcon>
                <p-columnFilter type="text" field="batchCode" [showClearButton]="true"></p-columnFilter>
              </th>
              <th pSortableColumn="barcode">
                Barkod
                <p-sortIcon field="barcode"></p-sortIcon>
                <p-columnFilter type="text" field="barcode" [showClearButton]="true"></p-columnFilter>
              </th>
              <th scope="col">İşlemler</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-product let-i="index">
            <tr>
              <td>
                <p-image src="{{ product.photoUrl }}" [preview]="true" alt="Image" width="30px">
                  <ng-template pTemplate="indicator">
                    <i class="pi pi-check"></i>
                  </ng-template>
                </p-image>
              </td>
              <td>{{ product.shelfNo }}</td>
              <td>{{ product.itemCode }}</td>
              <td>{{ product.quantity }}</td>
              <td>{{ product.batchCode }}</td>
              <td>{{ product.barcode }}</td>
              <td>
                <button class="btn btn-primary" type="submit" (click)="deleteOrderProduct(product.id)">
                  <i class="fa fa-trash"></i>
                </button>

                <button *ngIf="product.quantity > product.quantity" class="btn btn-primary" style="margin-left: 1rem"
                  type="submit">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>

      </div>

      <!-- Ürün Güncelle----------------------------------------------------------------------------------------------------->
      <p-dialog header="Ürün Güncelle" [(visible)]="updateProductDialog" [modal]="true" [closable]="false"
        [style]="{width: '300px'}">
        <form [formGroup]="updateProductForm">
          <div class="p-fluid">
            <div class="p-field">
              <label for="price">Fiyat</label>
              <input id="price" type="number" pInputText formControlName="price">
            </div>
            <div class="p-field">
              <label for="priceVI">Fiyat (VD)</label>
              <input id="priceVI" type="number" pInputText formControlName="priceVI">
            </div>
            <div class="p-field mb-3">
              <label for="quantity">Adet</label>
              <input id="quantity" type="number" pInputText formControlName="quantity">
            </div>
            <div class="p-field mb-3">
              <button type="submit" pButton label="Güncelle" (click)="updateProduct(this.selectedProduct)"></button>
            </div>

            <div class="p-field">
              <button type="button" pButton label="Kapat" (click)="this.updateProductDialog =false"></button>
            </div>
          </div>
        </form>
      </p-dialog>

      <!-- TOPLANAN ÜRÜNLER ------------------------------------------------------------------------------------------------>

      <div class="card text-center" *ngIf="activeIndex==1">
        <div class="card-body">
          <h5 class="card-title">Toplanan Ürünler</h5>
          <h1 class="display-1">{{ totalCount }}</h1>
          <p class="card-text">Adet Ürün Toplandı</p>
        </div>
      </div>
    </div>
  </section>
</main>
