<main id="main" class="main">
  <section class="section">
    <div class="row">

      <div class="card">
        <p-tabView [activeIndex]="activeIndex" (onChange)="logger($event)">
          @if(true){
          <!-- Sipariş BİLGİLERİ (R-WS) ------------------------------------------------------------------------------------------------>

          <p-tabPanel header="Sipariş Başlığı" *ngIf="((this.processCode == 'R'||this.processCode == 'WS') && this.processType=='order')&&
            !this.invoiceProcess?.isCompleted">
            <form [formGroup]="order_r_form" (ngSubmit)="onSubmit(order_r_form.value)">
              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="officeCode">Ofis</label>
                  <p-dropdown formControlName="officeCode" [options]="offices" [showClear]="true" placeholder="Ofis">
                  </p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <label for="warehouseCode">Depo</label>
                  <p-dropdown formControlName="warehouse" [options]="warehouses" [showClear]="true" placeholder="Depo"
                    optionLabel="name" formControlName="warehouseCode" className="mobile-spacing"></p-dropdown>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="currAccCode">Müşteri</label>
                  <p-dropdown placeholder="Müşteri" formControlName="currAccCode" [options]="customerList2"
                    virtualScroll="true" virtualScrollItemSize="50" optionLabel="name" [(ngModel)]="selectedCustomer"
                    [filter]="true"></p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <label for="taxTypeCode">Fatura Tipi</label>
                  <p-dropdown formControlName="taxTypeCode" [options]="taxTypeCodeList" [showClear]="true"
                    optionLabel="name" placeholder="Fatura Tipi"></p-dropdown>
                </div>


              </div>

              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="taxTypeCode">Fatura Adresi</label>
                  <p-dropdown formControlName="billingPostalAddressId" [options]="addresses_vm" [showClear]="true"
                    optionLabel="name" placeholder="Fatura Adresi"></p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <label for="taxTypeCode">Teslimat Adresi</label>
                  <p-dropdown formControlName="shippingPostalAddressId" [options]="addresses_vm" [showClear]="true"
                    optionLabel="name" placeholder="Teslimat Adresi"></p-dropdown>
                </div>
              </div>

              <div class="row mb-3">
                <label for="salesPersonCode">Satış Elemanı</label>
                <p-dropdown placeholder="Satış Elemanı" formControlName="salesPersonCode"
                  [options]="salesPersonModelList" optionLabel="name" [filter]="true">
                </p-dropdown>
              </div>



              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="description">Açıklama</label>
                  <textarea pInputText type="text" class="form-control" id="description" placeholder="Açıklama" rows="5"
                    cols="30" formControlName="description" maxlength="200"></textarea>
                </div>
                <div class="form-group col-md-6">
                  <label for="internalDescription">Dahili Açıklama</label>
                  <textarea pInputText type="text" class="form-control" id="internalDescription" rows="5" cols="30"
                    placeholder="Dahili Açıklama" formControlName="internalDescription" maxlength="200"></textarea>
                </div>
              </div>




              <div class="row mb-3">
                <div class="form-group col">
                  <button type="button" class="btn btn-primary" style="width: 100%"
                    (click)="updateInvocieProcess(this.order_r_form.value)" [disabled]="
                    this.invoiceProcess?.isCompleted">
                    Kaydet
                  </button>
                </div>
              </div>
            </form>
          </p-tabPanel>

          <!-- FATURA BİLGİLERİ (R-WS) ------------------------------------------------------------------------------------------------>

          <p-tabPanel header="Fatura Başlığı"
            *ngIf="((this.processCode == 'R'||'WS') && this.processType=='invoice')&& !this.invoiceProcess?.isCompleted">
            <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit(invoiceForm.value)">
              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="officeCode">Ofis</label>
                  <p-dropdown formControlName="officeCode" [options]="offices" [showClear]="true" placeholder="Ofis">
                  </p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <label for="warehouseCode">Depo</label>
                  <p-dropdown formControlName="warehouse" [options]="warehouses" [showClear]="true" placeholder="Depo"
                    optionLabel="name" formControlName="warehouseCode" className="mobile-spacing"></p-dropdown>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="currAccCode">Müşteri</label>
                  <p-dropdown placeholder="Müşteri" formControlName="currAccCode" [options]="customerList2"
                    virtualScroll="true" virtualScrollItemSize="50" optionLabel="name" [(ngModel)]="selectedCustomer"
                    [filter]="true"></p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <label for="taxTypeCode">Fatura Tipi</label>
                  <p-dropdown formControlName="taxTypeCode" [options]="taxTypeCodeList" [showClear]="true"
                    optionLabel="name" placeholder="Fatura Tipi"></p-dropdown>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="taxTypeCode">Fatura Adresi</label>
                  <p-dropdown formControlName="billingPostalAddressId" [options]="addresses_vm" [showClear]="true"
                    optionLabel="name" placeholder="Fatura Adresi"></p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <label for="taxTypeCode">Teslimat Adresi</label>
                  <p-dropdown formControlName="shippingPostalAddressId" [options]="addresses_vm" [showClear]="true"
                    optionLabel="name" placeholder="Teslimat Adresi"></p-dropdown>
                </div>
              </div>


              <div class="row mb-3">
                <label for="salesPersonCode">Satış Elemanı</label>
                <p-dropdown placeholder="Satış Elemanı" formControlName="salesPersonCode"
                  [options]="salesPersonModelList" optionLabel="name" [filter]="true">
                </p-dropdown>
              </div>

              <div class="row mb-3">
                <label for="eInvoiceNumber">E-Fatura Numarası</label>
                <input pInputText type="text" class="form-control" id="eInvoiceNumber" placeholder="E-Fatura Numarası"
                  formControlName="eInvoiceNumber" maxlength="16" />
              </div>

              <div class="form-group col mb-3">
                <div class="form-group">
                  <label for="isReturn">İade Faturası</label>
                  <p-inputSwitch id="isReturn" class="form-control" formControlName="isReturn">
                  </p-inputSwitch>
                </div>
              </div>

              <div class="row mb-3">
                <label for="description">Açıklama</label>
                <textarea pInputText type="text" class="form-control" id="description" placeholder="Açıklama" rows="5"
                  cols="30" formControlName="description" maxlength="200"></textarea>
              </div>

              <div class="row mb-3">
                <label for="internalDescription">Dahili Açıklama</label>
                <textarea pInputText type="text" class="form-control" id="internalDescription" rows="5" cols="30"
                  placeholder="Dahili Açıklama" formControlName="internalDescription" maxlength="200"></textarea>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <button type="button" class="btn btn-primary" style="width: 100%"
                    (click)="updateInvocieProcess(this.invoiceForm.value)" [disabled]="
                    this.invoiceProcess?.isCompleted">
                    Kaydet
                  </button>
                </div>
              </div>
            </form>
          </p-tabPanel>

          <!-- FATURA BİLGİLERİ (BP) ------------------------------------------------------------------------------------------------>

          <p-tabPanel header="Fatura Başlığı"
            *ngIf="(this.processCode == 'BP' && this.processType=='invoice') && !this.invoiceProcess?.isCompleted">
            <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit(invoiceForm.value)">
              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="officeCode">Ofis</label>
                  <p-dropdown formControlName="officeCode" [options]="offices" [showClear]="true" placeholder="Ofis">
                  </p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <label for="warehouseCode">Depo</label>
                  <p-dropdown formControlName="warehouse" [options]="warehouses" [showClear]="true" placeholder="Depo"
                    optionLabel="name" formControlName="warehouseCode" className="mobile-spacing"></p-dropdown>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="vendorCode">Tedarikçi</label>
                  <p-dropdown placeholder="Tedarikçi" formControlName="vendorCode" [options]="customerList2"
                    virtualScroll="true" virtualScrollItemSize="50" optionLabel="name" [(ngModel)]="selectedCustomer"
                    [filter]="true"></p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <label for="taxTypeCode">Fatura Tipi</label>
                  <p-dropdown formControlName="taxTypeCode" [options]="taxTypeCodeList" [showClear]="true"
                    optionLabel="name" placeholder="Fatura Tipi"></p-dropdown>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="taxTypeCode">Fatura Adresi</label>
                  <p-dropdown formControlName="billingPostalAddressId" [options]="addresses_vm" [showClear]="true"
                    optionLabel="name" placeholder="Fatura Adresi"></p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <label for="taxTypeCode">Teslimat Adresi</label>
                  <p-dropdown formControlName="shippingPostalAddressId" [options]="addresses_vm" [showClear]="true"
                    optionLabel="name" placeholder="Teslimat Adresi"></p-dropdown>
                </div>
              </div>

              <div class="row mb-3">
                <label for="salesPersonCode">Satış Elemanı</label>
                <p-dropdown placeholder="Satış Elemanı" formControlName="salesPersonCode"
                  [options]="salesPersonModelList" optionLabel="name" [filter]="true">
                </p-dropdown>
              </div>

              <div class="row mb-3">
                <label for="eInvoiceNumber">E-Fatura Numarası</label>
                <input pInputText type="text" class="form-control" id="eInvoiceNumber" placeholder="E-Fatura Numarası"
                  formControlName="eInvoiceNumber" maxlength="16" />
              </div>

              <div class="form-group col mb-3">
                <div class="form-group">
                  <label for="isReturn">İade Faturası</label>
                  <p-inputSwitch id="isReturn" class="form-control" formControlName="isReturn">
                  </p-inputSwitch>
                </div>
              </div>

              <div class="row mb-3">
                <label for="description">Açıklama</label>
                <textarea pInputText type="text" class="form-control" id="description" placeholder="Açıklama"
                  formControlName="description" maxlength="200"></textarea>
              </div>

              <div class="row mb-3">
                <label for="internalDescription">Dahili Açıklama</label>
                <textarea pInputText type="text" class="form-control" id="internalDescription"
                  placeholder="Dahili Açıklama" formControlName="internalDescription" maxlength="200"></textarea>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <button type="button" class="btn btn-primary" style="width: 100%"
                    (click)="updateInvocieProcess(this.invoiceForm.value)">
                    Kaydet
                  </button>
                </div>
              </div>
            </form>
          </p-tabPanel>
          <!-- TEKLİF BİLGİLERİ (BP)------------------------------------------------------------------------------------------------>

          <p-tabPanel header="Alış Teklif Başlığı"
            *ngIf="(this.processCode == 'BP' && this.processType=='proposal') && !this.invoiceProcess?.isCompleted">
            <form [formGroup]="proposal_bp_form" (ngSubmit)="onSubmit(proposal_bp_form.value)">
              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="officeCode">Ofis</label>
                  <p-dropdown formControlName="officeCode" [options]="offices" [showClear]="true" placeholder="Ofis">
                  </p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <label for="warehouseCode">Depo</label>
                  <p-dropdown formControlName="warehouse" [options]="warehouses" [showClear]="true" placeholder="Depo"
                    optionLabel="name" formControlName="warehouseCode" className="mobile-spacing"></p-dropdown>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="vendorCode">Tedarikçi</label>
                  <p-dropdown placeholder="Tedarikçi" formControlName="vendorCode" [options]="customerList2"
                    virtualScroll="true" virtualScrollItemSize="50" optionLabel="name" [(ngModel)]="selectedCustomer"
                    [filter]="true"></p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <label for="taxTypeCode">Fatura Tipi</label>
                  <p-dropdown formControlName="taxTypeCode" [options]="taxTypeCodeList" [showClear]="true"
                    optionLabel="name" placeholder="Fatura Tipi"></p-dropdown>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="taxTypeCode">Fatura Adresi</label>
                  <p-dropdown formControlName="billingPostalAddressId" [options]="addresses_vm" [showClear]="true"
                    optionLabel="name" placeholder="Fatura Adresi"></p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <label for="taxTypeCode">Teslimat Adresi</label>
                  <p-dropdown formControlName="shippingPostalAddressId" [options]="addresses_vm" [showClear]="true"
                    optionLabel="name" placeholder="Teslimat Adresi"></p-dropdown>
                </div>
              </div>

              <div class="row mb-3">
                <label for="salesPersonCode">Satış Elemanı</label>
                <p-dropdown placeholder="Satış Elemanı" formControlName="salesPersonCode"
                  [options]="salesPersonModelList" optionLabel="name" [filter]="true">
                </p-dropdown>
              </div>


              <div class="row mb-3">
                <label for="description">Açıklama</label>
                <textarea pInputText type="text" class="form-control" id="description" placeholder="Açıklama"
                  formControlName="description" maxlength="200"></textarea>
              </div>

              <div class="row mb-3">
                <label for="internalDescription">Dahili Açıklama</label>
                <textarea pInputText type="text" class="form-control" id="internalDescription"
                  placeholder="Dahili Açıklama" formControlName="internalDescription" maxlength="200"></textarea>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <button type="button" class="btn btn-primary" style="width: 100%"
                    (click)="updateInvocieProcess(this.proposal_bp_form.value)">
                    Kaydet
                  </button>
                </div>
              </div>
            </form>
          </p-tabPanel>

          <!-- TEKLİF BİLGİLERİ (WS) ------------------------------------------------------------------------------------------------>

          <p-tabPanel header="Satış Teklif Başlığı"
            *ngIf="(this.processCode == 'WS' && this.processType=='proposal')&& !this.invoiceProcess?.isCompleted">
            <form [formGroup]="proposal_ws_form" (ngSubmit)="onSubmit(proposal_ws_form.value)">
              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="officeCode">Ofis</label>
                  <p-dropdown formControlName="officeCode" [options]="offices" [showClear]="true" placeholder="Ofis">
                  </p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <label for="warehouseCode">Depo</label>
                  <p-dropdown formControlName="warehouse" [options]="warehouses" [showClear]="true" placeholder="Depo"
                    optionLabel="name" formControlName="warehouseCode" className="mobile-spacing"></p-dropdown>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col-md-12">
                  <label for="currAccCode">Müşteri</label>
                  <p-dropdown placeholder="Müşteri" formControlName="currAccCode" [options]="customerList2"
                    virtualScroll="true" virtualScrollItemSize="50" optionLabel="name" [(ngModel)]="selectedCustomer"
                    [filter]="true"></p-dropdown>
                </div>

              </div>

              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="taxTypeCode">Fatura Adresi</label>
                  <p-dropdown formControlName="billingPostalAddressId" [options]="addresses_vm" [showClear]="true"
                    optionLabel="name" placeholder="Fatura Adresi"></p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <label for="taxTypeCode">Teslimat Adresi</label>
                  <p-dropdown formControlName="shippingPostalAddressId" [options]="addresses_vm" [showClear]="true"
                    optionLabel="name" placeholder="Teslimat Adresi"></p-dropdown>
                </div>
              </div>

              <div class="row mb-3">
                <label for="taxTypeCode">Fatura Tipi</label>
                <p-dropdown formControlName="taxTypeCode" [options]="taxTypeCodeList" [showClear]="true"
                  optionLabel="name" placeholder="Fatura Tipi"></p-dropdown>
              </div>
              <div class="row mb-3">
                <label for="salesPersonCode">Satış Elemanı</label>
                <p-dropdown placeholder="Satış Elemanı" formControlName="salesPersonCode"
                  [options]="salesPersonModelList" optionLabel="name" [filter]="true">
                </p-dropdown>
              </div>

              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="description">Açıklama</label>
                  <textarea pInputText type="text" class="form-control" id="description" placeholder="Açıklama" rows="5"
                    cols="30" formControlName="description" maxlength="200"></textarea>
                </div>
                <div class="form-group col-md-6">
                  <label for="internalDescription">Dahili Açıklama</label>
                  <textarea pInputText type="text" class="form-control" id="internalDescription" rows="5" cols="30"
                    placeholder="Dahili Açıklama" formControlName="internalDescription" maxlength="200"></textarea>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col">
                  <button type="button" class="btn btn-primary" style="width: 100%"
                    (click)="updateInvocieProcess(this.proposal_ws_form.value)" [disabled]="
                    this.invoiceProcess?.isCompleted">
                    Kaydet
                  </button>
                </div>
              </div>
            </form>
          </p-tabPanel>
          <!-- İRSALİYE BİLGİLERİ (WS) ------------------------------------------------------------------------------------------------>

          <p-tabPanel header="İrsaliye Başlığı"
            *ngIf="(this.processCode == 'WS' && this.processType=='shipment')&& !this.invoiceProcess?.isCompleted">
            <form [formGroup]="shipment_ws_form" (ngSubmit)="onSubmit(shipment_ws_form.value)">
              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="officeCode">Ofis</label>
                  <p-dropdown formControlName="officeCode" [options]="offices" [showClear]="true" placeholder="Ofis">
                  </p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <label for="warehouseCode">Depo</label>
                  <p-dropdown formControlName="warehouse" [options]="warehouses" [showClear]="true" placeholder="Depo"
                    optionLabel="name" formControlName="warehouseCode" className="mobile-spacing"></p-dropdown>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col-md-12">
                  <label for="currAccCode">Müşteri</label>
                  <p-dropdown placeholder="Müşteri" formControlName="currAccCode" [options]="customerList2"
                    virtualScroll="true" virtualScrollItemSize="50" optionLabel="name" [(ngModel)]="selectedCustomer"
                    [filter]="true"></p-dropdown>
                </div>

              </div>

              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="taxTypeCode">Fatura Adresi</label>
                  <p-dropdown formControlName="billingPostalAddressId" [options]="addresses_vm" [showClear]="true"
                    optionLabel="name" placeholder="Fatura Adresi"></p-dropdown>
                </div>
                <div class="form-group col-md-6">
                  <label for="taxTypeCode">Teslimat Adresi</label>
                  <p-dropdown formControlName="shippingPostalAddressId" [options]="addresses_vm" [showClear]="true"
                    optionLabel="name" placeholder="Teslimat Adresi"></p-dropdown>
                </div>
              </div>



              <div class="row mb-3">
                <div class="form-group col-md-6">
                  <label for="description">Açıklama</label>
                  <textarea pInputText type="text" class="form-control" id="description" placeholder="Açıklama" rows="5"
                    cols="30" formControlName="description" maxlength="200"></textarea>
                </div>
                <div class="form-group col-md-6">
                  <label for="internalDescription">Dahili Açıklama</label>
                  <textarea pInputText type="text" class="form-control" id="internalDescription" rows="5" cols="30"
                    placeholder="Dahili Açıklama" formControlName="internalDescription" maxlength="200"></textarea>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col">
                  <button type="button" class="btn btn-primary" style="width: 100%"
                    (click)="updateInvocieProcess(this.shipment_ws_form.value)" [disabled]="
                    this.invoiceProcess?.isCompleted">
                    Kaydet
                  </button>
                </div>
              </div>
            </form>
          </p-tabPanel>
          <p-tabPanel header="{{lineHeading}}" *ngIf="(this.invoiceProcess && !this.invoiceProcess?.isCompleted) && (this.invoiceProcess?.applicationCode  !='Order'
            && this.invoiceProcess?.applicationCode !='Proposal')">
            <!-- FATURA ÜRÜN FORMU------------------------------------------------------------------------------------------------>
            <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
              <div class="row mb-3">
                <div class="form-group">
                  <div class="input-group">
                    <input pInputText type="text" id="shelfNo" class="form-control" style="height: 100%"
                      formControlName="shelfNo" placeholder="{{
                            shelfNumbers != 'RAFLAR:' ? shelfNumbers : 'Raf No'
                          }}" (keydown.enter)="focusNextInput('barcode')" />
                    <div class="input-group-append">
                      <button pButton type="button" (click)="clearShelfNumbers()" class="btn btn-primary"
                        style="height:  100%;">
                        <i class="fa fa-eraser" aria-hidden="true"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div *ngIf="shelfNumbers !== 'RAFLAR:'" class="text">
                    {{ shelfNumbers }}
                  </div> -->
              <div class="row mb-3">
                <div class="form-group">
                  <input pInputText placeholder="Barkod" type="text" id="barcode" class="form-control"
                    formControlName="barcode" (keydown.enter)="onSubmit(productForm.value)" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col">
                  <input pInputText placeholder="Miktar" type="number" id="quantity" class="form-control"
                    formControlName="quantity" (keydown.enter)="onSubmit(productForm.value)" />
                </div>

              </div>
              <div class="row mb-3">
                <div class="form-group col">
                  <button type="button" class="btn btn-primary" (click)="onSubmit(productForm.value)"
                    style="width: 100%">
                    Ekle
                  </button>
                </div>



              </div>
            </form>


          </p-tabPanel>
          <!-- FATURA KONTROL  *ngIf="this.invoiceProcess && this.invoiceProducts.length>0"------------------------------------------------------------------------------------------------>
          <p-tabPanel header="{{detailHeading}}" *ngIf="(this.invoiceProcess && invoiceProducts.length > 0 ) || (this.invoiceProcess?.applicationCode  =='Order'
            || this.invoiceProcess?.applicationCode =='Proposal')">

            <!-- BULUNAN ÜRÜNLER DİALOGU------------------------------------------------------------------------------------------------>

            <p-dialog header="Bulunan Ürünler" [(visible)]="findProductDialog"
              [style]="{ width: '100vw' ,minheight : '100vw'}" modal="true">
              <p-table [styleClass]="'p-datatable-striped'" [value]="allProducts" [paginator]="true" [rows]="10"
                (onFilter)="logFilteredData($event)" [tableStyle]="{ 'min-width': '50rem' , 'minheight' : '100vw' }">


                <ng-template pTemplate="header">

                  <tr>
                    <th>Fotoğraf</th>
                    <th pSortableColumn="brand">
                      Marka <p-sortIcon field="brand"></p-sortIcon>
                    </th>

                    <th pSortableColumn="itemCode">
                      Ürün Kodu <p-sortIcon field="itemCode"></p-sortIcon>
                    </th>

                    <th pSortableColumn="description">
                      Ürün <p-sortIcon field="description"></p-sortIcon>
                    </th>


                    <th pSortableColumn="inventory">
                      Envanter <p-sortIcon field="inventory"></p-sortIcon>
                    </th>
                    <th pSortableColumn="price">
                      Fiyat <p-sortIcon field="price"></p-sortIcon>
                    </th>

                    <th pSortableColumn="priceVI">
                      Vergili Fiyat <p-sortIcon field="priceVI"></p-sortIcon>
                    </th>
                    <th>
                      İşlemler
                    </th>
                  </tr>
                  <tr>
                    <th></th>

                    <th>
                      <p-columnFilter field="brand" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-dropdown virtualScroll="true" virtualScrollItemSize="50" [options]="brands"
                            (onChange)="filter($event.value)" placeholder="Seçiniz" [showClear]="true" filter="true"
                            filterBy="label">
                            <ng-template let-option pTemplate="item">
                              <span class="ml-1 mt-1">{{ option.label }}</span>
                            </ng-template>
                          </p-dropdown>
                        </ng-template>
                      </p-columnFilter>
                    </th>
                    <th>
                      <p-columnFilter field="itemCode" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-dropdown virtualScroll="true" virtualScrollItemSize="50" [options]="itemCodes"
                            (onChange)="filter($event.value)" placeholder="Seçiniz" [showClear]="true" filter="true"
                            filterBy="label">
                            <ng-template let-option pTemplate="item">
                              <span class="ml-1 mt-1">{{ option.label }}</span>
                            </ng-template>
                          </p-dropdown>
                        </ng-template>
                      </p-columnFilter>
                    </th>

                    <th>
                      <p-columnFilter field="description" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                          <p-dropdown virtualScroll="true" virtualScrollItemSize="50" [options]="descriptions"
                            (onChange)="filter($event.value)" placeholder="Seçiniz" [showClear]="true" filter="true"
                            filterBy="label">
                            <ng-template let-option pTemplate="item">
                              <span class="ml-1 mt-1">{{ option.label }}</span>
                            </ng-template>
                          </p-dropdown>
                        </ng-template>
                      </p-columnFilter>
                    </th>


                    <th>
                      <p-columnFilter type="numeric" field="inventory" [showClearButton]="false"></p-columnFilter>
                    </th>
                    <th>
                      <p-columnFilter type="numeric" field="price" [showClearButton]="false"></p-columnFilter>
                    </th>
                    <th>
                      <p-columnFilter type="numeric" field="priceVI" [showClearButton]="false"></p-columnFilter>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                  <tr>

                    <td>
                      <p-image src="{{ product.photoUrl }}" alt="Image" width="50" [preview]="true">
                      </p-image>
                    </td>
                    <td>{{ product.brand }}</td>

                    <td>{{ product.itemCode }}</td>

                    <td class="scrollable-td">{{ product.description }}</td>

                    <td>{{ product.inventory }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.priceVI }}</td>

                    <td>
                      <button type="button" class="btn btn-primary" (click)="addProduct(product)"> <i class="fa fa-plus"
                          aria-hidden="true"></i></button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </p-dialog>

            <div class="card"
              *ngIf="this.invoiceProcess.isCompleted==false && this.invoiceProcess.eInvoiceNumber !=null"
              style="border: 1px solid #f5c6cb; background-color: #f8d7da; color: #721c24; padding: 15px; margin: 10px 0;">
              <div class="card-body">
                <strong>Uyarı:</strong> Şu an düzenleme modundasınız. Lütfen siparişi tamamlayınız.
              </div>
            </div>
            <div
              *ngIf="this.invoiceProcess?.applicationCode=='Order' || this.invoiceProcess?.applicationCode =='Proposal' && !this.invoiceProcess.isCompleted">
              <div class="row mt-4">
                <div class="col">
                  <div class="card p-3">
                    <div class="card-body text-center">
                      <!-- <h5>Ürün Seçin</h5> -->
                      <a class="btn btn-link" (click)="getAllProducts()">

                        <h3> <i class="bi bi-plus-circle"></i> Ürün Seçin</h3>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card" *ngIf="invoiceProducts.length > 0">
              <p-table [value]="invoiceProducts" [scrollable]="true" scrollHeight="600px"
                [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                  <tr>
                    <th scope="col">Fotoğraf</th>

                    <th pSortableColumn="itemCode">
                      Ürün Kodu
                      <p-sortIcon field="itemCode"></p-sortIcon>
                    </th>
                    <th pSortableColumn="quantity">
                      Miktar
                      <p-sortIcon field="quantity"></p-sortIcon>
                    </th>

                    <th pSortableColumn="barcode">
                      Barkod
                      <p-sortIcon field="barcode"></p-sortIcon>
                    </th>
                    <th pSortableColumn="price">
                      Fiyat
                      <p-sortIcon field="price"></p-sortIcon>
                    </th>
                    <th pSortableColumn="priceVI">
                      Fiyat (VD)
                      <p-sortIcon field="priceVI"></p-sortIcon>
                    </th>

                    <th pSortableColumn="taxRate">
                      Vergi Oranı
                      <p-sortIcon field="taxRate"></p-sortIcon>
                    </th>

                    <th scope="col">İşlemler</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-product let-i="index">
                  <tr>
                    <td>
                      <p-image src="{{ product.photoUrl }}" [preview]="true" alt="Image" width="50px">
                        <ng-template pTemplate="indicator">
                          <i class="pi pi-check"></i>
                        </ng-template>
                      </p-image>
                    </td>
                    <td>{{ product.itemCode }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.barcode }}</td>
                    <td>{{ product.price | currency: '₺'}}</td>
                    <td>{{ product.priceVI | currency : '₺' }}</td>
                    <!-- <td>{{ product.totalPrice | currency }}</td>
                    <td>{{ product.totalTaxedPrice | currency }}</td> -->
                    <td>{{ product.taxRate }}%</td>
                    <!-- <td>{{ product.discountRate1 }}%</td>
                    <td>{{ product.discountRate2 }}₺</td> -->
                    <td>

                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-danger" type="submit" (click)="deleteOrderProduct(product.id)"
                          [disabled]=" this.invoiceProcess?.isCompleted">
                          <i class="fa fa-trash"></i>
                        </button>
                        <button class="btn btn-primary" type="button" (click)="openUpdateDialog(product)"
                          [disabled]=" this.invoiceProcess?.isCompleted">
                          <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>

                      </div>



                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr>
                    <td colspan="2" class="text-right"><strong>Toplam:</strong></td>
                    <td>{{ getTotalQuantity() }}</td>
                    <td colspan="1"></td>
                    <td>{{  getTotal() | currency : '₺'}}</td>
                    <td>{{ getTotalTaxedPrice()| currency : '₺'  }}
                    </td>
                    <td colspan="5"></td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
            <form [formGroup]="discountForm" *ngIf="invoiceProducts.length > 0 &&  !this.invoiceProcess?.isCompleted"
              class="mb-3 ">
              <table class="table table-bordered"
                *ngIf="invoiceProducts.length > 0 &&  !this.invoiceProcess?.isCompleted">
                <tbody>


                  <tr *ngIf="this.invoiceProcess?.isCompleted">
                    <th scope="row" class="text-left">Ofis Kodu:</th>
                    <td class="text-left">{{ this.invoiceProcess?.officeCode || 'Belirtilmemiş' }}</td>
                  </tr>
                  <tr *ngIf="this.invoiceProcess?.isCompleted">
                    <th scope="row" class="text-left">Depo Kodu:</th>
                    <td class="text-left">{{ this.invoiceProcess?.warehouseCode || 'Belirtilmemiş' }}</td>
                  </tr>

                  <tr *ngIf="this.invoiceProcess?.isCompleted">
                    <th scope="row" class="text-left">Satış Elemanı Kodu:</th>
                    <td class="text-left">{{ this.invoiceProcess?.salesPersonCode || 'Belirtilmemiş' }}</td>
                  </tr>
                  <tr *ngIf="this.invoiceProcess?.isCompleted">
                    <th scope="row" class="text-left"> Vergi Tipi:</th>
                    <td class="text-left">{{  this.invoiceProcess?.taxTypeCode|| 'Belirtilmemiş' }}
                    </td>
                  </tr>
                  <tr *ngIf="this.invoiceProcess?.isCompleted && this.processType=='invoice'">
                    <th scope="row" class="text-left">İade
                      Faturası:</th>
                    <td class=" text-left">{{  this.invoiceProcess?.isReturn ? 'Evet' : 'Hayır' }}</td>
                  </tr>
                  <tr *ngIf="this.invoiceProcess?.isCompleted && (this.processCode =='R' &&this.processType=='order' )">
                    <th scope="row" class="text-left">
                      E-Fatura Numarası</th>
                    <td class="text-left">{{ this.invoiceProcess?.eInvoiceNumber || 'Belirtilmemiş' }}</td>
                  </tr>
                  <tr
                    *ngIf="this.invoiceProcess?.isCompleted && (this.processCode =='R' &&this.processType=='invoice' )">
                    <th scope="row" class="text-left">
                      E-Fatura Numarası</th>
                    <td class="text-left">{{ this.invoiceProcess?.eInvoiceNumber || 'Belirtilmemiş' }}</td>
                  </tr>
                  <tr
                    *ngIf="this.invoiceProcess?.isCompleted && (this.processCode =='R' &&this.processType=='proposal' )">
                    <th scope="row" class="text-left">
                      Teklif Numarası</th>
                    <td class="text-left">{{ this.invoiceProcess?.eInvoiceNumber || 'Belirtilmemiş' }}</td>
                  </tr>



                  <tr *ngIf="this.processCode =='R' ">
                    <th scope="row" class="text-left">Müşteri:</th>
                    <td class="text-left">{{  this.invoiceProcess?.currAccCode || 'Belirtilmemiş' }}
                    </td>
                  </tr>
                  <tr *ngIf="this.processCode =='BP' ">
                    <th scope="row" class="text-left">Tedarikçi:</th>
                    <td class="text-left">{{  this.invoiceProcess?.vendorCode || 'Belirtilmemiş' }}
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">Alt Toplam</th>
                    <td>{{ getTotal() | currency : "₺" }}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Dip İskonto (%) :</th>
                    <td class="text-left">{{ this.invoiceProcess?.discountRate1 || 'Belirtilmemiş' }}</td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-left">Dip İskonto (₺) :</th>
                    <td class="text-left">{{ this.invoiceProcess?.discountRate2 || 'Belirtilmemiş' }}</td>
                  </tr>
                  <tr>
                    <th scope="row">İnd. Alt Toplam</th>
                    <td>{{ getFinalTotalPrice() | currency : "₺" }}</td>
                  </tr>
                  <!-- <tr>
                    <th scope="row">Toplam KDV</th>
                    <td>{{ getTotalTax() | currency : "₺" }}</td>
                  </tr> -->
                  <tr>
                    <th scope="row">Toplam KDV</th>
                    <td>{{   calculateTotalTax()  | currency : "₺" }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Genel Toplam (KDV Dahil)</th>
                    <td>{{ getFinalTotalPrice()+calculateTotalTax()  | currency : "₺" }}</td>
                  </tr>

                  <tr *ngIf="invoiceNumber">
                    <th scope="row" class="text-left">Fatura Numarası:</th>
                    <td class="text-left">{{ invoiceNumber }}</td>
                  </tr>

                </tbody>
              </table>

              <!-- İNDİRİM FORMU----------------------------------------------------------------------------------------------------->


              <div class="row">
                <div class="col-md-4  mb-3">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <button class="btn btn-primary" (click)="
                      discount(this.discountForm.value.percentDiscountRate)
                    " type="button"><i class="fa fa-check" aria-hidden="true"></i></button>
                    </div>
                    <input type="number" class="form-control" id="percentDiscountRate" placeholder="Yüzde İndirim Oranı"
                      formControlName="percentDiscountRate" (keydown.enter)="
                    discount(this.discountForm.value.percentDiscountRate)
                  " />
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <div class="input-group ">
                    <div class="input-group-append">
                      <button class="btn btn-primary" icon="pi pi-check" (click)="
                      cashDiscount(this.discountForm.value.cashDiscountRate)
                    " type="button"> <i class="fa fa-check" aria-hidden="true"></i></button>
                    </div>
                    <input type="number" class="form-control" id="cashDiscountRate" placeholder="Nakit İndirim Tutarı"
                      formControlName="cashDiscountRate" (keydown.enter)="
                    cashDiscount(this.discountForm.value.cashDiscountRate)
                  " />
                  </div>
                </div>
                <div class="col-md-4">
                  <button style="width: 100%" class="btn btn-danger" (click)="resetDiscount()" type="button"> İndirimi
                    Sıfırla</button>
                </div>
              </div>


            </form>

            <button *ngIf="this.processType=='invoice'" type="button" class="btn btn-primary" (click)="createInvoice()"
              style="width: 100%;" [disabled]="
                    this.invoiceProcess?.isCompleted || invoiceProducts.length <= 0 ">
              Faturayı Kes
            </button>
            <button *ngIf="this.processType=='proposal' && this.invoiceProducts.length >0" type=" button"
              class="btn btn-primary" (click)="createProposalReport()" style="width: 100%;" [disabled]="
                    this.invoiceProcess?.isCompleted || invoiceProducts.length <= 0 ">
              Teklifi Oluştur
            </button>
            <button *ngIf="this.processType=='order'" type="button" class="btn btn-primary" (click)="createOrder()"
              style="width: 100%;" [disabled]="
                    this.invoiceProcess?.isCompleted || invoiceProducts.length <= 0 ">
              Siparişi Oluştur
            </button>
          </p-tabPanel>
          }


        </p-tabView>
      </div>
      <!-- ÜRÜN LİSTESİ ------------------------------------------------------------------------------------------------>

      <div class="card" *ngIf="invoiceProducts.length > 0 && activeIndex==1 &&  !this.invoiceProcess?.isCompleted">
        <p-table [value]="invoiceProducts" class="table" [paginator]="true" [rows]="10"
          [tableStyle]="{ 'min-width': '50rem' }">
          <ng-template pTemplate="header">

            <tr>
              <th scope="col">Fotoğraf</th>
              <th pSortableColumn="shelfNo" *ngIf="this.invoiceProcess?.applicationCode !='Order' && this.invoiceProcess?.applicationCode
                !='Proposal'">
                Raf
                <p-sortIcon field="shelfNo"></p-sortIcon>
                <p-columnFilter type="text" field="shelfNo" [showClearButton]="true"></p-columnFilter>
              </th>
              <th pSortableColumn="itemCode">
                Ürün Kodu
                <p-sortIcon field="itemCode"></p-sortIcon>
                <p-columnFilter type="text" field="itemCode" [showClearButton]="true"></p-columnFilter>
              </th>
              <th pSortableColumn="quantity">
                Miktar
                <p-sortIcon field="quantity"></p-sortIcon>
                <p-columnFilter type="numeric" field="quantity" [showClearButton]="true"></p-columnFilter>
              </th>
              <th pSortableColumn="batchCode">
                Parti
                <p-sortIcon field="batchCode"></p-sortIcon>
                <p-columnFilter type="text" field="batchCode" [showClearButton]="true"></p-columnFilter>
              </th>
              <th pSortableColumn="barcode">
                Barkod
                <p-sortIcon field="barcode"></p-sortIcon>
                <p-columnFilter type="text" field="barcode" [showClearButton]="true"></p-columnFilter>
              </th>
              <th scope="col">İşlemler</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-product let-i="index">
            <tr>
              <td>
                <p-image src="{{ product.photoUrl }}" [preview]="true" alt="Image" width="30px">
                  <ng-template pTemplate="indicator">
                    <i class="pi pi-check"></i>
                  </ng-template>
                </p-image>
              </td>
              <td
                *ngIf="this.invoiceProcess?.applicationCode  !='Order' && this.invoiceProcess?.applicationCode  !='Proposal'">
                {{ product.shelfNo }}</td>
              <td>{{ product.itemCode }}</td>
              <td>{{ product.quantity }}</td>
              <td>{{ product.batchCode }}</td>
              <td>{{ product.barcode }}</td>
              <td>
                <button class="btn btn-primary" type="submit" (click)="deleteOrderProduct(product.id)">
                  <i class="fa fa-trash"></i>
                </button>

                <button *ngIf="product.quantity > product.quantity" class="btn btn-primary" style="margin-left: 1rem"
                  type="submit">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>

      </div>

      <!-- Ürün Güncelle----------------------------------------------------------------------------------------------------->
      <p-dialog header="Ürün Güncelle" [(visible)]="updateProductDialog" [modal]="true" [closable]="false"
        [style]="{width: '300px'}">
        <form [formGroup]="updateProductForm">
          <div class="p-fluid">
            <div class="p-field">
              <label for="price">Fiyat</label>
              <input id="price" type="number" pInputText formControlName="price">
            </div>
            <div class="p-field">
              <label for="priceVI">Fiyat (VD)</label>
              <input id="priceVI" type="number" pInputText formControlName="priceVI">
            </div>
            <div class="p-field mb-3">
              <label for="quantity">Adet</label>
              <input id="quantity" type="number" pInputText formControlName="quantity">
            </div>
            <div class="p-field mb-3">
              <button type="submit" pButton label="Güncelle" (click)="updateProduct(this.selectedProduct)"></button>
            </div>

            <div class="p-field">
              <button type="button" pButton label="Kapat" (click)="this.updateProductDialog =false"></button>
            </div>
          </div>
        </form>
      </p-dialog>

      <!-- TOPLANAN ÜRÜNLER ------------------------------------------------------------------------------------------------>
      <div class="card border-0 shadow-lg text-center mt-4 p-2" *ngIf="this.invoiceProcess?.isCompleted">
        <div class="card-body">
          <div class="d-flex justify-content-center align-items-center mb-3">
            <i class="fas fa-exclamation-circle fa-3x text-danger"></i>
          </div>
          <h5 class="card-title text-uppercase font-weight-bold">Önemli</h5>
          <p class="card-text text-muted">Bu {{this.processType == 'invoice' ? 'Fatura'  : 'Teklif'}} Kesilmiştir.
            Değişiklik Yapılamaz.</p>
          <a class="btn btn-primary mt-3" href="{{this.invoiceProcess.eInvoiceUrl}}" target="_blank"
            *ngIf="this.invoiceProcess.eInvoiceUrl && (this.processCode =='R' || this.processType== 'proposal')">
            {{this.processType == 'invoice' ? 'Faturaya Git'  : 'Teklife Git'}}
          </a>
        </div>
      </div>


      <div class=" card text-center"
        *ngIf="activeIndex==1 &&  !this.invoiceProcess?.isCompleted  && this.invoiceProducts.length>0">
        <div class="card-body">
          <h5 class="card-title">Toplanan Ürünler</h5>
          <h1 class="display-1">{{ totalCount }}</h1>
          <p class="card-text">
            Adet Ürün Toplandı</p>
        </div>
      </div>

      <div class="card" *ngIf="this.invoiceProcess?.isCompleted">
        <div class="card-body p-4">
          <div class="row">
            <div class="col-md-4">
              <button class="btn btn-primary" style="width: 100%;"
                (click)="changeStatusOfProcess(false,true)">Düzenle</button>
            </div>
            <div class="col-md-4">
              <button class="btn btn-primary" style="width: 100%;" (click)="goPage()">Yeni Oluştur </button>
            </div>
            <div class="col-md-4">
              <button class="btn btn-danger" style="width: 100%;" (click)="deleteInvoice()"> Sil </button>
            </div>
          </div>
        </div>

      </div>

      <div class="card" *ngIf="!this.invoiceProcess?.isCompleted">
        <div class="card-body p-4">
          <div class="row mb-3">
            <div class="col-md-12">
              <button class="btn btn-primary" style="width: 100%;" (click)="goPage()">Yeni Oluştur </button>
            </div>
          </div>

          <div class="row" *ngIf="this.invoiceProcess?.eInvoiceNumber !=null">
            <div class="col-md-12">
              <button class="btn btn-primary" style="width: 100%;" (click)="changeStatusOfProcess(true,true)">Tamamla
              </button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
</main>
