<main>
  <div class="container d-flex align-items-center justify-content-center min-vh-100 bg-light">
    <div class="card text-center shadow-lg p-4" style="max-width: 400px; border-radius: 20px; border: none;">
      <div class="card-body">
        <h1 class="card-title text-primary">Yetkisiz Erişim</h1>
        <p class="card-text mb-4 text-muted">Bu sayfaya erişim yetkiniz yok.</p>
        <button class="btn btn-primary btn-lg rounded-pill mt-3" (click)="goBack()">Önceki Sayfaya Dön</button>
      </div>
      <p class="text-muted mt-4">Eğer bir hata olduğunu düşünüyorsanız lütfen sistem yöneticinize başvurunuz.</p>
    </div>
  </div>
</main>
