<main id="main" class="main">
  <section class="section" #scrollMe>
    <div class="container" style="margin-top: -60px">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body p-4">
              <h3 style="text-align: center">ALINAN SİPARİŞLER</h3>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <div>
                <table class="table table-sm table-striped">
                  <thead>
                    <tr>
                      <th scope="col" style="font-weight: bold">Sipariş No.</th>
                      <th scope="col">Müşteri</th>
                      <th scope="col">Satış Sorumlusu</th>

                      <th scope="col">Depo Sorumlusu</th>
                      <th scope="col">Durum</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let order of collectableOrders.slice(0, 25)
                          | paginate
                            : { itemsPerPage: 50, currentPage: currentPage }
                      "
                    >
                      <td>{{ order.orderNumber.split("-")[3] }}</td>
                      <td>
                        {{
                          order.currAccDescription
                            ?.toUpperCase()
                            .substring(0, 10)
                        }}
                      </td>
                      <td>
                        {{
                          order.salespersonCode?.toUpperCase().substring(0, 10)
                        }}
                      </td>
                      <td>
                        {{
                          order.warehousePerson?.toUpperCase().substring(0, 10)
                        }}
                      </td>
                      <td>
                        <a
                          class="btn btn-success {{
                            order.orderStatus == null ? 'null-status' : ''
                          }}"
                          style="color: #fff; width: 100%"
                        >
                          {{
                            order.orderStatus == null
                              ? "ALINDI"
                              : order.orderStatus.toUpperCase()
                          }}
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body p-4">
              <h3 style="text-align: center">HAZIRLANAN SİPARİŞLER</h3>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div>
                <table class="table table-sm table-striped">
                  <thead>
                    <tr>
                      <!-- <th scope="col">Sipariş Tarihi</th> -->
                      <th scope="col" style="font-weight: bold">Sipariş No.</th>
                      <th scope="col">Müşteri</th>
                      <th scope="col">Satış Sorumlusu</th>

                      <th scope="col">Depo Sorumlusu</th>
                      <th scope="col">Durum</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let order of collectedOrders.slice(0, 25)
                          | paginate
                            : { itemsPerPage: 50, currentPage: currentPage }
                      "
                    >
                      <!-- <td>{{ order.orderDate | date : "HH:mm" }}</td> -->
                      <td>{{ order.orderNumber.split("-")[3] }}</td>
                      <td>
                        {{
                          order.currAccDescription
                            ?.toUpperCase()
                            .substring(0, 10)
                        }}
                      </td>
                      <td>
                        {{
                          order.salespersonCode?.toUpperCase().substring(0, 10)
                        }}
                      </td>
                      <td>
                        {{
                          order.warehousePerson?.toUpperCase().substring(0, 10)
                        }}
                      </td>
                      <td>
                        <a
                          class="btn btn-primary"
                          style="color: #fff; width: 100%"
                          >HAZIR</a
                        >
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- <pagination-controls
                (pageChange)="currentPage = $event"
              ></pagination-controls> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
