th {
  text-transform: uppercase !important;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th {
  padding: 4px 10px;

  /* Başlık hücrelerinin iç boşluklarını azalt */
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td {
  padding: 2px 10px;
  /* Veri hücrelerinin iç boşluklarını azalt */
}

::ng-deep .p-datatable-header {
  padding: 0rem;
}

::ng-deep .p-fieldset {
  border: 1px solid #e5e7eb !important
}

::ng-deep .p-button {

  line-height: 1;


  /* height: 4rem; */
}

::ng-deep .p-inputtext {
  height: 2.5rem !important;

}

@media only screen and (max-width: 768px) {

  /* This covers most tablets and mobile phones */
  ::ng-deep .p-datatable .p-datatable-table {
    width: auto !important;
  }
}



.p-sidebar {
  width: 20rem !important;
}

.country-column {
  width: 100px;
  /* Örnek bir genişlik */
}

.region-column {
  width: 100px;
  /* Örnek bir genişlik */
}

ul {
  padding-left: 0px !important
}




/* Diğer kolonlar için de benzer şekilde sınıflar tanımlayabilirsiniz */