th {
  text-transform: uppercase !important;
}

::ng-deep .p-datatable .p-datatable-thead>tr>th {
  padding: 4px 10px;
  /* Başlık hücrelerinin iç boşluklarını azalt */
}

::ng-deep .p-datatable .p-datatable-tbody>tr>td {
  padding: 2px 10px;
  /* Veri hücrelerinin iç boşluklarını azalt */
}