<app-header *ngIf="
    !(
      _router.url === '/pages-register' ||
      _router.url === '/pages-loginv2' ||
      _router.url === '/pages-error404' ||
      _router.url === '/order-state'
    ) && !_router.url.includes('login')
  ">
</app-header>
<app-sidebar *ngIf="
    !(
      _router.url === '/pages-register' ||
      _router.url === '/pages-loginv2' ||
      _router.url === '/pages-error404' ||
      _router.url === '/order-state'
    )
  ">
</app-sidebar>
<router-outlet>
  <ngx-spinner type="line-scale-pulse-out" size="large" color="#fff"></ngx-spinner>
  <p-confirmDialog>
    <ng-template pTemplate="message" let-message>
      <div class="flex flex-column align-items-center w-full gap-3 border-bottom-1 surface-border">
        <i class="pi pi-exclamation-circle text-6xl text-primary-500"></i>
        <p>{{ message.message }}</p>
      </div>
    </ng-template>
  </p-confirmDialog>
  <p-toast position="top-right" key="tr"></p-toast>
</router-outlet>

<app-footer *ngIf="
    !(
      _router.url === '/pages-register' ||
      _router.url === '/pages-loginv2' ||
      _router.url === '/pages-error404'
    )
  ">
</app-footer>
