<main id="main" class="main">
  <section class="section">
    <div class="card">
      <div class="card-body">
        <div class="btn-group mb-3 mt-4">
          <button
            class="btn custom-btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#filterCollapse"
            aria-expanded="false"
            aria-controls="filterCollapse"
          >
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
        </div>

        <div class="collapse" id="filterCollapse">
          <form
            [formGroup]="filterForm"
            (ngSubmit)="onSubmit(filterForm.value)"
          >
            <div class="row mb-3">
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    pInputText
                    placeholder="Sipariş Numarası"
                    type="text"
                    id="orderNo"
                    class="form-control"
                    formControlName="orderNo"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    pInputText
                    placeholder=" Müşteri Kodu"
                    type="text"
                    id="currAccCode"
                    class="form-control"
                    formControlName="currAccCode"
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <input
                    pInputText
                    placeholder=" Müşteri Adı"
                    type="text"
                    id="customerName"
                    class="form-control"
                    formControlName="customerName"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    pInputText
                    placeholder="İşlem Bitiş Tarihi"
                    type="date"
                    id="endDate"
                    class="form-control"
                    formControlName="endDate"
                  />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <input
                    pInputText
                    placeholder="İşlem Başlangıç Tarihi"
                    type="date"
                    id="startDate"
                    class="form-control"
                    formControlName="startDate"
                  />
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-4">
                <button class="btn btn-primary">Filtrele</button>
              </div>
            </div>
          </form>
        </div>
        <!-- Filtreleme Alanı (Bitiş) -->
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ürünler</h5>
        <!-- <a class="btn btn-success" data-bs-toggle="dropdown">+Opertions </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
            <li><a class="dropdown-item">Add New Product</a></li>
            <li><a class="dropdown-item">Export To The Excel</a></li>
            <li><a class="dropdown-item">Delete All Selected</a></li>
          </ul> -->
        <!--
        <div class="btn-group mb-3">
          <button type="button" class="btn btn-primary" (click)="routeToCPP()">
            Ürün Topla
          </button>

          <button type="button" class="btn btn-primary">Ürün Paketle</button>

          <label for="numberOfList" style="margin-left: 20px"
            >Toplancak Sipariş Miktarı</label
          >
          <select
            id="numberOfList"
            class="form-control"
            formControlName="numberOfList"
            style="width: 50px; margin-left: 20px"
          >
            <option *ngFor="let number of numberOfList" [value]="number">
              {{ number }}
            </option>
          </select>
        </div> -->

        <div style="overflow-x: auto">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Sipariş Tarihi</th>
                <th scope="col">Sipariş Numarası</th>
                <th scope="col">Müşteri Kodu</th>
                <th scope="col">Müşteri Adı</th>
                <!-- <th scope="col">Satıcı Kodu</th> -->
                <th scope="col">Miktar</th>
                <th scope="col">Tutar</th>
                <th scope="col">Toplanan Miktar</th>
                <th scope="col">Kalan Miktar</th>
                <th scope="col">Depo</th>

                <th scope="col">Durum</th>
                <th scope="col">İşlemler</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let order of saleOrderModels
                    | paginate : { itemsPerPage: 10, currentPage: currentPage }
                "
              >
                <td>{{ order.orderDate | date : "dd.MM.yyyy HH:mm" }}</td>
                <td>{{ order.orderNumber }}</td>
                <td>{{ order.currAccCode }}</td>
                <td>{{ order.currAccDescription }}</td>
                <!-- <td>{{ order.salespersonCode }}</td> -->
                <td>{{ order.qty1 }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.collectedQty }}</td>
                <td>{{ order.remainingQty }}</td>
                <td>{{ order.warehouseCode }}</td>

                <td>
                  <button
                    class="btn"
                    [ngClass]="{
                      'btn-danger': order.remainingQty !== 0,
                      'btn-success': order.remainingQty === 0
                    }"
                  >
                    {{ order.remainingQty !== 0 ? "Başarısız" : "Başarılı" }}
                  </button>
                </td>
                <td>
                  <div class="btn-group">
                    <div
                      class="btn btn-success"
                      data-text="Varyasyonlar"
                      routerLink="/order-operation/{{
                        order.orderNumber
                      }}/false/{{ order.warehouseCode }}"
                    >
                      <i class="fas fa-sliders-h"></i>
                    </div>
                    <div class="btn btn-success" data-text="Fatura Yazdır">
                      <i class="fa fa-print"></i>
                    </div>
                    <div
                      class="btn btn-success"
                      data-text="Sil"
                      (click)="deleteInvoiceProducts(order.orderNumber)"
                    >
                      <i class="fas fa-trash"></i>
                    </div>
                    <div
                      class="btn btn-success"
                      data-text="Barkod Etiketi Oluştur"
                      (click)="showModal(order.orderNumber)"
                    >
                      <i class="fa fa-barcode" aria-hidden="true"></i>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls
            (pageChange)="currentPage = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>

    <p-dialog
      header="Barkod Türü Seçiniz - {{ this.selectedOrderNo }}"
      [(visible)]="visible"
      [modal]="true"
      [style]="{ width: '50vw' }"
      [draggable]="false"
      [resizable]="false"
    >
      <button
        type="button"
        class="btn custom-btn-primary mt-3"
        (click)="this.sendBarcodesToNebim(true)"
      >
        Koli
      </button>
      <button
        type="button"
        class="btn custom-btn-primary mt-3"
        (click)="this.sendBarcodesToNebim(false)"
      >
        Barkod
      </button>
    </p-dialog>
  </section>
</main>
