<main id="main" class="main">
  <section class="section">
    <div class="card">
      <div class="card-body">
        <div class="btn-group mb-3 mt-4">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse"
            aria-expanded="false" aria-controls="filterCollapse">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
        </div>

        <div class="collapse" id="filterCollapse">
          <form [formGroup]="filterForm" (ngSubmit)="onSubmit(filterForm.value)">
            <div class="row mb-3">
              <div class="col-md-4">
                <div class="form-group">
                  <input pInputText placeholder="Sipariş Numarası" type="text" id="orderNo" class="form-control"
                    formControlName="orderNo" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input pInputText placeholder=" Müşteri Kodu" type="text" id="currAccCode" class="form-control"
                    formControlName="currAccCode" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <input pInputText placeholder=" Müşteri Adı" type="text" id="customerName" class="form-control"
                    formControlName="customerName" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input pInputText placeholder="İşlem Bitiş Tarihi" type="date" id="endDate" class="form-control"
                    formControlName="endDate" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <input pInputText placeholder="İşlem Başlangıç Tarihi" type="date" id="startDate" class="form-control"
                    formControlName="startDate" />
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-4">
                <button class="btn btn-primary">Filtrele</button>
              </div>
            </div>
          </form>
        </div>
        <!-- Filtreleme Alanı (Bitiş) -->
      </div>
    </div>

    <div class="card">
       <p-table #dt2 [value]="saleOrderModels" [(selection)]="selectedOrders" dataKey="orderNumber" [paginator]="true"
          [rowsPerPageOptions]="[5, 10, 20]" [resizableColumns]="true" expandableRows="true" columnResizeMode="expand"
          styleClass="p-datatable-striped" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
          <ng-template pTemplate="caption">
            <div class="p-4 card-body d-flex justify-content-start" style="overflow-x: auto">
              <p-splitButton label="İşlemler" [model]="items" appendTo="body" />

            </div>
            <h5 *ngIf="selectedOrders.length > 0" style="text-align: left">
              {{ selectedOrders.length }}/{{ saleOrderModels.length }} Adet Sipariş Seçildi
            </h5>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th>Seç</th>
              <th pSortableColumn="orderDate">
                Sipariş Tarihi
                <p-sortIcon field="orderDate"></p-sortIcon>
              </th>
              <th pSortableColumn="orderNumber">
                Sipariş Numarası
                <p-sortIcon field="orderNumber"></p-sortIcon>
              </th>
              <th pSortableColumn="currAccCode">
                Müşteri Kodu
                <p-sortIcon field="currAccCode"></p-sortIcon>
              </th>
              <th pSortableColumn="currAccDescription">
                Müşteri Adı
                <p-sortIcon field="currAccDescription"></p-sortIcon>
              </th>
              <th pSortableColumn="qty1">
                Miktar
                <p-sortIcon field="qty1"></p-sortIcon>
              </th>
              <th pSortableColumn="price">
                Tutar
                <p-sortIcon field="price"></p-sortIcon>
              </th>
              <th pSortableColumn="collectedQty">
                Toplanan Miktar
                <p-sortIcon field="collectedQty"></p-sortIcon>
              </th>
              <th pSortableColumn="remainingQty">
                Kalan Miktar
                <p-sortIcon field="remainingQty"></p-sortIcon>
              </th>
              <th pSortableColumn="warehouseCode">
                Depo
                <p-sortIcon field="warehouseCode"></p-sortIcon>
              </th>
              <th pSortableColumn="remainingQty">
                Durum
                <p-sortIcon field="remainingQty"></p-sortIcon>
              </th>
              <th>İşlemler</th>
            </tr>
            <tr>
              <th style="width: 4rem">
                <p-tableHeaderCheckbox />
              </th>
              <th>
                <p-columnFilter type="date" field="orderDate" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="orderNumber" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="currAccCode" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="currAccDescription" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="numeric" field="qty1" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="numeric" field="price" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="numeric" field="collectedQty" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="numeric" field="remainingQty" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="warehouseCode" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="boolean" field="remainingQty" [showClearButton]="false"></p-columnFilter>
              </th>
              <th></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-order>
            <tr>
              <td>
                <p-tableCheckbox [value]="order" />
              </td>
              <td>{{ order.orderDate | date : "dd.MM.yyyy HH:mm" }}</td>
              <td>{{ order.orderNumber }}</td>
              <td>{{ order.currAccCode }}</td>
              <td>{{ order.currAccDescription }}</td>
              <td>{{ order.qty1 }}</td>
              <td>{{ order.price.toString() | currency : "₺" }}</td>
              <td>{{ order.collectedQty }}</td>
              <td>{{ order.remainingQty }}</td>
              <td>{{ order.warehouseCode }}</td>
              <td>
                <button class="btn" [ngClass]="{
            'btn-danger': order.remainingQty !== 0,
            'btn-success': order.remainingQty === 0
          }">
                  {{ order.remainingQty !== 0 ? "Başarısız" : "Başarılı" }}
                </button>
              </td>
              <td>
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false">
                </button>
                <ul class="dropdown-menu" style="z-index: 99999;">
                  <li>
                    <a class="dropdown-item" data-text="Varyasyonlar" [routerLink]="
        '/order-operation/' + order.orderNumber + '/false/' + order.warehouseCode
      ">
                      <i class="fas fa-sliders-h"></i> Varyasyonlar
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" data-text="Fatura Yazdır">
                      <i class="fa fa-print"></i> Fatura Yazdır
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" data-text="Sil" (click)="deleteInvoiceProducts(order.orderNumber)">
                      <i class="fas fa-trash"></i> Sil
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" data-text="Barkod Etiketi Oluştur" (click)="showModal(order.orderNumber)">
                      <i class="fa fa-barcode" aria-hidden="true"></i> Barkod Etiketi Oluştur
                    </a>
                  </li>
                </ul>
              </td>
            </tr>
          </ng-template>
        </p-table>
    </div>

    <p-dialog header="Barkod Türü Seçiniz - {{ this.selectedOrderNo }}" [(visible)]="visible" [modal]="true"
      [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
      <button type="button" class="btn btn-primary mt-3" (click)="this.sendBarcodesToNebim(true)">
        Koli
      </button>
      <button type="button" class="btn btn-primary mt-3" (click)="this.sendBarcodesToNebim(false)">
        Barkod
      </button>
    </p-dialog>
  </section>
</main>
