<main id="main" class="main">
  <section class="section">
    <div class="card custom-card mb-3">
      <div class="card-body d-flex justify-content-start mt-3" style="overflow-x: auto">
        <button type="button" class="btn btn-success" (click)="routeNewPage6()">
          <i class="fas fa-plus"></i> Raflar Arası Transfer
        </button>
        <!-- <button
          type="button"
          class="btn custom-btn-primary"
          (click)="routeNewPage5()"
        >
          <i class="fas fa-plus"></i> Raflar Aktarma İsteği
        </button> -->
      </div>
    </div>

    <div class="card">
      <p-table [value]="fastTransferListModels" [paginator]="true" [rows]="10" [responsiveLayout]="'scroll'">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="createdDate">
              Tarih
              <p-sortIcon field="createdDate"></p-sortIcon>
              <p-columnFilter type="date" field="createdDate"></p-columnFilter>
            </th>
            <th>İşlemler</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-operation>
          <tr>
            <td>{{ operation.createdDate | date : 'dd-MM-YY HH:mm' }}</td>
            <td>
              <button pButton type="button" icon="pi pi-bars" class="p-button-primary"
                (click)="routeToCPP(operation.operationId)">
              </button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <p-dialog header="Barkod Türü Seçiniz - {{ this.selectedOrderNo }}" [(visible)]="visible" [modal]="true"
      [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
      <button type="button" class="btn custom-btn-primary mt-3" (click)="this.sendBarcodesToNebim(true)">
        Koli
      </button>
      <button type="button" class="btn custom-btn-primary mt-3" (click)="this.sendBarcodesToNebim(false)">
        Barkod
      </button>
    </p-dialog>
  </section>
</main>
