<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#Orders-nav"
        data-bs-toggle="collapse"
      >
        <i class="fas fa-dolly"></i><span>Sipariş İşlemleri</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>

      <ul
        id="Orders-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li>
          <a routerLink="orders-managament">
            <i class="bi bi-circle"></i><span>Alınan Siparişler </span>
          </a>
        </li>
        <li>
          <a routerLink="purchase-orders-managament">
            <i class="bi bi-circle"></i><span>Verilen Siparişler </span>
          </a>
        </li>
        <li>
          <a routerLink="invoice-list">
            <i class="bi bi-circle"></i><span>Faturalar (Alış / Satış)</span>
          </a>
        </li>
        <li>
          <a (click)="routeNewPage3()">
            <i class="bi bi-circle"></i><span>Sipariş Oluştur</span>
          </a>
        </li>

        <li>
          <a routerLink="cargo-list">
            <i class="bi bi-circle"></i><span>Kargolar</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#Warehouse-nav"
        data-bs-toggle="collapse"
      >
        <i class="fa fa-archive"></i><span>Depo İşlemleri</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="Warehouse-nav"
        class="nav-content collapse"
        data-bs-parent="#Warehouse-nav"
      >
        <li>
          <a routerLink="warehouse-transfer-list">
            <i class="bi bi-circle"></i><span>Depolar Arası Transfer</span>
          </a>
        </li>
        <li>
          <a routerLink="fast-transfer">
            <i class="bi bi-circle"></i><span>Raflar Arası Transfer</span>
          </a>
        </li>
        <li (click)="routeNewPage2()">
          <a> <i class="bi bi-circle"></i><span>Depolar Arası İstek</span> </a>
        </li>
        <li>
          <a routerLink="shelf-transfer-request">
            <i class="bi bi-circle"></i><span>Raf Aktarma İsteği</span>
          </a>
        </li>

        <li>
          <a routerLink="warehouse-operation-list">
            <i class="bi bi-circle"></i><span>Havuzda Kalan Transfer</span>
          </a>
        </li>
        <li>
          <a routerLink="box-count">
            <i class="bi bi-circle"></i><span>Kutu Sayımı</span>
          </a>
        </li>
        <li>
          <a routerLink="warehouse-shelf-count-list">
            <i class="bi bi-circle"></i><span>Sayım</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#Product-nav"
        data-bs-toggle="collapse"
      >
        <i class="fa fa-box"></i><span>Sorgulama İşlemleri</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="Product-nav"
        class="nav-content collapse"
        data-bs-parent="#Product-nav"
      >
        <li>
          <a routerLink="product-managament">
            <i class="bi bi-circle"></i><span>Ürün Sorgulama</span>
          </a>
        </li>
        <li>
          <a routerLink="search-qr">
            <i class="bi bi-circle"></i><span>Qr Sorgulama</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#Barcode-nav"
        data-bs-toggle="collapse"
      >
        <i class="fa fa-qrcode"></i><span>Etiket İşlemleri</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="Barcode-nav"
        class="nav-content collapse"
        data-bs-parent="#Barcode-nav"
      >
        <li>
          <a routerLink="create-qr">
            <i class="bi bi-circle"></i><span>Kutu Etiketi Oluştur</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#User-nav"
        data-bs-toggle="collapse"
      >
        <i class="fa fa-user"></i><span>Kullanıcı & Müşteri İşlemleri</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="User-nav" class="nav-content collapse" data-bs-parent="#User-nav">
        <li>
          <a routerLink="customer-list">
            <i class="bi bi-circle"></i><span>Müşteri Listesi</span>
          </a>
        </li>

        <li>
          <a routerLink="add-customer">
            <i class="bi bi-circle"></i><span>Müşteri Ekle</span>
          </a>
        </li>
        <li>
          <a routerLink="user-list">
            <i class="bi bi-circle"></i><span>Kulanıcılar</span>
          </a>
        </li>
        <li>
          <a routerLink="register">
            <i class="bi bi-circle"></i><span>Kullanıcı Ekle</span>
          </a>
        </li>
      </ul>
    </li>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#Log-nav"
        data-bs-toggle="collapse"
      >
        <i class="fa fa-box"></i><span>Log İşlemleri</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="Log-nav"
        class="nav-content collapse"
        data-bs-parent="#Product-nav"
      >
        <li>
          <a routerLink="log-managament">
            <i class="bi bi-circle"></i><span>Loglar</span>
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>
