<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li
      class="nav-item"
      *ngIf="
        this.roleDescription == 'Admin' || this.roleDescription == 'Salesman'
      "
    >
      <a
        class="nav-link collapsed"
        data-bs-target="#Orders-nav"
        data-bs-toggle="collapse"
      >
        <i class="fas fa-dolly"></i><span>Toptan Sipariş</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>

      <ul
        id="Orders-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >
        <li *ngIf="this.roleDescription == 'Admin'">
          <a routerLink="orders-managament/1/2">
            <i class="bi bi-circle"></i><span>Alınan Siparişler </span>
          </a>
        </li>

        <!-- <li *ngIf="this.roleDescription == 'Admin'">
          <a routerLink="purchase-orders-managament">
            <i class="bi bi-circle"></i><span>Verilen Siparişler </span>
          </a>
        </li>
        <li *ngIf="this.roleDescription == 'Admin'">
          <a routerLink="invoice-list">
            <i class="bi bi-circle"></i><span>Faturalar (Alış / Satış)</span>
          </a>
        </li>
        <li
          *ngIf="
            this.roleDescription == 'Admin' ||
            this.roleDescription == 'Salesman'
          "
        >
          <a (click)="routeNewPage3(true)">
            <i class="bi bi-circle"></i><span>Sipariş Ver</span>
          </a>
        </li>
        <li>
          <a (click)="routeNewPage3(false)">
            <i class="bi bi-circle"></i><span>Perakende Satış</span>
          </a>
        </li>


        <li
          *ngIf="
            this.roleDescription == 'Admin' ||
            this.roleDescription == 'Salesman'
          "
        >
          <a routerLink="unfinished-orders">
            <i class="bi bi-circle"></i><span>Siparişlerim </span>
          </a>
        </li>

        <li
          *ngIf="
            this.roleDescription == 'Admin' ||
            this.roleDescription == 'Salesman'
          "
        >
          <a routerLink="/order-state">
            <i class="bi bi-circle"></i><span>Sipariş Durumu </span>
          </a>
        </li> -->
      </ul>
    </li>

    <li
      class="nav-item"
      *ngIf="
        this.roleDescription == 'Admin' || this.roleDescription == 'Salesman'
      "
    >
      <a
        class="nav-link collapsed"
        data-bs-target="#Retail-nav"
        data-bs-toggle="collapse"
      >
        <i class="fa-solid fa-bag-shopping"></i><span>Perakende Sipariş</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>

      <ul
        id="Retail-nav"
        class="nav-content collapse"
        data-bs-parent="#Retail-nav"
      >
        <li>
          <a routerLink="retail-orders-managament/1/2">
            <i class="bi bi-circle"></i><span>Alınan Siparişler </span>
          </a>
        </li>

        <li>
          <a routerLink="retail-orders-collected-packages">
            <i class="bi bi-circle"></i><span>Paketler </span>
          </a>
        </li>
        <!-- <li>
          <a routerLink="retail-orders-collected-packages">
            <i class="bi bi-circle"></i><span>Pazaryeri Faturaları </span>
          </a>
        </li> -->
      </ul>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#Cargo-nav"
        data-bs-toggle="collapse"
      >
        <i class="fa fa-truck"></i><span>Kargo</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="Cargo-nav"
        class="nav-content collapse"
        data-bs-parent="#Cargo-nav"
      >
        <!-- <li>
          <a routerLink="product-managament">
            <i class="bi bi-circle"></i><span>Ürün Sorgulama</span>
          </a>
        </li> -->
        <li *ngIf="this.roleDescription == 'Admin'">
          <a routerLink="cargo-list">
            <i class="bi bi-circle"></i><span>Kargolar</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item" *ngIf="this.roleDescription == 'Admin'">
      <a
        class="nav-link collapsed"
        data-bs-target="#Warehouse-nav"
        data-bs-toggle="collapse"
      >
        <i class="fa fa-archive"></i><span>Depo </span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="Warehouse-nav"
        class="nav-content collapse"
        data-bs-parent="#Warehouse-nav"
      >
        <li>
          <a routerLink="warehouse-transfer-list">
            <i class="bi bi-circle"></i><span>Depolar Arası Transfer</span>
          </a>
        </li>
        <!-- <li (click)="routeNewPage2()">
          <a> <i class="bi bi-circle"></i><span>Depolar Arası İstek</span> </a>
        </li> -->
        <li>
          <a routerLink="fast-transfer-list">
            <i class="bi bi-circle"></i><span>Raflar Arası Transferler</span>
          </a>
        </li>
        <!-- <li>
          <a (click)="routeNewPage6()">
            <i class="bi bi-circle"></i><span>Raflar Arası Transfer</span>
          </a>
        </li>

        <li>
          <a (click)="routeNewPage5()">
            <i class="bi bi-circle"></i><span>Raf Aktarma İsteği</span>
          </a>
        </li> -->

        <li>
          <a routerLink="warehouse-operation-list">
            <i class="bi bi-circle"></i><span>Havuzda Kalan Transfer</span>
          </a>
        </li>
        <!-- <li>
          <a routerLink="box-count">
            <i class="bi bi-circle"></i><span>Kutu Sayımı</span>
          </a>
        </li> -->
        <li>
          <a routerLink="warehouse-shelf-count-list">
            <i class="bi bi-circle"></i><span>Sayımlar</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#Product-nav"
        data-bs-toggle="collapse"
      >
        <i class="fa fa-box"></i><span>Sorgulama</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="Product-nav"
        class="nav-content collapse"
        data-bs-parent="#Product-nav"
      >
        <!-- <li>
          <a routerLink="product-managament">
            <i class="bi bi-circle"></i><span>Ürün Sorgulama</span>
          </a>
        </li> -->
        <li>
          <a routerLink="search-qr">
            <i class="bi bi-circle"></i><span>Ürün Sorgulama</span>
          </a>
        </li>
         <li>
          <a routerLink="search-shelf">
            <i class="bi bi-circle"></i><span>Raf Sorgulama</span>
          </a>
        </li>
      </ul>
    </li>
    <!-- <li class="nav-item" *ngIf="this.roleDescription == 'Admin'">
      <a
        class="nav-link collapsed"
        data-bs-target="#Barcode-nav"
        data-bs-toggle="collapse"
      >
        <i class="fa fa-qrcode"></i><span>Etiket</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="Barcode-nav"
        class="nav-content collapse"
        data-bs-parent="#Barcode-nav"
      >
        <li>
          <a routerLink="create-qr">
            <i class="bi bi-circle"></i><span>Kutu Etiketi Oluştur</span>
          </a>
        </li>

        <li>
          <a (click)="routeNewPage4()">
            <i class="bi bi-circle"></i><span>Barkod Oluştur</span>
          </a>
        </li>
      </ul>
    </li> -->

    <!-- <li class="nav-item" *ngIf="this.roleDescription == 'Admin'">
      <a
        class="nav-link collapsed"
        data-bs-target="#User-nav"
        data-bs-toggle="collapse"
      >
        <i class="fa fa-user"></i><span>Kullanıcı & Müşteri</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="User-nav" class="nav-content collapse" data-bs-parent="#User-nav">
       <li>
          <a routerLink="customer-list">
            <i class="bi bi-circle"></i><span>Müşteriler</span>
          </a>
        </li>

        <li>
          <a routerLink="add-customer">
            <i class="bi bi-circle"></i><span>Müşteri Ekle</span>
          </a>
        </li>

       <li>
          <a routerLink="register">
            <i class="bi bi-circle"></i><span>Kullanıcı Ekle</span>
          </a>
        </li>
      </ul>
    </li> -->

    <li class="nav-item" *ngIf="this.roleDescription == 'Admin'">
      <a
        class="nav-link collapsed"
        data-bs-target="#devolopment-nav"
        data-bs-toggle="collapse"
      >
        <i class="fa-solid fa-gear"></i><span>Ayarlar</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="devolopment-nav"
        class="nav-content collapse"
        data-bs-parent="#devolopment-nav"
      >
        <li>
          <a routerLink="user-list">
            <i class="bi bi-circle"></i><span>Kulanıcılar</span>
          </a>
        </li>
        <li>
          <a routerLink="devolopment-list">
            <i class="bi bi-circle"></i><span>İstekler</span>
          </a>
        </li>

        <li>
          <a routerLink="log-managament">
            <i class="bi bi-circle"></i><span>Loglar</span>
          </a>
        </li>

        <!-- <li>
          <a routerLink="nebim-stock-control">
            <i class="bi bi-circle"></i><span>Stok Kontrol</span>
          </a>
          <a routerLink="nebim-get-orders">
            <i class="bi bi-circle"></i><span>Sipariş Kontrol</span>
          </a>
          <a routerLink="nebim-product-extract">
            <i class="bi bi-circle"></i><span>Ürün Ekstresi</span>
          </a>
        </li> -->
      </ul>
    </li>
  </ul>
</aside>
