<main id="main" class="main">
  <section class="section">
    <div class="card">
      <div class="card-body">
        <!-- Filtreleme Alanı (Başlangıç) -->
        <div class="btn-group mb-3 mt-4">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse"
            aria-expanded="false" aria-controls="filterCollapse">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
        </div>

        <div class="collapse" id="filterCollapse">
          <form [formGroup]="filterForm" (ngSubmit)="onSubmit(filterForm.value)">
            <div class="row mb-3">
              <div class="col-md-4">
                <div class="form-group">
                  <input pInputText placeholder="İç Numara" type="text" id="innerNumber" class="form-control"
                    formControlName="innerNumber" />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input pInputText placeholder="İşlem Bitiş Tarihi" type="date" id="endDate" class="form-control"
                    formControlName="endDate" />
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <input pInputText placeholder="İşlem Başlangıç Tarihi" type="date" id="startDate" class="form-control"
                    formControlName="startDate" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <button class="btn btn-primary">Filtrele</button>
              </div>
            </div>
          </form>
        </div>
        <!-- Filtreleme Alanı (Bitiş) -->
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div class="btn-group mt-3" role="group" aria-label="Basic example">
          <button type="button" [ngClass]="
              selectedButton === 0 ? 'btn btn-success' : 'btn btn-primary'
            " (click)="getWarehouseOperations('0')">
            Onaylanmayalanlar
          </button>
          <button type="button" [ngClass]="
              selectedButton === 1 ? 'btn btn-success' : 'btn btn-primary'
            " (click)="getWarehouseOperations('1')">
            Onaylananlar
          </button>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body p-2">


        <!-- <a class="btn btn-success" data-bs-toggle="dropdown">+Opertions </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
          <li><a class="dropdown-item">Add New Product</a></li>
          <li><a class="dropdown-item">Export To The Excel</a></li>
          <li><a class="dropdown-item">Delete All Selected</a></li>
        </ul> -->
        <!--
        <div class="btn-group mb-3">
          <button type="button" class="btn btn-success mr-2" >Ürün Topla</button>

          <button type="button" class="btn btn-primary mr-2">Ürün Paketle</button>

        </div>
         -->
        <!-- <div class="btn-group mb-3">
          <button
            class="btn btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#filterCollapse"
            (click)="confirmOperation()"
            aria-expanded="false"
            aria-controls="filterCollapse"
          >
            Seçilenleri Onayla
          </button>
          <button
            type="button"
            class="btn btn-primary ml-2"
            routerLink="/shelf-operation"
          >
            Seçilen Ürünleri Topla
          </button>
        </div> -->
        <p-table #dt5 [value]="warehouseOperationListModels" [(selection)]="selectedOperations" dataKey="innerNumber"
          [paginator]="true" [rowsPerPageOptions]="[5, 10, 20]" [resizableColumns]="true" expandableRows="true"
          columnResizeMode="expand" styleClass="p-datatable-gridlines" [rows]="10" styleClass="p-datatable-striped"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
          <ng-template pTemplate="caption">
            <div class="p-4 card-body d-flex justify-content-start" style="overflow-x: auto">
              <p-splitButton label="İşlemler" [model]="items" appendTo="body" />

            </div>
            <h5 *ngIf="selectedOperations.length > 0" style="text-align: left">
              {{ selectedOperations.length }}/{{ warehouseOperationListModels.length }} Adet İşlem Seçildi
            </h5>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="operationDate">
                İşlem Tarihi
                <p-sortIcon field="operationDate"></p-sortIcon>
              </th>
              <th pSortableColumn="innerNumber">
                İç Numara
                <p-sortIcon field="innerNumber"></p-sortIcon>
              </th>
              <!-- <th pSortableColumn="officeCode">
                Ofis Kodu
                <p-sortIcon field="officeCode"></p-sortIcon>
              </th> -->
              <th pSortableColumn="warehouseCode">
                Depo Kodu
                <p-sortIcon field="warehouseCode"></p-sortIcon>
              </th>
              <!-- <th pSortableColumn="toOfficeCode">
                Hedef Ofis Kodu
                <p-sortIcon field="toOfficeCode"></p-sortIcon>
              </th> -->
              <th pSortableColumn="toWarehouseCode">
                Hedef Depo Kodu
                <p-sortIcon field="toWarehouseCode"></p-sortIcon>
              </th>

              <th pSortableColumn="count">
                Adet
                <p-sortIcon field="count"></p-sortIcon>
              </th>
              <th pSortableColumn="count_2">
                Ürün Çeşit
                <p-sortIcon field="count_2"></p-sortIcon>
              </th>
              <th pSortableColumn="source">
                Kaynak
                <p-sortIcon field="source"></p-sortIcon>
              </th>
              <th pSortableColumn="isCompleted">
                Tamamlandı mı?
                <p-sortIcon field="isCompleted"></p-sortIcon>
              </th>
              <th>İşlemler</th>
            </tr>
            <tr>
              <th>
                <p-columnFilter type="date" field="operationDate" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="innerNumber" [showClearButton]="false"></p-columnFilter>
              </th>
              <!-- <th>
                <p-columnFilter type="text" field="officeCode" [showClearButton]="false"></p-columnFilter>
              </th> -->
              <th>
                <p-columnFilter type="text" field="warehouseCode" [showClearButton]="false"></p-columnFilter>
              </th>
              <!-- <th>
                <p-columnFilter type="text" field="toOfficeCode" [showClearButton]="false"></p-columnFilter>
              </th> -->
              <th>
                <p-columnFilter type="text" field="toWarehouseCode" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="count" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="count_2" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="text" field="source" [showClearButton]="false"></p-columnFilter>
              </th>
              <th>
                <p-columnFilter type="boolean" field="isCompleted" [showClearButton]="false"></p-columnFilter>
              </th>
              <th></th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-operation>
            <tr>
              <td>{{ operation.operationDate | date : "dd.MM.yyyy HH:mm" }}</td>
              <td>{{ operation.innerNumber }}</td>
              <!-- <td>{{ operation.officeCode }}</td> -->
              <td>{{ operation.warehouseCode }}</td>
              <!-- <td>{{ operation.toOfficeCode }}</td> -->
              <td>{{ operation.toWarehouseCode }}</td>
              <td>{{ operation.count }}</td>
              <td>{{ operation.count_2 }}</td>
              <td>{{ operation.source }}</td>
              <td>{{ operation.isCompleted == 0 ? "Hayır" : "Evet" }}</td>
              <td>
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                  aria-expanded="false">
                </button>
                <ul class="dropdown-menu" style="z-index: 99999;">
                  <li>
                    <a class="dropdown-item" (click)="
              setCurrentWarehouseToLocalStorage(operation.toWarehouseCode, operation.innerNumber)
            " [routerLink]="
              '/order-operation/' + operation.innerNumber + '/false/' + operation.toWarehouseCode
            ">
                      <i class="fas fa-sliders-h"></i> İşlemler
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" (click)="bringItemsToCollect(operation.innerNumber)">
                      <i class="fas fa-eye"></i> İşlemler
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" data-text="Barkod Etiketi Oluştur"
                      (click)="showModal(operation.innerNumber)">
                      <i class="fa fa-barcode" aria-hidden="true"></i> Barkod Etiketi Oluştur
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item" data-text="Transfer Etiketi Oluştur"
                      (click)="createTransferReport(operation)">
                      <i class="fa fa-barcode" aria-hidden="true"></i> Transfer Etiketi Oluştur
                    </a>
                  </li>
                </ul>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <p-dialog header="Toplanacak Ürünler" [(visible)]="itemsToCollectDialog" [style]="{ width: '75vw' }">
      <div class="card" *ngIf="itemsToCollect.length > 0">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <!-- <th scope="col">Seç</th> -->
                  <th scope="col">Raf</th>
                  <th scope="col">Kof</th>
                  <th scope="col">Sipariş</th>
                  <!-- <th scope="col">SAYILAN</th>
                  <th scope="col">UD RAF</th>
                  <th scope="col">UD STOK</th>
                  <th scope="col">MD STOK</th>
                  <th scope="col">TOPLAM STOK</th> -->

                  <th scope="col">Fotoğraf</th>
                  <th scope="col">Barkod</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="
                    let product of itemsToCollect
                      | paginate
                        : { itemsPerPage: 50, currentPage: currentPage };
                    let i = index
                  " [ngClass]="{ 'green-row': product.colorDescription == '1' }"
                  [ngClass]="{ 'success-row': product.quantity === 0 }">
                  <!-- <td>
                      <input
                        class="form-check-input"
                        type="checkbox"
                        id="pi{{ product.packageNo }}"
                        (change)="addProductToList(product.packageNo)"
                      />
                    </td> -->

                  <td>{{ product.shelfNo }}</td>
                  <td>{{ product.itemCode }}</td>
                  <td>{{ product.quantity }}</td>
                  <!-- <td>{{ product.countedQty }}</td>
                  <td>{{ product.description }}</td>

                  <td>{{ product.colorDescription }}</td>
                  <td>{{ product.itemDim1Code }}</td>
                  <td>{{ product.currentQty }}</td> -->
                  <td>
                    <p-image src="{{ product.photoUrl }}" alt="Image" width="50" [preview]="true"></p-image>
                  </td>
                  <td>{{ product.barcode }}</td>
                  <!-- <td>{{ product.packageNo }}</td> -->
                  <!-- <td>{{ product.colorCode }}</td> -->

                  <!-- <td>{{ product.lineId }}</td> -->
                </tr>
              </tbody>
            </table>
            <pagination-controls #id1 (pageChange)="currentPage = $event"></pagination-controls>
          </div>
        </div>
      </div>
    </p-dialog>

    <p-dialog header="Barkod Türü Seçiniz - {{ this.selectedOrderNo }}" [(visible)]="visible" [modal]="true"
      [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
      <button type="button" class="btn custom-btn-primary mt-3" (click)="this.sendBarcodesToNebim(true)">
        Koli
      </button>
      <button type="button" class="btn custom-btn-primary mt-3" (click)="this.sendBarcodesToNebim(false)">
        Barkod
      </button>
    </p-dialog>
  </section>
</main>
