<main id="main" class="main">
  <section class="section">


    <div class="card">
      <div class="card-body">
        <div class="btn-group mt-3" role="group" aria-label="Basic example">
          <button type="button" [ngClass]="
              selectedButton === 0 ? 'btn btn-success' : 'btn btn-primary'
            " (click)="getWarehouseOperations('0')">
            Onaylanmayalanlar
          </button>
          <button type="button" [ngClass]="
              selectedButton === 1 ? 'btn btn-success' : 'btn btn-primary'
            " (click)="getWarehouseOperations('1')">
            Onaylananlar
          </button>
        </div>
      </div>
    </div>

    <div class="card">
      <!-- <div class="card-body "> -->
      <p-table [value]="warehouseOperationListModels" [paginator]="true" [rows]="10"         [tableStyle]="{ 'min-width': '75rem' }"
>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="operationDate">
              İşlem Tarihi
              <p-sortIcon field="operationDate"></p-sortIcon>
              <p-columnFilter type="date" field="operationDate"></p-columnFilter>
            </th>
            <th pSortableColumn="innerNumber">
              İç Numara
              <p-sortIcon field="innerNumber"></p-sortIcon>
              <p-columnFilter type="text" field="innerNumber"></p-columnFilter>
            </th>
            <th pSortableColumn="officeCode">
              Ofis Kodu
              <p-sortIcon field="officeCode"></p-sortIcon>
              <p-columnFilter type="text" field="officeCode"></p-columnFilter>
            </th>
            <th pSortableColumn="warehouseCode">
              Depo Kodu
              <p-sortIcon field="warehouseCode"></p-sortIcon>
              <p-columnFilter type="text" field="warehouseCode"></p-columnFilter>
            </th>
            <th pSortableColumn="toOfficeCode">
              Hedef Ofis Kodu
              <p-sortIcon field="toOfficeCode"></p-sortIcon>
              <p-columnFilter type="text" field="toOfficeCode"></p-columnFilter>
            </th>
            <th pSortableColumn="toWarehouseCode">
              Hedef Depo Kodu
              <p-sortIcon field="toWarehouseCode"></p-sortIcon>
              <p-columnFilter type="text" field="toWarehouseCode"></p-columnFilter>
            </th>
            <th pSortableColumn="isCompleted">
              Tamamlandı mı?
              <p-sortIcon field="isCompleted"></p-sortIcon>
              <p-columnFilter type="boolean" field="isCompleted" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>İşlemler</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-operation>
          <tr>
            <td>{{ operation.operationDate | date : 'dd.MM.yyyy HH:mm' }}</td>
            <td>{{ operation.innerNumber }}</td>
            <td>{{ operation.officeCode }}</td>
            <td>{{ operation.warehouseCode }}</td>
            <td>{{ operation.toOfficeCode }}</td>
            <td>{{ operation.toWarehouseCode }}</td>
            <td>{{ operation.isCompleted == 0 ? 'Hayır' : 'Evet' }}</td>
            <td>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-success"
                  (click)="setCurrentWarehouseToLocalStorage(operation.toWarehouseCode, operation.innerNumber)"
                  [routerLink]="['/order-operation', operation.innerNumber, 'false', operation.toWarehouseCode]">
                  <i class="fa fa-bars" aria-hidden="true"></i>
                </button>
                <!--
          <button pButton type="button" icon="pi pi-barcode" class="p-button-warning"
                  (click)="showModal(operation.innerNumber)">
          </button>
          -->
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>



    <p-dialog header="Barkod Türü Seçiniz - {{ this.selectedOrderNo }}" [(visible)]="visible" [modal]="true"
      [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
      <button type="button" class="btn custom-btn-primary mt-3" (click)="this.sendBarcodesToNebim(true)">
        Koli
      </button>
      <button type="button" class="btn custom-btn-primary mt-3" (click)="this.sendBarcodesToNebim(false)">
        Barkod
      </button>
    </p-dialog>
  </section>
</main>
