<main id="main" class="main">
  <section class="section">
    <div class="card custom-card mb-3">
      <div class="card-body">
        <button
          type="button"
          class="btn custom-btn-primary mt-3"
          (click)="getCargos(true)"
        >
          <i class="fas fa-check"></i> Yazdırılan Kargolar
        </button>
        <button
          type="button"
          class="btn custom-btn-primary mt-3"
          (click)="getCargos(false)"
        >
          <i class="fas fa-times"></i> Yazdırılmayan Kargolar
        </button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div style="overflow-x: auto">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Kargo Şirketi</th>
                <th scope="col">Müşteri</th>
                <th scope="col">Sipariş Numarası</th>
                <th scope="col">Referans Id</th>
                <th scope="col">Gönderi Id</th>

                <th scope="col">Oluşturulma Zamanı</th>
                <th scope="col">Paketleme Türü</th>
                <th scope="col">Yazdırma Durumu</th>
                <!-- <th scope="col">Desi</th>
                <th scope="col">Kg</th> -->
                <th scope="col">İşlemler</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let cargo of cargos
                    | paginate : { itemsPerPage: 50, currentPage: currentPage }
                "
              >
                <td>{{ cargo.cargoFirmId === 1 ? "MNG" : "ARAS" }}</td>

                <td>{{ cargo.customer }}</td>
                <td>{{ cargo.orderNo }}</td>
                <td>{{ cargo.referenceId }}</td>
                <td>{{ cargo.shipmentId }}</td>
                <td>{{ cargo.createdDate | date : "dd.MM.yyyy HH:mm" }}</td>
                <td>
                  {{
                    cargo.packagingType === 1
                      ? "DOSYA"
                      : cargo.packagingType === 3
                      ? "PAKET"
                      : "KOLİ"
                  }}
                </td>
                <!-- <td>{{ cargo.desi }}</td>
                <td>{{ cargo.kg }}</td> -->

                <!-- <td>
                  <div
                    [ngClass]="
                      cargo.barcodeZplCode
                        ? 'btn btn-success'
                        : 'btn btn-danger'
                    "
                  >
                    {{ cargo.barcodeZplCode ? "Başarılı" : "Başarısız" }}
                  </div>
                </td> -->
                <td>
                  <button
                    class="btn"
                    [ngClass]="{
                      'btn-success': cargo.isPrinted === true,
                      'btn-danger': cargo.isPrinted === false
                    }"
                  >
                    <i
                      *ngIf="cargo.isPrinted === true"
                      class="fa fa-check"
                      aria-hidden="true"
                    ></i>
                    <i
                      *ngIf="cargo.isPrinted === false"
                      class="fa-solid fa-ban"
                      aria-hidden="true"
                    ></i>
                  </button>
                </td>

                <td>
                  <div class="btn-group">
                    <div
                      class="btn btn-success"
                      data-text="Kargo"
                      (click)="getCargoDetail(cargo, false)"
                    >
                      <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>

                    <div
                      class="btn btn-success ml-2"
                      data-text="Kargo"
                      (click)="createBarcode(cargo.referenceId)"
                    >
                      <i class="fa fa-print" aria-hidden="true"></i>
                    </div>

                    <div
                      class="btn btn-success ml-2"
                      data-text="Kargo"
                      (click)="getCargoDetail(cargo, true)"
                    >
                      <i class="fa fa-bars" aria-hidden="true"></i>
                    </div>
                    <div
                      class="btn btn-success"
                      data-text="Kargo"
                      (click)="deleteCargo(cargo, cargo.cargoFirmId)"
                    >
                      <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls
            (pageChange)="currentPage = $event"
          ></pagination-controls>
        </div>
      </div>
    </div>

    <p-dialog
      header="Kargo Detayı"
      [(visible)]="visible"
      [modal]="true"
      [style]="{ width: '50vw' }"
      [draggable]="false"
      [resizable]="false"
    >
      <div class="container mt-4">
        <div class="card">
          <div class="card-header">Kargo Detayı</div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <!-- <li class="list-group-item">
                Sipariş Numarası: {{ packageStatus?.orderId }}
              </li>
              <li class="list-group-item">
                Referans ID: {{ packageStatus?.referenceId }}
              </li>
              <li class="list-group-item">
                Gönderi ID: {{ packageStatus?.shipmentId }}
              </li> -->
              <li class="list-group-item">
                Göderi Seri Numarası:
                {{ packageStatus?.shipmentSerialandNumber }}
              </li>
              <li class="list-group-item">
                Gönderi Zamanı: {{ packageStatus?.shipmentDateTime }}
              </li>
              <li class="list-group-item">
                Gönderi Durumu: {{ packageStatus?.shipmentStatus }}
              </li>
              <li class="list-group-item">
                Gönderi Durum Kodu: {{ packageStatus?.shipmentStatusCode }}
              </li>
              <li class="list-group-item">
                Gönderi Durum Açıklaması:
                {{ packageStatus?.shipmentStatusExplanation }}
              </li>
              <li class="list-group-item">
                Durum Zamanı:
                {{ packageStatus?.statusDateTime | date : "dd.MM.yyyy HH:mm" }}
              </li>
              <li class="list-group-item">
                MNG Takip Linki:
                <a href="{{ packageStatus?.trackingUrl }}" target="_blank"
                  >Takip Sayfası</a
                >
              </li>
              <!-- <li class="list-group-item">
                Is Delivered: {{ packageStatus?.isDelivered ? "Yes" : "No" }}
              </li>
              <li class="list-group-item">
                Delivery Date Time: {{ packageStatus?.deliveryDateTime }}
              </li>
              <li class="list-group-item">
                Delivery To: {{ packageStatus?.deliveryTo }}
              </li>
              <li class="list-group-item">
                Retrieve Shipment ID: {{ packageStatus?.retrieveShipmentId }}
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </p-dialog>
  </section>
</main>
