<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div style="width: 100%">
        <div class="card" *ngIf="blocked">
          <div class="card-body">
            <h5 class="card-title">SATIR SAYISI 100'E ULAŞTI</h5>
          </div>
        </div>
        <div class="card" *ngIf="!blocked">
          <div class="card-body">
            <form
              class="mt-2"
              [formGroup]="checkForm"
              (ngSubmit)="onSubmit(checkForm.value)"
            >
              <div class="row mb-3">
                <div class="form-group">
                  <label *ngIf="qrBarcodeUrl !== ''" for="qrBarcode">{{
                    qrBarcodeUrl
                  }}</label>
                  <input
                    pInputText
                    placeholder="Barkod"
                    type="text"
                    id="countPageBarcode"
                    class="form-control"
                    formControlName="barcode"
                    [(ngModel)]="currentbarcode"
                    (keydown.enter)="control(checkForm.value)"
                  />
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col">
                  <div class="form-group">
                    <input
                      placeholder="Miktar"
                      pInputText
                      type="number"
                      id="quantity"
                      class="form-control"
                      formControlName="quantity"
                    />
                  </div>
                </div>
                <div class="form-group col">
                  <div class="form-group">
                    <input
                      pInputText
                      placeholder="Parti"
                      type="text"
                      id="batchCode"
                      class="form-control"
                      formControlName="batchCode"
                      (keydown.enter)="onSubmit(checkForm.value)"
                      [disabled]="checkForm.disabled"
                    />
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <!-- <div class="col-md-6">
                  <div class="form-group">
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="control(this.checkForm.value)"
                      style="width: 100%"
                    >
                      Kontrol Et
                    </button>
                  </div>
                </div> -->
                <div class="col-md-12">
                  <div class="form-group">
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="check()"
                      style="width: 100%"
                    >
                      Say
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Yeni -->

    <app-image-modal
      [imageUrl]="modalImageUrl"
      [title]="'Ürün Detay'"
    ></app-image-modal>
  </section>
</main>
