<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div style="width: 100%">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">İade Satış Fatura Oluşturma Paneli</h5>
            <ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist"></ul>
            <div class="tab-content" id="ex2-content">
              <div class="tab-pane fade show" [class.active]="activeTab === 1" id="ex3-tabs-1" role="tabpanel"
                aria-labelledby="ex3-tab-1">
                <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
                  <div class="row mb-3">
                    <div class="form-group col">
                      <p-dropdown formControlName="officeCode" [options]="offices" [showClear]="true"
                        placeholder="Ofis"></p-dropdown>
                    </div>
                    <div class="form-group col">
                      <p-dropdown formControlName="warehouseCode" [options]="warehouses" [showClear]="true"
                        placeholder="Depo"></p-dropdown>
                    </div>
                    <div class="form-group col">
                      <p-dropdown formControlName="currency" [options]="currencyList" [showClear]="true"
                        optionLabel="name" placeholder="Fatura Tipi"></p-dropdown>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="form-group">
                      <input pInputText placeholder="Müşteri Kodu" type="text" class="form-control" id="currAccCode2"
                        formControlName="currAccCode2" (keydown.enter)="focusNextInput('currAccCode')" />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <p-dropdown placeholder="Müşteri" formControlName="currAccCode" [options]="customerList2"
                      [(ngModel)]="selectedCustomer" optionLabel="name" [filter]="true" virtualScroll="true"
                      virtualScrollItemSize="50"></p-dropdown>
                  </div>
                  <div class="row mb-3">
                    <p-dropdown placeholder="Satış Elemanı" formControlName="salesPersonCode"
                      [options]="salesPersonModelList" [(ngModel)]="selectedPerson" optionLabel="name" [filter]="true">
                    </p-dropdown>
                  </div>

                  <div class="row mb-3">
                    <div class="form-group">
                      <div class="input-group">
                        <input pInputText placeholder="Müşteri Kodu" type="text" id="shelfNo" class="form-control"
                          style="height: 100%" formControlName="shelfNo" placeholder="{{
                            shelfNumbers != 'RAFLAR:' ? shelfNumbers : 'Raf No'
                          }}" (keydown.enter)="focusNextInput('barcode')" />
                        <div class="input-group-append">
                          <button pButton type="button" (click)="clearShelfNumbers()" class="btn btn-primary"
                            style="height:100%">
                            <i class="fas fa-ruler    "></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div *ngIf="shelfNumbers !== 'RAFLAR:'" class="text">
                    {{ shelfNumbers }}
                  </div> -->
                  <div class="row mb-3">
                    <div class="form-group">
                      <label *ngIf="qrBarcodeUrl !== null" for="qrBarcode">{{
                        qrBarcodeUrl
                      }}</label>
                      <input pInputText placeholder="Barkod" type="text" id="barcode" class="form-control"
                        formControlName="barcode" (keydown.enter)="onSubmit(productForm.value)" />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="form-group col">
                      <input pInputText placeholder="Miktar" type="number" id="quantity" class="form-control"
                        formControlName="quantity" (keydown.enter)="onSubmit(productForm.value)" />
                    </div>
                    <div class="form-group col">
                      <input pInputText placeholder="Parti" type="text" id="batchCode" class="form-control"
                        formControlName="batchCode" (keydown.enter)="focusNextInput('quantity')" />
                    </div>
                  </div>

                  <div class="form-group col mb-3">
                    <div class="form-group">
                      <label for="isReturn">İade Faturası</label>

                      <p-inputSwitch id="isReturn" class="form-control" formControlName="isReturn"></p-inputSwitch>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="form-group col">
                      <button type="button" class="btn btn-primary" (click)="onSubmit(productForm.value)"
                        style="width: 100%">
                        Ekle
                      </button>
                    </div>
                    <div class="form-group col" *ngIf="
                        infoProducts.length > 0 && isReturnInvoice == false
                      " id="countPage">
                      <div class="btn-group" role="group" aria-label="Basic example" style="width: 100%">
                        <button type="button" class="btn btn-primary" (click)="showCountPage()" style="width: 100%">
                          {{ addedProductCount }}
                        </button>
                        <button type="button" class="btn btn-primary" (click)="showModal2()">
                          <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>

                    <div class="form-group col">
                      <button type="button" class="btn btn-primary" style="color: white; width: 100%"
                        (click)="createSaleInvoice()">
                        Faturalaştır
                      </button>
                    </div>
                  </div>
                </form>
              </div>
              <div class="tab-pane fade show" [class.active]="activeTab === 2" id="ex3-tabs-2" role="tabpanel-2"
                aria-labelledby="ex3-tab-2"></div>
              <div class="tab-pane fade show" [class.active]="activeTab === 3" id="ex3-tabs-3" role="tabpanel-3"
                aria-labelledby="ex3-tab-3">
                Prices
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="invoiceProducts2.length > 0">
          <p-table [value]="invoiceProducts2" [paginator]="true" [rows]="10" [tableStyle]="{'min-width': '50rem'}"
            [responsiveLayout]="'scroll'" [filterDelay]="500">
            <ng-template pTemplate="caption">
              <div class="flex align-items-center justify-content-between">
                Fatura Ürünleri
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>Fotoğraf</th>
                <th pSortableColumn="shelfNo">
                  Raf
                  <p-sortIcon field="shelfNo"></p-sortIcon>
                </th>
                <th pSortableColumn="itemCode">
                  Ürün Kodu
                  <p-sortIcon field="itemCode"></p-sortIcon>
                </th>
                <th pSortableColumn="quantity">
                  Miktar
                  <p-sortIcon field="quantity"></p-sortIcon>
                </th>
                <th pSortableColumn="batchCode">
                  Parti
                  <p-sortIcon field="batchCode"></p-sortIcon>
                </th>
                <th pSortableColumn="barcode">
                  Barkod
                  <p-sortIcon field="barcode"></p-sortIcon>
                </th>
                <th pSortableColumn="currAccCode">
                  Müşteri Kodu
                  <p-sortIcon field="currAccCode"></p-sortIcon>
                </th>
                <th pSortableColumn="warehouseCode">
                  Depo
                  <p-sortIcon field="warehouseCode"></p-sortIcon>
                </th>
                <th pSortableColumn="officeCode">
                  Ofis
                  <p-sortIcon field="officeCode"></p-sortIcon>
                </th>
                <th>İşlemler</th>
              </tr>
              <tr>
                <th>
                  <!-- Fotoğraf sütunu için filtre eklemiyoruz -->
                </th>
                <th>
                  <p-columnFilter type="text" field="shelfNo" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="itemCode" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="numeric" field="quantity" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="batchCode" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="barcode" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="currAccCode" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="warehouseCode" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <p-columnFilter type="text" field="officeCode" [showClearButton]="false"></p-columnFilter>
                </th>
                <th>
                  <!-- İşlemler sütunu için filtre eklemiyoruz -->
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-i="rowIndex">
              <tr>
                <td>
                  <img src="{{ product.photoUrl }}" alt="Resim" width="50" height="50"
                    (click)="openImageModal(product.photoUrl)" />
                </td>
                <td>{{ product.shelfNo }}</td>
                <td>{{ product.itemCode }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.batchCode }}</td>
                <td>{{ product.barcode }}</td>
                <td>{{ product.currAccCode }}</td>
                <td>{{ product.warehouseCode }}</td>
                <td>{{ product.officeCode }}</td>
                <td>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button class="btn btn-danger" (click)="deleteOrderProduct(newOrderNumber, product)">
                      <i class="fa fa-trash" aria-hidden="true"></i> </button>
                    <button class="btn btn-primary" style="margin-left: 1rem"
                      (click)="createJson(product.barcode, product.shelfNo)">
                      <i class="fas fa-print"> </i>
                    </button>

                  </div>

                </td>
              </tr>
            </ng-template>
          </p-table>

        </div>
        <!-- Yeni kart: Toplanan Ürünler -->
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Toplanan Ürünler</h5>
            <h1 class="display-1">{{ totalCount }}</h1>
            <p class="card-text">Adet Ürün Toplandı</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Fatura Yollanmadan Önce Kontrol Edilmesi Gerekenler
            </h5>
            <ul>
              <li>Satış Sorumlusu Alanını Seçmeniz Gerekmektedir</li>
              <li>
                Eğer Sipariş İade Faturası İse İade Alanını Seçmeniz
                Gerekmektedir
              </li>
              <li>
                Eğer Seçim Yapılmazsa İade Faturası Olarak Kesilmeyecektir
              </li>
              <li>Vergi Tipi Alanını Seçmeniz Gerekmektedir</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Yeni -->
    <qrcode style="display: none" (qrCodeURL)="onChangeURL($event)" [qrdata]="qrCodeValue" [width]="256"
      [errorCorrectionLevel]="'M'"></qrcode>

    <app-image-modal [imageUrl]="modalImageUrl" [title]="'Ürün Detay'"></app-image-modal>

    <p-dialog header="Sayım Paneli" [(visible)]="visible" [style]="{ width: '90vw' }">
      <p>
        <app-warehosue-shelf-count [isChild]="true" [infoProducts]="this.infoProducts"></app-warehosue-shelf-count>
      </p>
    </p-dialog>
    <p-dialog header="Sayım Paneli Ürün Ekranı" [(visible)]="visible2" [style]="{ width: '50vw' }">
      <div class="card" *ngIf="infoProducts.length > 0">
        <div class="card-body">
          <!-- <h1 class="card-title">Toplanacak Siparişler</h1> -->
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Fotoğraf</th>
                  <th scope="col">Raf</th>
                  <th scope="col">Ürün Kodu</th>

                  <th scope="col">Miktar</th>
                  <th scope="col">Parti</th>
                  <th scope="col">Barkod</th>
                  <th scope="col">Müşteri Kodu</th>
                  <th scope="col">Depo</th>
                  <th scope="col">Ofis</th>
                  <th scope="col">Stok Adedi</th>

                  <th scope="col">İşlemler</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of infoProducts; let i = index">
                  <td>
                    <img src="{{ product.photoUrl }}" alt="Resim" width="50" height="50"
                      (click)="openImageModal(product.photoUrl)" />
                  </td>
                  <td>{{ product.shelfNo }}</td>
                  <td>{{ product.itemCode }}</td>

                  <td>{{ product.quantity }}</td>
                  <td>{{ product.batchCode }}</td>
                  <td>{{ product.barcode }}</td>
                  <td>{{ product.currAccCode }}</td>
                  <td>{{ product.warehouseCode }}</td>
                  <td>{{ product.officeCode }}</td>
                  <td>{{ product.qty }}</td>

                  <td>
                    <button class="btn btn-danger" type="submit" (click)="deleteFromList(product)">
                      <i class="fa fa-trash"> </i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </p-dialog>
  </section>
</main>
