<main id="main" class="main">
  <section class="section">
    <p-tabView [activeIndex]="activeIndex">
      <p-tabPanel header="Başlık">
        <div class="row">
          <div style="width: 100%">

            <form *ngIf="this.innerProcessCode == 'C'
            ||this.innerProcessCode == 'CI'
            || this.innerProcessCode == 'CO'
              || this.innerProcessCode == 'ST' || this.innerProcessCode == 'WS' || this.innerProcessCode == 'R'
            " [formGroup]="_checkForm" (ngSubmit)="updateInnerHeader(_checkForm.value)">
              <div class="row mb-3 ">
                <div class="form-group col-md-6 mt-3">
                  <p-dropdown formControlName="officeCode" [options]="offices" [showClear]="true" placeholder="Ofis">
                  </p-dropdown>
                </div>

                <div class="form-group col-md-6 mt-3">
                  <p-dropdown formControlName="warehouse" [options]="warehouses" [showClear]="true" placeholder="Depo"
                    optionLabel="name" formControlName="warehouseCode" className="mobile-spacing">
                  </p-dropdown>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group">
                  <input pInputText type="text" placeholder="Açıklama" id="description" class="form-control"
                    formControlName="description" maxlength="100" />
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group">
                  <input [disabled]="true" pInputText type="text" placeholder="Hareket Numarası" id="innerNumber"
                    class="form-control" formControlName="innerNumber" />
                </div>
              </div>

              <div class="row mb-1">
                <div class="form-group col">
                  <button [disabled]="this.innerHeader?.innerNumber != null" type="button" class="btn btn-primary"
                    (click)="updateInnerHeader(_checkForm.value)" style="width: 100%">
                    Kaydet
                  </button>
                </div>

              </div>
            </form>
            <form
              *ngIf="this.innerProcessCode == 'S'  || this.innerProcessCode == 'WT'|| this.innerProcessCode == 'WT-O'"
              class="mt-4" [formGroup]="transferForm" (ngSubmit)="onSubmit(transferForm.value)">
              <!-- Form alanları -->
              <div class="row mb-3">
                <div class="form-group col">
                  <p-dropdown id="officeCode" formControlName="officeCode" [options]="offices" [showClear]="true"
                    placeholder="Hangi Ofisten"></p-dropdown>
                </div>
                <div class="form-group col">
                  <p-dropdown formControlName="warehouseCode" [showClear]="true" optionLabel="name"
                    [options]="warehouses" className="mobile-spacing" placeholder="Hangi Depodan"></p-dropdown>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col">
                  <p-dropdown id="toOfficeCode" formControlName="toOfficeCode" [options]="_offices" [showClear]="true"
                    placeholder="Hangi Ofise"></p-dropdown>
                </div>
                <div class="form-group col">
                  <p-dropdown id="toWarehouseCode" formControlName="toWarehouseCode" [showClear]="true"
                    optionLabel="name" [options]="_warehouses" className="mobile-spacing" placeholder="Hangi Depoya">
                  </p-dropdown>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group">
                  <input pInputText type="text" placeholder="Açıklama" id="description" class="form-control"
                    formControlName="description" maxlength="100" />
                </div>
              </div>
              <div class="row mb-3" *ngIf="this.innerHeader?.innerNumber">
                <div class="form-group">
                  <input [disabled]="true" pInputText type="text" placeholder="Hareket Numarası" id="innerNumber"
                    class="form-control" formControlName="innerNumber" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-6">
                  <label for="isReturn" class="col-form-label">İade</label>
                </div>
                <div class="col-6">
                  <div class="form-check">
                    <p-inputSwitch id="isReturn" formControlName="isReturn"></p-inputSwitch>
                  </div>
                </div>
              </div>

              <div class="row mb-1">
                <div class="form-group col">
                  <button [disabled]="this.innerHeader?.innerNumber != null" type="button" class="btn btn-primary"
                    (click)="updateInnerHeader(transferForm.value)" style="width: 100%">
                    Kaydet
                  </button>
                </div>

              </div>

            </form>

          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Satırlar">
        <form [formGroup]="checkForm" (ngSubmit)="onSubmit(checkForm.value)">
          <div class="row mb-3" *ngIf="this.isShelfBased == true">
            <div class="form-group">
              <div class="input-group">
                <input pInputText placeholder="{{
                        shelfNumbers != 'RAFLAR:' ? shelfNumbers : 'Raf No'
                      }}" type="text" id="shelfNo" class="form-control" formControlName="shelfNo"
                  (keydown.enter)="focusNextInput('countPageBarcode')" />
                <div class="input-group-append">
                  <button type="button" style="height: 100%" (click)="clearShelfNumbers()" class="btn btn-primary">
                    <i class="fa-solid fa-broom"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="form-group">
              <input pInputText type="search" placeholder="Barkod" id="countPageBarcode" class="form-control"
                formControlName="barcode" [disabled]="checkForm?.disabled"
                (keydown.enter)="onSubmit(checkForm?.value)" />
            </div>
          </div>
          <div class="row mb-3">
            <div class="form-group col">
              <div class="form-group">
                <input pInputText placeholder="Miktar" type="number" id="quantity" class="form-control"
                  formControlName="quantity" [disabled]="checkForm?.disabled" />
              </div>
            </div>
            <div class="form-group col">
              <div class="form-group">
                <input placeholder="Parti" pInputText input type="text" id="batchCode" class="form-control"
                  formControlName="batchCode" (keydown.enter)="onSubmit(checkForm?.value)"
                  [disabled]="checkForm?.disabled" />
              </div>
            </div>
          </div>
          <div class="form-group col mb-3" *ngIf=" this.innerProcessCode == 'ST'
             && this.isShelfBased ==true">
            <div class="form-group">
              <input placeholder="Hedef Raf" pInputText input type="text" id="toShelfNo" class="form-control"
                formControlName="toShelfNo" (keydown.enter)="onSubmit(checkForm?.value)"
                [disabled]="checkForm?.disabled" />
            </div>
          </div>

          <div class="row mb-1">
            <div class="form-group col">
              <button type="button" class="btn btn-primary" (click)="onSubmit(checkForm.value)" style="width: 100%">
                Ekle
              </button>
            </div>
            <div class="form-group col">
              <button *ngIf="this.innerProcessCode == 'CI' ||this.innerProcessCode == 'CO'" type="button"
                class="btn btn-primary" style="margin-left: 10px; color: white"
                (click)="completeCountFromService(currentOrderNo)" style="width: 100%">
                Sayımı Tamamla
              </button>
              <button *ngIf="this.innerProcessCode == 'C' " type="button" class="btn btn-primary"
                style="margin-left: 10px; color: white" (click)="completeCountFromService(currentOrderNo)"
                style="width: 100%">
                Sayımı Eşitlemeyi Tamamla
              </button>
              <button
                *ngIf="this.innerProcessCode == 'S'||this.innerProcessCode == 'WT' || this.innerProcessCode == 'WT-O' "
                type="button" class="btn btn-primary" style="margin-left: 10px; color: white" (click)="handleTransfer()"
                style="width: 100%">
                Transferi Tamamla
              </button>

              <button *ngIf="this.innerProcessCode == 'ST' " type="button" class="btn btn-primary"
                style="margin-left: 10px; color: white" style="width: 100%" (click)="create_st()">
                Raf Transferi Tamamla
              </button>

              <button *ngIf="this.innerProcessCode == 'WS'||this.innerProcessCode == 'R'  " type="button"
                class="btn btn-primary" style="margin-left: 10px; color: white" style="width: 100%">
                Siparişi Faturalaştır
              </button>
            </div>
          </div>
        </form>


        <div *ngIf="lastCollectedProducts?.length > 0 && this.innerHeader">
          <div class="card-body">
            <h5 class="card-title">Sayılan Ürünler</h5>
            <p-table [value]="lastCollectedProducts" class="table" [paginator]="true" [rows]="10"
              [responsiveLayout]="'scroll'">
              <ng-template pTemplate="header">
                <tr>
                  <th>
                    Ürün Kodu
                  </th>
                  <th>
                    Barkod
                  </th>
                  <th *ngIf="this.isShelfBased ==true">
                    Raf
                  </th>
                  <th *ngIf="this.isShelfBased ==true && this.innerProcessCode == 'ST'">
                    Hedef Raf
                  </th>
                  <th>
                    Miktar
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product let-i="index">
                <tr>

                  <td>{{ product.itemCode }}</td>
                  <td>{{ product.barcode }}</td>
                  <td *ngIf="this.isShelfBased ==true">{{ product.shelfNo }}</td>
                  <td *ngIf="this.isShelfBased ==true && this.innerProcessCode == 'ST'">{{ product.toShelfNo }}</td>
                  <td>{{ product.quantity }}</td>
                  <td>
                    <div class="btn-group">
                      <button class="btn btn-danger" type="submit" (click)="deleteOrderProduct(product.id)">
                        <i class="fa fa-trash"></i>
                      </button>
                      <!--
          <button class="btn btn-primary" type="submit"
                  (click)="change(product.barcode, product.quantity, product.batchCode)">
            <i class="fa fa-print"></i>
          </button>
          -->
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>

          </div>
        </div>

        <!-- Yeni kart: Toplanan Ürünler -->
        <!-- <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Toplanan Ürünler</h5>
            <h1 class="display-1">{{ totalCount }}</h1>
            <p class="card-text">Adet Ürün Toplandı</p>
          </div>
        </div> -->
      </p-tabPanel>

    </p-tabView>

    <p-dialog header="Sayım Tipini Seçiniz" [(visible)]="dialog" [style]="{ width: '25rem' }">

      <div class="row">
        <div class="col md-6">
          <button style="width: 100%;" class="btn btn-danger" label="Cancel" severity="secondary"
            (click)="complete_C(false)">Raf Bazında Ürün
            Sayım
          </button>
        </div>
        <div class="col md-6">
          <button style="width: 100%;" class="btn btn-primary" label="Save" (click)="complete_C(true)">Raf Bazında
            Sayım
          </button>
        </div>


      </div>


    </p-dialog>

  </section>
</main>
