<main id="main" class="main">
  <section class="section">
    <p-table [value]="bankHeaders" [paginator]="true" [rows]="10" [tableStyle]="{'min-width': '50rem'}"
      [responsiveLayout]="'scroll'">

      <!-- Table Headers with Sorting -->
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="applicationCode">
            Uygulama Kodu
            <p-sortIcon field="applicationCode"></p-sortIcon>
          </th>
          <th pSortableColumn="bankTransTypeCode">
            Banka İşlem Tipi Kodu
            <p-sortIcon field="bankTransTypeCode"></p-sortIcon>
          </th>
          <th pSortableColumn="currAccDescription">
            Cari Hesap Açıklaması
            <p-sortIcon field="currAccDescription"></p-sortIcon>
          </th>
          <th pSortableColumn="bankCurrAccCode">
            Banka Cari Hesap Kodu
            <p-sortIcon field="bankCurrAccCode"></p-sortIcon>
          </th>
          <th pSortableColumn="officeCode">
            Ofis Kodu
            <p-sortIcon field="officeCode"></p-sortIcon>
          </th>
          <th pSortableColumn="user">
            Kullanıcı
            <p-sortIcon field="user"></p-sortIcon>
          </th>
          <th pSortableColumn="total">
            Toplam
            <p-sortIcon field="total"></p-sortIcon>
          </th>
          <th pSortableColumn="createdDate">
            Oluşturulma Tarihi
            <p-sortIcon field="createdDate"></p-sortIcon>
          </th>
        </tr>
        <tr>
          <th>
            <p-columnFilter type="text" field="applicationCode" [showClearButton]="true"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="numeric" field="bankTransTypeCode" [showClearButton]="true"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="currAccDescription" [showClearButton]="true"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="bankCurrAccCode" [showClearButton]="true"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="officeCode" [showClearButton]="true"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="user" [showClearButton]="true"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="numeric" field="total" [showClearButton]="true"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="date" field="createdDate" [showClearButton]="true"></p-columnFilter>
          </th>
        </tr>
      </ng-template>

      <!-- Table Body -->
      <ng-template pTemplate="body" let-bankHeader>
        <tr>
          <td>{{ bankHeader.applicationCode }}</td>
          <td>{{ bankHeader.bankTransTypeCode }}</td>
          <td>{{ bankHeader.currAccDescription }}</td>
          <td>{{ bankHeader.bankCurrAccCode }}</td>
          <td>{{ bankHeader.officeCode }}</td>
          <td>{{ bankHeader.user }}</td>
          <td>{{ bankHeader.total | currency }}</td>
          <td>{{ bankHeader.createdDate | date }}</td>
        </tr>
      </ng-template>
    </p-table>


  </section>
</main>
