<main id="main" class="main">
  <section class="section">


    <div class="card custom-card mb-3">
      <div class="card-body d-flex justify-content-start mt-3" style="overflow-x: auto">
        <button type="button" class="btn btn-primary" routerLink="/create-bank-process/bank/4">
          <i class=" fas fa-check"></i> Gelen Havale İşlemi
        </button>
        <button type="button" class="btn btn-primary" routerLink="/create-bank-process/bank/5">
          <i class=" fas fa-check"></i> Gönderilen Havale İşlemi
        </button>

      </div>
    </div>

    <div class="card">
      <p-table [value]="bankHeaders" [paginator]="true" [rows]="10" [tableStyle]="{'min-width': '50rem'}"
        [responsiveLayout]="'scroll'">

        <!-- Table Headers with Sorting -->
        <ng-template pTemplate="header">
          <tr>
            <!-- <th pSortableColumn="applicationCode">
                Uygulama Kodu
                <p-sortIcon field="applicationCode"></p-sortIcon>
              </th> -->

            <!-- <th pSortableColumn="bankTransTypeCode">
                Banka İşlem Tipi Kodu
                <p-sortIcon field="bankTransTypeCode"></p-sortIcon>
              </th> -->
            <th pSortableColumn="currAccDescription">
              Cari Hesap Açıklaması
              <p-sortIcon field="currAccDescription"></p-sortIcon>
            </th>
            <!-- <th pSortableColumn="bankCurrAccCode">
              Banka Cari Hesap Kodu
              <p-sortIcon field="bankCurrAccCode"></p-sortIcon>
            </th> -->
            <th pSortableColumn="officeCode">
              Ofis Kodu
              <p-sortIcon field="officeCode"></p-sortIcon>
            </th>

            <th pSortableColumn="total">
              Toplam
              <p-sortIcon field="total"></p-sortIcon>
            </th>
            <th pSortableColumn="bankTransNumber">
              İç Numara
              <p-sortIcon field="bankTransNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="user">
              Kullanıcı
              <p-sortIcon field="user"></p-sortIcon>
            </th>
            <th pSortableColumn="createdDate">
              Oluşturulma Tarihi
              <p-sortIcon field="createdDate"></p-sortIcon>
            </th>
            <th>
              Tamamlandı Mı
            </th>
            <th>
              İşlemler
            </th>
          </tr>
          <tr>
            <!-- <th>
                <p-columnFilter type="text" field="applicationCode" [showClearButton]="true"></p-columnFilter>
              </th> -->

            <!-- <th>
                <p-columnFilter type="numeric" field="bankTransTypeCode" [showClearButton]="true"></p-columnFilter>
              </th> -->
            <th>
              <p-columnFilter type="text" field="currAccDescription" [showClearButton]="true"></p-columnFilter>
            </th>
            <!-- <th>
              <p-columnFilter type="text" field="bankCurrAccCode" [showClearButton]="true"></p-columnFilter>
            </th> -->
            <th>
              <p-columnFilter type="text" field="officeCode" [showClearButton]="true"></p-columnFilter>
            </th>

            <th>
              <p-columnFilter type="numeric" field="total" [showClearButton]="true"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="bankTransNumber" [showClearButton]="true"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="user" [showClearButton]="true"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="date" field="createdDate" [showClearButton]="true"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="boolean" field="isCompleted" [showClearButton]="true"></p-columnFilter>
            </th>
            <th>
            </th>
          </tr>
        </ng-template>

        <!-- Table Body -->
        <ng-template pTemplate="body" let-bankHeader>
          <tr>
            <!-- <td>{{ bankHeader.applicationCode }}</td> -->

            <!-- <td>{{ bankHeader.bankTransTypeCode }}</td> -->
            <td>{{ bankHeader.currAccDescription }}</td>
            <!-- <td>{{ bankHeader.bankCurrAccCode }}</td> -->
            <td>{{ bankHeader.officeCode }}</td>
            <td>{{ bankHeader.total | currency }}</td>
            <td>{{ bankHeader.bankTransNumber }}</td>
            <td>{{ bankHeader.user }}</td>
            <td>{{ bankHeader.createdDate | date }}</td>
            <td>
              <button class="btn btn-success" *ngIf="bankHeader.isCompleted">
                <i class="fa fa-check"></i>
              </button>
              <button class="btn btn-danger" *ngIf="!bankHeader.isCompleted">
                <i class="fa fa-ban" aria-hidden="true"></i>
              </button>
            </td>
            <td>

              <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-primary"
                  routerLink="/create-bank-process/{{bankHeader.applicationCode}}/{{bankHeader.bankTransTypeCode}}/1/{{bankHeader.id}}"><i
                    class="fa fa-pencil" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"
                    (click)="deleteProcess(bankHeader)"></i></button>

              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>



  </section>
</main>
