<main id="main" class="main">
  <section class="section">
    <div class="card custom-card mb-3">
      <div class="card-body d-flex justify-content-start mt-3" style="overflow-x: auto">
        <!-- <button type="button" class="btn btn-primary" (click)="newPurchaseInvoice()">
          <i class="fas fa-check"></i> Alış Faturası Oluştur
        </button> -->
        <button type="button" class="btn btn-primary" (click)="newSaleInvoice()">
          <i class="fas fa-check"></i> Satış Faturası Oluştur
        </button>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <div style="overflow-x: auto">
          <table class="table table-striped">
            <thead>
              <tr>
                <!-- <th scope="col">Seç</th> -->

                <th scope="col">İşlem Tarihi</th>
                <th scope="col">Toplam Sayılan Ürün Sayısı</th>
                <!-- <th scope="col">Sipariş Numarası</th> -->
                <th scope="col">Fatura Tipi</th>
                <th scope="col">Müşteri</th>
                <th scope="col">İşlemler</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="
                  let count of countList
                    | paginate : { itemsPerPage: 10, currentPage: currentPage }
                ">
                <!-- <td><input class="form-check-input" type="checkbox" value=""
                    (click)="addInnerNumberToList(count.orderNo)"></td> -->

                <td>
                  {{ count.lastUpdateDate | date : "dd.MM.yyyy HH:mm:ss" }}
                </td>
                <td>{{ count.totalProduct }}</td>
                <!-- <td>{{ count.orderNo }}</td> -->
                <td>
                  {{ count.orderNo.includes("WS") ? "Satış " : "Alış "
                  }}{{ count.isReturn == true ? "İade" : "" }}
                </td>
                <td>{{ count.salesPersonCode }}</td>
                <td>
                  <div class="btn-group">
                    <button class="btn btn-success" data-text="İşlemler" (click)="routeToPage(count.orderNo)">
                      <i class="fas fa-sliders-h"></i>
                    </button>

                    <button class="btn btn-success" data-text="Sil" (click)="deleteInvoiceProducts(count.orderNo)">
                      <i class="fas fa-trash"></i>
                    </button>
                    <button class="btn btn-success" data-text="İade Faturası Kes"
                      (click)="deleteInvoiceProducts(count.orderNo)">
                      <i class="fas fa-refresh"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </section>
</main>
