<main id="main" class="main">
  <section class="section">
    <div class="card custom-card mb-3">
      <div class="card-body d-flex justify-content-start mt-3" style="overflow-x: auto">
        <button type="button" class="btn btn-primary" (click)="newSaleInvoice()">
          <i class=" fas fa-check"></i> Oluştur
        </button>

      </div>
    </div>

    <div class="card">
      <p-table #dt2 [value]="invoices" [(selection)]="selectedInvoices" dataKey="id" [paginator]="true"
        [rowsPerPageOptions]="[5, 10, 20]" [rows]="10" [tableStyle]="{ 'min-width': '70rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
        <!-- <ng-template pTemplate="caption">
          <div class="p-4 card-body d-flex justify-content-start" style="overflow-x: auto">
            <p-splitButton label="İşlemler" [model]="items" appendTo="body"></p-splitButton>
          </div>
          <h5 *ngIf="selectedInvoices.length > 0" style="text-align: left">
            {{ selectedInvoices.length }}/{{ invoices.length }} Adet Fatura Seçildi
          </h5>
        </ng-template> -->

        <ng-template pTemplate="header">
          <tr>
            <th>Seç</th>
            <th pSortableColumn="currAccDescription">Müşteri <p-sortIcon field="currAccDescription"></p-sortIcon>
            </th>
            <th *ngIf="this.processType=='invoice'" pSortableColumn="eInvoiceNumber">E-Fatura Numarası <p-sortIcon
                field="eInvoiceNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="amount">Tutar <p-sortIcon field="amount"></p-sortIcon>
            </th>
            <th pSortableColumn="totalProduct">Toplam Ürün Sayısı <p-sortIcon field="totalProduct"></p-sortIcon>
            </th>
            <th pSortableColumn="invoiceNumber">İç Numara <p-sortIcon field="invoiceNumber"></p-sortIcon>
            </th>
            <th pSortableColumn="isCompleted">Tamamlandı Mı? <p-sortIcon field="isCompleted"></p-sortIcon>
            </th>

            <th pSortableColumn="lastUpdateDate">Tarih <p-sortIcon field="lastUpdateDate"></p-sortIcon>
            </th>
            <th>İşlemler</th>
          </tr>
          <tr>
            <th style="width: 4rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>
              <p-columnFilter type="text" field="currAccDescription" [showClearButton]="false"></p-columnFilter>
            </th>
            <th *ngIf="this.processType=='invoice'">
              <p-columnFilter type="text" field="eInvoiceNumber" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="amount" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="numeric" field="totalProduct" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="text" field="invoiceNumber" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="boolean" field="isCompleted" [showClearButton]="false"></p-columnFilter>
            </th>
            <th>
              <p-columnFilter type="date" field="lastUpdateDate" [showClearButton]="false"></p-columnFilter>
            </th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-invoice>
          <tr>
            <td>
              <p-tableCheckbox [value]="invoice"></p-tableCheckbox>
            </td>
            <td>{{ invoice.currAccDescription }}</td>
            <td *ngIf="this.processType=='invoice'">{{ invoice.eInvoiceNumber }}</td>
            <td>{{ invoice.amount | currency : "₺" }}</td>
            <td>{{ invoice.totalProduct }}</td>
            <td>{{ invoice.invoiceNumber }}</td>


            <td>
              <button class="btn btn-success" *ngIf="invoice.isCompleted">
                <i class="fa fa-check"></i>
              </button>
              <button class="btn btn-danger" *ngIf="!invoice.isCompleted">
                <i class="fa fa-ban" aria-hidden="true"></i>
              </button>
            </td>


            <td>{{ invoice.createdDate | date : "dd.MM.yyyy HH:mm:ss" }}</td>
            <td>
              <div class="btn-group">

                <button class="btn btn-success" (click)="goPage(invoice.id)">
                  <i class="fas fa-sliders-h"></i>
                </button>
                <button *ngIf="this.processType =='order'" class="btn btn-primary" title="Siparişi Faturaya Çevir"
                  (click)="convertWSOrderToWSInvoice(invoice.processCode,invoice.id)">
                  <i class="fas fa-receipt    "></i> </button>
                <button *ngIf="this.processType =='proposal'" class="btn btn-primary" title="Teklifi Siparişe Çevir"
                  (click)="convertWSProposalToWSOrder(invoice.processCode,invoice.id)">
                  <i class="fas fa-receipt    "></i> </button>

                <button *ngIf="this.processType =='proposal'" class="btn btn-primary" title="Teklifi Onayla"
                  routerLink="/confirm-process/proposal/{{invoice.processCode}}/{{invoice.id}}">
                  <i class="fa fa-check" aria-hidden="true"></i> </button>
                <button *ngIf="this.processType =='order'" class="btn btn-primary" title="Siparişi Onayla"
                  routerLink="/confirm-process/order/{{invoice.processCode}}/{{invoice.id}}">
                  <i class="fa fa-check" aria-hidden="true"></i> </button>
                <button class="btn btn-danger" title="Sil" (click)="deleteInvoice(invoice.id)">
                  <i class="fas fa-trash"></i>
                </button>

              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>

  </section>
</main>
