<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div style="width: 100%">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Alış Fatura Oluşturma Paneli</h5>
            <form
              [formGroup]="productForm"
              (ngSubmit)="onSubmit(productForm.value)"
            >
              <div class="row mb-3">
                <div class="form-group col">
                  <p-dropdown
                    formControlName="officeCode"
                    [options]="offices"
                    [showClear]="true"
                    placeholder="Ofis"
                  ></p-dropdown>
                </div>
                <div class="form-group col">
                  <p-dropdown
                    formControlName="warehouseCode"
                    [options]="warehouses"
                    [showClear]="true"
                    placeholder="Depo"
                  ></p-dropdown>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col">
                  <!-- <p-dropdown
                    formControlName="currAccCode"
                    [options]="customerList"
                    [showClear]="true"
                    placeholder="Tedarikçi"
                    optionLabel="currAccDescription"
                  ></p-dropdown> -->

                  <label for="currAccCode">Tedarikçi</label>
                  <ng-select
                    style="padding: 0 !important"
                    id="currAccCode"
                    class="form-control"
                    formControlName="currAccCode"
                    [items]="customerList"
                    bindLabel="currAccDescription"
                    bindValue="currAccCode"
                    [searchable]="true"
                  ></ng-select>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group">
                  <div class="input-group">
                    <input
                      pInputText
                      type="text"
                      id="shelfNo"
                      class="form-control"
                      formControlName="shelfNo"
                      placeholder="{{
                        shelfNumbers != 'RAFLAR:' ? shelfNumbers : 'Raf No'
                      }}"
                      (keydown.enter)="onSubmit(productForm.value)"
                    />
                    <div class="input-group-append">
                      <button
                        type="button"
                        (click)="clearShelfNumbers()"
                        class="btn btn-primary"
                      >
                        Rafı ve Barkodu Temizle
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div *ngIf="shelfNumbers !== 'RAFLAR:'" class="text">
                    {{ shelfNumbers }}
                  </div> -->
              <div class="row mb-3">
                <div class="form-group col">
                  <label *ngIf="qrBarcodeUrl !== null" for="qrBarcode">{{
                    qrBarcodeUrl
                  }}</label>
                  <input
                    pInputText
                    type="text"
                    id="barcode"
                    placeholder="Barkod"
                    class="form-control"
                    formControlName="barcode"
                    (keydown.enter)="onSubmit(productForm.value)"
                  />
                </div>
                <div class="form-group col">
                  <input
                    pInputText
                    type="text"
                    id="batchCode"
                    class="form-control"
                    placeholder="Parti"
                    formControlName="batchCode"
                    (keydown.enter)="focusNextInput('quantity')"
                  />
                </div>
              </div>
              <!-- <div class="row mb-3"><div class="form-group"><label for="batchCode">Parti</label><input          pInputText type="text" id="batchCode" class="form-control"
                                                 formControlName="batchCode"
                                                 (keydown.enter)="onSubmit(productForm.value)" /></div></div> -->
              <div class="row mb-2">
                <div class="form-group">
                  <input
                    pInputText
                    type="number"
                    id="quantity"
                    class="form-control"
                    placeholder="Miktar"
                    formControlName="quantity"
                    (keydown.enter)="onSubmit(productForm.value)"
                  />
                </div>
              </div>

              <div class="form-group col mb-3">
                <div class="form-group">
                  <label for="isReturn">İade Faturası</label>

                  <p-inputSwitch
                    id="isReturn"
                    class="form-control"
                    formControlName="isReturn"
                  ></p-inputSwitch>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md">
                  <button
                    type="button"
                    class="btn btn-primary"
                    (click)="onSubmit(productForm.value)"
                    style="width: 100%"
                  >
                    Ekle
                  </button>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-">
                  <button
                    type="button"
                    class="btn btn-primary"
                    style="color: white; width: 100%"
                    (click)="createPurchaseInvoice()"
                  >
                    Faturalaştır
                  </button>
                </div>
              </div>
              <span style="margin-left: 10px"></span>
            </form>
          </div>
        </div>
        <div class="card" *ngIf="invoiceProducts2.length > 0">
          <div class="card-body">
            <h5 class="card-title">Eklenen Ürünler</h5>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Fotoğraf</th>
                    <th scope="col">Raf</th>
                    <th scope="col">Ürün Kodu</th>
                    <th scope="col">Miktar</th>
                    <th scope="col">Parti</th>
                    <th scope="col">Barkod</th>
                    <th scope="col">Müşteri Kodu</th>
                    <th scope="col">Depo</th>
                    <th scope="col">Ofis</th>
                    <th scope="col">İşlemler</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let product of invoiceProducts2
                        | paginate
                          : { itemsPerPage: 10, currentPage: currentPage };
                      let i = index
                    "
                  >
                    <td>
                      <img
                        src="{{ product.photoUrl }}"
                        alt="Resim"
                        width="50"
                        height="50"
                        (click)="openImageModal(product.photoUrl)"
                      />
                    </td>
                    <td>{{ product.shelfNo }}</td>
                    <td>{{ product.itemCode }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.batchCode }}</td>
                    <td>{{ product.barcode }}</td>
                    <td>{{ product.currAccCode }}</td>
                    <td>{{ product.warehouseCode }}</td>
                    <td>{{ product.officeCode }}</td>
                    <td>
                      <div class="btn btn-group">
                        <button
                          class="btn btn-danger"
                          type="submit"
                          (click)="deleteOrderProduct(newOrderNumber, product)"
                        >
                          <i class="fas fa-trash"></i>
                        </button>
                      </div>

                      <!-- Yeni -->
                      <button
                        class="btn btn-primary"
                        type="submit"
                        (click)="change(product.barcode, product.quantity)"
                      >
                        <i class="fas fa-print"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls
                (pageChange)="currentPage = $event"
              ></pagination-controls>
            </div>
          </div>
        </div>
        <!-- Yeni kart: Toplanan Ürünler -->
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Toplanan Ürünler</h5>
            <h1 class="display-1">{{ totalCount }}</h1>
            <p class="card-text">Adet Ürün Toplandı</p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Fatura Yollanmadan Önce Kontrol Edilmesi Gerekenler
            </h5>
            <ul>
              <!-- <li>Satış Sorumlusu Alanını Seçmeniz Gerekmektedir</li> -->
              <li>
                Eğer Sipariş İade Faturası İse İade Alanını Seçmeniz
                Gerekmektedir
              </li>
              <li>
                Eğer Seçim Yapılmazsa İade Faturası Olarak Kesilmeyecektir
              </li>
              <!-- <li>Vergi Tipi Alanını Seçmeniz Gerekmektedir</li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <qrcode
      style="display: none"
      (qrCodeURL)="onChangeURL($event)"
      [qrdata]="qrCodeValue"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
    <app-image-modal
      [imageUrl]="modalImageUrl"
      [title]="'Ürün Detay'"
    ></app-image-modal>

    <p-dialog
      header="Header"
      [(visible)]="visible"
      [style]="{ width: '100vw' }"
    >
      <app-create-qr
        upPageDescription="Alış Fatura Oluşturma"
        [barcode]="barcode"
        [quantity]="quantity"
      ></app-create-qr>
    </p-dialog>
  </section>
</main>
