<main id="main" class="main">
  <section class="section">
    <div class="row">
      <div style="width: 100%">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Alış Fatura Oluşturma Paneli</h5>
            <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
              <div class="row mb-3">
                <div class="form-group col">
                  <p-dropdown formControlName="officeCode" [options]="offices" [showClear]="true" placeholder="Ofis">
                  </p-dropdown>
                </div>
                <div class="form-group col">
                  <p-dropdown formControlName="warehouseCode" [options]="warehouses" [showClear]="true"
                    placeholder="Depo"></p-dropdown>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group col">
                  <!-- <p-dropdown
                    formControlName="currAccCode"
                    [options]="customerList"
                    [showClear]="true"
                    placeholder="Tedarikçi"
                    optionLabel="currAccDescription"
                  ></p-dropdown> -->

                  <label for="currAccCode">Tedarikçi</label>
                  <ng-select style="padding: 0 !important" id="currAccCode" class="form-control"
                    formControlName="currAccCode" [items]="customerList" bindLabel="currAccDescription"
                    bindValue="currAccCode" [searchable]="true"></ng-select>
                </div>
              </div>
              <div class="row mb-3">
                <div class="form-group">
                  <div class="input-group">
                    <input pInputText type="text" id="shelfNo" class="form-control" formControlName="shelfNo"
                      placeholder="{{
                        shelfNumbers != 'RAFLAR:' ? shelfNumbers : 'Raf No'
                      }}" (keydown.enter)="onSubmit(productForm.value)" />
                    <div class="input-group-append">
                      <button type="button" (click)="clearShelfNumbers()" class="btn btn-primary">
                        Rafı ve Barkodu Temizle
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div *ngIf="shelfNumbers !== 'RAFLAR:'" class="text">
                    {{ shelfNumbers }}
                  </div> -->
              <div class="row mb-3">
                <div class="form-group col">
                  <label *ngIf="qrBarcodeUrl !== null" for="qrBarcode">{{
                    qrBarcodeUrl
                  }}</label>
                  <input pInputText type="text" id="barcode" placeholder="Barkod" class="form-control"
                    formControlName="barcode" (keydown.enter)="onSubmit(productForm.value)" />
                </div>
                <div class="form-group col">
                  <input pInputText type="text" id="batchCode" class="form-control" placeholder="Parti"
                    formControlName="batchCode" (keydown.enter)="focusNextInput('quantity')" />
                </div>
              </div>
              <!-- <div class="row mb-3"><div class="form-group"><label for="batchCode">Parti</label><input          pInputText type="text" id="batchCode" class="form-control"
                                                 formControlName="batchCode"
                                                 (keydown.enter)="onSubmit(productForm.value)" /></div></div> -->
              <div class="row mb-2">
                <div class="form-group">
                  <input pInputText type="number" id="quantity" class="form-control" placeholder="Miktar"
                    formControlName="quantity" (keydown.enter)="onSubmit(productForm.value)" />
                </div>
              </div>

              <div class="form-group col mb-3">
                <div class="form-group">
                  <label for="isReturn">İade Faturası</label>

                  <p-inputSwitch id="isReturn" class="form-control" formControlName="isReturn"></p-inputSwitch>
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-md">
                  <button type="button" class="btn btn-primary" (click)="onSubmit(productForm.value)"
                    style="width: 100%">
                    Ekle
                  </button>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-">
                  <button type="button" class="btn btn-primary" style="color: white; width: 100%"
                    (click)="createPurchaseInvoice()">
                    Faturalaştır
                  </button>
                </div>
              </div>
              <span style="margin-left: 10px"></span>
            </form>
          </div>
        </div>
        <div class="card" *ngIf="invoiceProducts2.length > 0">
          <div class="card-body">
            <p-table [value]="invoiceProducts2" [paginator]="true" [rows]="10" [tableStyle]="{'min-width': '50rem'}"
              [responsiveLayout]="'scroll'" [filterDelay]="500">
              <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                  Fatura Ürünleri
                </div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th>Fotoğraf</th>
                  <th pSortableColumn="shelfNo">
                    Raf
                    <p-sortIcon field="shelfNo"></p-sortIcon>
                  </th>
                  <th pSortableColumn="itemCode">
                    Ürün Kodu
                    <p-sortIcon field="itemCode"></p-sortIcon>
                  </th>
                  <th pSortableColumn="quantity">
                    Miktar
                    <p-sortIcon field="quantity"></p-sortIcon>
                  </th>
                  <th pSortableColumn="batchCode">
                    Parti
                    <p-sortIcon field="batchCode"></p-sortIcon>
                  </th>
                  <th pSortableColumn="barcode">
                    Barkod
                    <p-sortIcon field="barcode"></p-sortIcon>
                  </th>
                  <th pSortableColumn="currAccCode">
                    Müşteri Kodu
                    <p-sortIcon field="currAccCode"></p-sortIcon>
                  </th>
                  <th pSortableColumn="warehouseCode">
                    Depo
                    <p-sortIcon field="warehouseCode"></p-sortIcon>
                  </th>
                  <th pSortableColumn="officeCode">
                    Ofis
                    <p-sortIcon field="officeCode"></p-sortIcon>
                  </th>
                  <th>İşlemler</th>
                </tr>
                <tr>
                  <th>
                    <!-- Fotoğraf sütunu için filtre eklemiyoruz -->
                  </th>
                  <th>
                    <p-columnFilter type="text" field="shelfNo" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="itemCode" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="numeric" field="quantity" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="batchCode" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="barcode" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="currAccCode" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="warehouseCode" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="officeCode" [showClearButton]="false"></p-columnFilter>
                  </th>
                  <th>
                    <!-- İşlemler sütunu için filtre eklemiyoruz -->
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product let-i="rowIndex">
                <tr>
                  <td>
                    <img src="{{ product.photoUrl }}" alt="Resim" width="50" height="50"
                      (click)="openImageModal(product.photoUrl)" />
                  </td>
                  <td>{{ product.shelfNo }}</td>
                  <td>{{ product.itemCode }}</td>
                  <td>{{ product.quantity }}</td>
                  <td>{{ product.batchCode }}</td>
                  <td>{{ product.barcode }}</td>
                  <td>{{ product.currAccCode }}</td>
                  <td>{{ product.warehouseCode }}</td>
                  <td>{{ product.officeCode }}</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-danger"
                        (click)="deleteOrderProduct(newOrderNumber, product)">
                        <i class="fas fa-trash"></i>
                      </button>
                      <button type="button" class="btn btn-primary" (click)="change(product.barcode, product.quantity)">
                        <i class="fas fa-print"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>

          </div>
        </div>
        <!-- Yeni kart: Toplanan Ürünler -->
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Toplanan Ürünler</h5>
            <h1 class="display-1">{{ totalCount }}</h1>
            <p class="card-text">Adet Ürün Toplandı</p>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">
              Fatura Yollanmadan Önce Kontrol Edilmesi Gerekenler
            </h5>
            <ul>
              <!-- <li>Satış Sorumlusu Alanını Seçmeniz Gerekmektedir</li> -->
              <li>
                Eğer Sipariş İade Faturası İse İade Alanını Seçmeniz
                Gerekmektedir
              </li>
              <li>
                Eğer Seçim Yapılmazsa İade Faturası Olarak Kesilmeyecektir
              </li>
              <!-- <li>Vergi Tipi Alanını Seçmeniz Gerekmektedir</li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <qrcode style="display: none" (qrCodeURL)="onChangeURL($event)" [qrdata]="qrCodeValue" [width]="256"
      [errorCorrectionLevel]="'M'"></qrcode>
    <app-image-modal [imageUrl]="modalImageUrl" [title]="'Ürün Detay'"></app-image-modal>

    <p-dialog header="Header" [(visible)]="visible" [style]="{ width: '100vw' }">
      <app-create-qr upPageDescription="Alış Fatura Oluşturma" [barcode]="barcode" [quantity]="quantity">
      </app-create-qr>
    </p-dialog>
  </section>
</main>
