<main id="main" class="main">
    <section class="section">
        <div class="row">
            <div style="width: 100%">
                <div class="card">
                    <div class="card-body">  
                        <h5 class="card-title">Alış Fatura Oluşturma Paneli</h5>
                        <ul class="nav nav-tabs nav-justified mb-1" id="ex1" role="tablist"></ul>

                        <div class="tab-content" id="ex2-content">
                            <div class="tab-pane fade show" [class.active]="activeTab === 1" id="ex3-tabs-1"
                                role="tabpanel" aria-labelledby="ex3-tab-1">
                                <form [formGroup]="productForm" (ngSubmit)="onSubmit(productForm.value)">
                                    <div class="row mb-1">
                                        <div class="form-group col">
                                            <label for="officeCode">Gelen Ofis</label>
                                            <select id="officeCode" class="form-control" formControlName="officeCode"
                                                (change)="getSelectedOffice()">
                                                <option *ngFor="let office of officeModels" [value]="office.officeCode">
                                                    {{ office.officeCode }}
                                                </option>
                                            </select>
                                           
                                        </div>

                                        <div class="form-group col">
                                            <label for="warehouseCode">Gelen Depo</label>
                                            <select id="warehouseCode" class="form-control" formControlName="warehouseCode">
                                                <option *ngFor="let warehouse of warehouseModels"
                                                    [value]="warehouse.warehouseCode">
                                                    {{ warehouse.warehouseDescription }}
                                                </option>
                                            </select>
                                          
                                        </div>
                                    </div>

                                    <div class="row mb-1">
                                        <div class="form-group col">
                                            <label for="currAccCode">Müşteri</label>
                                            <select id="currAccCode" class="form-control" formControlName="currAccCode">
                                                <option *ngFor="let customer of customerList"
                                                    [value]="customer.currAccCode">
                                                    {{ customer.currAccDescription }}
                                                </option>
                                            </select>
                                           
                                        </div>

                                        <div class="form-group col">
                                            <label for="isReturn" class="form-check-label">İade Faturası</label>
                                            <div class="row mb-1">
                                                <div class="col-md">
                                                    <div class="form-check">
                                                        <input type="checkbox" id="isReturn" class="form-check-input"
                                                            style="height: 38px; width: 100%"
                                                            formControlName="isReturn" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                            
                                    <div class="row mb-1">
                                        <div class="form-group">
                                            <label for="shelfNo">Raf:</label>
                                            <div class="input-group">

                                               
                                            <input type="text" id="shelfNo" class="form-control"
                                                formControlName="shelfNo" (keydown.enter)="focusNextInput('barcode')" />

                                          
                                            <div class="input-group-append">
                                                <button type="button" (click)="clearShelfNumbers()"
                                                    class="btn btn-dark">
                                                    Rafı ve Barkodu Temizle
                                                </button>
                                            </div>
                                        </div>

                                        </div>
                                    </div>
                                    <div *ngIf="shelfNumbers !== 'RAFLAR:'" class="text">
                                        {{ shelfNumbers }}
                                    </div>
                                    <div class="row mb-1">

                                     
                                        <div class="form-group col">
                                            <label for="barcode">Barkod:</label>
                                            <input type="text" id="barcode" class="form-control"
                                                formControlName="barcode"   (keydown.enter)="onSubmit(productForm.value)"/>
                                           
                                        </div>


                                        <div class="form-group col">
                                            <label for="batchCode">Parti:</label>
                                            <input type="text" id="batchCode" class="form-control"
                                                formControlName="batchCode"   (keydown.enter)="focusNextInput('quantity')"/>
                                           
                                        
                                        </div>
                                        
                                    </div>



                                    <!-- <div class="row mb-1">
                                        <div class="form-group">
                                            <label for="batchCode">Parti</label>
                                            <input type="text" id="batchCode" class="form-control"
                                                formControlName="batchCode"
                                                (keydown.enter)="onSubmit(productForm.value)" />
                                        </div>
                                    </div> -->

                                    <div class="row mb-1">
                                        <div class="form-group">
                                            <label for="quantity">Miktar</label>
                                            <input type="number" id="quantity" class="form-control"
                                                formControlName="quantity"
                                                (keydown.enter)="onSubmit(productForm.value)" />
                                        </div>
                                    </div>

                                    <div class="row mb-1">
                                        <div class="col-md">
                                            <button type="button" class="btn btn-primary"
                                                (click)="onSubmit(productForm.value)" style="width: 100%">
                                                Ekle
                                            </button>
                                        </div>
                                    </div>

                                    <div class="row mb-1">
                                        <div class="col-md-">
                                            <button type="button" class="btn btn-dark" style="color: white; width: 100%"
                                                (click)="createPurchaseInvoice()">
                                                NEBIME AKTAR
                                            </button>
                                        </div>
                                    </div>
                                    

                                    <span style="margin-left: 10px"></span>
                                </form>
                            </div>
                            <div class="tab-pane fade show" [class.active]="activeTab === 2" id="ex3-tabs-2"
                                role="tabpanel-2" aria-labelledby="ex3-tab-2"></div>
                            <div class="tab-pane fade show" [class.active]="activeTab === 3" id="ex3-tabs-3"
                                role="tabpanel-3" aria-labelledby="ex3-tab-3">
                                Prices
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" *ngIf="invoiceProducts2.length > 0">
                    <div class="card-body">
                        <h5 class="card-title">Eklenen Ürünler</h5>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Fotoğraf</th>
                                        <th scope="col">Müşteri Kodu</th>
                                        <th scope="col">Depo</th>
                                        <th scope="col">Ofis</th>
                                        <th scope="col">Raf Numarası</th>
                                        <th scope="col">Barkod</th>
                                        <th scope="col">Miktar</th>
                                        <th scope="col">İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let product of invoiceProducts2; let i = index">
                                        <td>
                                            <img src="{{product.photoUrl}}" alt="Resim" width="50" height="50"
                                              (click)="openImageModal(product.photoUrl)">
                      
                                          </td>
                                        <td>{{ product.currAccCode }}</td>
                                        <td>{{ product.warehouseCode }}</td>
                                        <td>{{ product.officeCode }}</td>
                                        <td>{{ product.shelfNo }}</td>
                                        <td>{{ product.barcode }}</td>
                                        <td>{{ product.quantity }}</td>
                                        <td><button class="btn btn-danger" type="submit"
                                            (click)="deleteOrderProduct(newOrderNumber,product.barcode,product.shelfNo)">Sil
                                        </button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                        <!-- Yeni kart: Toplanan Ürünler -->
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Toplanan Ürünler</h5>
                                <h1 class="display-1">{{ totalCount}}</h1>
                                <p class="card-text">Adet Ürün Toplandı</p>
                            </div>
                        </div>
          
            </div>
        </div>
        <app-image-modal [imageUrl]="modalImageUrl" [title]="'Ürün Detay'"></app-image-modal>

    </section>
</main>