<main id="main" class="main">
    <!-- <div class="pagetitle">
        <h1>Raf Düzenleme</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item">Forms</li>
                <li class="breadcrumb-item active">Layouts</li>
            </ol>
        </nav>
    </div> -->

    <section class="section">
        <div class="row">
            <div style="width: 100%;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Raf İçeriği </h5>
                        <!-- <ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" [class.active]="activeTab === 1" (click)="activeTab = 1">Raf
                                    Düzenleme</a>
                            </li>

                        </ul> -->

                        <div class="tab-content" id="ex2-content">
                            <div class="tab-pane fade show" [class.active]="activeTab === 1" id="ex3-tabs-1"
                                role="tabpanel" aria-labelledby="ex3-tab-1">
                                <form [formGroup]="shelvesForm" (ngSubmit)="onSubmit(shelvesForm.value)">

                                    <div class="row mb-3">
                                        <div class="form-group">
                                            <label for="shelfNo">Raf:</label>
                                            <input type="text" id="shelfNo" class="form-control" formControlName="shelfNo">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="form-group">
                                            <label for="warehouse">Barkod:</label>
                                            <input type="text" id="warehouse" class="form-control"
                                                formControlName="warehouse">
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="form-group">
                                            <label for="itemCode">Ürün Kodu:</label>
                                            <input type="text" id="itemCode" class="form-control"
                                                formControlName="itemCode">
                                        </div>
                                    </div>
                                     
                                    <div class="row mb-3">
                                        <div class="form-group">
                                            <label for="party">Parti:</label>
                                            <input type="text" id="party" class="form-control" formControlName="party">
                                        </div>
                                    </div>
                   

                                    <div class="row mb-3">
                                        <div class="form-group">
                                            <label for="inventory">Stok:</label>
                                            <input type="text" id="inventory" class="form-control"
                                                formControlName="inventory">
                                        </div>
                                    </div>
                                    

                                    <div class="row mb-3">
                                        <label for="packageId">Paket Numarası:</label>
                                        <div class="input-group">
                                            <input type="text" id="packageId" class="form-control"
                                                formControlName="packageId" (ngModelChange)="onModelChanged($event)">
                                                 <button class="btn btn-primary" type="button" (click)="generateAndSetGUID()">Paket Numarası Oluştur</button> 
                                        </div>
                                    </div>


                                    <!-- <div class="row mb-3">
                                        <label for="qrString">Qr:</label>
                                        <div class="input-group">
                                            <input type="text" id="qrString" class="form-control" formControlName="qrString" (ngModelChange)="onModelChanged($event)">
                                            <button class="btn btn-primary" type="button"
                                                (click)="generateAndSetGUID()">Generate GUID</button>
                                        </div>
                                    </div> -->

                                    <button type="button" class="btn btn-primary" (click) = "addToList(shelvesForm.value)">Ekle</button>
                                    <span style="margin-left: 10px;"></span>
                                    <button type="button" class="btn btn-warning" style="color:white" (click) ="clearAllList()">NEBIME
                                        AKTAR</button>
                                </form>



                            </div>
                            <div class="tab-pane fade show" [class.active]="activeTab === 2" id="ex3-tabs-2"
                                role="tabpanel-2" aria-labelledby="ex3-tab-2">

                            </div>
                            <div class="tab-pane fade show" [class.active]="activeTab === 3" id="ex3-tabs-3"
                                role="tabpanel-3" aria-labelledby="ex3-tab-3">
                                Prices
                            </div>
                        </div>



                    </div>
                </div>
                <div class="card" *ngIf="shelfModelList.length > 0">
                    <div class="card-body">
                        <h5 class="card-title">Eklenen Ürünler</h5>
                        <!-- <a class="btn btn-success" data-bs-toggle="dropdown">+İşlemler</a>
                      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li><a class="dropdown-item">Yeni Ürün Ekle</a></li>
                        <li><a class="dropdown-item">Excel'e Aktar</a></li>
                        <li><a class="dropdown-item">Seçilenleri Tümünü Sil</a></li>
                      </ul> -->
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <!-- <th scope="col">ID</th> -->
                                    <th scope="col">Qr String</th>
                                    <th scope="col">Depo</th>
                                    <th scope="col">Raf No</th>
                                    <th scope="col">Ürün Kodu</th>
                                    <th scope="col">Parti</th>
                                    <th scope="col">Stok Miktarı</th>
                                    <th scope="col">Paket ID</th>
                                    <th scope="col">İşlemler</th> <!-- Yeni sütun: İşlemler -->
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr *ngFor="let shelfModel of shelfModelList; let i = index">
                                    <!-- <td>{{ warehousePackageDetail.id }}</td> -->
                                    <td>{{ shelfModel.qrString }}</td>
                                    <td>{{ shelfModel.warehouse }}</td>
                                    <td>{{ shelfModel.shelfNo }}</td>
                                    <td>{{ shelfModel.itemCode }}</td>
                                    <td>{{ shelfModel.party }}</td>
                                    <td>{{ shelfModel.inventory }}</td>
                                    <td>{{ shelfModel.packageId }}</td>
                                    <td>
                                      <button class="btn btn-danger" (click)="deleteRow(i)">Sil</button> <!-- Silme butonu ve tıklama olayı -->
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              
                        </div>
                    </div>
                </div>
            </div>
  
        </div>

    </section>
</main>