<main id="main" class="main">
  <section class="section">
    <p-button label="Yeni Panel Ekle" icon="pi pi-plus" (click)="showAddPanelDialog()" class="mb-3"></p-button>

    <p-table #dt2 [value]="taskPanels" [(selection)]="selectedPanels" dataKey="id" [paginator]="true"
      [rowsPerPageOptions]="[25, 50, 75]" [rows]="25" [tableStyle]="{ 'min-width': '70rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">

      <ng-template pTemplate="header">
        <tr>

          <th pSortableColumn="id">Panel ID <p-sortIcon field="id"></p-sortIcon>
          </th>
          <th pSortableColumn="description">Açıklama <p-sortIcon field="description"></p-sortIcon>
          </th>
          <th pSortableColumn="userId">Kullanıcı ID <p-sortIcon field="userId"></p-sortIcon>
          </th>
          <th pSortableColumn="createdDate">Oluşturulma Tarihi <p-sortIcon field="createdDate"></p-sortIcon>
          </th>
          <th pSortableColumn="updatedDate">Güncellenme Tarihi <p-sortIcon field="updatedDate"></p-sortIcon>
          </th>
          <th>İşlemler</th>
        </tr>
        <tr>

          <th>
            <p-columnFilter type="text" field="id" [showClearButton]="true"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="description" [showClearButton]="true"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="text" field="userId" [showClearButton]="true"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="date" field="createdDate" [showClearButton]="true"></p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="date" field="updatedDate" [showClearButton]="true"></p-columnFilter>
          </th>
          <th></th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-panel>
        <tr>

          <td>{{ panel.id }}</td>
          <td>{{ panel.description }}</td>
          <td>{{ panel.userId }}</td>
          <td>{{ panel.createdDate | date : "dd/MM/yyyy" }}</td>
          <td>{{ panel.updatedDate | date : "dd/MM/yyyy" }}</td>
          <td>
            <p-button icon="pi pi-arrow-right" class="p-button-info" (click)="goToPanel(panel.id)"></p-button>
            <p-button icon="pi pi-trash" class="p-button-danger" (click)="deleteTaskPanel(panel.id)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <!-- Yeni Panel Ekleme Dialog'u -->
    <p-dialog header="Yeni Panel Ekle" [modal]="true" [(visible)]="addPanelDialogVisible" [style]="{ width: '50rem'}">
      <div class="p-fluid">
        <div class="p-field">
          <label for="finishedDate">Açıklama</label>
          <input pInputText type="text" appendTo="body" [(ngModel)]="newTaskPanel.description" showIcon>
        </div>
        <div class="p-field">
          <label for="finishedDate">Bitiş Tarihi</label>
          <p-calendar appendTo="body" [(ngModel)]="newTaskPanel.finishedDate" showIcon></p-calendar>
        </div>

      </div>

      <p-footer>
        <p-button label="Kaydet" icon="pi pi-check" (click)="addTaskPanel()"></p-button>
        <p-button label="İptal" icon="pi pi-times" (click)="addPanelDialogVisible = false"></p-button>
      </p-footer>
    </p-dialog>

  </section>
</main>
