<main id="main" class="main">
  <section class="section">
    <div class="card mb-3">
      <div class="card-body">
        <div class="pt-4 pb-2">
          <h5 class="card-title text-center pb-0 fs-4">
            {{ isUpdate ? "Hesap Güncelle" : "Hesap Oluştur" }}
          </h5>
          <!-- <p class="text-center small">
            Hesap oluşturmak için kişisel bilgilerinizi girin
          </p> -->
        </div>
        <form [formGroup]="registerForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <input pInputText placeholder="Ad" type="text" class="form-control" id="firstName" placeholder="Ad"
                  formControlName="firstName" />
              </div>
              <div class="form-group mb-3">
                <input pInputText placeholder="Email" type="text" class="form-control" id="email" placeholder="Email"
                  formControlName="email" />
              </div>
              <div class="form-group mb-3">
                <input pInputText placeholder="Şifre" type="password" class="form-control" id="password"
                  formControlName="password" />
              </div>
              <div class="form-group mb-3">
                <input pInputText placeholder="Cinsiyet" type="text" class="form-control" id="gender"
                  placeholder="Cinsiyet" formControlName="gender" />
              </div>

              <div class="form-group mb-3">
                <div class="mt-3"></div>
                <p-dropdown placeholder="Rol Seçiniz" formControlName="roleDescription" [options]="roleDescriptions"
                  [(ngModel)]="selectedRole" optionLabel="role" [filter]="true" class="mt-3"></p-dropdown>
              </div>

              <div class="form-group mb-3">
                <input pInputText placeholder="Yazıcı Adı (2)" type="text" class="form-control" id="printerName_2"
                  formControlName="printerName_2" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-3">
                <input pInputText placeholder="Soyad" type="text" class="form-control" id="lastName"
                  formControlName="lastName" />
              </div>

              <div class="form-group mb-3">
                <input pInputText placeholder="Telefon Numarası" type="text" class="form-control" id="phoneNumber"
                  formControlName="phoneNumber" />
              </div>
              <div class="form-group mb-3">
                <input pInputText placeholder="Şifre Tekrar*" type="password" class="form-control" id="confirmPassword"
                  formControlName="confirmPassword" />
              </div>
              <div class="form-group mb-3">
                <div class="mt-3"></div>
                <p-dropdown placeholder="Satış Personel Kodu" formControlName="salesPersonCode"
                  [options]="salesPersonModelList" [(ngModel)]="selectedPerson" optionLabel="name" [filter]="true"
                  class="mt-3"></p-dropdown>
              </div>
              <div class="form-group mb-3">
                <input pInputText placeholder="Yazıcı Adı (1)" type="text" class="form-control" id="printerName_1"
                  formControlName="printerName_1" />
              </div>
            </div>
          </div>

          <button class="btn btn-primary mt-3" status="success" (click)="submitForm()">
            {{ isUpdate ? "Kullanıcıyı Güncelle" : "Kullanıcı Ekle" }}
          </button>
        </form>
      </div>
    </div>
  </section>
</main>
