<main>
    <div class="container">
       <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
             <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                   <div class="d-flex justify-content-center py-4"> <a routerLink="/" class="logo d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt=""> <span class="d-none d-lg-block">Admin</span> </a></div>
                   <div class="card mb-3">
                     <div class="card-body">
                        <div class="pt-4 pb-2">
                           <h5 class="card-title text-center pb-0 fs-4">Hesap Oluştur</h5>
                           <p class="text-center small">Hesap oluşturmak için kişisel bilgilerinizi girin</p>
                        </div>
                        <form class="row g-3 needs-validation" novalidate>
                           <div class="col-12">
                              <label for="yourName" class="form-label">Adınız</label>
                              <input type="text" name="name" class="form-control" id="yourName" required>
                              <div class="invalid-feedback">Lütfen adınızı girin!</div>
                           </div>
                           <div class="col-12">
                              <label for="yourEmail" class="form-label">E-posta Adresiniz</label>
                              <input type="email" name="email" class="form-control" id="yourEmail" required>
                              <div class="invalid-feedback">Lütfen geçerli bir e-posta adresi girin!</div>
                           </div>
                           <div class="col-12">
                              <label for="yourUsername" class="form-label">Kullanıcı Adı</label>
                              <div class="input-group has-validation">
                                 <span class="input-group-text" id="inputGroupPrepend">@</span>
                                 <input type="text" name="username" class="form-control" id="yourUsername" required>
                                 <div class="invalid-feedback">Lütfen bir kullanıcı adı seçin.</div>
                              </div>
                           </div>
                           <div class="col-12">
                              <label for="yourPassword" class="form-label">Şifre</label>
                              <input type="password" name="password" class="form-control" id="yourPassword" required>
                              <div class="invalid-feedback">Lütfen şifrenizi girin!</div>
                           </div>
                           <div class="col-12">
                              <div class="form-check">
                                 <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                                 <label class="form-check-label" for="acceptTerms"> <a href="#">Kullanım koşullarını</a> kabul ediyorum</label>
                                 <div class="invalid-feedback">Göndermeden önce kabul etmelisiniz.</div>
                              </div>
                           </div>
                           <div class="col-12"> <button class="btn btn-primary w-100" type="submit">Hesap Oluştur</button></div>
                           <div class="col-12">
                              <p class="small mb-0">Zaten bir hesabınız mı var? <a routerLink="/pages-login">Giriş yapın</a></p>
                           </div>
                        </form>
                     </div>
                     
                   </div>
                   <!-- <div class="credits"> Loved by <a href="https://freeetemplates.com/">FreeeTemplates</a></div> -->
                </div>
             </div>
          </div>
       </section>
    </div>
 </main>