@media (max-width: 767px) {
    /* .mobile {
        max-height:50%;
        overflow-y: auto;
    } */
}
.badge-success{
    background-color: green !important;
    color: white;
}  
.badge-danger{
    background-color: red !important;
    color: white;    
}
