<main id="main" class="main">
    <!-- <div class="pagetitle"><h1>Raf Düzenleme</h1><nav><ol class="breadcrumb"><li class="breadcrumb-item"><a routerLink="/">Home</a></li><li class="breadcrumb-item">Forms</li><li class="breadcrumb-item active">Layouts</li></ol></nav></div> -->
    <section class="section">
        <div class="row">
            <div style="width: 100%">
                <div class="card mobile">
                    <div class="card-body">
                        <h5 class="card-title">Ürün Transfer Paneli</h5>
                        <ul class="nav nav-tabs nav-justified mb-1" id="ex1" role="tablist">
                            <!-- <li class="nav-item" role="presentation"><a class="nav-link active" [class.active]="activeTab === 1" (click)="activeTab = 1">Raf
                                  Düzenleme</a></li> -->
                        </ul>
                        <div class="tab-content" id="ex2-content">
                            <div class="tab-pane fade show" [class.active]="activeTab === 1" id="ex3-tabs-1"
                                role="tabpanel" aria-labelledby="ex3-tab-1">
                                <form [formGroup]="warehouseForm" (ngSubmit)="onSubmit(warehouseForm.value)">
                                    <!-- Form alanları -->
                                    <div class="row mb-1">
                                        <div class="form-group col">
                                            <label for="office">Hangi Ofisden</label>
                                            <select id="office" class="form-control" formControlName="office"
                                                (change)="getSelectedOffice(1)">
                                                <option>M</option>
                                                <option>U</option>
                                            </select>
                                        </div>
                                        <div class="form-group col">
                                            <label for="warehouse">Hangi Depodan</label>
                                            <select id="warehouse" class="form-control" formControlName="warehouse">
                                                <option *ngFor="let warehouse of warehouseModels"
                                                    [value]="warehouse.warehouseCode">
                                                    {{ warehouse.warehouseDescription }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="form-group col">
                                            <label for="officeTo">Hangi Ofise</label>
                                            <select id="officeTo" class="form-control" formControlName="officeTo"
                                                (change)="getSelectedOffice(2)">
                                                <option>M</option>
                                                <option>U</option>
                                            </select>
                                        </div>
                                        <div class="form-group col">
                                            <label for="warehouseTo">Hangi Depoya</label>
                                            <select id="warehouseTo" class="form-control" formControlName="warehouseTo">
                                                <option *ngFor="let warehouse of warehouseModels2"
                                                    [value]="warehouse.warehouseCode">
                                                    {{ warehouse.warehouseDescription }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="form-group">
                                            <label for="shelfNo">Raf No:</label>
                                            <div class="input-group">
                                                <input type="text" id="shelfNo" class="form-control"
                                                    formControlName="shelfNo"
                                                    (keydown.enter)="focusNextInput('barcode')" />
                                                <div class="input-group-append">
                                                    <button type="button" (click)="clearShelfNumbers()"
                                                        class="btn btn-dark"> Formu Temizle </button>
                                                </div>
                                            </div>
                                        </div>
                                        <label *ngIf="shelfNumbers !== 'RAFLAR:'" for="shelfNo">{{ shelfNumbers
                                            }}</label>
                                    </div>
                                    <!-- Diğer inputlar -->
                                    <div class="row mb-1">
                                        <div class="form-group">
                                            <label for="barcode">Barkod</label>
                                            <input type="text" id="barcode" class="form-control"
                                                formControlName="barcode"
                                                (keydown.enter)="onSubmit(this.warehouseForm.value)" />
                                            <!-- (ngModelChange)="getProductByBarcode($event)"  -->
                                        </div>
                                    </div>
                                    <!-- Diğer inputlar -->
                                    <div class="row mb-1">
                                        <div class="form-group col">
                                            <label for="quantity">Toplam Stok</label>
                                            <input type="number" id="quantity" class="form-control"
                                                formControlName="quantity" (keydown.enter)="focusNextInput2()" />
                                        </div>
                                        <div class="form-group col">
                                            <label for="batchCode">Parti</label>
                                            <input type="text" id="batchCode" class="form-control"
                                                formControlName="batchCode"
                                                (keydown.enter)="focusNextInput('itemCode')" />
                                        </div>
                                    </div>
                                    <div class="row mb-1">
                                        <div class="form-group col">
                                            <button type="button" class="btn btn-primary" style="width: 100%"
                                                (click)="onSubmit(warehouseForm.value)"> Ekle </button>
                                        </div>
                                        <div class="form-group col">
                                            <button type="button" class="btn btn-dark" style="color: white; width: 100%"
                                                (click)="transferToNebim(this.currentOrderNo)"> Transferi Tamamla
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane fade show" [class.active]="activeTab === 2" id="ex3-tabs-2"
                                role="tabpanel-2" aria-labelledby="ex3-tab-2"></div>
                            <div class="tab-pane fade show" [class.active]="activeTab === 3" id="ex3-tabs-3"
                                role="tabpanel-3" aria-labelledby="ex3-tab-3"> Prices </div>
                        </div>
                    </div>
                </div>
                <div class="card" *ngIf="inventoryItems.length > 0">
                    <div class="card-body">
                        <h5 class="card-title">Onaylanacak Ürünler</h5>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th *ngFor="let item of inventoryItemColums" scope="col">{{item}}</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="  
                    let item of inventoryItems;
                    let i = index
                  ">
                                       
                                        <td>
                                            <img src="{{item.photoUrl}}" alt="Resim" width="50" height="50"
                                                (click)="openImageModal(item.photoUrl)">
                                        </td>
                                        <td>{{ item.itemCode }}</td>
                                        <td>{{ item.itemDescription }}</td>
                                        <td>{{ item.shelfNo }}</td>
                                        <td>{{ item.barcode }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.transferQty }}</td>
                                




                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card" *ngIf="warehouseTransferForms.length > 0">
                    <div class="card-body">
                        <h5 class="card-title">Eklenen Ürünler</h5>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Resim</th>
                                        <th scope="col">Raf</th>
                                        <th scope="col">Ürün Kodu</th>
                                        <th scope="col">Parti</th>
                                        <th scope="col">Barkod</th>
                                        <th scope="col">Stok Miktarı</th>
                                        <th scope="col">Gelen Depo</th>
                                        <th scope="col">Giden Depo</th>
                                        <th scope="col">Güncel Stok Adedi</th>
                                        <th scope="col">Durum</th>
                                        <th scope="col">İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="
                    let warehousePackageDetail of warehouseTransferForms;
                    let a = index
                  ">
                                        <td>{{a+1}}</td>
                                        <td>
                                            <img src="{{warehousePackageDetail.photoUrl}}" alt="Resim" width="50"
                                                height="50" (click)="openImageModal(warehousePackageDetail.photoUrl)">
                                        </td>
                                        <td>{{ warehousePackageDetail.shelfNo }}</td>
                                        <td>{{ warehousePackageDetail.itemCode }}</td>
                                        <td>{{ warehousePackageDetail.batchCode }}</td>
                                        <td>{{ warehousePackageDetail.barcode }}</td>
                                        <td>{{ warehousePackageDetail.quantity }}</td>
                                        <td>{{ warehousePackageDetail.warehouse }}</td>
                                        <td>{{ warehousePackageDetail.warehouseTo }}</td>
                                        <td>{{ warehousePackageDetail.availableQty }}</td>

                                        <td>
                                            <span
                                                [ngClass]="warehousePackageDetail.availableQty >= warehousePackageDetail.quantity ? 'badge badge-success' : 'badge badge-danger'">
                                                {{ warehousePackageDetail.availableQty >=
                                                warehousePackageDetail.quantity ? 'Başarılı' : 'Başarısız' }}
                                            </span>
                                        </td>
                                        <td>
                                            <div class="btn-group">

                                                <button class="btn btn-danger" type="submit"
                                                    (click)="deleteOrderProduct(this.currentOrderNo,warehousePackageDetail.barcode,warehousePackageDetail.shelfNo)"><i
                                                        class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                                <!-- *ngIf="warehousePackageDetail.availableQty <= warehousePackageDetail.quantity" -->
                                                <!-- <button
                                                
                                                    class="btn btn-warning" type="submit" (click)="updateItemStock()"><i class="fa-solid fa-arrows-rotate" style="color: white;"></i>
                                                </button> -->
                                            </div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Yeni kart: Toplanan Ürünler -->
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">Toplanan Ürünler</h5>
                        <h1 class="display-1">{{ totalCount}}</h1>
                        <p class="card-text">Adet Ürün Toplandı</p>
                    </div>
                </div>
            </div>
        </div>
        <app-image-modal [imageUrl]="modalImageUrl" [title]="'Ürün Detay'"></app-image-modal>
    </section>
</main>