<main id="main" class="main">
  <section class="section">
    <div class="card">
      <div class="card-body">
        <form
          class="mt-4"
          [formGroup]="productForm"
          (ngSubmit)="onSubmit(productForm.value)"
        >
          <div class="form-row">
            <div class="form-group">
              <div class="input-group">
                <input
                  pInputText
                  placeholder="Barkod"
                  type="search"
                  id="barcode"
                  class="form-control"
                  formControlName="barcode"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-primary"
                    type="submit"
                    style="height: 100%"
                  >
                    Sorgula
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12 mb-3"></div>
          </div>
        </form>
      </div>
    </div>

    <div class="container">
      <button (click)="enableScanner = !enableScanner">
        {{ enableScanner ? "Kamerayı Kapat" : "Kamerayı Aç" }}
      </button>
      <div *ngIf="enableScanner">
        <label for="cameras">Kamera Seçin:</label>
        <select id="cameras" (change)="onCameraSelected($event)">
          <option
            *ngFor="let camera of availableCameras"
            [value]="camera.deviceId"
          >
            {{ camera.label }}
          </option>
        </select>

        <zxing-scanner
          style="display: none"
          [device]="selectedDevice"
          (camerasFound)="camerasFoundHandler($event)"
          (scanSuccess)="scanSuccessHandler($event)"
        ></zxing-scanner>
      </div>
    </div>

    <div class="card" *ngIf="products.length > 0">
      <div class="card-body">
        <h5 class="card-title">Ürünler</h5>

        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Resim</th>
                <th scope="col">Ürün Kodu</th>
                <th scope="col">Ürün Adı</th>
                <th scope="col">Raf No</th>
                <th scope="col">MD Stok</th>
                <th scope="col">UD Stok</th>
                <th scope="col">Toplam Stok</th>

                <th scope="col">Barkod</th>
                <th scope="col">Parti</th>
                <th scope="col">Satış Fiyatı</th>

                <th scope="col">İşlemler</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products; let i = index">
                <td>{{ i + 1 }}</td>
                <td class="image-icon-td">
                  <p-image
                    src="{{ product.photoUrl }}"
                    alt="Image"
                    width="30"
                    [preview]="true"
                  ></p-image>
                </td>
                <td>{{ product.itemCode }}</td>
                <td>{{ product.description.substring(0, 15) }}</td>
                <td>{{ product.shelfNo }}</td>
                <td>{{ product.mD_Stock }}</td>
                <td>{{ product.uD_Stock }}</td>

                <td>{{ product.quantity }}</td>
                <td>{{ product.barcode }}</td>
                <td>{{ product.batchCode }}</td>
                <td>{{ product.price }}</td>

                <td>
                  <!-- Yeni -->
                  <button
                    class="btn btn-primary"
                    type="submit"
                    (click)="createJson(product.barcode, product.shelfNo)"
                  >
                    <i class="fas fa-print"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <qrcode
      style="display: none"
      (qrCodeURL)="onChangeURL($event)"
      [qrdata]="qrCodeValue"
      [width]="256"
      [errorCorrectionLevel]="'M'"
    ></qrcode>
    <app-image-modal
      [imageUrl]="modalImageUrl"
      [title]="'Ürün Detay'"
    ></app-image-modal>
  </section>
</main>
