.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.task-panel {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}

.task-card {
  width: 300px;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.task-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-card-body {
  margin-top: 10px;
  /* Animasyon geçiş süresi ve tipi */
}

.development-task {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Kart üzerine gelindiğinde uygulanacak animasyon */
.development-task:hover {
  transform: scale(1.02);
  /* Kartı %5 büyütme */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Hafif gölge efekti */
}

.development-task {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}



/* Sürükleme sırasında hover efekti */
.cdk-drag-preview {
  background-color: #007bff;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Sürüklenen öğenin geçici olarak yerini gösteren stil */
/* .cdk-drag-placeholder {
  background-color: #f0f0f0;
  border: dashed 2px #007bff;
} */

/* Sürüklenebilir öğe hover efekti */
/* .cdk-drag:hover {
  cursor: move;
} */
.task-dialog {
  overflow: hidden;
  /* Hide scrollbars */
  /* Scroll barı kaldır */
}

::ng-deep .p-dialog {
  overflow: hidden !important;
}

.comment-item {
  margin-bottom: 15px;
  /* Commentler arası boşluk ekle */
}

.control-item {
  margin-bottom: 15px;
  /* Task controler arası boşluk ekle */
}





::ng-deep .p-dropdown {
  width: 100%;
}

.progress {
  height: 20px;
}

.progress-bar {
  font-size: 12px;
  line-height: 20px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.btn-sm.btn-danger {
  margin-left: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comment-content {
  width: 100%;
}

textarea.form-control {
  /* width: calc(100% - 50px); */
  /* Adjusting to account for avatar space */

}

.task-card-body {
  max-height: 50vh;
  /* Kartın maksimum yüksekliği */
  overflow-y: auto;
  /* Taşan içerik için dikey scroll ekler */
  padding-right: 10px;
  /* Scroll çubuğu için sağa boşluk ekler */
  /* overflow-y: hidden;
  Dikey scroll barı gizler */
}

.container-fluid {
  overflow-x: auto;
  /* Yatay kaydırma ekle */
  white-space: nowrap;
  /* Cardların yan yana kalmasını sağlar */
}

.row {
  display: flex;
  /* Flexbox ile satırları yatay hizalar */
  flex-wrap: nowrap;
  /* Cardların alt alta düşmesini engeller */
}

.col-lg-3,
.col-md-4 {
  flex: 0 0 auto;
  /* Cardların sabit genişlikte kalmasını sağlar */
  max-width: 300px;
  /* Card genişliğini belirler */
}

::ng-deep .p-editor {
  width: 100% !important;
}
