     .error-container {
       max-width: 500px;
       margin: 100px auto;
       padding: 20px;
       border-radius: 10px;
       background-color: #ffffff;
       box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
     }

     .error-container h4 {
       color: #dc3545;
       font-weight: bold;
       margin-bottom: 20px;
     }

     .error-container p {
       color: #6c757d;
     }

     .error-container hr {
       margin-top: 20px;
       margin-bottom: 20px;
       border-color: #ced4da;
     }

     .go-back-btn {
       background-color: #0d6efd;
       border-color: #0d6efd;
     }

     .go-back-btn:hover {
       background-color: #0b5ed7;
       border-color: #0a58ca;
     }

     .info-card {
       transition: transform 0.3s ease, box-shadow 0.3s ease;
     }

     .info-card:hover {
       transform: scale(1.05);
       /* Kartın büyümesi */
       box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
       /* Gölge artışı */
     }

     .card-icon {
       transition: background-color 0.3s ease, transform 0.3s ease;
     }

     .info-card:hover .card-icon {


       /* Renk geçişi */
       transform: rotate(360deg);
       /* Simgenin dönme animasyonu */
     }