<main id="main" class="main">
  <section class="section dashboard">
    <!-- <div *ngIf="this.roleDescription != 'Admin'">
      <div class="container">
        <div class="error-container p-4">
          <h4 class="mb-4">YETKİSİZ ERİŞİM</h4>
          <p>
            Bu alanı kullanma yetkiniz bulunmamaktadır. Site yöneticinize durumu
            bildirebilirsiniz.
          </p>
          <hr />
          <p>
            Eğer site yöneticisiyseniz ayarlar > yetki yönetimi içerisinden
            yetkilerinizde düzenlemeler yapabilirsiniz. Bir hata olduğunu
            düşünüyorsanız lütfen sistem yöneticinize başvurunuz.
          </p>
        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-lg-12">

        <div class="row">
          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Siparişler <span>| {{day}} Gün</span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-cart"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ raportData?.raport_1?.wsOrderCount }} Adet</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Gelirler <span>| {{day}} Gün</span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-currency-dollar"></i>
                  </div>
                  <div class="ps-3">
                    <h6>
                      {{ !raportData.raport_1.wsOrderRevenue ? "₺0" : (raportData.raport_1.wsOrderRevenue | currency : "₺" : true) }}
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Müşteriler <span>| {{day}} Gün</span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="bi bi-people"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ raportData.raport_1.customerCount }} Adet</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-4 col-xl-12">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">İletilen Fatura Sayısı <span>| {{day}} Gün</span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="fas fa-file-invoice"></i>
                  </div>
                  <div class="ps-3">
                    <h6>
                      {{ raportData.raport_1.sendedEInvoicesCount + raportData.raport_1.sendedEArchiveInvoicesCount }}
                      Adet</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">İletilen/İletilmeyen E-Arşiv Faturası <span>| {{day}} Gün</span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="fas fa-file-invoice"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ raportData.raport_1.sendedEArchiveInvoicesCount }} /
                      {{ raportData.raport_1.unSendedEArchiveInvoicesCount }}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">İletilen/İletilemeyen E-Fatura Faturası <span>| {{day}} Gün</span></h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="fas fa-file-invoice"></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ raportData.raport_1.sendedEInvoicesCount }} /
                      {{ raportData.raport_1.unSendedEInvoicesCount }}
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class=" col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Toplanabilir Perakende Siparişler </h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="fas fa-warehouse    "></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ raportData.raport_1.collectableRetailOrdersCount }}
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card info-card sales-card">
              <div class="card-body">
                <h5 class="card-title">Toplanabilir Toptan Siparişler </h5>
                <div class="d-flex align-items-center">
                  <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                    <i class="fas fa-warehouse   "></i>
                  </div>
                  <div class="ps-3">
                    <h6>{{ raportData.raport_1.collectableWhosaleOrdersCount }}
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card">
              <div class="filter">
                <a class="icon" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                  <li class="dropdown-header text-start">
                    <h6>Filtrele</h6>
                  </li>
                  <li (click)="saleCountRaport()">
                    <a class="dropdown-item">Satış Adedi</a>
                  </li>
                  <li (click)="saleRevenueRaport()">
                    <a class="dropdown-item">Kazanç</a>
                  </li>
                </ul>
              </div>
              <div class="card-body">
                <h5 class="card-title">Raporlar <span>/ {{day}} Gün</span></h5>
                <!-- <div id="reportsChart"></div> -->
                <p-chart type="line" [data]="data" [options]="options" height="300px"></p-chart>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="card top-selling overflow-auto">
              <div class="card-body pb-0">
                <h5 class="card-title">
                  En Çok Satanlar <span>| {{day}} Gün</span>
                </h5>
                <p-table [value]="raportData.raport_4" class="table table-striped" [paginator]="true" [rows]="10"
                  [responsiveLayout]="'scroll'">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Önizleme</th>
                      <th pSortableColumn="product">
                        Ürün
                        <p-sortIcon field="product"></p-sortIcon>
                      </th>
                      <th pSortableColumn="price">
                        Fiyat
                        <p-sortIcon field="price"></p-sortIcon>
                      </th>
                      <th pSortableColumn="saleCount">
                        Satıldı
                        <p-sortIcon field="saleCount"></p-sortIcon>
                      </th>
                      <th pSortableColumn="revenue">
                        Gelir
                        <p-sortIcon field="revenue"></p-sortIcon>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-product>
                    <tr>
                      <td>
                        <p-image src="{{ product.photoUrl }}" alt="Image" width="50" [preview]="true" appendTo="body">
                        </p-image>
                      </td>
                      <td>{{ product.product }}</td>
                      <td>{{ product.price | currency: '₺' : true }}</td>
                      <td>{{ product.saleCount }}</td>
                      <td>{{ product.revenue | currency: '₺' : true }}</td>
                    </tr>
                  </ng-template>
                </p-table>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-4">
        <div class="card">
          <div class="filter">
            <a class="icon" data-bs-toggle="dropdown"
              ><i class="bi bi-three-dots"></i
            ></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filtrele</h6>
              </li>
              <li><a class="dropdown-item">{{day}} Gün</a></li>
              <li><a class="dropdown-item">Bu Ay</a></li>
              <li><a class="dropdown-item">Bu Yıl</a></li>
            </ul>
          </div>
          <div class="card-body">
            <h5 class="card-title">Son Etkinlikler <span>| {{day}} Gün</span></h5>
            <div class="activity">
              <div class="activity-item d-flex">
                <div class="activite-label">32 dakika</div>
                <i
                  class="bi bi-circle-fill activity-badge text-success align-self-start"
                ></i>
                <div class="activity-content">
                  Quia quae rerum
                  <a class="fw-bold text-dark">explicabo officiis</a> beatae
                </div>
              </div>
              <div class="activity-item d-flex">
                <div class="activite-label">56 dakika</div>
                <i
                  class="bi bi-circle-fill activity-badge text-danger align-self-start"
                ></i>
                <div class="activity-content">
                  Voluptatem blanditiis blanditiis eveniet
                </div>
              </div>
              <div class="activity-item d-flex">
                <div class="activite-label">2 saat</div>
                <i
                  class="bi bi-circle-fill activity-badge text-primary align-self-start"
                ></i>
                <div class="activity-content">
                  Voluptates corrupti molestias voluptatem
                </div>
              </div>
              <div class="activity-item d-flex">
                <div class="activite-label">1 gün</div>
                <i
                  class="bi bi-circle-fill activity-badge text-info align-self-start"
                ></i>
                <div class="activity-content">
                  Tempore autem saepe
                  <a class="fw-bold text-dark">occaecati voluptatem</a> tempore
                </div>
              </div>
              <div class="activity-item d-flex">
                <div class="activite-label">2 gün</div>
                <i
                  class="bi bi-circle-fill activity-badge text-warning align-self-start"
                ></i>
                <div class="activity-content">
                  Est sit eum reiciendis exercitationem
                </div>
              </div>
              <div class="activity-item d-flex">
                <div class="activite-label">4 hafta</div>
                <i
                  class="bi bi-circle-fill activity-badge text-muted align-self-start"
                ></i>
                <div class="activity-content">
                  Dicta dolorem harum nulla eius. Ut quidem quidem sit quas
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="filter">
            <a class="icon" data-bs-toggle="dropdown"
              ><i class="bi bi-three-dots"></i
            ></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filtrele</h6>
              </li>
              <li><a class="dropdown-item">{{day}} Gün</a></li>
              <li><a class="dropdown-item">Bu Ay</a></li>
              <li><a class="dropdown-item">Bu Yıl</a></li>
            </ul>
          </div>
          <div class="card-body pb-0">
            <h5 class="card-title">Bütçe Raporu <span>| Bu Ay</span></h5>
            <div
              id="budgetChart"
              style="min-height: 400px"
              class="echart"
            ></div>
          </div>
        </div>
        <div class="card">
          <div class="filter">
            <a class="icon" data-bs-toggle="dropdown"
              ><i class="bi bi-three-dots"></i
            ></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filtrele</h6>
              </li>
              <li><a class="dropdown-item">{{day}} Gün</a></li>
              <li><a class="dropdown-item">Bu Ay</a></li>
              <li><a class="dropdown-item">Bu Yıl</a></li>
            </ul>
          </div>
          <div class="card-body pb-0">
            <h5 class="card-title">Web Sitesi Trafik <span>| {{day}} Gün</span></h5>
            <div
              id="trafficChart"
              style="min-height: 400px"
              class="echart"
            ></div>
          </div>
        </div>
        <div class="card">
          <div class="filter">
            <a class="icon" data-bs-toggle="dropdown"
              ><i class="bi bi-three-dots"></i
            ></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filtrele</h6>
              </li>
              <li><a class="dropdown-item">{{day}} Gün</a></li>
              <li><a class="dropdown-item">Bu Ay</a></li>
              <li><a class="dropdown-item">Bu Yıl</a></li>
            </ul>
          </div>
          <div class="card-body pb-0">
            <h5 class="card-title">
              Haberler ve Güncellemeler <span>| {{day}} Gün</span>
            </h5>
            <div class="news">
              <div class="post-item clearfix">
                <img src="assets/img/news-1.jpg" alt="" />
                <h4><a>Nihil blanditiis at in nihil autem</a></h4>
                <p>
                  Sit recusandae non aspernatur laboriosam. Quia enim eligendi
                  sed ut harum...
                </p>
              </div>
              <div class="post-item clearfix">
                <img src="assets/img/news-2.jpg" alt="" />
                <h4><a>Quidem autem et impedit</a></h4>
                <p>
                  Illo nemo neque maiores vitae officiis cum eum turos elan
                  dries werona nande...
                </p>
              </div>
              <div class="post-item clearfix">
                <img src="assets/img/news-3.jpg" alt="" />
                <h4><a>Id quia et et ut maxime similique occaecati ut</a></h4>
                <p>
                  Fugiat voluptas vero eaque accusantium eos. Consequuntur sed
                  ipsam et totam...
                </p>
              </div>
              <div class="post-item clearfix">
                <img src="assets/img/news-4.jpg" alt="" />
                <h4><a>Laborum corporis quo dara net para</a></h4>
                <p>
                  Qui enim quia optio. Eligendi aut asperiores enim
                  repellendusvel rerum cuder...
                </p>
              </div>
              <div class="post-item clearfix">
                <img src="assets/img/news-5.jpg" alt="" />
                <h4><a>Et dolores corrupti quae illo quod dolor</a></h4>
                <p>
                  Odit ut eveniet modi reiciendis. Atque cupiditate libero
                  beatae dignissimos eius...
                </p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </section>
</main>
