<main id="main" class="main">
  <!-- <div class="pagetitle">
    <h1>Raf Aktarma İstek Paneli</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item">Tables</li>
        <li class="breadcrumb-item active">General</li>
      </ol>
    </nav>
  </div> -->

  <section class="section">
    <div class="row">
      <div style="width: 100%">
        <div class="card" *ngIf="_transferProducts.length > 0">
          <div class="card-body">
            <h1 class="card-title">Toplanacak Ürünler</h1>
            <p-table [value]="_transferProducts.slice(0, 1)" class="table" [paginator]="true" [rows]="10"
              [responsiveLayout]="'scroll'">
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let item of _transferProductsColums">
                    {{ item }}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product let-i="index">
                <tr>
                  <td>{{ i + 1 }}</td>
                  <td>{{ product.itemCode }}</td>
                  <td>{{ product.shelfNo }}</td>
                  <td>{{ product.transferQuantity }}</td>
                  <td>{{ product.targetShelf }}</td>
                  <td>{{ product.quantity }}</td>
                  <td>{{ product.barcode }}</td>
                  <td>{{ product.drawerCount }}</td>
                  <td>
                    <div class="btn-group" role="group" aria-label="Button Group">
                      <button class="btn btn-primary" type="submit"
                        (click)="goDown2(product.barcode, product.shelfNo, product.itemCode, product.transferQuantity)">
                        <i class="fa fa-angle-down"></i>
                      </button>
                      <button class="btn btn-primary" type="submit" (click)="addDeletedItemList(product)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>

          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <div class="p-4 card-body d-flex justify-content-start" style="overflow-x: auto">
              <div class="btn-group mt-3" role="group" aria-label="Basic example">
                <button type="button" [ngClass]="
                    selectedButton === 0 ? 'btn btn-success' : 'btn btn-dark'
                  " (click)="goPage('0')">
                  Varsayılan
                </button>
                <button type="button" [ngClass]="
                    selectedButton === 1 ? 'btn btn-success' : 'btn btn-dark'
                  " (click)="goPage('1')">
                  Rafları Fulle
                </button>
                <button type="button" [ngClass]="
                    selectedButton === 2 ? 'btn btn-success' : 'btn btn-dark'
                  " (click)="goPage('2')">
                  Çanta
                </button>
                <button type="button" [ngClass]="
                    selectedButton === 3 ? 'btn btn-success' : 'btn btn-dark'
                  " (click)="goPage('3')">
                  Çantadan Rafa
                </button>

                <button type="button" [ngClass]="
                    selectedButton === 4 ? 'btn btn-success' : 'btn btn-dark'
                  " (click)="goPage('4')">
                  Çanta 1_A
                </button>
                <button type="button" [ngClass]="
                    selectedButton === 5 ? 'btn btn-success' : 'btn btn-dark'
                  " (click)="goPage('5')">
                  Çanta 1_Z
                </button>
                <button type="button" [ngClass]="
                    selectedButton === 6 ? 'btn btn-success' : 'btn btn-dark'
                  " (click)="goPage('6')">
                  Çanta 2_A
                </button>
                <button type="button" [ngClass]="
                    selectedButton === 7 ? 'btn btn-success' : 'btn btn-dark'
                  " (click)="goPage('7')">
                  Çanta 2_Z
                </button>
                <button type="button" [ngClass]="
                    selectedButton === 8 ? 'btn btn-success' : 'btn btn-dark'
                  " (click)="goPage('8')">
                  Çanta 3_A
                </button>
                <button type="button" [ngClass]="
                    selectedButton === 9 ? 'btn btn-success' : 'btn btn-dark'
                  " (click)="goPage('9')">
                  Çanta 3_Z
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <!-- <h5 class="card-title">Raf Aktarma İstek Paneli</h5> -->

            <form class="mt-4" [formGroup]="checkForm" (ngSubmit)="onSubmit(checkForm.value)">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="card-title">Alınacak Ürün</h5>
                  <hr />
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <p-dropdown formControlName="office" [options]="offices" [showClear]="true" placeholder="Ofis">
                  </p-dropdown>
                </div>

                <div class="form-group col">
                  <p-dropdown formControlName="warehosue" [options]="warehouses" [showClear]="true" placeholder="Depo"
                    formControlName="warehouseCode"></p-dropdown>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group">
                  <div class="input-group">
                    <input pInputText type="text" placeholder="Raf No" id="shelfNo" class="form-control"
                      formControlName="shelfNo" (keydown.enter)="focusNextInput('barcode')" />
                    <div class="input-group-append">
                      <button type="button" style="height: 100%" (click)="clearShelfNumbers()" class="btn btn-dark">
                        Formu Temizle
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <label *ngIf="qrBarcodeUrl !== null" for="qrBarcode">{{
                    qrBarcodeUrl
                  }}</label>
                  <input placeholder="Barkod" pInputText type="text" id="barcode" class="form-control"
                    formControlName="barcode" (keydown.enter)="onSubmit(checkForm.value)" />
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <div class="form-group">
                    <input placeholder="Miktar" pInputText type="number" id="quantity" class="form-control"
                      formControlName="quantity" />
                  </div>
                </div>

                <div class="form-group col">
                  <div class="form-group">
                    <input placeholder="Parti Kodu" pInputText type="text" id="batchCode" class="form-control"
                      formControlName="batchCode" />
                  </div>
                </div>
              </div>

              <!-- Gönderilecek Raf -->
              <div class="row">
                <div class="col-md-12">
                  <h5>Gönderilecek Raf</h5>
                  <hr />
                </div>
              </div>

              <div class="row mb-3">
                <div class="form-group col">
                  <div class="input-group">
                    <input pInputText placeholder="Hedef Raf No" type="search" id="targetShelfNo" class="form-control"
                      formControlName="targetShelfNo" (keydown.enter)="onSubmit(checkForm.value)" />
                    <!-- <div class="input-group-append">
                      <button
                        type="button"
                        (click)="clearTargetShelfNumber()"
                        class="btn btn-dark"
                        style="height: 100%"
                      >
                        Tüm Formu Temizle
                      </button>
                    </div> -->
                  </div>
                </div>
                <label *ngIf="shelfNumbers !== 'RAFLAR:'" for="shelfNo">{{
                  shelfNumbers
                }}</label>
              </div>
              <div class="row mb-3">
                <div class="form-group col">
                  <div class="form-group">
                    <button type="button" class="btn btn-primary" style="width: 100%"
                      (click)="onSubmit(checkForm.value)">
                      Ekle
                    </button>
                  </div>
                </div>

                <div class="form-group col">
                  <div class="form-group">
                    <button type="button" class="btn btn-dark" style="width: 100%"
                      (click)="finishTransfer(checkForm.value)">
                      Transferi Tamamla
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- Yeni kart: Toplacak Ürünler -->
        <div class="card text-center" *ngIf="totalCount > 0">
          <div class="card-body">
            <h5 class="card-title">Toplanacak Ürünler</h5>
            <h1 class="display-1">{{ totalCount }}</h1>
            <!--eklenen ürün miktarı yazcak! -->

            <p class="card-text">Adet Ürün Toplandı</p>
          </div>
        </div>

        <div class="card" *ngIf="transferProducts.length > 0">
          <div class="card-body">
            <h5 class="card-title">Toplanacak Ürünler</h5>
            <!-- Arama kutusu -->
            <input type="text" [(ngModel)]="searchText" placeholder="Ara..." class="form-control mb-3" />

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th *ngFor="let item of transferProductsColums" scope="col">
                      {{ item }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="
                      let product of transferProducts
                        | fastTransfer : searchText : ['targetShelf']
                        | paginate
                          : { itemsPerPage: 10, currentPage: currentPage };
                      let i = index
                    ">
                    <td>{{ i + 1 }}</td>
                    <td>{{ product.itemCode }}</td>
                    <td>{{ product.shelfNo }}</td>
                    <td>{{ product.transferQuantity }}</td>
                    <td>{{ product.targetShelf }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.barcode }}</td>
                    <td>{{ product.drawerCount }}</td>
                    <td>
                      <button class="btn btn-dark" type="submit" (click)="getShelves(product.barcode)">
                        <i class="fa-solid fa-bars"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
            </div>
          </div>
        </div>

        <div class="card" *ngIf="collectedFastTransferModels.length > 0">
          <div class="card-body">
            <h5 class="card-title">Toplanan Ürünler</h5>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Fotoğraf</th>
                    <th scope="col">Ürün</th>
                    <th scope="col">Stok Kodu</th>

                    <th scope="col">Raf Numarası</th>
                    <th scope="col">Barkod</th>
                    <th scope="col">Miktar</th>
                    <th scope="col">Parti</th>
                    <th scope="col">Hedef Raf</th>
                    <th scope="col">Sil</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="
                      let product of collectedFastTransferModels;
                      let i = index
                    ">
                    <td>
                      {{ i + 1 }}
                    </td>
                    <td>
                      <img src="{{ product.photoUrl }}" alt="Resim" width="50" height="50"
                        (click)="openImageModal(product.photoUrl)" />
                    </td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.itemCode }}</td>
                    <td>{{ product.shelfNo }}</td>
                    <td>{{ product.barcode }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.batchCode }}</td>
                    <td>{{ product.targetShelfNo }}</td>
                    <td>
                      <button class="btn btn-danger" (click)="deleteFastTransfer(product)">
                        <i class="fa fa-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-dialog header="Raflar" [(visible)]="productShelvesDialog">
      <div class="btn-group mr-2" role="group" aria-label="First group">
        <button *ngFor="let shelve of productShelves; let i = index" (click)="setShelveToForm(shelve)" type="button"
          [ngClass]="i % 2 === 0 ? 'btn btn-dark' : 'btn btn-secondary'" style="height: 10rem">
          {{ shelve }}
        </button>
      </div>
    </p-dialog>
  </section>
</main>
