<main id="main" class="main">
  <section class="section">
    <div class="card mb-3  p-4 ">
      <div class="card-body">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary" (click)="getOrders(true)">
            <i class="fas fa-check"></i> Tamamlanmış Siparişler
          </button>
          <button type="button" class="btn btn-primary " (click)="getOrders(false)">
            <i class="fas fa-times-circle"></i> Tamamlanmamış Siparişler
          </button>
        </div>
      </div>
    </div>

    <div class="card p-2 ">
      <div class="card-body mt-3">
        <p-table [value]="orders" dataKey="id" [rows]="20" [paginator]="true" [rowsPerPageOptions]="[10, 20, 50]"
          [globalFilterFields]="[
            'customerDescription',
            'orderNo',
            'cargoStatus'
          ]" [tableStyle]="{ 'min-width': '75rem' }" styleClass="p-datatable-striped">
          <ng-template pTemplate="header">
            <tr>
              <th>Bayi</th>
              <th>Alt Müşteri</th>
              <th>Sipariş No</th>
              <th>Kargo Durumu</th>
              <th>İptal Durumu</th>
              <th>Oluşturulma Zamanı</th>
              <th>İşlemler</th>
            </tr>
            <tr>
              <th>
                <p-columnFilter type="text" field="customerDescription" placeholder="Bayiye göre ara"
                  ariaLabel="Müşteri filtresi" />
              </th>
              <th>
                <p-columnFilter type="text" field="subCustomerDescription" placeholder="Alt Müşteriye göre ara"
                  ariaLabel="Müşteri filtresi" />
              </th>
              <th>
                <p-columnFilter type="text" field="orderNo" placeholder="Sipariş No'ya göre ara"
                  ariaLabel="Sipariş No filtresi" />
              </th>
              <th>
                <p-columnFilter type="text" field="isCancelled" placeholder="İptal Durumu"
                  ariaLabel="İptal Durumu filtresi" />
              </th>
              <th>
                <p-columnFilter type="text" field="cargoStatus" placeholder="Kargo Durumuna göre ara"
                  ariaLabel="Kargo Durumu filtresi" />
              </th>
              <th>
                <!-- Filtre yok -->
              </th>
              <th>
                <!-- Filtre yok -->
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-order>
            <tr>
              <td>{{ order.customerDescription }}</td>
              <td>{{ order.subCustomerDescription }}</td>
              <td>{{ order.orderNo }}</td>

              <td>{{ order.cargoStatus }}</td>
              <td>
                <button class="btn {{ order.isCancelled ? 'btn-danger' : 'btn-success' }}">
                  <i class="fa {{ order.isCancelled ? 'fa-ban' : 'fa-check' }}"></i>
                </button>
              </td>

              <td>{{ order.createdDate | date : "dd.MM.yyyy HH:mm" }}</td>
              <td>
                <div class="btn-group">


                  <div class="btn btn-success" data-text="Siparişe Git" (click)="route(order)">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                  </div>
                  <div class="btn btn-success" data-text="İptal" *ngIf="order.isCompleted"
                    (click)="updateClientOrderCancelStatus(order.id, order.isCancelled)">
                    <i class="fa fa-ban" aria-hidden="true"></i>
                  </div>
                  <div class="btn btn-success" data-text="Kargo" (click)="deleteClientOrder(order.id)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </div>
                  <div class="btn btn-success" data-text="Kargo" (click)="updateCargoStatus(order)">
                    <i class="fa fa-truck" aria-hidden="true"></i>
                  </div>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">Herhangi bir sipariş bulunamadı.</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </section>
</main>
